<v-dialog width="360" v-model="pageData.bShow" :retain-focus="false" :no-click-animation="true" persistent>
    <!-- <v-card class="rounded-lg bPanelBg"> -->
    <v-card class="rounded-lg sheet-bg-small">
        <!-- <v-card-title class="gradient-bg"> -->
        <v-card-title class="px20 pt15 pb15">
            <div class="text-18">{{LangUtil("设置交易密码")}}</div>
            <v-spacer />
            <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
            </v-btn>
        </v-card-title>

        <!-- 验证码验证 -->
        <v-card-text v-if="myProxy.passWordShowType == 1" class="px20 mt-0 pb30">
            <CustomPassword class="mb10 trade-ip" :placeholder="LangUtil('设置交易密码(6-20位)')" v-model="form.password" />
            <CustomPassword class="mb10 trade-ip" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />
            <!-- <CustomInput class="mb20 trade-ip" type="tel" maxlength="6" :placeholder="LangUtil('输入验证码')"
                v-model="form.verify_code">
                <DialogGetVerity :isCheck="true" :category="userInfo.phone?1:0" :type="5"
                    v-if="userInfo.phone || userInfo.email" />
                <v-btn v-else class="text-14 mr-n4" text color="colorBtnSeleBgVerity101" @click="getCode">
                    {{LangUtil("获取验证码")}}
                </v-btn>
            </CustomInput> -->
            
            <CustomInput class="mb20 trade-ip" 
                    :placeholder="LangUtil('请输入验证码（4位）')" maxlength="4" v-model="form.verify_code">
                    <v-img class="ml-3 rounded" :src="pageData.auth_image" max-width="75" height="30"
                        @click="getImageVerity"></v-img>
                </CustomInput>

            <v-btn class="rounded" color="colorBtnBg" height="40" :disabled="!isCheck" @click="onSubmit" block><span
                    class="text-16">{{LangUtil("保存设置")}}</span></v-btn>
        </v-card-text>
        <!-- 登陆密码验证 -->
        <v-card-text v-if="myProxy.passWordShowType == 2" class="px20 mt-0 pb30">
            <CustomPassword class="mb10 trade-ip" :placeholder="LangUtil('设置交易密码(6-20位)')" v-model="form.password" />
            <CustomPassword class="mb10 trade-ip" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />
            <CustomPassword class="mb20 trade-ip" :placeholder="LangUtil('输入登录密码')" v-model="form.logonPassword" />

            <v-btn class="rounded" color="colorBtnBg" height="40" :disabled="!isCheck_logon" @click="onSubmit" block><span
                    class="text-16">{{LangUtil("保存设置")}}</span></v-btn>
        </v-card-text>
        <!-- 原版 手机或者邮箱 验证 -->
        <v-card-text v-if="myProxy.passWordShowType == 3" class="px20 mt-0 pb30">
            <CustomPassword class="mb10 trade-ip" :placeholder="LangUtil('设置交易密码(6-20位)')" v-model="form.password" />
            <CustomPassword class="mb10 trade-ip" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />
            <CustomInput class="mb20 trade-ip" type="tel" maxlength="6" :placeholder="LangUtil('输入验证码')"
                v-model="form.verify_code">
                <DialogGetVerity :isCheck="true" :category="userInfo.phone?1:0" :type="5"
                    v-if="userInfo.phone || userInfo.email" />
                <!-- <v-btn v-else class="text-12" text color="colorBtnSeleBg" small @click="getCode"> -->
                <v-btn v-else class="text-14 mr-n4" text color="colorBtnSeleBgVerity101" @click="getCode">
                    {{LangUtil("获取验证码")}}
                </v-btn>
            </CustomInput>
            <v-btn class="rounded" color="colorBtnBg" height="40" :disabled="!isCheck" @click="onSubmit" block><span
                    class="text-16">{{LangUtil("保存设置")}}</span></v-btn>
        </v-card-text>

    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>