<div>
    <v-container>
        <div class="px-0 px-sm-3 py-5">
            <div class="text-subtitle-1 text-sm-h5 font-weight-medium"> 
                CF持币分红
            </div>
        </div>
        <v-card class="mb-2 rounded-lg horizontal-gradient-top d-flex align-center px-5 py-3 py-sm-6" height="120">
        </v-card>
        <v-row no-gutters>
            <v-col cols="8" class="pr-sm-3">
                <v-card class="rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6" color="colorTitleBg" height="100%">

                </v-card>
            </v-col>
            <v-col cols="4" class="">
                <v-card class="rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6 text-sm-subtitle-1" color="colorTitleBg">
                    <div class="text-sm-h5 colorTextBlueLight3--text">
                        规则说明
                    </div>
                    <div class="colorText6--text">
                        <div>
                            1、质押周期以周为单位，每周一凌晨01:00:00统一解除质押。
                        </div>
                        <div>
                            2、质押最小金额限制为100，小于该额度不可质押。
                        </div>
                        <div>
                            3、分红金额为每日奖池的5%，按照个人质押数和总质押量占比决定分红金额。
                        </div>
                        <div>
                            4、每日分红时间为00:15:00
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <div class="py-5">
            <div class="text-subtitle-1 text-sm-h5 font-weight-medium">
                分红数据
            </div>
            <v-row no-gutters>
                <v-col cols="8" class="pr-sm-3">
                    <v-card class="horizontal-gradient rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6">
                        <div class="text-sm-h5 colorTextBlueLight3--text">
                            近5日分红金额
                        </div>
                    </v-card>
                </v-col>
                <v-col cols="4" class="">
                    <v-card class="horizontal-gradient rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6">
                        <div class="text-sm-h5 colorTextBlueLight3--text">
                            分红排行榜
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </div>
        <v-card class="mb-2 rounded-lg horizontal-gradient-top d-flex align-center px-5 py-3 py-sm-6" height="120">
            <div class="text-sm-h5 colorTextBlueLight3--text">
                分红记录
            </div>
        </v-card>
    </v-container>
</div>