<div>
    <v-container>
        <div class="px-0 px-sm-3 py-2 py-sm-5">
            <div class="text-subtitle-1 text-sm-h5 font-weight-medium"> 
                CF持币分红
            </div>
        </div>
        <v-card class="mb-2 rounded-lg horizontal-gradient-top d-flex align-center py-3 py-sm-6" :height="$vuetify.breakpoint.xsOnly? 220 :120">
            <v-img max-width="211" src="@/assets/bonus/bonus.png" class="mb-2" v-if="$vuetify.breakpoint.lgAndUp"></v-img>
            <v-row no-gutters class="px-6">
                <v-col cols="6" lg="3" class="d-flex flex-row justify-space-between">
                    <span>
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">
                            当前奖池金额
                        </div>
                        <div class="text-18 text-sm-h5 d-flex align-center mr-sm-3">
                            <span>${{ plat_stake_info.bonus_pool_amount }}</span>
                        </div>
                    </span>
                    <div class="d-flex align-center justify-center arrow-width">
                        <v-img max-width="75" contain src="@/assets/bonus/arrow.png" class="mr-sm-3" v-if="$vuetify.breakpoint.lgAndUp">
                        </v-img>
                    </div>
                </v-col>
                <v-col cols="6" lg="3" class="d-flex flex-row justify-space-between">
                    <span>
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">
                            总质押数量
                        </div>
                        <div class="text-18 text-sm-h5 d-flex align-center mr-sm-3">
                            <span>${{ plat_stake_info.total_stake_amount }}</span>
                        </div>
                    </span>
                    <div class="d-flex align-center justify-center arrow-width">
                        <v-img max-width="75" contain src="@/assets/bonus/arrow.png" class="mr-sm-3" v-if="$vuetify.breakpoint.lgAndUp">
                        </v-img>
                    </div>
                </v-col>
                <v-col cols="6" lg="3" class="d-flex flex-row justify-space-between">
                    <span>
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">
                            总计已派发
                        </div>
                        <div class="text-18 text-sm-h5 d-flex align-center mr-sm-3">
                            <span>${{ plat_stake_info.total_bonus_amount }}</span>
                        </div>
                    </span>
                    <div class="d-flex align-center justify-center arrow-width">
                        <v-img max-width="75" contain src="@/assets/bonus/arrow.png" class="mr-sm-3" v-if="$vuetify.breakpoint.lgAndUp">
                        </v-img>
                    </div>
                </v-col>
                <v-col cols="6" lg="3">
                    <span>
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">
                            下次分红倒计时
                        </div>
                        <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                            <span>00:00:00</span>
                        </div>
                    </span>
                </v-col>
            </v-row>
        </v-card>
        <v-row no-gutters>
            <v-col cols="12" lg="8" class="pr-lg-3">
                <v-card class="rounded-lg mb-lg-0 py-lg-6 text-sm-subtitle-1" color="colorTitleBg" height="100%">
                    <v-row no-gutters class="fill-height">
                        <v-col cols="3" class="d-flex align-end" v-if="$vuetify.breakpoint.lgAndUp">
                            <v-img contain src="~@/assets/bonus/ensure.png">
                            </v-img>
                        </v-col>
                        <v-col cols="12" lg="9">
                            <v-row no-gutters class="mx-4 mx-lg-0 mt-7  my-lg-10">
                                <v-col cols="12" lg="6" class="d-flex flex-column fill-height pr-lg-6">
                                    <div class="bonus-card px-3 px-lg-0 py-2 py-lg-0 pb-lg-10 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1">
                                                CF余额
                                            </div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span>
                                                    {{ user_stake_info.amount }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end">
                                            <v-btn 
                                            :width="$vuetify.breakpoint.xsOnly? 90 : 100" 
                                            :height="$vuetify.breakpoint.xsOnly? 30 :40" class="rounded-lg text-sm-body-1 rounded-button" color="colorBonusBtn" @click="handlerPledge">
                                                质押
                                            </v-btn>
                                        </div>
                                    </div>
                                    <div class="bonus-card px-3 py-2 px-lg-0 py-lg-0 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1 text-no-wrap">
                                                个人质押（占比10.00%）
                                            </div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span>
                                                    {{ user_stake_info.stake_amount }}
                                                    <v-btn icon @click="handlerRecords" :max-height="$vuetify.breakpoint.xsOnly? 22 : 28">
                                                        <v-img :max-width="$vuetify.breakpoint.xsOnly? 25 : 39" src="@/assets/bonus/history@2x.png"></v-img>
                                                    </v-btn>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end btn-left">
                                            <v-btn 
                                            :width="$vuetify.breakpoint.xsOnly? 90 : 100" 
                                            :height="$vuetify.breakpoint.xsOnly? 30 :40" class="rounded-lg text-sm-body-1 rounded-button" color="colorBonusBtn" @click="handlerUnpledge">
                                            解除质押
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-col>
                                <v-col cols="12" lg="6" class="d-flex flex-column pr-lg-6">
                                    <div class="bonus-card px-3 px-lg-0 py-2 py-lg-0 pb-lg-10 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1">
                                                可领取分红
                                            </div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span class="colorTextGold--text">
                                                    {{ user_stake_info.stake_bonus_awaiting_num }}
                                                    <v-btn icon @click="handleRecords" :max-height="$vuetify.breakpoint.xsOnly? 22 : 28">
                                                        <v-img 
                                                        :max-width="$vuetify.breakpoint.xsOnly? 25 : 39" src="@/assets/bonus/history@2x.png"></v-img>
                                                    </v-btn>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end">
                                            <v-btn 
                                            :width="$vuetify.breakpoint.xsOnly? 90 : 100" 
                                            :height="$vuetify.breakpoint.xsOnly? 30 :40" class="rounded-lg text-sm-body-1 rounded-button" color="colorBonusBtn" @click="stakeDraw" :disabled="user_stake_info.stake_bonus_awaiting_num == 0">
                                            领取
                                            </v-btn>
                                        </div>
                                    </div>
                                    <div class="bonus-card px-3 py-2 px-lg-0 py-lg-0 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1">
                                                个人累计分红
                                            </div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span>
                                                    {{ user_stake_info.stake_bonus_received_num }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end">
                                            <v-btn 
                                            :width="$vuetify.breakpoint.xsOnly? 90 : 100" 
                                            :height="$vuetify.breakpoint.xsOnly? 30 :40" class="rounded-lg text-sm-body-1 rounded-button" color="colorBonusBtn" @click="jumpTo('#record')">
                                            查看记录
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-col>
                            </v-row>
                            <!-- <v-row no-gutters class="mx-4 mx-lg-0">
                                
                            </v-row> -->
                        </v-col>
                        <v-row no-gutters class="mx-4 mx-lg-0 mb-9 d-flex flex-column" v-if="!$vuetify.breakpoint.lgAndUp">
                            <div class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mt-2 mt-sm-5 mb-2 mb-sm-3">
                                规则说明
                            </div>
                            <div class="text-caption colorText6--text mx-2">
                                <div>
                                    1、质押周期以周为单位，每周一凌晨01:00:00统一解除质押。
                                </div>
                                <div>
                                    2、质押最小金额限制为100，小于该额度不可质押。
                                </div>
                                <div>
                                    3、分红金额为每日奖池的5%，按照个人质押数和总质押量占比决定分红金额。
                                </div>
                                <div>
                                    4、每日分红时间为00:15:00
                                </div>
                            </div>
                        </v-row>
                    </v-row>
                </v-card>
            </v-col>
            <v-col lg="4" v-if="$vuetify.breakpoint.lgAndUp">
                <v-card class="rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6 text-sm-subtitle-1" color="colorTitleBg" height="100%">
                    <div class="text-sm-h5 colorTextBlueLight3--text font-weight-medium">
                        规则说明
                    </div>
                    <div class="colorText6--text">
                        <div>
                            1、质押周期以周为单位，每周一凌晨01:00:00统一解除质押。
                        </div>
                        <div>
                            2、质押最小金额限制为100，小于该额度不可质押。
                        </div>
                        <div>
                            3、分红金额为每日奖池的5%，按照个人质押数和总质押量占比决定分红金额。
                        </div>
                        <div>
                            4、每日分红时间为00:15:00
                        </div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <div class="px-0 px-sm-3 py-2 py-sm-4">
            <div class="text-subtitle-1 text-sm-h5 font-weight-medium">
                分红数据
            </div>
        </div>
        <v-row no-gutters class="pb-2 pb-sm-5">
            <v-col cols="12" lg="8" class="pr-0 pr-lg-3 pb-2 pb-lg-0">
                <v-card class="horizontal-gradient rounded-lg mb-lg-0 px-4 px-sm-6" height="100%">
                    <v-row no-gutters class="fill-height">
                        <v-col cols="12" lg="8" class="text-caption text-sm-subtitle-1">
                            <div class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mb-2 mb-sm-5 pt-2 pt-sm-6">
                                近5日分红金额
                            </div>
                            <div class="colorText6--text text-sm-subtitle-1 mb-2 mb-sm-0">
                                随着网站成长，股东质押的CF收益会逐渐增长
                            </div>
                            <v-row no-gutters class="colorText6--text daily-height">
                                <v-col cols="2" class="d-flex justify-end flex-column mr-3 mr-sm-5 mr-md-8 mr-lg-3 mb-sm-3" v-for="(item, index) of bonus_recently.slice().reverse()" :key="index">
                                    <div class="d-flex justify-center">
                                        ${{ item.total_bonus_amount }}
                                    </div>
                                    <div class="d-flex justify-center">
                                        <v-card :height="$vuetify.breakpoint.xsOnly? 140 : 280"
                                        :width="$vuetify.breakpoint.xsOnly? 40 : 80" class="daily-radius" :class="index != 4 ? 'gradient-type1' : 'gradient-type2'">
                                        </v-card>
                                    </div>
                                    <div class="d-flex justify-center">
                                        {{ getDateTime(item.date) }}
                                    </div>
                                </v-col>
                                <!-- <v-col cols="2" class="d-flex justify-end flex-column mr-3 mr-sm-5 mr-md-8 mr-lg-3 mb-sm-3">
                                    <div class="d-flex justify-center">
                                        $35,12312
                                    </div>
                                    <div class="d-flex justify-center">
                                        <v-card :height="$vuetify.breakpoint.xsOnly? 140 : 280" :width="$vuetify.breakpoint.xsOnly? 40 : 80" class="gradient-type1 daily-radius">
                                        </v-card>
                                    </div>
                                    <div class="d-flex justify-center">05-21</div>
                                </v-col>
                                <v-col cols="2" class="d-flex justify-end flex-column mr-3 mr-sm-5 mr-md-8 mr-lg-3 mb-sm-3">
                                    <div class="d-flex justify-center">
                                        $35,12312
                                    </div>
                                    <div class="d-flex justify-center">
                                        <v-card :height="$vuetify.breakpoint.xsOnly? 140 : 280" :width="$vuetify.breakpoint.xsOnly? 40 : 80" class="gradient-type1 daily-radius">
                                        </v-card>
                                    </div>
                                    <div class="d-flex justify-center">05-21</div>
                                </v-col>
                                <v-col cols="2" class="d-flex justify-end flex-column mr-3 mr-sm-5 mr-md-8 mr-lg-3 mb-sm-3">
                                    <div class="d-flex justify-center">
                                        $35,12312
                                    </div>
                                    <div class="d-flex justify-center">
                                        <v-card
                                        :height="$vuetify.breakpoint.xsOnly? 140 : 280"
                                        :width="$vuetify.breakpoint.xsOnly? 40 : 80" class="gradient-type1 daily-radius">
                                        </v-card>
                                    </div>
                                    <div class="d-flex justify-center">05-21</div>
                                </v-col>
                                <v-col cols="2" class="d-flex justify-end flex-column mb-sm-3">
                                    <div class="d-flex justify-center">
                                        $35,12312
                                    </div>
                                    <div class="d-flex justify-center">
                                        <v-card :height="$vuetify.breakpoint.xsOnly? 140 : 280" :width="$vuetify.breakpoint.xsOnly? 40 : 80" class="gradient-type2 daily-radius">
                                        </v-card>
                                    </div>
                                    <div class="d-flex justify-center">05-21</div>
                                </v-col> -->
                            </v-row>
                        </v-col>
                        <v-col cols="4" class="d-flex align-end" v-if="$vuetify.breakpoint.lgAndUp">
                            <v-img contain src="~@/assets/bonus/man.png"></v-img>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col cols="12" lg="4">
                <v-card class="horizontal-gradient rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6" height="100%">
                    <div class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mb-3 mb-sm-5 ml-3">
                        分红排行榜
                    </div>
                    <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile">
                        <v-col cols="2" class="d-flex justify-center align-center">
                            排行
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            用户
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            质押CF数量
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            获得分红
                        </v-col>
                    </v-row>
                    <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile-list" v-for="(item, index) of bonus_rank" :key="index">
                        <v-col cols="2" class="d-flex justify-center align-center">
                            <div v-if="index < 3">
                                <v-img :max-width="$vuetify.breakpoint.xsOnly? 45 :60" contain :src="iconsPrize[index]">
                                </v-img>
                            </div>
                            <div v-else class="d-flex justify-center align-center white--text text-18 text-sm-h5"> 
                                {{ index }}
                            </div>
                        </v-col>
                        <v-col cols="3" class="text-truncate d-flex justify-center align-center">
                            {{ item.username }}
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            {{ item.stake_amount }}
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            {{ item.bonus_amount }}
                        </v-col>
                    </v-row>
                    <!-- <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile-list">
                        <v-col cols="2" class="d-flex justify-center align-center">
                            <v-img :max-width="$vuetify.breakpoint.xsOnly? 45 :60" contain src="@/assets/bonus/silver@2x.png">
                            </v-img>
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            30**0047
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            100,000.00
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            $123,123.00
                        </v-col>
                    </v-row>
                    <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile-list">
                        <v-col cols="2" class="d-flex justify-center align-center">
                            <v-img :max-width="$vuetify.breakpoint.xsOnly? 45 :60" contain src="@/assets/bonus/bronze@2x.png">
                            </v-img>
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            30**0047
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            100,000.00
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            $123,123.00
                        </v-col>
                    </v-row>
                    <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile-list">
                        <v-col cols="2" class="d-flex justify-center align-center white--text text-18 text-sm-subtitle-1">
                            4
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            30**0047
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            100,000.00
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            $123,123.00
                        </v-col>
                    </v-row>
                    <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile-list">
                        <v-col cols="2" class="d-flex justify-center align-center white--text text-18 text-sm-subtitle-1">
                            5
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            30**0047
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            100,000.00
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center">
                            $123,123.00
                        </v-col>
                    </v-row> -->
                </v-card>
            </v-col>
        </v-row>
        <v-card class="mb-2 rounded-lg horizontal-gradient-top px-5 py-3 py-sm-6" id="record">
            <div class="text-sm-h5 colorTextBlueLight3--text font-weight-medium mb-sm-3 mb-2">
                <span class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mr-4">分红记录</span>
                <v-btn
                    :height="$vuetify.breakpoint.width > 600 ? 40 : 30"
                    class="rounded-pill mr-2"
                    elevation="0"
                    :text="listQuery.cate != 0"
                    :color="listQuery.cate == 0 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(0)"
                >
                    <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-web</v-icon>
                    <span class="text-sm-subtitle-1 text-body-2 font-weight-regular">全站记录</span>
                </v-btn>
                <v-btn
                    :height="$vuetify.breakpoint.width > 600 ? 40 : 30"
                    class="rounded-pill text-16 font-weight-regular mr-2"
                    elevation="0"
                    :text="listQuery.cate != 1"
                    :color="listQuery.cate == 1 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(1)"
                >
                    <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-human-handsdown</v-icon>
                    <span class="text-sm-subtitle-1 text-body-2 font-weight-regular">个人记录</span>
                </v-btn>
            </div>
            <v-card-text :class="$vuetify.breakpoint.width < 600 ? 'pa-0' : ''">
                <v-sheet color="transparent" v-if="listQuery.cate == 0">
                    <div class="mb-sm-4 mb-2 d-flex justify-space-around listitem head">
                        <div class="d-flex align-center ml-2">日期</div>
                        <div v-if="$vuetify.breakpoint.width > 600" class="d-flex align-center">分红人数</div>
                        <div class="d-flex align-center item-200">
                            <span class="ml-10">质押总数</span>
                        </div>
                        <div v-if="$vuetify.breakpoint.width > 600" class="d-flex align-center item-130">每100CF分红</div>
                        <div class="d-flex align-center item-130">
                            <span class="ml-6">总计已派发</span>
                        </div>
                    </div>
                    <div v-for="(item, index) in [0,1,2,3,4,5]" :key="'s' + index">
                        <div class="d-flex justify-space-around listitem mt-sm-4 mt-2 mb-sm-2 mb-1">
                            <div class="d-flex align-center">05-25</div>
                            <div v-if="$vuetify.breakpoint.width > 600" class="d-flex align-center">10000</div>
                            <div class="d-flex align-center item-200">
                                <v-img class="mr-2" :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20" :height="$vuetify.breakpoint.width > 600 ? 25 : 20" :src="pageData.lcusd"></v-img>
                                <span>100000,000,000</span>
                            </div>
                            <div v-if="$vuetify.breakpoint.width > 600" class="d-flex align-center item-130">$0.02</div>
                            <div class="d-flex align-center item-130">
                                <v-img class="mr-2" :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20" :height="$vuetify.breakpoint.width > 600 ? 25 : 20" :src="pageData.coin"></v-img>
                                $2,000,000
                            </div>
                        </div>
                        <v-divider></v-divider>
                    </div>
                </v-sheet>
                <v-sheet color="transparent" v-if="listQuery.cate == 1">
                    <div class="mb-sm-4 mb-2 d-flex justify-space-around listitem head">
                        <div>
                            <span class="d-flex align-center ml-2">日期</span>
                        </div>
                        <div class="d-flex align-center item-200">
                            <span class="ml-10">质押数量</span>
                        </div>
                        <div v-if="$vuetify.breakpoint.width > 700" class="d-flex align-center">
                            <span class="ml-1">占比</span>
                        </div>
                        <div v-if="$vuetify.breakpoint.width > 700" class="d-flex align-center">每100CF分红</div>
                        <div class="d-flex align-center item-150">
                            <span class="ml-8">已派发</span>
                        </div>
                    </div>
                    <div v-for="(item, index) in [0,1,2,3,4,5]" :key="'s' + index">
                        <div class="d-flex justify-space-around listitem mt-sm-4 mt-2 mb-sm-2 mb-1">
                            <div class="d-flex align-center">05-25</div>
                            <div class="d-flex align-center item-200">
                                <v-img class="mr-2" :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20" :height="$vuetify.breakpoint.width > 600 ? 25 : 20" :src="pageData.lcusd"></v-img>
                                <span>100000,000,000</span>
                            </div>
                            <div v-if="$vuetify.breakpoint.width > 700" class="d-flex align-center">
                                10％
                            </div>
                            <div v-if="$vuetify.breakpoint.width > 700" class="d-flex align-center">$0.02</div>
                            <div class="d-flex align-center item-150">
                                <v-img class="mr-2" :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20" :height="$vuetify.breakpoint.width > 600 ? 25 : 20" :src="pageData.coin"></v-img>
                                $2,000,000
                            </div>
                        </div>
                        <v-divider></v-divider>
                    </div>
                </v-sheet>
            </v-card-text>
        </v-card>
    </v-container>
</div>