<div>
    <v-container>
        <div class="px-0 px-sm-3 py-2 py-sm-5">
            <div class="text-subtitle-1 text-sm-h5 font-weight-medium">{{LangUtil("{0}持币分红", plat_stake_info.coin_name_unique)}}</div>
        </div>
        <v-card
            class="mb-2 rounded-lg horizontal-gradient-top d-flex flex-column flex-sm-row align-center py-3 py-sm-6"
            :height="$vuetify.breakpoint.mdAndDown? 240 :120"
        >
            <v-img max-width="110" contain src="@/assets/bonus/bonus@4x.png" class="mb-sm-2 ml-sm-10 mb-2"></v-img>
            <v-row no-gutters class="px-6">
                <v-col cols="6" lg="3" class="d-flex flex-row justify-space-between">
                    <span class="stake-width">
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">{{LangUtil("当前奖池金额")}}</div>
                        <div class="text-18 text-sm-h5 d-flex align-center mr-sm-3">
                            <span>${{ plat_stake_info.bonus_pool_amount }}</span>
                        </div>
                    </span>
                    <div class="d-flex align-center justify-center arrow-width" v-if="$vuetify.breakpoint.lgAndUp">
                        <v-img max-width="75" contain src="@/assets/bonus/arrow.png" class="mr-sm-3"> </v-img>
                    </div>
                </v-col>
                <v-col cols="6" lg="3" class="d-flex flex-row justify-space-between">
                    <span class="stake-width">
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">{{LangUtil("总质押数量")}}</div>
                        <div class="text-18 text-sm-h5 d-flex align-center mr-sm-3">
                            <span>${{ plat_stake_info.total_stake_amount }}</span>
                        </div>
                    </span>
                    <div class="d-flex align-center justify-center arrow-width" v-if="$vuetify.breakpoint.lgAndUp">
                        <v-img max-width="75" contain src="@/assets/bonus/arrow.png" class="mr-sm-3"> </v-img>
                    </div>
                </v-col>
                <v-col cols="6" lg="3" class="d-flex flex-row justify-space-between">
                    <span class="stake-width">
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">{{LangUtil("总计已派发")}}</div>
                        <div class="text-18 text-sm-h5 d-flex align-center mr-sm-3">
                            <span>${{ plat_stake_info.total_bonus_amount }}</span>
                        </div>
                    </span>
                    <div class="d-flex align-center justify-center arrow-width" v-if="$vuetify.breakpoint.lgAndUp">
                        <v-img max-width="75" contain src="@/assets/bonus/arrow.png" class="mr-sm-3"> </v-img>
                    </div>
                </v-col>
                <v-col cols="6" lg="3">
                    <span>
                        <div class="colorText6--text mb-lg-3 text-caption text-sm-subtitle-1">{{LangUtil("下次分红倒计时")}}</div>
                        <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                            <span>{{ hr }}:{{ min }}:{{ sec }}</span>
                            <span>{{ test }}</span>
                        </div>
                    </span>
                </v-col>
            </v-row>
        </v-card>
        <v-row no-gutters>
            <v-col cols="12" lg="8" class="pr-lg-3">
                <v-card class="rounded-lg mb-lg-0 py-lg-6 text-sm-subtitle-1" color="colorTitleBg" height="100%">
                    <v-row no-gutters class="fill-height">
                        <v-col cols="3" class="d-flex align-center justify-center" v-if="$vuetify.breakpoint.lgAndUp">
                            <v-img max-width="180" contain src="~@/assets/bonus/ensure@4x.png"> </v-img>
                        </v-col>
                        <v-col cols="12" lg="9">
                            <v-row no-gutters class="mx-4 mx-lg-0 mt-7 my-lg-10">
                                <v-col cols="12" lg="6" class="d-flex flex-column fill-height pr-lg-6">
                                    <div class="bonus-card px-3 px-lg-0 py-2 py-lg-0 pb-lg-10 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1">
                                                {{ plat_stake_info.coin_name_unique }}{{LangUtil("余额")}}
                                            </div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span> {{ user_stake_info.amount }} </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end">
                                            <v-btn
                                                :min-width="$vuetify.breakpoint.xsOnly? 90 : 100"
                                                :height="$vuetify.breakpoint.xsOnly? 30 :40"
                                                class="rounded-lg text-sm-body-1 rounded-button"
                                                color="colorBonusBtn"
                                                @click="handlerPledge"
                                                :disabled="user_stake_info.amount == 0"
                                            >
                                                {{LangUtil("质押")}}
                                            </v-btn>
                                        </div>
                                    </div>
                                    <div class="bonus-card px-3 py-2 px-lg-0 py-lg-0 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1 text-no-wrap">
                                                {{LangUtil("个人质押（占比{0}）", user_stake_info.stake_ratio)}}
                                            </div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span>
                                                    {{ user_stake_info.stake_amount }}
                                                    <v-btn icon @click="handlerRecords" :max-height="$vuetify.breakpoint.xsOnly? 22 : 28">
                                                        <v-img
                                                            :max-width="$vuetify.breakpoint.xsOnly? 25 : 39"
                                                            src="@/assets/bonus/history@2x.png"
                                                        ></v-img>
                                                    </v-btn>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end btn-left">
                                            <v-btn
                                                :min-width="$vuetify.breakpoint.xsOnly? 90 : 100"
                                                :height="$vuetify.breakpoint.xsOnly? 30 :40"
                                                class="rounded-lg text-sm-body-1 rounded-button"
                                                color="colorBonusBtn"
                                                @click="handlerUnpledge"
                                                :disabled="user_stake_info.stake_amount == 0"
                                            >
                                                {{LangUtil("解除质押")}}
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-col>
                                <v-col cols="12" lg="6" class="d-flex flex-column pr-lg-6">
                                    <div class="bonus-card px-3 px-lg-0 py-2 py-lg-0 pb-lg-10 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1">{{LangUtil("可领取分红")}}</div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span class="colorTextGold--text">
                                                    {{ user_stake_info.stake_bonus_awaiting_num }}
                                                    <v-btn icon @click="handleRecords" :max-height="$vuetify.breakpoint.xsOnly? 22 : 28">
                                                        <v-img
                                                            :max-width="$vuetify.breakpoint.xsOnly? 25 : 39"
                                                            src="@/assets/bonus/history@2x.png"
                                                        ></v-img>
                                                    </v-btn>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end">
                                            <v-btn
                                                :min-width="$vuetify.breakpoint.xsOnly? 90 : 100"
                                                :height="$vuetify.breakpoint.xsOnly? 30 :40"
                                                class="rounded-lg text-sm-body-1 rounded-button"
                                                color="colorBonusBtn"
                                                @click="stakeDraw"
                                                :disabled="user_stake_info.stake_bonus_awaiting_num == 0"
                                            >
                                                {{LangUtil("领取")}}
                                            </v-btn>
                                        </div>
                                    </div>
                                    <div class="bonus-card px-3 py-2 px-lg-0 py-lg-0 d-flex flex-row justify-space-between">
                                        <div>
                                            <div class="colorText6--text text-caption text-sm-subtitle-1">{{LangUtil("个人累计分红")}}</div>
                                            <div class="text-18 text-sm-h5 d-flex align-center justify-space-between">
                                                <span> {{ user_stake_info.stake_bonus_received_num }} </span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-center align-lg-end">
                                            <v-btn
                                                :min-width="$vuetify.breakpoint.xsOnly? 90 : 100"
                                                :height="$vuetify.breakpoint.xsOnly? 30 :40"
                                                class="rounded-lg text-sm-body-1 rounded-button"
                                                color="colorBonusBtn"
                                                @click="jumpTo('#record')"
                                            >
                                                {{LangUtil("查看记录")}}
                                            </v-btn>
                                        </div>
                                    </div>
                                </v-col>
                            </v-row>
                            <!-- <v-row no-gutters class="mx-4 mx-lg-0">
                                
                            </v-row> -->
                        </v-col>
                        <v-row no-gutters class="mx-4 mx-lg-0 mb-9 d-flex flex-column" v-if="!$vuetify.breakpoint.lgAndUp">
                            <div class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mt-2 mt-sm-5 mb-2 mb-sm-3">
                                {{LangUtil("规则说明")}}
                            </div>
                            <div class="text-caption colorText6--text mx-2">
                                <div>{{LangUtil("质押规则说明1")}}</div>
                                <div>{{LangUtil("质押规则说明2")}}</div>
                                <div>{{LangUtil("质押规则说明3")}}</div>
                                <div>{{LangUtil("质押规则说明4")}}</div>
                            </div>
                        </v-row>
                    </v-row>
                </v-card>
            </v-col>
            <v-col lg="4" v-if="$vuetify.breakpoint.lgAndUp">
                <v-card class="rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6 text-sm-subtitle-1" color="colorTitleBg" height="100%">
                    <div class="text-sm-h5 colorTextBlueLight3--text font-weight-medium">{{LangUtil("规则说明")}}</div>
                    <div class="colorText6--text">
                        <div>{{LangUtil("质押规则说明1")}}</div>
                        <div>{{LangUtil("质押规则说明2")}}</div>
                        <div>{{LangUtil("质押规则说明3")}}</div>
                        <div>{{LangUtil("质押规则说明4")}}</div>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <div class="px-0 px-sm-3 py-2 py-sm-4">
            <div class="text-subtitle-1 text-sm-h5 font-weight-medium">{{LangUtil("分红数据")}}</div>
        </div>
        <v-row no-gutters class="pb-2 pb-sm-5">
            <v-col cols="12" lg="8" class="pr-0 pr-lg-3 pb-2 pb-lg-0">
                <v-card class="horizontal-gradient rounded-lg mb-lg-0 px-4 px-sm-6" height="100%">
                    <v-row no-gutters>
                        <v-col cols="12" lg="8" class="text-caption text-sm-subtitle-1">
                            <div class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mb-2 mb-sm-5 pt-2 pt-sm-6">
                                {{LangUtil("近5日分红金额")}}
                            </div>
                            <div class="colorText6--text text-sm-subtitle-1 mb-2 mb-sm-0">
                                {{LangUtil("随着网站成长，股东质押的{0}收益会逐渐增长", plat_stake_info.coin_name_unique)}}
                            </div>
                            <v-row no-gutters class="colorText6--text daily-height">
                                <v-col
                                    cols="2"
                                    class="d-flex justify-end flex-column mr-lg-3 mb-sm-3"
                                    v-for="(item, index) of bonus_recently.slice().reverse()"
                                    :key="index"
                                    :class="index != 4 ? 'mr-3 mr-sm-5 mr-md-8' : 'mr-0 mr-sm-0 mr-md-0'"
                                >
                                    <div class="d-flex justify-center">${{ item.total_bonus_amount }}</div>
                                    <div class="d-flex justify-center">
                                        <v-card
                                            :height="getHeight(index)"
                                            :min-width="$vuetify.breakpoint.xsOnly? 40 : 80"
                                            class="gradient-type1 daily-radius"
                                        >
                                        </v-card>
                                    </div>
                                    <div class="d-flex justify-center">{{ getDateTime(item.date) }}</div>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="4" class="d-flex align-end man" v-if="$vuetify.breakpoint.lgAndUp"> </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col cols="12" lg="4">
                <v-card class="horizontal-gradient rounded-lg mb-lg-0 px-4 px-sm-6 py-4 py-sm-6" height="100%">
                    <div class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mb-3 mb-sm-5 ml-3">
                        {{LangUtil("分红排行榜")}}
                    </div>
                    <v-row no-gutters class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile">
                        <v-col cols="2" class="d-flex justify-center align-center"> {{LangUtil("排行")}} </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center"> {{LangUtil("用户")}} </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            {{LangUtil("质押")}}{{ plat_stake_info.coin_name_unique }}{{LangUtil("数量")}}
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center"> {{LangUtil("获得分红")}} </v-col>
                    </v-row>
                    <v-row
                        no-gutters
                        class="colorText6--text text-caption text-sm-subtitle-1 rank-height mobile-list"
                        v-for="(item, index) of bonus_rank"
                        :key="index"
                    >
                        <v-col cols="2" class="d-flex justify-center align-center">
                            <div v-if="index < 3">
                                <v-img :max-width="$vuetify.breakpoint.xsOnly? 45 :60" contain :src="iconsPrize[index]"> </v-img>
                            </div>
                            <div v-else class="d-flex justify-center align-center white--text text-18 text-sm-h5">{{ index }}</div>
                        </v-col>
                        <v-col cols="3" class="text-truncate d-flex justify-center align-center">
                            <span class="text-truncate">{{ item.username }}</span>
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center"> {{ item.stake_amount }} </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center"> {{ item.bonus_amount }} </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        <v-card class="mb-2 rounded-lg horizontal-gradient-top px-5 py-3 py-sm-6" id="record">
            <div class="text-sm-h5 colorTextBlueLight3--text font-weight-medium mb-sm-3 mb-2">
                <span class="text-subtitle-1 text-sm-h5 colorTextBlueLight3--text font-weight-medium mr-4"> {{LangUtil("分红记录")}} </span>
                <v-btn
                    :height="$vuetify.breakpoint.width > 600 ? 40 : 30"
                    class="rounded-pill mr-2"
                    elevation="0"
                    :text="listQuery.cate != 0"
                    :color="listQuery.cate == 0 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(0)"
                >
                    <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-web</v-icon>
                    <span class="text-sm-subtitle-1 text-body-2 font-weight-regular"> {{LangUtil("全站记录")}} </span>
                </v-btn>
                <v-btn
                    :height="$vuetify.breakpoint.width > 600 ? 40 : 30"
                    class="rounded-pill text-16 font-weight-regular mr-2"
                    elevation="0"
                    :text="listQuery.cate != 1"
                    :color="listQuery.cate == 1 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(1)"
                >
                    <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-human-handsdown</v-icon>
                    <span class="text-sm-subtitle-1 text-body-2 font-weight-regular"> {{LangUtil("个人记录")}} </span>
                </v-btn>
            </div>
            <v-card-text :class="$vuetify.breakpoint.width < 600 ? 'pa-0' : ''">
                <!-- 全站记录 -->
                <v-sheet color="transparent" v-if="listQuery.cate == 0">
                    <div class="mb-sm-4 mb-2 d-flex justify-space-around listitem head">
                        <v-row no-gutters class="d-flex flex-row">
                            <v-col :cols="$vuetify.breakpoint.width > 600?2:4" class="d-flex justify-center align-center">
                                {{LangUtil("日期")}}
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                {{LangUtil("分红人数")}}
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                {{LangUtil("质押总数")}}
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                {{LangUtil("每100{0}分红", plat_stake_info.coin_name_unique)}}
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                {{LangUtil("总计已派发")}}
                            </v-col>
                        </v-row>
                    </div>
                    <div v-for="(item, index) in plat_bonus.list" :key="index">
                        <v-row no-gutters class="d-flex flex-row mt-sm-4 mt-2 mb-sm-5 mb-1 listitem">
                            <v-col :cols="$vuetify.breakpoint.width > 600?2:4" class="d-flex justify-center align-center">
                                {{ getDateTime(item.date) }}
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                {{ item.stake_count }}
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                <div class="d-flex bonus-width">
                                    <v-img
                                        class="mr-2"
                                        :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :height="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                    ></v-img>
                                    <span> {{ item.total_stake_amount }} </span>
                                </div>
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                <div class="d-flex hundred-bonus-width">
                                    <span class="mr-2">$
                                    </span>
                                    <span>{{ item.hundred_bonus }}</span>
                                </div>
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                <div class="d-flex bonus-width">
                                    <v-img
                                        class="mr-2"
                                        :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :height="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :src="GamePlatConfig.config.plat_coins[plat_stake_info.bonus_coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.bonus_coin_name_unique].icon"
                                    ></v-img>
                                    <span>{{ item.total_bonus_amount }}</span>
                                </div>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>
                    </div>
                    <v-sheet
                        v-if="plat_bonus.list.length == 0"
                        class="d-flex justify-center align-center"
                        color="transparent"
                        min-height="260"
                    >
                        <div>
                            <v-img :src="commonIcon.nodata" max-width="113" height="100"></v-img>
                            <div class="text-14 colorText1--text mt-2 ml-8">{{LangUtil("暂无记录")}}</div>
                        </div>
                    </v-sheet>
                </v-sheet>
                <!-- 个人记录 -->
                <v-sheet color="transparent" v-if="listQuery.cate == 1">
                    <div class="mb-sm-4 mb-2 d-flex justify-space-around listitem head">
                        <v-row no-gutters class="d-flex flex-row">
                            <v-col :cols="$vuetify.breakpoint.width > 600?2:4" class="d-flex justify-center align-center">
                                {{LangUtil("日期")}}
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                {{LangUtil("质押数量")}}
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                {{LangUtil("占比")}}
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                {{LangUtil("每100{0}分红", plat_stake_info.coin_name_unique)}}
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                {{LangUtil("已派发")}}
                            </v-col>
                        </v-row>
                    </div>
                    <div v-for="(item, index) in user_bonus.list" :key="index">
                        <v-row no-gutters class="d-flex flex-row mt-sm-4 mt-2 mb-sm-5 mb-1 listitem">
                            <v-col :cols="$vuetify.breakpoint.width > 600?2:4" class="d-flex justify-center align-center">
                                {{ getDateTime(item.date) }}
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                <div class="d-flex bonus-width">
                                    <v-img
                                        class="mr-2"
                                        :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :height="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                    ></v-img>
                                    <span> {{ item.stake_amount }} </span>
                                </div>
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                {{ item.stake_ratio }}
                            </v-col>
                            <v-col cols="2" class="d-flex justify-center align-center" v-if="$vuetify.breakpoint.width > 600">
                                <div class="d-flex hundred-bonus-width">
                                    <span class="mr-2">$
                                    </span>
                                    <span>{{ item.hundred_bonus }}</span>
                                </div>
                            </v-col>
                            <v-col :cols="$vuetify.breakpoint.width > 600?3:4" class="d-flex justify-center align-center">
                                <div class="d-flex bonus-width">
                                    <v-img
                                        class="mr-2"
                                        :max-width="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :height="$vuetify.breakpoint.width > 600 ? 25 : 20"
                                        :src="GamePlatConfig.config.plat_coins[plat_stake_info.bonus_coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.bonus_coin_name_unique].icon"
                                    ></v-img>
                                    <span>{{ item.bonus_amount }}</span>
                                </div>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>
                    </div>
                    <v-sheet
                        v-if="user_bonus.list.length == 0"
                        class="d-flex justify-center align-center"
                        color="transparent"
                        min-height="260"
                    >
                        <div>
                            <v-img :src="commonIcon.nodata" max-width="113" height="100"></v-img>
                            <div class="text-14 colorText1--text mt-2 ml-8">{{LangUtil("暂无记录")}}</div>
                        </div>
                    </v-sheet>
                </v-sheet>
            </v-card-text>
        </v-card>
        <Question :questions="questionData"></Question>
    </v-container>
</div>
