.block-yellow {
    //border: solid 2px #ffe64d !important;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    //background-image: url("~@/_skin005/assets/texture_money.png");
    //background-size: contain;
}
.item_bg
{
    position: absolute;
    width: 165px;
    //height: 100%;
    z-index: -1;
    //opacity: 0.3;
    border-radius: 20px;
    overflow: hidden;
    .img{
        position: relative;
    }
}
.btn-yellow {
    background-image: linear-gradient(to right, #fcb131, #ffe64d);
    height: 24px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
    cursor: pointer;
}
.panel-bouns {
    background-image: url("~@/_skin005/assets/pagehome/01_tuiguang.png");
    background-position: right top 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
.panel-swap {
    background-image: url("~@/_skin005/assets/pagehome/02_huodong.png");
    background-position: right top 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
.panel-mine {
    background-image: url("~@/_skin005/assets/pagehome/03_wakuang.png");
    background-position: right top 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-panel {
    position: absolute;
    right: 15px;
    bottom: 15px;
    min-height: 24px;
}
.boxpadding{
    padding-left: 10px;
    padding-right: 10px;
}

::v-deep .v-responsive__content
{
    display: none;
}
::v-deep .v-ripple__container{
    border-radius: 10px !important;
}
::v-deep .v-btn--icon.v-size--small{
    height: 8px !important;
    width: 8px !important;
}
::v-deep .v-btn__content
{
    :first-child {
        font-size: 16px !important;
        transform: scale(0.5);
    }
}
::v-deep .v-carousel__controls
{
    height: 30px;
}
::v-deep .v-carousel__controls__item .v-icon
{
    opacity: 0.7;
}

::v-deep .theme--dark.v-btn--active:before, .theme--dark.v-btn--active:hover:before
{
    opacity: 1 !important;
}
.bannritem_mob{
    height: 170px;
}

.bannritem{
    height: 240px !important;
}