.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100%;
}
.bg_ciale {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.theme--dark {
    .bg_ciale {
        background-color: #0f1213;
    }
}
.theme--light {
    .bg_ciale {
        //background-color: transparent;
        background-color: rgba(15, 18, 19, 0.7);
    }
}

.loader::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.2s ease-in-out infinite, color 4.8s ease-in-out infinite;
    stroke-linecap: round;
}

.path_006 {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.2s ease-in-out infinite, color_006 4.8s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    100%,
    0% {
        stroke: #ffc130;
    }

    50% {
        stroke: #838486;
    }
}
@keyframes color_006 {
    100%,
    0% {
        stroke: #ff0814;
    }

    50% {
        stroke: #ffc130;
    }
}

/* body {
    background-color: #fff;
} */

.showbox {
    position: flex;
    width: 100%;
}

.loading_2 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.loading_test {
    height: 100px;
    width: 100px;
    display: flex;
}
.loading-img {
    z-index: 1;
    width: 100px;
}