.header-mobile {
    position: fixed;
    z-index: 1000;
    background-color: #121e36;
}
.v-btn-toggle .v-btn .text-14:not(:lang(zh_CN)) {
    letter-spacing: var(--btn-letter-spacing); /* 自定义的字母间距 */
  }