<v-dialog v-if="!pageData.bHidden" width="730" v-model="pageData.bShow" :retain-focus="false"
    :fullscreen="$vuetify.breakpoint.xsOnly" persistent>

    <!-- pc显示方式 -->
    <template v-if="!$vuetify.breakpoint.xsOnly">
        <v-card class="rounded10 d-flex flex-column" height="100%" color="bgBanner">
            <com-dialog-title title="数字货币" @onClose="onClose" />
            <v-divider class="mb-2 " />
            <v-card-text class="d-flex align-center">
                <v-btn-toggle mandatory group v-model="typechange" @change="onTimeChange">
                    <v-btn  class="rounded-pill mr-2" height="36"
                        min_width="110" value="0">
                        <v-icon class="mr-1">mdi-arrow-down-bold-circle</v-icon>
                        <span class="text-14"> {{LangUtil("充值")}} </span>
                    </v-btn>
                    <v-btn  class="rounded-pill mr-2" height="36"
                        min_width="110" value="1">
                        <v-icon class="mr-1">mdi-arrow-up-bold-circle</v-icon>
                        <span class=" text-14"> {{LangUtil("兑换")}} </span>
                    </v-btn>
                    <v-btn v-if="GlobalVar.instance.isShowTransfer && selfProxy.userInfo.is_gold_transfer == 1"
                        class="rounded-pill mr-2" height="36" min_width="110" value="11">
                        <v-icon class="mr-1">mdi-transfer</v-icon>
                        <span class=" text-14"> {{LangUtil("划转")}} </span>
                    </v-btn>
                </v-btn-toggle>

                <v-spacer />

                <btn-yellow v-if="pageData.tabIndex !== 2" class="text-16" min_width="90" height="36"
                    @click.native="goRecord">
                    <span>{{ pageData.tabIndex == 0 ? LangUtil("充值记录") : LangUtil("兑换记录") }}</span>
                </btn-yellow>
                <btn-yellow v-else class="text-16" min-width="104" height="36" @click.native="viewDetail">
                    <span>{{ LangUtil("账目明细") }}</span>
                </btn-yellow>

                <!-- <v-btn v-if="pageData.tabIndex !== 2" small color="colorText1 colorBlue--text" @click="goRecord">
                    <span>{{ pageData.tabIndex == 0 ? LangUtil("充值记录") : LangUtil("兑换记录") }} </span>
                </v-btn>
                <v-btn v-else small color="colorText1 colorBlue--text" @click="viewDetail">
                    <span>{{ LangUtil("账目明细") }} </span>
                </v-btn> -->
            </v-card-text>
            <v-divider class="mx-5" />

            <TabRecharge v-show="pageData.tabIndex == 0" />
            <TabExchange v-show="pageData.tabIndex == 1" />
            <TabTransfer v-if="pageData.tabIndex == 2" />
        </v-card>
    </template>

    <!-- 手机显示方式 -->
    <template v-else>
        <v-card class="rounded10 d-flex flex-column" height="100%" color="bgColor">
            <v-sheet class="pb-3 px-0" color="transparent">
                <com-dialog-title title="数字货币" @onClose="onClose" />
                <div class="px-2 mt-2 d-flex align-center">
                    <v-btn-toggle mandatory group v-model="typechange" @change="onTimeChange" class="d-flex flex-wrap">
                        <v-btn  class="rounded-pill mr-2" height="30"
                            min-width="80" value="0">
                            <v-icon class="mr-1">mdi-arrow-down-bold-circle</v-icon>
                            <span class="text-12"> {{LangUtil("充值")}} </span>
                        </v-btn>
                        <v-btn  class="rounded-pill mr-2" height="30"
                            min-width="80" value="1">
                            <v-icon class="mr-1">mdi-arrow-up-bold-circle</v-icon>
                            <span class=" text-12"> {{LangUtil("兑换")}} </span>
                        </v-btn>
                        <v-btn class="rounded-pill mr-2" height="30" min-width="80" value="11"
                            v-if="GlobalVar.instance.isShowTransfer && selfProxy.userInfo.is_gold_transfer == 1">
                            <v-icon class="mr-1">mdi-transfer</v-icon>
                            <span class=" text-12"> {{LangUtil("划转")}} </span>
                        </v-btn>
                    </v-btn-toggle>

                    <div class="ml-auto">
                        <btn-yellow v-if="pageData.tabIndex !== 2" class="text-14" min-width="80" height="30"
                            :btn_type="2" @click.native="goRecord">
                            <span>{{ pageData.tabIndex == 0 ? LangUtil("充值记录") : LangUtil("兑换记录") }}</span>
                        </btn-yellow>
                        <btn-yellow v-else class="text-14" min-width="80" height="30" :btn_type="2"
                            @click.native="viewDetail">
                            <span>{{ LangUtil("账目明细") }}</span>
                        </btn-yellow>
                    </div>
                </div>
            </v-sheet>

            <TabRecharge v-show="pageData.tabIndex == 0" />
            <TabExchange v-show="pageData.tabIndex == 1" />
            <TabTransfer v-if="pageData.tabIndex == 2" />
        </v-card>
    </template>
</v-dialog>