.item{
    background-image: linear-gradient(#212A4D, #19244C);
    padding: 8px;
    border-radius: 4px;
    margin-top: 8px;
    // height: 118px;
}
.custom-hr {
    border-top: 1px dashed #4C5E7F;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 4px;
    margin-bottom: 5px;
}
.item-selection{
    width: 85px;
    height: 25px;
    border: 1px solid #607497;
    border-radius: 4px;
}
.min-text{
    transform: scale(0.7);
}
.min-card{
    transform: scale(0.8);
}
.odds-img{
    margin-left:2px;
    margin-right:2px;
}
.num_width{
    min-width: 16px;
}
.num_red_width{
    min-width: 16px;
}
.flex-1 {
    flex: 1;
}