.input-btn-text {
    &::v-deep .v-btn__content {
        color: #9db1d8;
    }
}
.confirm-btn {
    &::v-deep .v-btn__content {
        color: white;
        font-weight: 400;
        font-size: 18px;
    }
}
