$miaobian_color_title: #fff; //
$text_color_1: #944f29;
$text_color_2: #fffdd9;
$text_color_3: #992c17;
$text_color_4: #812210;
$text_color_5: #843d15;
$text_color_6: #fffae8;

$line_width: 16.8px;
$line_height_duan: 65.8px;
$line_height_long: 107.8px;

$select_line_height_duan: 119px;
$select_line_height_long: 210.7px;

$line_height_duan_mob: 39px;
$line_height_long_mob: 165px;

$select_line_height_duan_mob: 137px;
$select_line_height_long_mob: 313px;

@font-face {
    font-family: "Source Han Sans SC"; /* 可以根据需要给字体取一个名称 */
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
    // src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    /* Google Fonts 提供的思源黑体地址，通过 Google Fonts 提供的 CSS 引入 */
    font-weight: normal;
    font-style: normal;
}
.v-card--link,
.v-card--link .v-chip {
    cursor: revert;
}
.v-card--outlined:focus,
.v-card--outlined:active,
.v-card--outlined:hover {
    box-shadow: none;
}
.v-card--link:focus:before {
    opacity: 0;
}
.btn_close {
    position: absolute;
    top: -10px;
    right: -12px;
}
.imgage {
    max-width: 100vw;
    width: fit-content;
}
.detail_dialog {
    height: calc(100% - 200px);
}
::v-deep .v-dialog:not(.v-dialog--fullscreen) {
    // max-height: calc(100% - 200px);
    margin: 24px 0px !important;
}
.v-card {
    max-width: none !important;
}
.card_node_class {
    pointer-events: none;
}
.container_daily {
    display: flex;
    justify-content: center;
    align-items: start;
    // height: 100vh;
    max-height: calc(100vh - 80px);
}
.main_bg {
    position: absolute;
    left: 0px;
}

.main_bg_mob {
    position: absolute;
    // left: 15px;
    // right: 15px;
}
.font_Han_San {
    font-family: "Source Han Sans SC", sans-serif; /* 使用自定义的 'Source Han Sans SC' 字体，如果未成功引入，则使用备用字体 */
}
.font_blod {
    font-weight: bold;
}
.text_shadow {
    text-shadow: 1px 1px 0 $miaobian_color_title, -1px 1px 0 $miaobian_color_title, 1px -1px 0 $miaobian_color_title,
        -1px -1px 0 $miaobian_color_title; /* 描边效果，分别添加四个方向的阴影 */
    // -webkit-text-stroke: 2px #ffffff; /* 描边效果，2px粗细，颜色为白色 */
    // text-stroke: 2px #ffffff; /* 描边效果，2px粗细，颜色为白色 */
    // -webkit-text-fill-color: $text_color_1; /* 使文字填充透明，只显示描边 */
}
.text_shadow_2 {
    text-shadow: 1px 1px 0 $text_color_1, -1px 1px 0 $text_color_1, 1px -1px 0 $text_color_1, -1px -1px 0 $text_color_1; /* 描边效果，分别添加四个方向的阴影 */
}
.title_text {
    color: $text_color_1; /* 文字颜色 */
    line-height: 1;
    text-align: center;
    font-size: 42px;
}
.title_time {
    color: $text_color_2; /* 文字颜色 */
    line-height: 1;
    text-align: center;
}
.rule_des_class {
    color: $text_color_3; /* 文字颜色 */
}

.gold_bg_nomal {
    background: url("~@/_skin005/assets/activity_recharge/gold_bg_nomal.png");
    background-size: 100% 100%;
    .text_color {
        color: $text_color_4;
    }
}
.gold_bg_nomal:hover {
    background: url("~@/_skin005/assets/activity_recharge/gold_bg_select.png");
    background-size: 100% 100%;
    .text_color {
        color: $miaobian_color_title;
    }
}

.gold_bg_nomal_mob {
    background: url("~@/_skin005/assets/activity_recharge/mob/gold_bg_nomal.png");
    background-size: 100% 100%;
    .text_color {
        color: $text_color_4;
    }
}
.gold_bg_nomal_mob:hover {
    background: url("~@/_skin005/assets/activity_recharge/mob/gold_bg_select.png");
    background-size: 100% 100%;
    .text_color {
        color: $miaobian_color_title;
    }
}
.gold_bg_select_mob {
    background: url("~@/_skin005/assets/activity_recharge/mob/gold_bg_select.png");
    background-size: 100% 100%;
    .text_color {
        color: $miaobian_color_title;
    }
}
.main_bg_recharge_mob {
    background: url("~@/_skin005/assets/activity_recharge/mob/bg.png");
    background-size: 100% 100%;
}
.progress_bg_mob {
    background: url("~@/_skin005/assets/activity_recharge/mob/slider_bg.png");
    background-size: 100% 100%;
    z-index: 10;
}

.gold_item_mob {
    .line_1 {
        background: url("~@/_skin005/assets/activity_recharge/mob/ling_duan.png");
        background-size: 100% 100%;
        height: $line_height_duan_mob;
        z-index: 1;
    }
    .slider {
        position: absolute;
        top: -20px;
        z-index: 10;
    }
    .line_2 {
        background: url("~@/_skin005/assets/activity_recharge/mob/line_long.png");
        background-size: 100% 100%;
        height: $line_height_long_mob;
        z-index: 1;
    }
    .item_main_1 {
        background: url("~@/_skin005/assets/activity_recharge/mob/item_bg_no_select.png");
        background-size: 100% 100%;
    }
    .text_color {
        color: $text_color_5;
    }
}
.gold_item_select_mob {
    .line_1 {
        background: url("~@/_skin005/assets/activity_recharge/mob/line_duan_used.png");
        background-size: 100% 100%;
        height: $select_line_height_duan_mob;
        z-index: 1;
    }
    .slider {
        position: absolute;
        top: -14px;
        z-index: 10;
    }
    .line_2 {
        background: url("~@/_skin005/assets/activity_recharge/mob/line_long_used.png");
        background-size: 100% 100%;
        height: $select_line_height_long_mob;
        z-index: 1;
    }
    .item_main_1 {
        background: url("~@/_skin005/assets/activity_recharge/mob/item_bg_no_select.png");
        background-size: 100% 100%;
    }
    .item_main_1_active {
        background: url("~@/_skin005/assets/activity_recharge/mob/item_bg_select.png");
        background-size: 100% 100%;
    }

    .text_color {
        color: $text_color_5;
    }
    .item_passd {
        position: absolute;

        .state_text {
            text-align: center;
            color: $miaobian_color_title;
            transform: rotateZ(329deg);
            margin-top: 48px;
        }
    }
}
.gold_bg_select {
    background: url("~@/_skin005/assets/activity_recharge/gold_bg_select.png");
    background-size: 100% 100%;
    .text_color {
        color: $miaobian_color_title;
    }
}
.main_bg_recharge {
    background: url("~@/_skin005/assets/activity_recharge/bg.png");
    background-size: 100% 100%;
}
.progress_bg {
    background: url("~@/_skin005/assets/activity_recharge/slider_bg.png");
    background-size: 100% 100%;
    z-index: 10;
}
.gold_item {
    .line_1 {
        background: url("~@/_skin005/assets/activity_recharge/ling_duan.png");
        background-size: 100% 100%;
        width: $line_width;
        height: $line_height_duan;
        z-index: 1;
    }
    .slider {
        position: absolute;
        top: -20px;
        z-index: 10;
    }
    .line_2 {
        background: url("~@/_skin005/assets/activity_recharge/line_long.png");
        background-size: 100% 100%;
        width: $line_width;
        height: $line_height_long;
        z-index: 1;
    }
    .item_main_1 {
        background: url("~@/_skin005/assets/activity_recharge/item_bg_no_select.png");
        background-size: 100% 100%;
    }
    .text_color {
        color: $text_color_5;
    }
}
.gold_item_select {
    .line_1 {
        background: url("~@/_skin005/assets/activity_recharge/line_duan_used.png");
        background-size: 100% 100%;
        width: $line_width;
        height: $select_line_height_duan;
        z-index: 1;
    }
    .slider {
        position: absolute;
        top: -20px;
        z-index: 10;
    }
    .line_2 {
        background: url("~@/_skin005/assets/activity_recharge/line_long_used.png");
        background-size: 100% 100%;
        width: $line_width;
        height: $select_line_height_long;
        z-index: 1;
    }
    .item_main_1 {
        background: url("~@/_skin005/assets/activity_recharge/item_bg_no_select.png");
        background-size: 100% 100%;
    }
    .item_main_1_active {
        background: url("~@/_skin005/assets/activity_recharge/item_bg_select.png");
        background-size: 100% 100%;
    }

    .text_color {
        color: $text_color_5;
    }
    .item_passd {
        position: absolute;

        .state_text {
            text-align: center;
            color: $miaobian_color_title;
            transform: rotateZ(329deg);
            margin-top: 48px;
        }
    }
}
.recharge_btn {
    background: url("~@/_skin005/assets/activity_recharge/btn.png");
    background-size: 100% 100%;
}
.recharge_btn_disabled {
    pointer-events: none;
    filter: grayscale(100%);
}
.bounce {
    position: relative;
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
.get_btn_text {
    color: $text_color_6;
}
.rule_text {
    color: $text_color_1;
}

.dosccale {
    animation: doScale 0.5s ease infinite alternate;
}
@keyframes doScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
