<v-dialog width="300" v-model="pageData.bShow" :retain-focus="false" persistent overlay-opacity="0.8">
    <v-card class="rounded10" color="dialog_bg">
        <v-card-title class="gradient-bg justify-center">
            <div class="text-20">{{LangUtil("提示")}}</div>
            <v-btn v-if="pageData.data.isNeetClose" class="ml-auto" icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-divider />

        <v-sheet color="transparent" width="100%" min-height="100" class="d-flex flex-column justify-center align-center px-5">
            <template v-if="isMultMessage">
                <template v-for="(item, key) of pageData.data.message">
                    <v-sheet color="transparent" min-height="30" class="d-flex align-center justify-center primary--text" :key="key"
                        >{{item}}
                    </v-sheet>
                </template>
            </template>
            <template v-else>
                <v-sheet
                    color="transparent"
                    class="my-3 d-flex justify-center align-center primary--text"
                    style="white-space: pre-line; text-align: center"
                >
                    {{pageData.data.message}}</v-sheet
                >
            </template>
        </v-sheet>
        <v-card-actions class="d-flex justify-space-around pb-5">
            <btn-yellow v-if="pageData.data.bConfirm" class="text-14" min_width="100" height="36" :btn_type="2" @click.native="onCancel"
                >{{pageData.data.cancelTxt || LangUtil("取消")}}</btn-yellow
            >

            <btn-yellow class="text-14 mx-2" min_width="100" height="36" @click.native="onOK"
                >{{pageData.data.okTxt || LangUtil("确定")}}</btn-yellow
            >

            <!-- <v-btn v-if="pageData.data.bConfirm" class="mx-2" width="100" height="36" color="colorBtnBg" outlined
                @click="onCancel">{{LangUtil("取消")}}</v-btn>
            <v-btn class="mx-2" width="100" height="36" color="colorBtnBg" @click="onOK">{{LangUtil("确定")}}</v-btn> -->
        </v-card-actions>
    </v-card>
</v-dialog>
