<v-dialog
    width="830"
    v-if="!pageData.bHidden"
    v-model="pageData.bShow"
    :retain-focus="false"
    :fullscreen="$mobile"
    persistent
    :transition="$mobile ? 'mobile-slide-x-transition' :''"
>
    <v-card class="d-flex flex-column rounded10" color="dialog_bg">
        <com-dialog-title title="层级筛选" @onClose="onClose" />
        <v-divider class="mb-2" />
        <!-- 内容 -->
        <v-card-text class="text_height">
            <!-- 单选框 -->
            <div>
                <!-- <v-radio-group v-model="radios" row class="colorTextBlueLight2--text">
                    <v-radio v-for="(item, key) of radiosInfo" :key="key" :label="`${item.name}`" :value="item.value"
                        color="#6A83B4"></v-radio>
                </v-radio-group> -->

                <v-btn-toggle v-if="$mobile" :lang="core.lang" mandatory group v-model="typechange" @change="onTimeChange">
                    <v-btn class="rounded-pill" height="36" min_width="90" value="0">
                        <span class="text-14"> {{LangUtil("团队投注")}} </span>
                    </v-btn>
                    <v-btn class="rounded-pill" height="36" min_width="90" value="1">
                        <span class="text-14"> {{LangUtil("个人投注")}} </span>
                    </v-btn>
                </v-btn-toggle>
                <v-btn-toggle v-else mandatory group v-model="typechange" @change="onTimeChange">
                    <v-btn class="rounded-pill mr-2" height="36" min_width="90" value="0">
                        <span class="text-14"> {{LangUtil("团队投注")}} </span>
                    </v-btn>
                    <v-btn class="rounded-pill mr-2" height="36" min_width="90" value="1">
                        <span class="text-14"> {{LangUtil("个人投注")}} </span>
                    </v-btn>
                </v-btn-toggle>
            </div>

            <!-- 层级内容 -->
            <div v-if="false">
                <custom-tree :dataarr="myProxy.teamDirectlyInfo" @onClickSure="onClickSure" @onClick="onClick" />
            </div>
            <!-- 去掉自己的第一层，直接显示直属 -->
            <div v-for="(item, key) of myProxy.teamDirectlyInfo.childs" :key="key">
                <custom-tree :dataarr="item" @onClickSure="onClickSure" :selfLayer="0" :directlyLayer="1" @onClick="onClick" />
            </div>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
