:root {
    --yellow_color_1: #d63333;
    --yellow_color_2: #bb1a1a;

    --btn_hover_text: #fff;
    --btn_nomal_text: #fff;

    --btn_disable_text_dark: #bababa;
    --btn_disable_text_light: #a4a4a4;

    --line_primary: #d63333;
}
