<v-dialog v-if="!pageData.bHidden" width="930" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$xsOnly" persistent>
    <v-card class="rounded10" :color="!$xsOnly ? 'bgBanner' : 'bgColor'">
        <!-- pc显示方式 -->
        <template v-if="!$xsOnly">
            <com-dialog-title title="业绩查询" @onClose="onClose" />

            <v-divider class="mb-2" />
            <v-card-text class="px-5">
                <div class="d-flex justify-space-between">
                    <v-sheet class="d-flex flex-wrap mt-2" color="transparent" style="max-width: calc(100% - 150px)">
                        <div v-if="pageData.list.length>0" class="textGray--text text-16 mr-1 mb-3 listinfo">
                            {{LangUtil("总计")}} {{ getDate(pageData.list[pageData.list.length-1].date )}} {{LangUtil("至")}} {{
                            getDate(pageData.list[0].date) }}
                        </div>
                        <div v-if="summary" class="textGray--text text-16 mb-3 d-flex flex-wrap listinfo">
                            <div class="mr-3">{{LangUtil("总业绩")}} {{ transformMoney(summary.total_water) }}</div>
                            <div class="mr-3">{{LangUtil("团队总业绩")}} {{ transformMoney(summary.group_water) }}</div>
                            <div class="mr-3">{{LangUtil("直属业绩")}} {{ transformMoney(summary.direct_water) }}</div>
                            <div v-if="selfProxy.userInfo.is_credit_user == 98 && summary.total_commission">
                                {{LangUtil("总佣金")}} {{ get_commission_num( summary.total_commission )}}
                            </div>
                        </div>
                    </v-sheet>
                    <v-sheet class="d-flex justify-end mb-2 time_item rounded10" :color="$vuetify.theme.dark ? '#333435' : '#F4F4F4'">
                        <CustomSelect
                            v-model="listOptions.timeSelect"
                            :options="listOptions.timeOptions()"
                            width="140"
                            @change="onTimeChange"
                        />
                    </v-sheet>
                </div>

                <template v-if="pageData.list.length>0">
                    <v-sheet color="transparent" class="d-flex flex-wrap justify-space-between mb-2 mx-2">
                        <v-sheet color="transparent" width="130" class="text-16 primary--text" style="text-align: center"
                            >{{LangUtil("时间")}}</v-sheet
                        >
                        <v-sheet color="transparent" width="150" class="text-16 primary--text" style="text-align: center"
                            >{{LangUtil("总业绩")}}</v-sheet
                        >
                        <v-sheet color="transparent" width="150" class="text-16 primary--text" style="text-align: center"
                            >{{LangUtil("团队业绩")}}</v-sheet
                        >
                        <v-sheet color="transparent" width="150" class="text-16 primary--text" style="text-align: center"
                            >{{LangUtil("直属业绩")}}</v-sheet
                        >
                        <v-sheet color="transparent" width="150" class="text-16 primary--text" style="text-align: center"
                            >{{LangUtil("总佣金")}}</v-sheet
                        >
                        <v-sheet color="transparent" width="100" class="text-16 primary--text">{{LangUtil("")}}</v-sheet>
                    </v-sheet>
                    <v-sheet color="transparent" height="450" class="scroll-y">
                        <v-sheet
                            class="d-flex sheetOutlined mb-2"
                            width="100%"
                            min-height="40"
                            color="transparent"
                            v-for="(item, key) of pageData.list"
                            :key="key"
                        >
                            <v-sheet color="transparent" class="d-flex flex-wrap align-center justify-space-between mx-2" width="100%">
                                <v-sheet
                                    color="transparent"
                                    min-width="130"
                                    class="text-16 textGray--text text-truncate"
                                    style="text-align: center"
                                    >{{ getDate(item.date) }}</v-sheet
                                >
                                <v-sheet
                                    color="transparent"
                                    min-width="150"
                                    class="text-16 textGray--text text-truncate"
                                    style="text-align: center"
                                    >{{ transformMoney(item.total_water)}}</v-sheet
                                >
                                <v-sheet
                                    color="transparent"
                                    min-width="150"
                                    class="text-16 textGray--text text-truncate"
                                    style="text-align: center"
                                    >{{transformMoney(item.group_water)}}</v-sheet
                                >
                                <v-sheet
                                    color="transparent"
                                    min-width="150"
                                    class="text-16 textGray--text text-truncate"
                                    style="text-align: center"
                                    >{{transformMoney(item.direct_water)}}</v-sheet
                                >
                                <v-sheet
                                    color="transparent"
                                    min-width="150"
                                    class="text-16 textGray--text text-truncate"
                                    style="text-align: center"
                                    >{{get_commission_num(item.total_commission)}}</v-sheet
                                >
                                <v-sheet
                                    color="transparent"
                                    min-width="100"
                                    class="text-16 textGray--text text-truncate"
                                    style="text-align: center"
                                >
                                    <v-btn
                                        text
                                        class="text-decoration-underline pa-0 textYellow--text font-weight-regular"
                                        @click="handlerDetail(item.date)"
                                    >
                                        {{LangUtil("查看详情")}}
                                        <svg-icon icon="arrow_right"></svg-icon>
                                    </v-btn>
                                </v-sheet>
                            </v-sheet>
                        </v-sheet>
                    </v-sheet>
                </template>
                <ListNodata v-if="pageData.list.length == 0" height="411" />
            </v-card-text>
        </template>
        <template v-else>
            <com-dialog-title title="业绩查询" @onClose="onClose" />
            <v-card-text class="px-2">
                <div class="d-flex my-2">
                    <v-btn-toggle :lang="core.lang" mandatory group v-model="listOptions.timeSelect" @change="onTimeChange">
                        <template v-for="(item, key) of listOptions.timeOptions()">
                            <v-btn class="rounded-pill" height="30" min-width="70" :key="key">
                                <span class="text-14"> {{item.name || item}} </span>
                            </v-btn>
                        </template>
                    </v-btn-toggle>
                </div>
                <v-sheet color="transparent" class="mx-3">
                    <div v-if="pageData.list.length>0" class="textGray--text d-flex flex-wrap listinfo">
                        <div>
                            {{LangUtil("总计")}} {{ getDate(pageData.list[pageData.list.length-1].date) }} {{LangUtil("至")}} {{
                            getDate(pageData.list[0].date) }}
                        </div>
                    </div>
                    <div v-if="summary" class="textGray--text d-flex flex-wrap listinfo">
                        <div class="mr-2">{{LangUtil("总业绩")}} {{transformMoney(summary.total_water) }}</div>
                        <div class="mr-2">{{LangUtil("团队总业绩")}} {{ transformMoney(summary.group_water) }}</div>
                        <div class="mr-2">{{LangUtil("直属业绩")}} {{ transformMoney(summary.direct_water) }}</div>
                    </div>
                    <div
                        class="textGray--text d-flex flex-wrap listinfo mb-3"
                        v-if="selfProxy.userInfo.is_credit_user == 98 && summary.total_commission"
                    >
                        <div>{{LangUtil("总佣金")}} {{ get_commission_num(summary.total_commission) }}</div>
                    </div>
                </v-sheet>
                <!-- <v-sheet v-if="pageData.list.length>0" color="transparent" class="scroll-y"> -->
                <v-sheet v-if="pageData.list.length>0" color="transparent" class="overflow-y-auto" style="height: calc(100vh - 210px)">
                    <v-sheet
                        class="px-3 py-2 rounded10 mb-3 textGray--text"
                        color="bgBanner"
                        v-for="(item, key) of pageData.list"
                        :key="key"
                    >
                        <div class="d-flex justify-space-between">
                            <div class="primary--text">{{LangUtil("时间")}}</div>
                            <div>{{ getDate(item.date) }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="primary--text">{{LangUtil("总业绩")}}</div>
                            <div>{{ transformMoney(item.total_water) }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="primary--text">{{LangUtil("团队业绩")}}</div>
                            <div>{{ transformMoney(item.group_water) }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="primary--text">{{LangUtil("直属业绩")}}</div>
                            <div>{{ transformMoney(item.direct_water) }}</div>
                        </div>
                        <div class="d-flex justify-space-between" v-if="selfProxy.userInfo.is_credit_user == 98">
                            <div class="primary--text">{{LangUtil("总佣金")}}</div>
                            <div>{{ get_commission_num(item.total_commission) }}</div>
                        </div>
                        <div class="d-flex align-end justify-end listitem-90">
                            <v-btn
                                text
                                height="20"
                                class="text-decoration-underline pa-0 textYellow--text font-weight-regular"
                                @click="handlerDetail(item.date)"
                            >
                                {{LangUtil("查看详情")}}
                                <svg-icon icon="arrow_right"></svg-icon>
                            </v-btn>
                        </div>
                    </v-sheet>

                    <ListNodata v-if="pageData.list.length == 0" />
                </v-sheet>
            </v-card-text>
        </template>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
