<v-sheet :class="backgroundColor">
    <vue-loadmore
        ref="loadmoreDiv"
        :on-refresh="onRefresh"
        :on-loadmore="onLoad"
        :finished="finished"
        :pulling-text="LangUtil('下拉刷新')"
        :loosing-text="LangUtil('释放刷新')"
        :refresh-text="LangUtil('正在刷新')"
        :loading-text="LangUtil('正在加载')"
        :success-text="LangUtil('刷新完成')"
        :finished-text="is_needfinishedtext ? '   ' : LangUtil('没有更多了') "
        :error-text="LangUtil('请求失败，点击重新加载')"
    >
        <slot></slot>
    </vue-loadmore>

    <v-sheet ref="topDiv" class="slotbox top" :class="backgroundColor">
        <slot name="top"></slot>
    </v-sheet>
    <v-sheet ref="bottomDiv" class="slotbox bottom" :class="backgroundColor">
        <slot name="bottom"></slot>
    </v-sheet>
</v-sheet>
