<v-footer class="justify-space-between" height="70" color="colorTitleBg" app>
    <v-sheet class="d-flex flex-column align-center cursor-pointer" width="60" color="transparent" v-for="(item, index) of menuList" :key="index" @click="onItemClick(item)">
        <v-icon size="30" :color="routerPath == item.path ? 'colorTextGold' : 'colorText2'">{{item.icon}}</v-icon>
        <div class="text-14 " :class="routerPath == item.path ? 'colorTextGold--text': 'colorText2--text'">{{item.name}}</div>
    </v-sheet>
</v-footer>
