<v-bottom-navigation v-model="value" background-color="colorTitleBg" height="60" app>
    <v-btn  >
        <div >首页</div>
        <v-icon >mdi-home</v-icon>
    </v-btn>

    <v-btn  >
        <span >游戏大厅</span>
        <v-icon >mdi-heart</v-icon>
    </v-btn>

    <v-btn x- >
        <span >游戏挖矿</span>
        <v-icon >mdi-map-marker</v-icon>
    </v-btn>

    <v-btn  >
        <span >推广赚钱</span>
        <v-icon >mdi-map-marker</v-icon>
    </v-btn>

    <v-btn  >
        <span >CPC分红</span>
        <v-icon >mdi-map-marker</v-icon>
    </v-btn>

    <v-btn  >
        <span >我的</span>
        <v-icon >mdi-map-marker</v-icon>
    </v-btn>
</v-bottom-navigation>
