<v-container class="page_mine d-flex flex-column">
    <!-- 游戏返水 PC-->
    <v-sheet class="rounded-xl top-box pa-5" height="300" v-if="!$vuetify.breakpoint.mobile">
        <div class="d-flex" style="height: 100%">
            <v-spacer />
            <v-card color="transparent" class="top-box-card d-flex flex-column">
                <div class="colorTextPurple--text font-weight-medium top-box-title">{{LangUtil('游戏挖矿')}}</div>
                <div class="mt-3">
                    <p class="ma-0 text-body-1 colorTextBlueLight--text">{{LangUtil('今日挖矿待领取收益')}}</p>
                    <p class="ma-0 text-body-2 text-md-body-1 colorTextPurple--text">{{ pageData.trial.date }} 00:00:00～23:59:59</p>
                </div>
                <div class="d-flex align-center mt-3 coins_group">
                    <!-- 主币 -->
                    <v-img
                        v-if="pageData.trial.main"
                        :max-width="mobileChange('coinIcon')"
                        :height="mobileChange('coinIcon')"
                        contain
                        :src="pageData.trial.mainIconSrc"
                    ></v-img>
                    <span
                        v-if="pageData.trial.main"
                        class="colorTextGold--text text-h5 text-md-h4 ml-2 ml-md-4 mr-4 mr-md-8 font-weight-medium"
                        >{{ pageData.trial.main }}</span
                    >
                    <!-- 奖励币 -->
                    <v-img
                        v-if="pageData.trial.reward"
                        :max-width="mobileChange('coinIcon')"
                        :height="mobileChange('coinIcon')"
                        contain
                        :src="pageData.trial.rewardIconSrc"
                    ></v-img>
                    <span v-if="pageData.trial.reward" class="colorTextGold--text text-h5 text-md-h4 ml-2 ml-md-4 font-weight-medium"
                        >{{ pageData.trial.reward }}</span
                    >
                </div>
                <div>
                    <v-btn
                        color="colorCoin"
                        class="rounded-pill text-body-2 text-md-body-1 colorReceive--text mt-3 top-box-getaward"
                        @click="handlerAward"
                        >{{LangUtil('领取奖励')}}</v-btn
                    >
                </div>
                <div class="d-flex mt-3 flex-wrap">
                    <v-btn color="colorPurpleBtn" class="rounded-pill top-box-btn px-6 my-1 mx-1" @click="jumpTo('#howMine')"
                        >{{LangUtil('说明')}}</v-btn
                    >
                    <v-btn color="colorPurpleBtn" class="rounded-pill top-box-btn px-6 my-1 mx-1" @click="handlerMineRecord"
                        >{{LangUtil('奖励记录')}}
                    </v-btn>
                    <v-btn color="colorPurpleBtn" class="rounded-pill top-box-btn px-6 my-1 mx-1" @click="handlerBetRecord"
                        >{{LangUtil('投注记录')}}</v-btn
                    >
                </div>
            </v-card>
        </div>
    </v-sheet>

    <!-- 游戏返水 Mobile-->
    <v-sheet color="colorBackgroundGray" class="rounded pa-2" v-else>
        <div class="d-flex align-center ml-n3 mb-1">
            <v-img src="@/_skin001/assets/icon/icon_blue.png" :max-height="15" :max-width="15" class="mr-1 rotate"> </v-img>
            <span class="colorTextBlack--text font-weight-medium">{{LangUtil('游戏挖矿')}}</span>
        </div>
        <div class="d-flex" style="height: 100%; width: 100%">
            <v-sheet color="#fff" class="d-flex flex-column pa-2" width="100%">
                <div class="colorTextBlack1--text">
                    <p class="ma-0">{{LangUtil('今日挖矿待领取收益')}}</p>
                    <p class="ma-0 mt-1">{{ pageData.trial.date }} 00:00:00～23:59:59</p>
                </div>
                <div class="d-flex align-center mt-3 coins_group">
                    <!-- 主币 -->
                    <v-img
                        v-if="pageData.trial.main"
                        :max-width="mobileChange('coinIcon')"
                        :height="mobileChange('coinIcon')"
                        contain
                        :src="pageData.trial.mainIconSrc"
                    ></v-img>
                    <span
                        v-if="pageData.trial.main"
                        class="colorTextOrange--text text-h5 text-md-h4 ml-2 ml-md-4 mr-4 mr-md-8 font-weight-medium"
                        >{{ pageData.trial.main }}</span
                    >
                    <!-- 奖励币 -->
                    <v-img
                        v-if="pageData.trial.reward"
                        :max-width="mobileChange('coinIcon')"
                        :height="mobileChange('coinIcon')"
                        contain
                        :src="pageData.trial.rewardIconSrc"
                    ></v-img>
                    <span v-if="pageData.trial.reward" class="colorTextOrange--text text-h5 text-md-h4 ml-2 ml-md-4 font-weight-medium"
                        >{{ pageData.trial.reward }}</span
                    >
                </div>
                <div>
                    <v-btn
                        color="colorCoin"
                        class="rounded-pill text-body-2 text-md-body-1 colorReceive--text mt-3 top-box-getaward"
                        @click="handlerAward"
                        >{{LangUtil('领取奖励')}}</v-btn
                    >
                </div>
                <div class="d-flex mt-3 flex-wrap">
                    <v-btn color="colorTextBlue2" class="rounded-pill top-box-btn px-6 my-1 mx-1" @click="jumpTo('#howMine')"
                        >{{LangUtil('说明')}}</v-btn
                    >
                    <v-btn color="colorTextBlue2" class="rounded-pill top-box-btn px-6 my-1 mx-1" @click="handlerMineRecord"
                        >{{LangUtil('奖励记录')}}
                    </v-btn>
                    <v-btn color="colorTextBlue2" class="rounded-pill top-box-btn px-6 my-1 mx-1" @click="handlerBetRecord"
                        >{{LangUtil('投注记录')}}</v-btn
                    >
                </div>
            </v-sheet>
        </div>
    </v-sheet>

    <!-- 如何挖矿 PC-->
    <v-sheet color="transparent" class="mt-8" id="howMine" v-if="!$vuetify.breakpoint.mobile">
        <span class="text-h6 text-md-h5">{{LangUtil('如何挖矿')}} </span>
        <p class="ma-0 mt-1 ml-2 ml-md-0 text-caption text-md-body-1 colorBlue--text">
            {{LangUtil('您的有效投注额及被推荐好友投注都会产生收益，投注越多个人洗码越高，好友越多洗码收益越丰厚。')}}
        </p>
        <v-row class="mt-4" no-gutters>
            <!-- 01 -->
            <v-col cols="12" md="4" class="how_item mb-2 mb-md-0">
                <v-card
                    width="100%"
                    color="colorPanelBg2"
                    class="linear_bg rounded-xl py-2 px-4 pa-md-5 pa-md-8 px-md-9 pa-md-6 d-flex flex-wrap flex-column justify-space-between"
                    height="100%"
                >
                    <v-card-title class="pa-0 order-1">
                        <v-img
                            :max-width="mobileChange('howIcon')"
                            :height="mobileChange('howIcon')"
                            contain
                            class="mr-1 mr-md-4 how_icon"
                            src="~@/assets/mine/about_01_icon.png"
                        ></v-img>
                        <div class="d-flex flex-column how_title_box">
                            <span class="text-md-h5 how_num colorCoin--text font-weight-medium mb-md-2">01</span>
                            <span class="how_title font-weight-medium">{{LangUtil('享受游戏之旅')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2">
                        <span class="text-caption text-md-body-2 colorBlue--text"
                            >{{LangUtil('参与你最喜欢的游戏，并不断累计有效投注额，推荐的好友以及他的好友产生的投注额都会增加你的洗码等级。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3 mt-2 mt-mb-0 how_btn">
                        <v-btn
                            :min-width="mobileChange('howBtn').w"
                            :height="mobileChange('howBtn').h"
                            color="colorHowBtn"
                            @click="onGoBet"
                            class="rounded-pill"
                            >{{LangUtil('去投注')}}</v-btn
                        >
                    </v-card-actions>
                </v-card>
            </v-col>
            <!-- 02 -->

            <v-col cols="12" md="4" class="how_item px-md-1 mb-2 mb-md-0">
                <v-card
                    width="100%"
                    color="colorPanelBg2"
                    class="linear_bg rounded-xl py-2 px-4 pa-md-5 pa-md-8 px-md-9 pa-md-6 d-flex flex-wrap flex-column justify-space-between"
                    height="100%"
                >
                    <v-card-title class="pa-0 order-1">
                        <v-img
                            :max-width="mobileChange('howIcon')"
                            :height="mobileChange('howIcon')"
                            contain
                            class="mr-1 mr-md-4 how_icon"
                            src="~@/assets/mine/about_02_icon.png"
                        ></v-img>
                        <div class="d-flex flex-column how_title_box">
                            <span class="text-md-h5 how_num colorCoin--text font-weight-medium mb-md-2">02</span>
                            <span class="how_title font-weight-medium">{{LangUtil('领取个人洗码')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2">
                        <span class="text-caption text-md-body-2 colorBlue--text"
                            >{{LangUtil('个人有效投注额乘以洗码比例，即为个人洗码，该收益将自动发放到洗码页面，可随时领取到USDT钱包。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3 mt-2 mt-mb-0 how_btn">
                        <v-btn
                            :min-width="mobileChange('howBtn').w"
                            :height="mobileChange('howBtn').h"
                            color="colorHowBtn"
                            @click="onGoBet"
                            class="rounded-pill"
                            >{{LangUtil('去领取')}}</v-btn
                        >
                    </v-card-actions>
                </v-card>
            </v-col>

            <!-- 03 -->
            <v-col cols="12" md="4" class="how_item mb-6 mb-md-0">
                <v-card
                    width="100%"
                    color="colorPanelBg2"
                    class="linear_bg rounded-xl py-2 px-4 pa-md-5 pa-md-8 px-md-9 pa-md-6 d-flex flex-wrap flex-column justify-start"
                    height="100%"
                >
                    <v-card-title class="pa-0 order-1">
                        <v-img
                            :max-width="mobileChange('howIcon')"
                            :height="mobileChange('howIcon')"
                            contain
                            class="mr-1 mr-md-4"
                            src="~@/assets/mine/about_03_icon.png"
                        ></v-img>
                        <div class="d-flex flex-column liheight">
                            <span class="text-md-h5 how_num colorCoin--text font-weight-medium mb-md-2">03</span>
                            <span class="how_title font-weight-medium">{{LangUtil('自动结算')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2">
                        <span class="text-caption text-md-body-2 colorBlue--text  text-18">
                            <pre>{{LangUtil('次日上午6点-9点平台系统自动结算前一天的返水余额，系统自动发放后可至返水历史中查看记录。')}}</pre>
                        </span>
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3"> </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-sheet>

    <!-- 如何挖矿 Mobile-->
    <v-sheet color="colorBackgroundGray" class="mt-2 pa-2 mb-2" id="howMine" v-else>
        <div class="d-flex align-center ml-n3 mb-1">
            <v-img src="@/_skin001/assets/icon/icon_blue.png" :max-height="15" :max-width="15" class="mr-1 rotate"> </v-img>
            <span class="colorTextBlack--text">{{LangUtil('如何挖矿')}} </span>
        </div>
        <p class="colorTextBlack1--text ma-0">
            {{LangUtil('您的有效投注额及被推荐好友投注都会产生收益，投注越多个人洗码越高，好友越多洗码收益越丰厚。')}}
        </p>
        <v-row class="mt-2" dense>
            <!-- 01 -->
            <v-col cols="12" md="4">
                <v-card
                    width="100%"
                    color="#fff"
                    class="rounded pa-4 d-flex flex-wrap flex-column justify-space-between align-center"
                    height="100%"
                >
                    <v-sheet color="transparent" class="pa-0 d-flex align-center justify-space-between" width="100%">
                        <v-img :max-width="50" :height="50" contain class="mr-3" src="~@/assets/mine/about_01_icon.png"></v-img>
                        <div class="d-flex flex-column text-14">
                            <span class="colorTextOrange--text font-weight-medium">01</span>
                            <span class="colorTextBlack1--text font-weight-medium">{{LangUtil('享受游戏之旅')}}</span>
                        </div>
                        <v-spacer />
                        <v-btn :min-width="110" :height="40" color="colorTextBlue2" @click="onGoBet" class="rounded-pill ml-auto"
                            >{{LangUtil('去投注')}}</v-btn
                        >
                    </v-sheet>
                    <v-card-text class="px-0 pb-0">
                        <span class="colorTextBlack1--text"
                            >{{LangUtil('参与你最喜欢的游戏，并不断累计有效投注额，推荐的好友以及他的好友产生的投注额都会增加你的洗码等级。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0"> </v-card-actions>
                </v-card>
            </v-col>

            <!-- 02 -->
            <v-col cols="12" md="4">
                <v-card
                    width="100%"
                    color="#fff"
                    class="rounded pa-4 d-flex flex-wrap flex-column justify-space-between align-center"
                    height="100%"
                >
                    <v-sheet color="transparent" class="pa-0 d-flex align-center justify-space-between" width="100%">
                        <v-img :max-width="50" :height="50" contain class="mr-3" src="~@/assets/mine/about_02_icon.png"></v-img>
                        <div class="d-flex flex-column text-14">
                            <span class="colorTextOrange--text font-weight-medium">02</span>
                            <span class="colorTextBlack1--text font-weight-medium">{{LangUtil('领取个人洗码')}}</span>
                        </div>
                        <v-spacer />
                        <v-btn :min-width="110" :height="40" color="colorTextBlue2" @click="onGoBet" class="rounded-pill ml-auto"
                            >{{LangUtil('去领取')}}</v-btn
                        >
                    </v-sheet>
                    <v-card-text class="px-0 pb-0">
                        <span class="colorTextBlack1--text"
                            >{{LangUtil('个人有效投注额乘以洗码比例，即为个人洗码，该收益将自动发放到洗码页面，可随时领取到USDT钱包。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0"> </v-card-actions>
                </v-card>
            </v-col>

            <!-- 03 -->
            <v-col cols="12" md="4">
                <v-card
                    width="100%"
                    color="#fff"
                    class="rounded pa-4 d-flex flex-wrap flex-column justify-space-between align-center"
                    height="100%"
                >
                    <v-sheet color="transparent" class="pa-0 d-flex align-center justify-space-between" width="100%">
                        <v-img :max-width="50" :height="50" contain class="mr-3" src="~@/assets/mine/about_03_icon.png"></v-img>
                        <div class="d-flex flex-column text-14">
                            <span class="colorTextOrange--text font-weight-medium">03</span>
                            <span class="colorTextBlack1--text font-weight-medium">{{LangUtil('自动结算')}}</span>
                        </div>
                        <v-spacer />
                    </v-sheet>
                    <v-card-text class="px-0 pb-0">
                        <span class="colorTextBlack1--text font-weight-bold text-18">
                            <pre>{{LangUtil('次日上午6点-9点平台系统自动结算前一天的返水余额，系统自动发放后可至返水历史中查看记录。')}}</pre>
                        </span>
                    </v-card-text>
                    <v-card-actions class="pa-0"> </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-sheet>
    <Question :questions="fagProxy.qData.type2" class="mt-md-9"></Question>
</v-container>
