<v-sheet v-if="!$mobile" height="74" color="head_color" elevation="0" width="100%" class="header mx-0 d-flex align-center">
    <v-sheet class="d-flex align-center" width="100%" color="transparent">
        <v-img v-if="!SkinVariable.isShowfullLogo && isMini" class="ml-4" max-width="42" :src="commonIcon.logo_m"></v-img>
        <v-img
            v-if="SkinVariable.isShowfullLogo && isMini"
            class="ml-0 mr-n4"
            max-width="112"
            max-height="42"
            :src="commonIcon.logo"
        ></v-img>

        <v-sheet v-if="isSearchGameShow" color="transparent">
            <v-sheet color="transparent" class="d-flex ml-4 head_btn_top">
                <v-btn
                    text
                    class="mr-6"
                    height="36"
                    :ripple="false"
                    min-width="30"
                    :disabled="myProxy.pagetab == 0"
                    @click="onTimeChange(0)"
                >
                    <span class="text-14"> {{LangUtil("首页")}} </span>
                </v-btn>
                <template v-if="head_game_config && head_game_config.length >0">
                    <template v-for="(item, index) of head_game_config">
                        <v-btn
                            v-if="!(item.is_only_mob && item.is_only_mob == 1)"
                            :key="index"
                            text
                            class="mr-6"
                            height="36"
                            :ripple="false"
                            min-width="30"
                            :disabled="myProxy.pagetab == index+1"
                            @click="onHeadgameClick(item)"
                        >
                            <span class="text-14"> {{LangUtil(item['title'])}} </span>
                        </v-btn>
                    </template>
                </template>
                <template v-else>
                    <v-btn
                        text
                        v-if="ModulesHelper.IsShow_FootBall()"
                        class="mr-6"
                        height="36"
                        :ripple="false"
                        min-width="30"
                        :disabled="myProxy.pagetab == 1"
                        @click="onTimeChange(1)"
                    >
                        <span class="text-14"> {{LangUtil("体育运动")}} </span>
                    </v-btn>
                    <v-btn
                        text
                        v-if="isShowCricket"
                        class="mr-6"
                        height="36"
                        :ripple="false"
                        min-width="30"
                        :disabled="myProxy.pagetab == 22"
                        @click="onTimeChange(22)"
                    >
                        <span class="text-14"> {{LangUtil("板球")}} </span>
                    </v-btn>
                </template>
                <v-btn
                    text
                    v-if="isShowStatistice"
                    class="mr-6"
                    height="36"
                    :ripple="false"
                    min-width="30"
                    :disabled="myProxy.pagetab == 11"
                    @click="onTimeChange(11)"
                >
                    <span class="text-14"> {{LangUtil("代理管理")}} </span>
                </v-btn>
            </v-sheet>
        </v-sheet>

        <v-sheet color="transparent" class="d-flex align-center" width="100%" min-width="100" v-if="$vuetify.breakpoint.width >= 1264">
            <Marquee1 v-if="isSearchGameShow" />
        </v-sheet>
        <template v-if="isSearchGameShow">
            <v-sheet color="transparent" class="d-flex align-center pr-4">
                <template v-if="selfProxy.userInfo.user_id">
                    <User />
                    <Wallet class="ml-5" />
                    <!-- <btn-yellow v-if="isShowRecharge" btn_type="10" class="btn-topup ml-4 text-16" height="36" min_width="36" @click.native="onCoinIn"> -->
                    <!-- {{LangUtil("钱包")}} -->
                    <!-- </btn-yellow> -->
                    <v-btn v-if="isShowRecharge" icon class="ml-4" @click="onCoinIn" width="28" height="28">
                        <SvgaPlayer class="svga-player" id="wallet" :src="resolveSvgaSrc('wallet')"></SvgaPlayer>
                    </v-btn>

                    <v-btn v-if="ModulesHelper.isShow_Kefu()" icon small @click="onService" class="navIcon--text ml-4">
                        <svg-icon class="text-24" icon="service"></svg-icon>
                    </v-btn>
                    <!-- <v-badge color="red" dot :value="red_dot_tips.is_user_mail>0" overlap> -->
                    <v-badge
                        color="red"
                        overlap
                        :content="red_dot_tips.is_user_mail_num.num"
                        :value="red_dot_tips.is_user_mail_num.status==2 && red_dot_tips.is_user_mail_num.num"
                    >
                        <v-btn class="ml-4 navIcon--text" icon small @click="handlerMail">
                            <svg-icon class="text-24" icon="mail"></svg-icon>
                        </v-btn>
                    </v-badge>
                </template>

                <template v-else>
                    <btn-yellow
                        v-if="GlobalVar.instance.isShowLogin"
                        class="ml-3 text-16"
                        height="36"
                        min_width="72"
                        @click.native="handlerLogin"
                        >{{LangUtil("登录")}}</btn-yellow
                    >
                    <btn-yellow
                        v-if="GlobalVar.instance.isShowRegiter"
                        class="ml-3 text-16"
                        height="36"
                        min_width="72"
                        :btn_type="2"
                        @click.native="handlerRegister"
                        >{{LangUtil("注册")}}</btn-yellow
                    >
                    <v-btn v-if="ModulesHelper.isShow_Kefu()" class="ml-3" icon small @click="onService">
                        <svg-icon class="text-24" icon="service"></svg-icon>
                    </v-btn>
                </template>
            </v-sheet>
        </template>

        <GameSearch v-if="ModulesHelper.isShow_SearchGame()" @gameSearchChange="onchangeGameSearch" class="mr-2 ml-2" />
    </v-sheet>
</v-sheet>

<!-- v-app-bar  -->
<!-- 手机版的显示 -->
<v-app-bar v-else height="90" color="head_color" elevation="0" width="100%" class="header mx-0 d-flex flex-column align-center justify-center" :app="isShowHeader">
    <v-sheet color="transparent" width="100%" class="d-flex flex-column align-center justify-center">
    <v-sheet class="d-flex align-center" color="transparent" width="100%">
        <v-sheet color="transparent" class="d-flex align-center">
            <v-sheet color="transparent" @click="showNovPanel">
                <svg-icon icon="menu" class="text-22 mr-2"></svg-icon>
            </v-sheet>
            <v-sheet color="transparent" @click="goHome">
                <v-img v-if="!SkinVariable.isShowfullLogo" class="mr-2" max-width="36" :src="commonIcon.logo_m"></v-img>
                <v-img v-else class="mx-n4" max-width="94" max-height="26" :src="commonIcon.logo"></v-img>
            </v-sheet>
        </v-sheet>
        <!-- <btn-yellow height="36" min_width="72"
                    @click.native="ontestin">{{LangUtil("钱包")}}</btn-yellow> -->
        <!-- 登录 -->
        <v-sheet color="transparent" class="d-flex justify-end align-center" width="100%">
            <template v-if="isSearchGameShow">
                <template v-if="selfProxy.userInfo.user_id">
                    <v-sheet color="transparent" class="d-flex align-center" width="100%">
                        <v-sheet color="transparent">
                            <Wallet class="ml-2" min-width="120" />
                        </v-sheet>
                        <!-- <User /> -->
                        <v-spacer />
                        <v-btn v-if="ModulesHelper.isShow_Kefu() && SkinVariable.systemKefuTop" class="mr-2" icon small @click="onService">
                            <svg-icon class="text-24 head_btn--text" icon="service"></svg-icon>
                        </v-btn>
                        <v-badge
                            color="red"
                            overlap
                            :content="red_dot_tips.is_user_mail_num.num"
                            :value="red_dot_tips.is_user_mail_num.status==2 && red_dot_tips.is_user_mail_num.num"
                        >
                            <v-btn icon small @click="handlerMail">
                                <svg-icon class="text-24 head_btn--text" icon="mail"></svg-icon>
                            </v-btn>
                        </v-badge>

                        <v-btn class="ml-2" icon small @click="onUserBtnClick">
                            <svg-icon class="text-24 head_btn--text" icon="my_info"></svg-icon>
                        </v-btn>

                    </v-sheet>
                </template>
                <!-- 未登录 -->
                <template v-else>
                    <btn-yellow
                        v-if="GlobalVar.instance.isShowLogin"
                        class="ml-3 text-14"
                        height="30"
                        :min_width="60"
                        @click.native="handlerLogin"
                        >{{LangUtil("登录")}}</btn-yellow
                    >
                    <!-- <v-sheet color="transparent" class="btn_regi"> -->
                    <btn-yellow
                        v-if="GlobalVar.instance.isShowRegiter"
                        class="ml-3 text-14"
                        height="30"
                        :min_width="60"
                        :btn_type="2"
                        @click.native="handlerRegister"
                        >{{LangUtil("注册")}}</btn-yellow
                    >
                    <!-- </v-sheet> -->

                    <v-btn v-if="ModulesHelper.isShow_Kefu() && SkinVariable.systemKefuTop" class="ml-3" icon small @click="onService">
                        <svg-icon class="text-24 head_btn--text" icon="service"></svg-icon>
                    </v-btn>
                </template>
            </template>
            <!-- <v-btn class="mr-n4 ml-2" icon small @click="onSearch">
                <svg-icon class="text-24 head_btn--text" icon="search"></svg-icon>
            </v-btn> -->


        </v-sheet>
       
    </v-sheet>
    
    <v-sheet color="transparent" width="100%" class="mt-2">
        <GameSearch class="" />
    </v-sheet>
   
</v-sheet>
</v-app-bar>
