<v-footer color="footer">
    <v-container class="font-weight-bold">
        <div class="d-flex">
            <div>
                <div class="text-16 mb-1">{{LangUtil("egame")}}</div>
                <div class="d-flex">
                    <div class="mr-4" @click="goContact"><a class="bTextColor5">{{LangUtil("关于我们")}}</a></div>
                    <div class="mr-4" @click="openLink(LangUtil('客服链接'))">
                        <a class="bTextColor5">{{LangUtil("联系我们")}}</a>
                    </div>
                    <div class="mr-4" @click="goService"><a class="bTextColor5">{{LangUtil("服务条款")}}</a></div>
                </div>
               <!--  <div class="text-16 mt-4 mb-1">{{LangUtil("数字货币交易")}}</div>
                <div class="d-flex">
                    <div class="mr-4" @click="openLink(LangUtil('法币教程链接'))">
                        <a class="info--text">{{LangUtil("如何购买数字货币")}}</a>
                    </div>
                    <div class="mr-4" @click="openLink(LangUtil('售币教程链接'))">
                        <a class="info--text">{{LangUtil("如何出售数字货币")}}</a>
                    </div>
                </div> -->
            </div>
            <v-spacer />
            <div>
                <div class="text-16 mb-1">{{LangUtil("游戏提供商")}}</div>
                <div class="d-flex align-center mr-2" style="display: grid; gap: 25px; width: 100%">
                    <img width="74" height="24" src="@/_skin100/assets/footer/footer-1.png" />
                    <img width="114" height="24" src="@/_skin100/assets/footer/footer-2.png" />
                    <img width="74" height="24" src="@/_skin100/assets/footer/footer-3.png" />
                    <img width="84" height="24" src="@/_skin100/assets/footer/footer-4.png" />
                    <img width="62" height="24" src="@/_skin100/assets/footer/footer-5.png" />
                    <img width="88" height="24" src="@/_skin100/assets/footer/footer-6.png" />
                    <img width="98" height="24" src="@/_skin100/assets/footer/footer-7.png" />
                </div>
            </div>
        </div>

 <!-- <div class="d-flex mt-10">
            <div>
                <div class="text-16 line-height-50">关注我们</div>
                <div class="d-flex">
                    <a class="mr-3 mt-4" href="https://www.facebook.com/J9.comOfficial" target="_blank">
                        <img
                            width="40"
                            height="40"
                            src="@/_skin100/assets/footer/icon-1.png"
                        ></img>
                    </a>
                    <a class="mr-3 mt-4" href="https://twitter.com/j9_global" target="_blank">
                        <img
                        width="40"
                        height="40"
                        src="@/_skin100/assets/footer/icon-2.png"
                    ></img>
                    </a>
                    <a class="mr-3 mt-4" href="https://discord.gg/j9" target="_blank">
                        <img
                        width="40"
                        height="40"
                        src="@/_skin100/assets/footer/icon-3.png"
                    ></img>
                    </a>
                    <a class="mr-3 mt-4" href="https://www.youtube.com/channel/UCeSeVP33svVOxFiWm2dMCbg" target="_blank">
                        <img
                        width="40"
                        height="40"
                        src="@/_skin100/assets/footer/icon-4.png"
                    ></img>
                    </a>
                    <a class="mr-3 mt-4" href="https://tiktok.com/@j9cryptogaming" target="_blank">
                        <img
                        width="40"
                        height="40"
                        src="@/_skin100/assets/footer/icon-5.png"
                    ></img>
                    </a>
                    <a class="mr-3 mt-4" href="https://www.instagram.com/j9_global/" target="_blank">
                        <img
                            width="40"
                            height="40"
                            src="@/_skin100/assets/footer/icon-6.png"
                        ></img>
                    </a>
                </div>
            </div>
            <v-spacer />
            <div>
                <div class="text-16 line-height-50">资质认证</div>
                <div class="d-flex">
                    <a class="mr-3 mt-4" href="" target="_blank">
                        <img
                        width="128"
                        height="48"
                        src="@/_skin100/assets/footer/icon-8.png"
                    ></img>
                    </a>
                    <a class="mr-3 mt-4" href="" target="_blank">
                        <img
                            width="40"
                            height="40"
                            src="@/_skin100/assets/footer/icon-9.png"
                        ></img>
                    </a>
                </div>
            </div>
            <v-spacer />
            <div>
                <div class="text-16 line-height-50">合作伙伴</div>
                <div class="d-flex">
                    <a class="mr-3 mt-2" href="" target="_blank">
                        <img
                        width="120"
                        height="56"
                        src="@/_skin100/assets/footer/icon-10.png"
                    ></img>
                    </a>
                    <a class="mr-3 mt-4" href="" target="_blank">
                        <img
                        width="150"
                        height="32"
                        src="@/_skin100/assets/footer/icon-11.png"
                    ></img>
                    </a>
                </div>
            </div>
            <v-spacer />
            <div>
                <div class="text-16 line-height-50">语言切换</div>
                <v-menu top offset-y class="mt-4">
                    <template v-slot:activator="{ on, attrs }">
                        <v-sheet
                            class="text-16 d-flex justify-center cursor-pointer mt-4 py-3 px-4"
                            style="border-radius: 8px"
                            color="#2f3d58"
                            width="172"
                            v-bind="attrs"
                            v-on="on"
                        >
                            <div class="icon-box iconfont text-16 mr-1"></div>
                            <div class="text-16 line-height-50">{{ (LangConfig.language[core.lang] && LangConfig.language[core.lang].name) || LangConfig.language[core.lang] }}</div>
                        </v-sheet>
                    </template>
                    <v-list color="#324466" elevation="0">
                        <v-list-item v-for="(item, key) of LangConfig.language" :key="key" @click="onChange(key)">
                            <v-list-item-title class="d-flex cursor-pointer">
                                <div class="icon-box iconfont select-icon lang-color">{{item.name || item}}</div>
                                <v-spacer />
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
        </div> -->
        <p class="website-info">{{LangUtil("网页底部信息说明")}}</p>
        <div class="all-rights-reserved">{{LangUtil("网页底部公司说明")}}</div>
        <div class="all-rights-reserved">version:{{getVersion()}}</div>
        <div class="all-rights-reserved">{{getChannelID()}}</div>
    </v-container>
</v-footer>
