<v-sheet :width="width" color="transparent">
    <v-menu offset-y nudge-bottom="5">
        <template v-slot:activator="{ on, attrs }">
            <v-sheet
                class="d-flex align-center rounded-lg px-1 white--text"
                :rounded="isPill ? 'pill':''"
                width="100%"
                :height="height"
                color="colorPanelTitleBg"
                v-bind="attrs"
                v-on="on"
            >
                <img
                    v-if="icons"
                    class="mr-1"
                    :width="iconSize"
                    :src="(icons[selectValue] && icons[selectValue].icon) || icons[selectValue]"
                />
                <div class="text-truncate" style="width:100%" :class="'text-'+fontSize">
                    {{ (options[selectValue] && options[selectValue].name) || options[selectValue] }}
                </div>
                <v-spacer/>
                <div
                    v-if="options && Object.keys(options).length > 1 && !$vuetify.breakpoint.xsOnly"
                    class="icon-box iconfont ml-4 mr-4 text-14"
                    :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                >
                    
                </div>

                <div
                    v-if="options && Object.keys(options).length > 1 && $vuetify.breakpoint.xsOnly"
                    class="icon-box iconfont mr-4 text-14"
                    :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                >
                    
                </div>

            </v-sheet>
        </template>
        <v-sheet
            class="rounded-lg py-2 scroll-y"
            max-height="420"
            color="colorPanelTitleBg"
            v-if="options && Object.keys(options).length > 1"
        >
            <div class="d-flex align-center listitem pl-4 cursor-pointer" v-for="(item, key) of options" :key="key" @click="onChange(key)">
                <v-img v-if="icons" class="mr-2" :src="icons[key].icon || icons[key]" max-width="20" height="20"></v-img>
                <div>{{ item.name || item }}</div>
            </div>
        </v-sheet>
    </v-menu>
</v-sheet>
