<v-container class="page_mine">
    <v-row no-gutters>
        <v-col cols="12" md="5" lg="5" class="mt-3  mt-md-1 pr-md-5 order-2 order-md-1">
            <v-card color="colorTitleBg" class="rounded-xl pt-5 pb-2  left_bg" width="100%" height="100%">
                <span class="colorTextBlueLight--text pt-1 text-h5 font-weight-medium pl-md-3 px-5 mine_level_title pl-md-5">{{LangUtil('挖矿等级')}}</span>
                <v-row no-gutters class="mt-3 mt-md-4">
                    <v-col cols="4" md="4" lg="3" class="pl-md-2 mt-n9 mt-md-n0 pl-5 ml-n4 ml-md-n0 pl-md-5 d-flex justify-center">
                        <v-img :max-width="mobileChange('leftBgVipIcon').w"  contain :src="vipMap[pageData.vipLevel]"></v-img>
                    </v-col>
                    <v-col cols="8" md="8" lg="9" class="mb-3 ml-n3 ml-md-n0 d-flex flex-column align-start justify-center text-caption text-sm-body-2 text-lg-body-1">
                        <v-sheet width="100%" class="text-h6 text-body-1 text-md-h5 mb-1 d-flex align-center justify-space-between px-2" color="transparent">
                            VIP {{ pageData.vipLevel }}
                            <span class="text-body-2 text-md-body-1 mt-md-3 mr-n3 mr-md-0 colorTextBlueLight--text text-decoration-underline cursop_pointer" @click="jumpTo('#vipLevel')">{{LangUtil('查看所有等级')}}</span>
                        </v-sheet>
                        <v-sheet width="100%" color="transparent" class="">
                            <v-progress-linear :value="pageData.vipProgress" color="colorYellowBg" :height="progressLinear" class="rounded-xl"></v-progress-linear>
                            <div class="text-body-2 text-md-body-1 ma-0 ml-2 mt-1 mt-md-3">
                                <p class="white--text" v-if="pageData.vipLevel ==  pageData.vipMaxLevel">{{LangUtil('您已经升级早最高等级')}} </p>
                                <span v-if="pageData.vipLevel !=  pageData.vipMaxLevel && (pageData.nextExp > 0 || pageData.nextUSDT > 0)">{{LangUtil('距离下一个等级还差')}} </span>
                                <span class="white--text" v-if="pageData.nextExp > 0">
                                    <span class="colorYellowBg--text">{{ pageData.nextExp }}</span>{{LangUtil('有效流水')}} </span>
                                </span>
                                <span class="white--text" v-if="pageData.nextUSDT > 0">
                                    <span class="colorYellowBg--text">{{ pageData.nextUSDT }}</span> USDT{{LangUtil('充值')}}</span>
                                </span>
                            </div>
                        </v-sheet>
                    </v-col>
                  
                    <v-col class="d-flex mb-1 mb-md-0 mt-md-16 down_box px-2">
                        <v-row no-gutters class="mt-3 px-md-0">
                            <v-col cols="6" md="12" lg="6" class="pl-1 pt-md-2 pl-md-0 pl-lg-1 pt-lg-0" v-if="pageData.backwaterConfigMain.now > 0">
                                <v-sheet color="colorBorderBlue" outlined class="rounded-lg px-2 px-md-4 pt-2 pb-1 next_group">
                                    <div class="d-flex align-center align-md-start">
                                        <v-img max-width="25" height="26" contain :src="pageData.platCoins.mainCoin.icon"></v-img>
                                        <span class="colorTextBlueLight--text text-body-2 text-md-body-1 ml-2 next_title">{{ pageData.platCoins.mainCoin.name }}{{LangUtil('返水')}}</span>
                                    </div>
                                    <div class="d-flex align-center justify-space-between mt-1 mt-md-3">
                                        <span class="colorTextGreen--text text-h6 text-md-h5">{{ pageData.backwaterConfigMain.now }}</span>
                                        <v-img max-width="40" height="22" contain src="~@/assets/mine/arrow_icon.png"></v-img>
                                        <span class="colorTextNext--text text-h6 text-md-h5">{{ pageData.backwaterConfigMain.next }}</span>
                                    </div>
                                </v-sheet>
                            </v-col>
                            <v-col cols="6" md="12" lg="6" class="pl-1 pt-md-2 pl-md-0 pl-lg-1 pt-lg-0" v-if="pageData.backwaterConfigReward.now > 0">
                                <v-sheet color="colorBorderBlue" outlined class="rounded-lg px-2 px-md-4 pt-2 pb-1 next_group">
                                    <div class="d-flex align-center align-md-start">
                                        <v-img max-width="25" height="26" contain :src="pageData.platCoins.rewardCoin.icon"></v-img>
                                        <span class="colorTextBlueLight--text text-body-2 text-md-body-1 ml-2 next_title">{{ pageData.platCoins.rewardCoin.name }}{{LangUtil('挖矿')}} </span>
                                    </div>
                                    <div class="d-flex align-center justify-space-between mt-1 mt-md-3">
                                        <span class="colorTextGreen--text text-h6 text-md-h5">{{ pageData.backwaterConfigReward.now }}%</span>
                                        <v-img max-width="40" height="22" contain src="~@/assets/mine/arrow_icon.png"></v-img>
                                        <span class="colorTextNext--text text-h6 text-md-h5">{{ pageData.backwaterConfigReward.next }}</span>
                                    </div>
                                </v-sheet>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
        <v-col cols="12" md="7" lg="7" class="d-flex mt-1  order-1 order-md-2">
            <v-card class="right_banner pl-5 pr-5 pr-md-0 pt-5 pb-0 rounded-xl" width="100%" height="100%">
                <v-card-text class="pa-0">
                    <v-row no-gutters>
                        <v-col cols="4">
                            <span class="game_mine_title colorTextPurple--text pt-1 text-h6 text-md-h5 pl-0  font-weight-medium">{{LangUtil('游戏挖矿')}}</span>
                            <v-img class="cat_icon mt-4" max-width="280" height="296" contain src="~@/assets/mine/cat_icon.png"></v-img>
                        </v-col>
                        <v-col cols="8" class="text-body-2 ml-n4 pl-0 pl-md-7 pl-md-0 text-md-body-1 game_mine_info">
                        
                            <div class="mt-11 mt-md-8">
                                <p class="ma-0 text-body-1 colorTextBlueLight--text"> {{LangUtil('今日挖矿待领取收益')}}</p>
                                <p class="ma-0 text-body-2 text-md-body-1 colorTextPurple--text">{{ pageData.trial.date }} 00:00:00～23:59:59</p>
                            </div>
                        
                            <div class="d-flex align-center mt-3 mt-md-11 coins_group elevation='2'">
                                <!-- 主币 -->
                                <v-img v-if="pageData.trial.main" :max-width="mobileChange('coinIcon')" :height="mobileChange('coinIcon')" contain :src="pageData.trial.mainIconSrc"></v-img>
                                <span v-if="pageData.trial.main" class="colorTextGold--text text-h5 text-md-h4 ml-2 ml-md-4 mr-4 mr-md-8 font-weight-medium">{{ pageData.trial.main }}</span>
                                <!-- 奖励币 -->
                                <v-img v-if="pageData.trial.reward" :max-width="mobileChange('coinIcon')" :height="mobileChange('coinIcon')" contain :src="pageData.trial.rewardIconSrc"></v-img>
                                <span v-if="pageData.trial.reward" class="colorTextGold--text text-h5 text-md-h4 ml-2 ml-md-4 font-weight-medium">{{ pageData.trial.reward }}</span>
                            </div>

                            <v-btn :width="mobileChange('minRewardBtn').w" :height="mobileChange('minRewardBtn').h" color="colorCoin" plain class="rounded-pill text-body-2 text-md-body-1 get_award mt-2 mt-md-6"  @click="handlerAward">{{LangUtil('领取奖励')}}</v-btn>
                            <div class="d-none d-md-flex justify-md-end btn_group mt-9 mb-6 right_btn_group">
                                <v-btn color="colorPurpleBtn" height="42" min-width="85" class="rounded-pill text-body-1" @click="jumpTo('#howMine')">
                                    {{LangUtil('说明')}}
                                </v-btn>
                                <v-btn color="colorPurpleBtn" height="42" min-width="127" class="rounded-pill text-body-1 mx-2" @click="handlerMineRecord">{{LangUtil('奖励记录')}} </v-btn>
                                <v-btn color="colorPurpleBtn" height="42" min-width="127" class="rounded-pill text-body-1" @click="handlerBetRecord">{{LangUtil('投注记录')}}</v-btn>
                            </div>
                        </v-col>
                        <v-col cols="12" class="d-flex d-md-none justify-space-around btn_group mb-md-6 right_btn_group  mt-9">
                            <!-- 手机显示 -->
                            <v-btn color="colorPurpleBtn" height="30" min-width="90" class="rounded-pill text-caption" @click="jumpTo('#howMine')">
                                {{LangUtil('说明')}}
                            </v-btn>
                            <v-btn color="colorPurpleBtn" height="30" min-width="90" class="rounded-pill text-caption" @click="handlerMineRecord">{{LangUtil('奖励记录')}}</v-btn>
                            <v-btn color="colorPurpleBtn" height="30" min-width="90" class="rounded-pill text-caption" @click="handlerBetRecord">{{LangUtil('投注记录')}}</v-btn>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
    <!-- vip 等级 -->
    <v-sheet color="transparent" class="mt-8 mx-auto" max-width="1430" id="vipLevel" >
        <span class="text-h6 text-md-h5 ">{{LangUtil('VIP等级')}} </span>
        <p class="ma-0 mt-1 ml-2 ml-md-0 text-caption text-md-body-1 colorBlue--text">
            {{LangUtil('个人投注额和好友投注额增加时会提高洗码等级，业绩与洗码等级的关系如下图所示，最高级可达0.9%洗码。')}}
        </p>
        
        <v-slide-group class="mt-10" show-arrows v-if="!xsOnly">
            <v-slide-item v-for="(item, level) of pageData.vipConfig" :key="level">
                <v-card color="transparent">
                    <v-sheet color="transparent" height="277">
                        <v-img max-width="160" width="160" height="100%" class="mx-2" contain src="~@/assets/mine/item_bg.png">
                            <v-img mxx-width="80" width="80" contain class="ml-10" :src="vipMap[level+1]"></v-img>
                            <div class="d-flex flex-column mt-n3 justify-center align-center pt-2 text-body-1">
                                <div class="mt-1 mb-2">VIP {{ myProxy.getVipLevel(level) }}</div>
                                <div class="d-flex flex-column mt-n3 justify-center align-center vip_config_box">
                                    <div class="mt-1 font-weight-medium colorVipLevelText--text" v-if="item.backwater_config[2].backwater_rate > 0">{{ pageData.platCoins.mainCoin.name }}{{LangUtil('返水')}}</div>
                                    <div class="mt-1 font-weight-medium colorCoin--text text-h5" v-if="item.backwater_config[2].backwater_rate > 0">{{(item.backwater_config[2].backwater_rate * 100).toFixed(3)}}%</div>
                                    <div class="mt-1 font-weight-medium colorVipLevelText--text" v-if="item.backwater_config[3].backwater_rate > 0">{{ pageData.platCoins.rewardCoin.name }}{{LangUtil('挖矿')}}</div>
                                    <div class="mt-1 font-weight-medium colorCoin--text text-h5" v-if="item.backwater_config[3].backwater_rate > 0">{{(item.backwater_config[3].backwater_rate * 100).toFixed(3)}}%</div>
                                </div>
                            </div>
                        </v-img>
                    </v-sheet>
                </v-card>
            </v-slide-item>
        </v-slide-group>
        <div v-else class="mt-3">
            <!-- 手机 -->
            <v-sheet v-for="(item, level) of pageData.vipConfig" :key="level" color="transparent" class="level_box rounded_customized py-2 d-flex justify-space-around mb-1">
                <div class="d-flex align-center">
                    <v-img max-width="62" contain :src="vipMap[level+1]" class="mobile_level_icon"></v-img>
                    <span class="text-body-2 font-weight-medium">VIP {{ myProxy.getVipLevel(level) }}</span>
                </div>
                <div class="d-flex align-center" v-if="item.backwater_config[2].backwater_rate > 0">
                    <span class="text-caption colorVipLevelText--text">{{ pageData.platCoins.mainCoin.name }} {{LangUtil('返水')}}  </span>
                </div>
                <div class="d-flex align-center" v-if="item.backwater_config[2].backwater_rate > 0">
                    <span class="text-body-1 font-weight-medium colorTextGold--text">{{(item.backwater_config[2].backwater_rate * 100).toFixed(3)}}%</span>
                </div>
                <div class="d-flex align-center" v-if="item.backwater_config[3].backwater_rate > 0">
                    <span class="text-caption colorVipLevelText--text">{{ pageData.platCoins.rewardCoin.name }}挖矿</span>
                </div>
                <div class="d-flex align-center" v-if="item.backwater_config[3].backwater_rate > 0">
                    <span class="text-body-1 font-weight-medium colorTextGold--text">{{(item.backwater_config[3].backwater_rate * 100).toFixed(3)}}%</span>
                </div>
            </v-sheet>
        </div>
    </v-sheet>
    <!-- 如何挖矿 -->
    <v-sheet color="transparent" class="mt-8" id="howMine">
        <span class="text-h6 text-md-h5 ">{{LangUtil('如何挖矿')}} </span>
        <p class="ma-0 mt-1 ml-2 ml-md-0 text-caption text-md-body-1 colorBlue--text">
            {{LangUtil('您的有效投注额及被推荐好友投注都会产生收益，投注越多个人洗码越高，好友越多洗码收益越丰厚。')}}
        </p>
        <v-row class="mt-4" no-gutters>
            <!-- 01 -->
            <v-col cols="12" md="4" class="how_item mb-2 mb-md-0">
                <v-card width="100%" color="colorPanelBg2" class="linear_bg rounded-xl py-2 px-4 pa-md-5 pa-md-8 px-md-9 pa-md-6 d-flex flex-wrap flex-column justify-space-between" height="100%" >
                    <v-card-title class="pa-0 order-1">
                        <v-img :max-width="mobileChange('howIcon')" :height="mobileChange('howIcon')" contain class="mr-1 mr-md-4 how_icon" src="~@/assets/mine/about_01_icon.png"></v-img>
                        <div class="d-flex flex-column how_title_box">
                            <span class="text-md-h5 how_num colorCoin--text font-weight-medium mb-md-2">01</span>
                            <span class="how_title font-weight-medium">{{LangUtil('享受游戏之旅')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2 ">
                        <span class="text-caption text-md-body-2 colorBlue--text"
                            >{{LangUtil('参与你最喜欢的游戏，并不断累计有效投注额，推荐的好友以及他的好友产生的投注额都会增加你的洗码等级。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3 mt-2 mt-mb-0 how_btn">
                        <v-btn :min-width="mobileChange('howBtn').w" :height="mobileChange('howBtn').h" color="colorHowBtn" @click="onGoBet" class="rounded-pill">{{LangUtil('去投注')}}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            <!-- 02 -->
            
            <v-col cols="12" md="4" class="how_item px-md-1 mb-2 mb-md-0">
                <v-card width="100%" color="colorPanelBg2" class="linear_bg rounded-xl py-2 px-4 pa-md-5 pa-md-8 px-md-9 pa-md-6 d-flex flex-wrap flex-column justify-space-between" height="100%" >
                    <v-card-title class="pa-0 order-1">
                        <v-img :max-width="mobileChange('howIcon')" :height="mobileChange('howIcon')" contain class="mr-1 mr-md-4 how_icon" src="~@/assets/mine/about_02_icon.png"></v-img>
                        <div class="d-flex flex-column how_title_box">
                            <span class="text-md-h5 how_num colorCoin--text font-weight-medium mb-md-2">02</span>
                            <span class="how_title font-weight-medium">{{LangUtil('领取个人洗码')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2 ">
                        <span class="text-caption text-md-body-2 colorBlue--text"
                            >{{LangUtil('个人有效投注额乘以洗码比例，即为个人洗码，该收益将自动发放到洗码页面，可随时领取到USDT钱包。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3 mt-2 mt-mb-0 how_btn">
                        <v-btn :min-width="mobileChange('howBtn').w" :height="mobileChange('howBtn').h" color="colorHowBtn" @click="onGoBet" class="rounded-pill">{{LangUtil('去领取')}}</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
           
            <!-- 03 -->
            <v-col cols="12" md="4"  class="how_item mb-6 mb-md-0">
                <v-card width="100%" color="colorPanelBg2" class="linear_bg rounded-xl py-2 px-4 pa-md-5 pa-md-8 px-md-9 pa-md-6 d-flex flex-wrap flex-column justify-start" height="100%" >
                    <v-card-title class="pa-0 order-1">
                        <v-img :max-width="mobileChange('howIcon')" :height="mobileChange('howIcon')" contain class="mr-1 mr-md-4" src="~@/assets/mine/about_03_icon.png"></v-img>
                        <div class="d-flex flex-column liheight">
                            <span class="text-md-h5 how_num colorCoin--text font-weight-medium mb-md-2">03</span>
                            <span class="how_title font-weight-medium">{{LangUtil('自动结算')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2 ">
                        <span class="text-caption text-md-body-2 colorBlue--text"
                            >{{LangUtil('次日上午6点-9点平台系统自动结算前一天的返水余额，系统自动发放后可至返水历史中查看记录。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3">
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-sheet>
    <Question :questions="questionData" class="mt-md-9"></Question>
</v-container>