
.page_mine{
    ::v-deep .v-progress-linear__determinate{
        border-radius: 20px;
    }
    ::v-deep .v-progress-linear__buffer{
        background: #121E36;
    }

    ::v-deep .v-progress-linear__determinate{
        height: 8px;
        top: 4px;
    }

    .down_box{
        .colorBorderBlue{
            background-color: transparent !important;
            border-width: 2px;
        }
    }
    .left_bg{
        background: url('~@/assets/mine/left_bg.png') no-repeat  center center;
        background-size:cover;
    }
    .right_banner{
        background: url('~@/assets/mine/right_bg.png') no-repeat  center center;
        background-size:cover;
        position: relative;
        overflow: hidden;
        &::before{
            content: url('~@/assets/mine/right_special.png');
            width: 162px;
            position: absolute;
            right: 0;
            top: 0;
            @media screen and (max-width: 960px) {
                display: none;
            }
        }
        .get_award{
            @media only screen and  (min-width: 960px) and (max-width: 1260px ){
                position: absolute;
                bottom: 76px;
                right: 28px;
            }
        }
        .coins_group{
            @media only screen and  (min-width: 960px) and (max-width: 1260px ){
                position: absolute;
                right: 28px;
                top: 17%;
            }
        }
        .game_mine_info{
            @media only screen and (min-width: 768px) and (max-width: 1024px){
               padding-left: 11% !important;
            }
        }
        .right_btn_group{
            @media only screen and  (min-width: 960px) and (max-width: 1260px ){
                position: absolute;
                bottom: -4px;
                left: 0;
                right: 30px;
                margin: auto;
            }
            @media only screen and  (max-width: 960px ){
                margin-bottom: 30px;
            }
            @media only screen and (min-width: 768px) and (max-width: 1024px){
                padding-left: 50%;
            }
        }
        .cat_icon{
            @media only screen and  (max-width: 1260px ){
               
            }
            position: absolute;
            bottom: 0;
            left: 0px;
        }   
        ::v-deep .v-btn__content{
            color: #5E2E2E;
        }
        .btn_group{
            ::v-deep .v-btn__content{
                color: #fff;
            }
        }
    }
   
    
    
    .v-card,.v-btn{
        box-shadow: none !important;
    }
    .cursop_pointer{
        cursor: pointer;
    }
    .get_award{
        border: 2px solid #5E2E2E;
        background-color: #F3B952 !important;
    }
    .linear_bg{
        background: linear-gradient( #1C2647,#25324B);
    }
    #howMine{
        @media only screen and  (max-width: 960px) {
            ::v-deep .v-card{
                display: flex !important;
                flex-direction: row !important;
                align-items: center;
                >.v-card__text{
                    width: 100%;
                }
                .v-card__actions{
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
            }
        }
    }
    ::v-deep .v-slide-group__prev {
        position: absolute;
        top: -33px;
        right: 35px;
        min-width: 0;
        border-radius: 12pt 0pt 0pt 12pt;
        width: 32px;
        height: 24px;
        i {
            font-size: 30px;
        }
        @media only screen and  (max-width: 960px) {
            display: none;
        }
    }
    ::v-deep .v-slide-group__next {
        position: absolute;
        top: -33px;
        right: 0;
        min-width: 0;
        border-radius: 0pt 12pt 12pt 0pt;
        width: 32px;
        height: 24px;
        i {
            font-size: 30px;
        }
        @media only screen and  (max-width: 960px) {
            display: none;
        }
    }
    ::v-deep .theme--dark {
        .v-slide-group__prev,
        .v-slide-group__next {
            background: rgba(243, 231, 231, 0.098);
        }
    }
    ::v-deep .theme--light {
        .v-slide-group__prev,
        .v-slide-group__next {
            background: rgba(243, 231, 231, 0.098);
        }
    }

    /**宽750 以下算H5 */
    @media only screen and (max-width: 750px) {
        .font_18{
            font-size: 18px !important;
        }
      
        .right_banner{
            overflow: inherit;
            .game_mine_title{
                font-size: 18px !important;
            }
            &::after{
                content: url('~@/assets/mine/cat_icon_750.png');
                height: 142px;
                width: 134px;
                position: absolute;
                left: -52px;
                top: 20px;
                transform: scale(.5);
                
            }
            .cat_icon{
                visibility: hidden;
            }
            .right_btn_group{
                @media only screen and (orientation: landscape){
                    max-width: 60%;
                }
            }
        }
        .left_bg{
            .mine_level_title{
                font-size: 18px !important;
            }
        }
        .level_box{
            background: linear-gradient( #16233F,#252B53);
        }
       
    }
}

