.block-yellow {
    //border: solid 2px #ffe64d !important;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    //background-image: url("~@/_skin030/assets/texture_money.png");
    //background-size: contain;
}
.item_bg {
    position: absolute;
    width: 165px;
    //height: 100%;
    z-index: -1;
    //opacity: 0.3;
    border-radius: 20px;
    overflow: hidden;
    .img {
        position: relative;
    }
}
.btn-yellow {
    background-image: linear-gradient(to right, var(--yellow_color_1), var(--yellow_color_2));
    height: 24px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
    cursor: pointer;
}
.panel-bouns {
    background: linear-gradient(#234032, #234032), url("~@/_skin030/assets/pagehome/banner_bg.png");
    // background: url("~@/_skin030/assets/pagehome/banner_bg.png");
    background-blend-mode: color;
    background-position: center bottom 0px;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel_bg_1 {
    background-image: url("~@/_skin030/assets/pagehome/game_bg_1.png");
    background-size: contain;
    background-position: right bottom;
}
.panel-swap {
    background-image: url("~@/_skin030/assets/pagehome/02_huodong.png");
    background-position: right top 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
.panel-mine {
    background-image: url("~@/_skin030/assets/pagehome/03_wakuang.png");
    background-position: right top 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-panel {
    position: absolute;
    right: 15px;
    bottom: 15px;
    min-height: 24px;
}
.boxpadding {
    padding-left: 10px;
    padding-right: 10px;
}

.bannritem_mob {
    height: 170px;
}

.bannritem {
    height: 240px !important;
    color:#234032
}
.home_page {
    ::v-deep .v-btn-toggle--group {
        .v-btn {
            // border: solid 1px var(--btn_disable_text_dark);
            color: #fff;
            background-color: #215844 !important;
        }
        .v-btn:hover {
            // border: solid 1px var(--btn_disable_text_dark);
            background-color: #388465 !important;
        }
        .v-btn::before {
            background-color: transparent;
        }
        .v-btn--active::before {
            background-color: #3ac167 !important;
        }
        .v-btn.v-btn--active {
            color: #ffffff;
            font-weight: bold;
            font-family: "GOTHAM_BOLD";
        }
    }
}
.login_class{
    background-color: #3ac167;
}
.login_class:hover{
    background-color: #4ce475;
}
.view_odds_bg {
    background-image: url("~@/_skin030/assets/pagehome/view_odds_bg.png");
    background-size: contain;
    background-position: right bottom;
}
.rounded-6{
    border-radius: 6px;
}
.max-w-24 {
    max-width: 24px !important;
}
.h-50 {
    height: 50% !important;
}
.min-h-50 {
    min-height: 50% !important;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.right-33 {
    right: 33px;
}
.vertical-center {
    top: 50%;
    transform: translateY(-50%);
}
.bg-green {
    background: #33b95c;
}