<v-dialog v-if="!pageData.bHidden" width="350" v-model="pageData.bShow" :retain-focus="false" persistent>
    <v-card class="rounded10" color="bgBanner">
        <com-dialog-title title="设置真实姓名" @onClose="onClose" :isDialog="true" />
        <v-divider class="mb-2" />

        <v-card-text v-if="pageData.bShow" class="mt-5 d-flex align-center flex-column" :class="$xsOnly ?  'px-5' : 'px-10'">
            <CustomInput :maxlength="maxcharLength" class="mb-3" :placeholder="LangUtil('昵称为1-10位字符')" v-model="pageData.real_name" />
            <div class="mb-9 navText--text">
                {{LangUtil("请绑定您的真实姓名，玩家姓名与付款姓名相同、否则支付不到账；（绑定后不能修改）")}}
            </div>
            <!-- <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedId" @click="onSubmit" block
                >{{LangUtil("保存设置")}}</v-btn
            > -->

            <btn-yellow
                :class="$xsOnly ? 'text-14' : 'text-16'"
                min_width="104"
                height="36"
                :disabled="!isCheckedId"
                @click.native="onSubmit"
                >{{LangUtil("保存设置")}}</btn-yellow
            >
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
