.cusinput{
    border-radius: 4px;
    height: 29px;
    border: solid 1px #4c5d7f;
    color: white;
}
.cusinput2{
    border-radius: 4px;
    height: 29px;
    border: solid 1px #4c5d7f;
    color: white;
    width: 120px;
}
.payinfo{
    background-color: #25314b;
    color: white;
    width: 93%;
    margin: auto;
}
.cusinput3{
    border-radius: 4px;
    height: 29px;
    border: solid 1px #4c5d7f;
    color: white;
    min-width: 183px;
    width: 198px;
}