<v-dialog v-if="!pageData.bHidden" v-model="pageData.bShow" :retain-focus="false" persistent @click:outside="onClose">
    <div v-if="!$xsOnly" class="container_daily" @click.stop="onPhoneClose">
        <v-card
            flat
            color="transparent"
            hide-overlay
            ref="card_node"
            class="rounded10 card_pc"
            :ripple="false"
            @click.stop="onPhoneCardClick"
        >
            <v-sheet
                color="transparent"
                class="d-flex justify-center align-center font_Han_San font_blod text_shadow title_text mb-n5"
                max-width="880"
            >
                <div v-html="LangUtil(pageData.data.activity_name)"></div>
            </v-sheet>

            <v-card flat class="d-flex flex-column align-center main_bg_recharge px-15 pt-10 pb-3">
                <v-sheet class="btn_close cursor-pointer" color="transparent" @click.stop="onClose">
                    <v-img src="~@/_skin030/assets/activity_recharge/close.png" width="32"> </v-img>
                </v-sheet>
                <v-sheet color="transparent" class="d-flex flex-column align-center overflow-y-auto" width="100%" height="177">
                    <v-sheet
                        color="transparent"
                        class="d-flex justify-center align-center font_Han_San font_blod text_shadow_2 title_time text-28"
                        width="100%"
                    >
                        {{LangUtil('{0} - {1}',getDate(pageData.data.start_time),getDate(pageData.data.end_time,true,true))}}
                    </v-sheet>
                    <v-sheet color="transparent" width="100%" class="rule_des_class text-20 pl-5">
                        <div class="" v-html="pageData.data && pageData.data.rule_desc"></div>
                    </v-sheet>

                    <v-sheet color="transparent" style="position: absolute; top: 40px; right: 50px">
                        <div @click.stop="onRuleBtnClick" class="d-flex justify-center align-center cursor-pointer">
                            <img src="~@/_skin030/assets/activity_recharge/rule_img.png" class="mb-1" width="20" />
                            <span class="ml-2 text-18 font_Han_San font_blod rule_text"> {{LangUtil("规则说明")}} </span>
                        </div>
                    </v-sheet>
                </v-sheet>

                <v-sheet color="transparent" width="100%" height="400" class="pl-7 pr-4 pt-10">
                    <!-- 上方的 方形的 按钮 -->
                    <v-sheet v-if="!isCanGet" color="transparent" class="d-flex align-center justify-space-around" width="100%" height="70">
                        <v-sheet
                            v-for="(item, index) of rechargeRule"
                            :key="index"
                            flat
                            class="d-flex align-center justify-center cursor-pointer"
                            :class="curRuleData == item ? 'gold_bg_select' : 'gold_bg_nomal'"
                            width="113"
                            min-height="82"
                            color="transparent"
                            @click.stop="onClickRechargeRule(item)"
                        >
                            <div class="mt-n2" style="text-align: center">
                                <div class="font_Han_San font_blod text-22 text_color">{{transRechargeMoney(item).symbol}}</div>
                                <div class="font_Han_San font_blod text-22 text_color">{{transRechargeMoney(item).count}}</div>
                            </div>
                        </v-sheet>
                    </v-sheet>
                    <!-- 中间的话快 -->
                    <v-sheet color="transparent" width="100%" height="40" class="d-flex align-center justify-center" style="z-index: 99">
                        <span class="text-22 ml-n4 mr-1 rule_text">{{LangUtil("天")}}</span>
                        <v-sheet color="transparent" class="progress_bg d-flex align-center" width="648" height="14.7"> </v-sheet>
                    </v-sheet>
                    <!-- 下方的表现 -->
                    <v-sheet
                        color="transparent"
                        width="100%"
                        height="300"
                        class="d-flex mt-n4 justify-space-around gold_item_pc"
                        :class="uselessItem ? 'gold_item_5_pic': ''"
                    >
                        <v-card
                            flat
                            color="transparent"
                            class="d-flex align-center flex-column"
                            :class="isCanGet ? 'gold_item_select' : 'gold_item'"
                            v-for="(item , index) of dailyDataArray"
                            :key="index"
                        >
                            <v-sheet v-if="curCanGetItem && curCanGetItem == item " color="transparent" class="slider" width="35">
                                <img src="~@/_skin030/assets/activity_recharge/slider.png" width="35" />
                            </v-sheet>
                            <v-sheet v-if="!uselessItem" color="transparent" :class="(index % 2 ==0 ) ? 'line_1' : 'line_2'"> </v-sheet>
                            <v-sheet v-else color="transparent" class="line_1"> </v-sheet>
                            <v-sheet
                                color="transparent"
                                class="mt-n3 d-flex justify-center align-center flex-column item_size"
                                :class="curCanGetItem && curCanGetItem == item ? 'item_main_1_active' : 'item_main_1'"
                            >
                                <div class="mt-auto" :class="curCanGetItem && curCanGetItem == item ? 'dosccale' : ''">
                                    <img v-if="isMaxItemIcon(item)" src="~@/_skin030/assets/activity_recharge/item_1.png" width="67" />
                                    <img v-else src="~@/_skin030/assets/activity_recharge/item_2.png" width="67" />
                                </div>

                                <v-sheet
                                    color="transparent"
                                    class="d-flex justify-center align-center mb-1 font_Han_San font_blod text-18 text_color"
                                    width="100%"
                                    height="26"
                                >
                                    {{item_bonus(item)}}
                                </v-sheet>
                                <v-sheet v-if="item_stage(item)" color="transparent" class="item_passd">
                                    <v-img v-if="!uselessItem" src="~@/_skin030/assets/activity_recharge/item_bg_got.png" width="98">
                                        <div class="state_text font_Han_San font_blod text-16">{{item_stage(item)}}</div>
                                    </v-img>
                                    <v-img v-else src="~@/_skin030/assets/activity_recharge/less_item/item_bg_got.png" width="120">
                                        <div class="state_text font_Han_San font_blod text-16">{{item_stage(item)}}</div>
                                    </v-img>
                                </v-sheet>
                            </v-sheet>
                        </v-card>
                    </v-sheet>
                </v-sheet>

                <v-sheet
                    color="transparent"
                    width="90%"
                    class="d-flex justify-center align-center text-18 rule_text"
                    style="text-align: center"
                >
                    <div v-html="LangUtil('本次活动仅限新用户参与，充值成功后，请耐心等待片刻，确认订单后即可领取奖励')"></div>
                </v-sheet>

                <!-- 下方的表现 -->
                <!-- <v-sheet color="transparent" width="100%" height="40" class="mt-auto d-flex justify-center align-center">
                    <div @click.stop="onRuleBtnClick" class="d-flex justify-center align-center cursor-pointer">
                        <img src="~@/_skin030/assets/activity_recharge/rule_img.png" width="20" />
                        <span class="ml-2 text-18 font_Han_San font_blod rule_text"> {{LangUtil("规则说明")}} </span>
                    </div>
                </v-sheet> -->
            </v-card>
            <v-sheet color="transparent" class="d-flex justify-center align-center" width="100%">
                <v-sheet
                    color="transparent"
                    @click.stop="onGetBtnClick"
                    class="recharge_btn cursor-pointer"
                    :class="chickIsCanTouch ? '' : 'recharge_btn_disabled'"
                    width="413"
                    height="96"
                >
                    <v-sheet color="transparent" height="100%" width="100%" class="d-flex align-center">
                        <v-sheet
                            color="transparent"
                            width="100%"
                            class="d-flex align-center justify-center font_Han_San font_blod text-40 get_btn get_btn_text ml-4"
                        >
                            {{rechargeBtnText}}
                        </v-sheet>
                        <v-sheet color="transparent" class="ml-auto mr-0 mb-1" width="100" height="100%">
                            <v-img
                                :class="chickIsCanTouch ? 'bounce' : ''"
                                src="~@/_skin030/assets/activity_recharge/btn_img.png"
                                width="90"
                            ></v-img>
                        </v-sheet>
                    </v-sheet>
                </v-sheet>
            </v-sheet>
        </v-card>
    </div>
    <div v-else class="container_daily" @click.stop="onPhoneClose">
        <v-card
            flat
            color="transparent"
            hide-overlay
            ref="card_node"
            class="rounded10 card_mob"
            :ripple="false"
            @click.stop="onPhoneCardClick"
        >
            <v-sheet
                color="transparent"
                class="d-flex justify-center align-center font_Han_San font_blod text_shadow title_text mb-n5"
                max-width="702"
            >
                <div v-html="LangUtil(pageData.data.activity_name)"></div>
            </v-sheet>

            <v-card flat width="702" height="840" class="d-flex flex-column align-center main_bg_recharge px-15 pt-15 pb-3">
                <v-sheet class="btn_close cursor-pointer" color="transparent" @click.stop="onClose">
                    <v-img src="~@/_skin030/assets/activity_recharge/close.png" width="32"> </v-img>
                </v-sheet>
                <v-sheet color="transparent" class="d-flex flex-column align-center overflow-y-auto" width="100%" height="177">
                    <v-sheet
                        color="transparent"
                        class="d-flex justify-center align-center font_Han_San font_blod text_shadow_2 title_time text-28"
                        width="100%"
                    >
                        {{LangUtil('{0} - {1}',getDate(pageData.data.start_time),getDate(pageData.data.end_time,true,true))}}
                    </v-sheet>
                    <v-sheet color="transparent" width="100%" class="rule_des_class text-20 pl-5 pr-1">
                        <div class="" v-html="pageData.data && pageData.data.rule_desc"></div>
                    </v-sheet>
                    <v-sheet color="transparent" style="position: absolute; top: 210px; right: 50px">
                        <div @click.stop="onRuleBtnClick" class="d-flex justify-center align-center cursor-pointer">
                            <img src="~@/_skin030/assets/activity_recharge/mob/rule_img.png" width="30" />
                            <!-- <span class="ml-2 text-18 font_Han_San font_blod rule_text"> {{LangUtil("规则说明")}} </span> -->
                        </div>
                    </v-sheet>
                </v-sheet>

                <v-sheet color="transparent" width="100%" height="500" class="pl-7 pr-4 pt-8">
                    <!-- 上方的 方形的 按钮 -->
                    <v-sheet
                        v-if="!isCanGet"
                        color="transparent"
                        class="d-flex align-center flex-wrap justify-space-around"
                        width="100%"
                        height="170"
                    >
                        <v-sheet
                            v-for="(item, index) of rechargeRule"
                            :key="index"
                            flat
                            class="d-flex align-center justify-center cursor-pointer my-1"
                            :class="curRuleData == item ? 'gold_bg_select' : 'gold_bg_nomal'"
                            width="162"
                            min-height="81"
                            color="transparent"
                            @click.stop="onClickRechargeRule(item)"
                        >
                            <div class="mt-0" style="text-align: center">
                                <div class="font_Han_San font_blod text-28 text_color" style="margin-bottom: -8px">
                                    {{transRechargeMoney(item).symbol}}
                                </div>
                                <div class="font_Han_San font_blod text-28 text_color mt-2">{{transRechargeMoney(item).count}}</div>
                            </div>
                        </v-sheet>
                    </v-sheet>
                    <!-- 中间的话快 -->
                    <v-sheet
                        color="transparent"
                        width="100%"
                        height="20"
                        class="d-flex align-center justify-center mt-6"
                        style="z-index: 99"
                    >
                        <span class="text-22 ml-n4 mr-1 rule_text">{{LangUtil("天")}}</span>
                        <v-sheet color="transparent" class="progress_bg d-flex align-center" width="513" height="12"> </v-sheet>
                    </v-sheet>
                    <!-- 下方的表现 -->
                    <v-sheet
                        color="transparent"
                        width="100%"
                        :height="isCanGet ? 470 : 270"
                        class="d-flex mt-n4 justify-space-around gold_item_mob"
                        :class="uselessItem ? 'gold_item_5_pic' :''"
                    >
                        <v-card
                            flat
                            color="transparent"
                            class="d-flex align-center flex-column mx-n3"
                            :class="isCanGet ? 'gold_item_select' : 'gold_item'"
                            v-for="(item , index) of dailyDataArray"
                            :key="index"
                        >
                            <v-sheet v-if="curCanGetItem && curCanGetItem == item " color="transparent" class="slider" width="35">
                                <img src="~@/_skin030/assets/activity_recharge/slider.png" width="35" />
                            </v-sheet>
                            <v-sheet v-if="!uselessItem" color="transparent" width="13" :class="(index % 2 ==0 ) ? 'line_1' : 'line_2'">
                            </v-sheet>
                            <v-sheet v-else color="transparent" width="13" class="line_1"> </v-sheet>

                            <v-sheet
                                color="transparent"
                                class="mt-n3 d-flex justify-center align-center flex-column item_size"
                                :class="curCanGetItem && curCanGetItem == item ? 'item_main_1_active' : 'item_main_1'"
                            >
                                <div class="mt-auto" :class="curCanGetItem && curCanGetItem == item ? 'dosccale' : ''">
                                    <img v-if="isMaxItemIcon(item)" src="~@/_skin030/assets/activity_recharge/item_1.png" width="67" />
                                    <img v-else src="~@/_skin030/assets/activity_recharge/item_2.png" width="67" />
                                </div>
                                <v-sheet
                                    color="transparent"
                                    class="d-flex justify-center align-center mb-1 font_Han_San font_blod text-18 text_color"
                                    width="100%"
                                    height="26"
                                >
                                    {{item_bonus(item)}}
                                </v-sheet>
                                <v-sheet v-if="item_stage(item)" color="transparent" class="item_passd">
                                    <v-img v-if="!uselessItem" src="~@/_skin030/assets/activity_recharge/item_bg_got.png" width="98">
                                        <div class="state_text font_Han_San font_blod text-16">{{item_stage(item)}}</div>
                                    </v-img>
                                    <v-img v-else src="~@/_skin030/assets/activity_recharge/less_item/item_bg_got.png" width="120">
                                        <div class="state_text font_Han_San font_blod text-16">{{item_stage(item)}}</div>
                                    </v-img>
                                </v-sheet>
                            </v-sheet>
                        </v-card>
                    </v-sheet>
                </v-sheet>

                <!-- 下方的表现 -->
                <v-sheet
                    color="transparent"
                    width="90%"
                    class="d-flex justify-center align-center text-18 rule_text"
                    style="text-align: center"
                >
                    <div v-html="LangUtil('本次活动仅限新用户参与，充值成功后，请耐心等待片刻，确认订单后即可领取奖励')"></div>
                </v-sheet>
            </v-card>
            <v-sheet color="transparent" class="d-flex justify-center align-center" width="100%">
                <v-sheet
                    color="transparent"
                    @click.stop="onGetBtnClick"
                    class="recharge_btn cursor-pointer"
                    :class="chickIsCanTouch ? '' : 'recharge_btn_disabled'"
                    width="413"
                    height="96"
                >
                    <v-sheet color="transparent" height="100%" width="100%" class="d-flex align-center">
                        <v-sheet
                            color="transparent"
                            width="100%"
                            class="d-flex align-center justify-center font_Han_San font_blod text-40 get_btn get_btn_text ml-4"
                        >
                            {{rechargeBtnText}}
                        </v-sheet>
                        <v-sheet color="transparent" class="ml-auto mr-2 mb-2" width="100" height="100%">
                            <v-img
                                :class="chickIsCanTouch ? 'bounce' : ''"
                                src="~@/_skin030/assets/activity_recharge/btn_img.png"
                                width="90"
                            ></v-img>
                        </v-sheet>
                    </v-sheet>
                </v-sheet>
            </v-sheet>
        </v-card>
    </div>
</v-dialog>
