<v-container :class="$vuetify.breakpoint.mobile?'pa-0':''">
    <v-sheet class="rounded-lg" color="#192b4d">
        <div class="d-flex justify-end my-2 mr-3" v-if="!$vuetify.breakpoint.mobile">
            <v-btn class="my-2 ml-3" icon @click="onFullScreen">
                <v-icon>mdi-fullscreen</v-icon>
            </v-btn>
            <v-btn class="my-2 ml-3" icon @click="onBack">
                <v-icon>mdi-keyboard-backspace</v-icon>
            </v-btn>
        </div>
        <iframe id="gameFrame" ref="gameFrame" class="frame" :src="pageData.url" allowfullscreen="true"></iframe>
    </v-sheet>
    <RecentBetting class="mt-4" v-if="!$vuetify.breakpoint.mobile" />
    <div class="flow-btn" ref="btnFlow" @click="onBack" v-if="$vuetify.breakpoint.mobile">
        <v-btn fab small color="red">
            <v-icon>mdi-backup-restore</v-icon>
        </v-btn>
    </div>
</v-container>
