<v-dialog width="unset" v-model="pageData.bShow" overlay-opacity="0.6" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card color="colorPanelBg" class="d-flex">
        <AdvertiseInLogin :height="610" class="d-none d-md-flex" />
        <v-card color="transparent" width="488">
            <v-card-title class="d-flex justify-end pb-0 gradient-bg">
                <div class="ml-2 font-weight-medium white--text text-18">
                    {{forgetData.bShow ? LangUtil('找回密码') : LangUtil('登录')}}
                </div>
                <v-spacer />
                <v-btn class="mr-2" icon @click="onClose">
                    <v-icon>{{ forgetData.bShow ? "mdi-keyboard-backspace" : "mdi-close" }}</v-icon>
                </v-btn>
            </v-card-title>
            <!-- 找回密码 -->
            <v-card-text v-if="forgetData.bShow" class="px-5 px-md-10 mt-5">
                <div class="d-flex mb-10">
                    <v-btn
                        min-width="110"
                        height="40"
                        class="rounded-pill font-weight-bold mr-2"
                        elevation="0"
                        :text="forgetData.form.type != 2"
                        :color="forgetData.form.type == 2 ? 'colorBtnBg' : 'colorText1'"
                        @click="onTabClick(2)"
                    >
                        {{LangUtil("邮箱找回")}}
                    </v-btn>
                    <v-btn
                        min-width="110"
                        height="40"
                        class="rounded-pill font-weight-bold"
                        elevation="0"
                        :text="forgetData.form.type != 4"
                        :color="forgetData.form.type == 4 ? 'colorBtnBg' : 'colorText1'"
                        @click="onTabClick(4)"
                    >
                        {{LangUtil("手机找回")}}
                    </v-btn>
                </div>

                <CustomInput
                    v-if="forgetData.form.type == 2"
                    class="mb-6"
                    icon="mdi-email"
                    :placeholder="LangUtil('请输入邮箱')"
                    v-model="forgetData.form.username"
                >
                    <!-- <v-btn class="text-12" color="colorBtnBg" small :disabled="!checkMail(forgetData.form.username)" @click="getCode">
                        {{LangUtil("验证码")}}
                    </v-btn> -->
                    <DialogGetVerity :isCheck="checkMail(forgetData.form.username)" :category="0" :type="2" :email="forgetData.form.username"/>
                </CustomInput>

                <CustomInput
                    v-else
                    class="mb-6"
                    icon="mdi-phone"
                    type="tel"
                    :placeholder="LangUtil('请输入手机号')"
                    v-model="forgetData.form.username"
                >
                    <template v-slot:pre>

                        <v-sheet color="transparent" min-width="80" class="codeSelect">  
                            <v-autocomplete
                            class=""
                                    v-model="tempSelectCode"
                                    :items="areaCodeArr"
                                    item-text="area_code"
                                    :label="curShowCode"
                                    hide-details
                                    solo
                                    flat
                                    background-color="transparent"
                                    attach
                                    return-object
                                    :no-data-text="LangUtil('没有更多数据')"
                                    auto-select-first
                                    :filter="customFilter"
                                >
                                <template v-slot:item="data">
                                    <v-sheet color="transparent"  width="100%"  class="d-flex justify-space-between colorText2--text text-14">
                                        <div> {{data.item.area_code}}</div>
                                        <div> {{data.item.name}}</div>
                                    </v-sheet>
                                </template>
                            
                            </v-autocomplete>
                             </v-sheet>
                        <v-menu v-if="false" v-model="areaCodeMenu" offset-y :close-on-content-click="false" nudge-bottom="20" nudge-left="38">
                            <template v-slot:activator="{ on, attrs }">
                                <div class="d-flex colorInfo--text" v-bind="attrs" v-on="on">
                                    <div class="colorBtnBg--text mx-2">+{{forgetData.form.area_code}}</div>
                                    <div
                                        class="icon-box iconfont text-18 mr-2"
                                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                    >
                                        
                                    </div>
                                    <div class="text-20">|</div>
                                </div>
                            </template>
                            <v-sheet class="pa-3 rounded-lg" color="colorPanelTitleBg" width="400">
                                <v-text-field
                                    class="rounded-pill"
                                    outlined
                                    dense
                                    prepend-inner-icon="mdi-database-search-outline"
                                    hide-details
                                    v-model="areaCodeSearch"
                                    @input="onAreaCodeInput"
                                ></v-text-field>

                                <v-list dense color="colorPanelTitleBg">
                                    <v-list-item-group>
                                        <v-list-item
                                            v-for="(item, index) of areaCodeList"
                                            :key="index"
                                            class="colorText2--text"
                                            @click="onItemAreaCode(item)"
                                        >
                                            <div>{{item.name}}</div>
                                            <v-spacer />
                                            <div>+{{item.area_code}}</div>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-sheet>
                        </v-menu>
                    </template>
                    <!-- <v-btn class="text-12" color="colorBtnBg" small :disabled="!checkPhone(forgetData.form.username)" @click="getCode"
                        >{{LangUtil("验证码")}}</v-btn
                    > -->
                    <DialogGetVerity :isCheck="checkPhone(forgetData.form.username)" :category="1" :type="2" :area_code="forgetData.form.area_code" :mobile="forgetData.form.username"/>
                </CustomInput>

                <CustomInput
                    class="mb-6"
                    icon="mdi-shield-check"
                    :placeholder="LangUtil('请输入验证码')"
                    type="tel"
                    v-model="forgetData.form.verify_code"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="forgetData.form.password"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('密码确认')"
                    v-model="forgetData.form.password_confirm"
                />
                <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedForget" block @click="onSubmitForget">
                    {{LangUtil("提交")}}
                </v-btn>
            </v-card-text>
            <!-- 登录 -->
            <v-card-text v-else class="px-5 px-md-10 mt-5">
                <CustomInput
                    class="mb-6"
                    icon="mdi-account"
                    :placeholder="LangUtil('请输入账号/手机号/邮箱')"
                    v-model="pageData.form.username"
                />
                <CustomPassword
                    icon="mdi-lock"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="pageData.form.password"
                />
                <div class="password-operate">
                    <v-checkbox
                        v-model="pageData.remember"
                        :label="LangUtil('记住密码')"
                        color="colorText1"
                        dense
                        hide-details
                    ></v-checkbox>
                    <div class="text-14 mt-1 cursor-pointer" @click="goForget">{{LangUtil("忘记密码")}}？</div>
                </div>
                <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedLogin" block @click="onSubmitLogin"
                    >{{LangUtil("登录")}}</v-btn
                >
                <div class="tips-box">
                    {{LangUtil("还没有账户？")}}<button class="tips-box_org" @click="goRegister">{{LangUtil("去注册")}}</button>
                </div>
            </v-card-text>
        </v-card>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
