@import "@/style/params.scss";
.password-operate {
    margin: 8px 0 40px;
    display: flex;
    justify-content: space-between;
    color: $color-info;
    font-size: 12px;
    line-height: 16px;
}
.tips-box {
    margin-top: 16px;
    font-size: 12px;
    color: $color-info;
    font-size: 14px;
}
.tips-box_org {
    color: #6fa9fa;
    font-size: 13px;
}

.arrow {
    transform: rotate(0deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
::v-deep.v-text-field--outlined fieldset {
    color: #314361 !important;
}

::v-deep.v-input--dense {
    margin: 0 !important;
    padding: 0 !important;
}
::v-deep.v-input .v-label {
    font-size: 14px;
    margin-left: -8px;
    color: #4c5d7f;
}
::v-deep .v-icon.v-icon {
    color: #4c5d7f;
}

.codeSelect {
    ::v-deep .v-input input {
        color: #96a9d0;
        font-size: 14px;
        font-weight: 600;
    }

    ::v-deep .theme--dark.v-icon {
        color: #4c5d7f;
    }

    ::v-deep .v-label {
        color: #4c5d7f;
        font-size: 14px;
        font-weight: 600;
    }

    ::v-deep .v-list {
        background: #25324b;
        border-radius: 10px !important;
        //color:#96AAD0;
    }

    .mytest {
        min-width: 200px !important;
    }
}
