.marquee-box {
    width: 100%;
    overflow: hidden;
    div {
        width: fit-content;
        white-space: nowrap;
    }
}
.box {
    background-color: #212a4d;
}

.mobile-box {
    background-color: #f1f1f1;
}

.text-gray {
    color: #474747;
}
