.line-height-50 {
    line-height: 50px;
}

.app-footer-single-content {
    height: 60px;
}
.innerbox {
    overflow-x: auto;
    overflow-y: auto;
}
.website-info {
    color: #5f6888;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    padding: 24px 0 0 0;
    max-width: 1420px;
    margin: 0 auto;
}
.all-rights-reserved {
    line-height: 18px;
    padding: 8px 0 8px 0;
    font-size: 12px;
    color: #5f6888;
    text-align: center;
    font-weight: 500;
}
.lang-color {
    color: rgba(255, 255, 255, 0.6);
}