.group-banner-challenges {
    width: 209px;
    height: 112px;
    margin: 0 0 0 760px;
    opacity: 0.73;
    mix-blend-mode: color-dodge;
  }

.rounded_img {
    border-radius: 0px 0px 10px 10px !important;
}
.pad_height {
    min-height: calc(100vh - 600px);
}

::v-deep .loader_class {
    .img_loader {
        height: 230px !important;
    }
    .v-skeleton-loader__image {
        height: 230px;
    }
}

.loader_class_mob {
    ::v-deep .loader_class {
        .img_loader {
            height: 120px !important;
        }
        .v-skeleton-loader__image {
            height: 120px;
        }
    }
}
.v-btn-toggle .v-btn:not(:lang(zh_CN)) {
    letter-spacing: var(--btn-letter-spacing) !important; /* 自定义的字母间距 */
}
.custom-avatar {
    position: relative;
    .coin-text {
        position: absolute;
        bottom: 0px;
    }
}
.custom-progress {
    border-radius: 20px;
    ::v-deep .v-progress-linear__determinate {
        background-image: linear-gradient(to right, var(--yellow_color_1), var(--yellow_color_2)) !important;
    }
}

.mobile_bg{
    white-space: nowrap;
    width: calc(100vw - 357px);
    z-index: 1;
}