<v-container class="main-container">
    <Advertise />
    <v-container class="mx-auto pa-0" :class="$vuetify.breakpoint.xsOnly?'px-2 mt-1':'mt-n5'">
      <div class="banner-content" v-if="!$vuetify.breakpoint.xsOnly" style="border-radius: 12px 12px 0px 0px;">
        <Marquee1 class="marquee1"  v-if="!$vuetify.breakpoint.xsOnly" />
            <AdSwiper class="ad-swiper"/>
            <div class="second-content">
                <div class="left">
                  <v-img src="@/_skin100/assets/img52.png" max-width="440" max-height="380"></v-img>
                </div>
                <div class="right">
                    <p class="r-title">egame{{LangUtil("介绍")}}</p>
                    <p class="tx">
                      {{LangUtil("egame是J9国际（egame.com）基于BSC币安智能链发行的一种数字货币，有去中心化、交易匿名、安全等特性。")}}
                    </p>
                    <p class="tx">
                      {{LangUtil("egame独创下注挖矿解决方案——用户的每笔投注都会产出一定数量的egame， 并且所有持有egame的玩家都可以从分红池中获得一定比例的网站利润分成。")}}
                    </p>
                    <!-- 暂进隐藏 -->
                    <div  class="totle-data" v-if="false">
                        <div class="s-left">
                            <p class="top-text">
                                <span >
                                    {{LangUtil("总计销毁")}}:  
                                    <span class="s-num">
                                        61,235,423.34
                                    </span>
                                </span>
                                <span class="ml-8">
                                    {{LangUtil("本周销毁")}}:  
                                    <span class="s-num">
                                        13,321,314.32
                                    </span>
                                </span>
                                </p>
                                <p>
                                  {{LangUtil("玩家质押egame所支付的手续费都将转账到黑洞地址，实现egame的不断通缩，以支持价格不断上涨。")}}
                                    
                                </p>
                        </div>
                        <div class="s-right">
                            <span>
                              {{LangUtil("链上销毁记录")}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-content">
              <div class="content">
                <p class="t-title">{{LangUtil("Token名称")}}</p>
                <p  class="t-text">{{reward_coin_info.coin_name}}</p>
              </div>
              <div class="content">
                <p class="t-title">{{LangUtil("合约地址")}}</p>
                <p class="t-text a-ele" @click="goContractInfo">{{LangUtil("查看合约信息")}}</p>
              </div>
              <div class="content">
                <p class="t-title">{{LangUtil("发行链")}}</p>
                <p class="t-text">{{reward_coin_info.block_network_name}}</p>
              </div>
              <div class="content">
                <p class="t-title">{{LangUtil("总计发行")}}</p>
                <p class="t-text">{{reward_coin_info.total_supply}}</p>
              </div>
              <div class="content">
                <p class="t-title">{{LangUtil("总计流通")}} </p>
                <p class="t-text">{{reward_coin_info.total_circulate}}</p>
              </div>
              <div class="content">
                <p class="t-title">{{LangUtil("总计质押")}}</p>
                <p class="t-text">{{reward_coin_info.total_stake_amount}}</p>
              </div>
              <div class="content">
                <p class="t-title">{{LangUtil("持币地址数")}}</p>
                <p class="t-text"  :class="reward_coin_info.total_holder !='-'?'a-ele':''">{{reward_coin_info.total_holder}}</p>
              </div>
            </div>
        </div>
        <div v-if="$vuetify.breakpoint.xsOnly" >
            <div class="h5-intrduce">
                <Marquee1 class="marquee1"  />
                <Advertise2></Advertise2>
                <p class="title mt-4">egame{{LangUtil("介绍 ")}}</p>
                <p class="content">
                  {{LangUtil("egame是J9国际（egame.com）基于BSC币安智能链发行的一种数字货币，有去中心化、交易匿名、安全等特性。")}}
                  {{LangUtil("egame独创下注挖矿解决方案——用户的每笔投注都会产出一定数量的egame， 并且所有持有egame的玩家都可以从分红池中获得一定比例的网站利润分成。")}}
                </p>

                <div class="h5-t-content">
                  <div class="content first-con">
                    <div class="t-title">{{LangUtil("合约地址")}}</div>
                    <div class="t-text a-ele" @click="goContractInfo">{{LangUtil("查看合约信息")}}</div>
                  </div>
                  <div class="content sec-con">
                    <div class="t-title">{{LangUtil("总计发行")}}</div>
                    <div class="t-text">{{reward_coin_info.total_supply}}</div>
                  </div>
                   <div class="content first-con">
                      <div class="t-title">{{LangUtil("发行链")}}</div>
                      <div class="t-text">{{reward_coin_info.block_network_name}}</div>
                    </div>
                    <div class="content sec-con">
                      <div class="t-title">{{LangUtil("总计质押")}}</div>
                      <div class="t-text">{{reward_coin_info.total_stake_amount}}</div>
                    </div>
                    <div class="content first-con">
                      <div class="t-title">{{LangUtil("总计流通")}} </div>
                      <div class="t-text">{{reward_coin_info.total_circulate}}</div>
                    </div>
                    <div class="content sec-con">
                      <div class="t-title">{{LangUtil("Token名称")}}</div>
                      <div  class="t-text">{{reward_coin_info.coin_name}}</div>
                    </div>
                    <div class="content first-con">
                      <div class="t-title">{{LangUtil("持币地址数")}}</div>
                      <div class="t-text" :class="reward_coin_info.total_holder !='-'?'a-ele':''">{{reward_coin_info.total_holder}}</div>
                    </div>
                  </div>
                  <!-- 暂时隐藏 -->
                  <div class="tip-content" v-if="false">
                    <div  class="totle-data">
                      <div class="s-left">
                          <div>
                              <div class="text-12">
                                  {{LangUtil("总计销毁")}}:  
                                  <span class="s-num colorYellowBg--text text-15">
                                      52,150,595.94
                                  </span>
                              </div>
                              <div class="text-12">
                                  {{LangUtil("本周销毁")}}:  
                                  <span class="s-num colorYellowBg--text text-15">
                                      12,281,737.27
                                  </span>
                              </div>
                              
                              </div>
                              <div class="s-right">
                                <span class="text-13">
                                    {{LangUtil("链上销毁记录")}}
                                </span>
                            </div>
                            </div>
                              <div class="bm-text text-12">
                                {{LangUtil("玩家质押egame所支付的手续费都将转账到黑洞地址，实现egame的不断通缩，以支持价格不断上涨。")}}
                              </div>
                   
                  </div>
                    <div class="bg"></div>
                  </div>
            </div>
        </div>
        <PageIntroduce />
        <PageGameList />
        <!-- <div v-for="(item, index) of pageData.lobbyIndex" :key="index">
            <GameSlideGroup
            v-if="item.category != 4 && item.category != 32 && item.category != 64"
            :data="item"
            :bShowAll="true"
            :name="item.category"
            :id="item.category"
            />
        </div> -->
    </v-container>
    
</v-container>