<!-- <div :class="$vuetify.breakpoint.xsOnly ? 'mt-3' : 'mt-8'" ref="box"> -->
<div :class="$vuetify.breakpoint.xsOnly ? 'mt25' : 'mt-8'" ref="box">
    <!-- <div class="text-16 ml-2 mr-4 d-flex align-center font-weight-bold" :class="$vuetify.breakpoint.xsOnly?'':'mb-2'"> -->
    <div class="text-16 d-flex align-center font-weight-bold"
        :class="$vuetify.breakpoint.xsOnly?'mx-1':'mb-2 ml-2 mr-4'">
        <!-- <v-icon class="mr-1" color="colorYellow" :size="$vuetify.breakpoint.xsOnly?15:24">{{ CategoryIcon[data.category] }}</v-icon> -->
        <div :class="$vuetify.breakpoint.xsOnly?'text-18':'text-20'">{{ data.category_name }}</div>
        <v-spacer />
        <div ref="viewBtn">
            <v-btn v-if="bShowAll && !$vuetify.breakpoint.mobile" class="text-12 rounded-pill" style="padding: 8px;"
                :style="{marginRight: (data.list.length <= 8 ? '-15px':'60px')}" color="#252e43" height="24"
                @click="onShowAll">
                {{LangUtil("更多")}}
            </v-btn>
            <v-btn v-if="bShowAll && $vuetify.breakpoint.mobile" class="text-12 rounded-pill"
                style="padding: 0 16px;margin-right:0px;font-size: 12px;" color="#252e43" height="24"
                @click="onShowAll">
                {{LangUtil("更多")}}
            </v-btn>
        </div>
    </div>
    <v-sheet v-if="$vuetify.breakpoint.mobile" color="transparent" class="d-flex scroll-x">
        <GameItem v-for="item of data.list" :key="item.vendor_prodcut_id" :item="item" />
    </v-sheet>
    <v-sheet v-else-if="!$vuetify.breakpoint.mobile && data.list && (data.list.length <= 8)" max-width="1430"
        class="mx-auto d-flex" color="transparent">
        <!-- <v-slide-group :show-arrows="!$vuetify.breakpoint.mobile"
            prev-icon="mdi-menu-left" next-icon="mdi-menu-right">
            <v-slide-item v-for="item of data.list" :key="item.vendor_prodcut_id"> -->
        <GameItem v-for="item of data.list" :key="item.vendor_prodcut_id" :item="item" />
        <!-- </v-slide-item>
        </v-slide-group> -->
    </v-sheet>
    <v-sheet v-else max-width="1430" class="mx-auto" color="transparent">
        <v-slide-group :show-arrows="!$vuetify.breakpoint.mobile" prev-icon="mdi-menu-left" next-icon="mdi-menu-right">
            <v-slide-item v-for="item of data.list" :key="item.vendor_prodcut_id">
                <GameItem :item="item" />
            </v-slide-item>
        </v-slide-group>
    </v-sheet>
</div>