.header-mobile {
    // position: fixed;
    // z-index: 1000;
    background-color: #121e36;
}
.listbox-mobile {
    overflow: auto;
    // padding-top: 165px;
}
.git_grayscale {
    filter: grayscale(1);
}
.v-btn-toggle .v-btn .text-14:not(:lang(zh_CN)) {
    letter-spacing: var(--btn-letter-spacing); /* 自定义的字母间距 */
  }
.scrollable-btn-group {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap !important;
}
.scrollable-btn-group .v-btn {
    display: inline-block;
}

