.input-text {
    border-radius: 12px;
    // height: 150px;
    border: solid 1px #333435;
    textarea {
        vertical-align: middle;
        height: 150px;
        width: 100%;
        color: #ffffff;
        resize: none;
        border: none;
        outline: none;
    }
}
textarea::placeholder, textarea[disabled] {
    color: #ffffff;
}