.theme--light {
    .foot_bg {
        background: linear-gradient(to left, var(--line_primary), var(--line_primary));
    }
    .active {
        color: #0f1213;
        .text {
            color: #8e8f91;
        }
    }
    .nomal {
        color: #cb8700;
        .text {
            color: #0f1213;
        }
    }
}

.theme--dark {
    .foot_bg {
        background: linear-gradient(to right, #174131, #174131);
    }
    .active {
        color: #3ac167;
        .text {
            color: #3ac167;
        }
    }
    .nomal {
        color: #aaddcb;
        .text {
            color: #aaddcb;
        }
    }
}

.svga-player {
    display: none;
    width: 18px;
    height: 18px;
}

.is-show {
    display: block !important;
}

.bounce {
    // width: 100px;
    // height: 100px;
    //background-color: red;
    position: relative;
    //animation: bounce 0.5s ease infinite ,doScale 0.5s ease infinite alternate;
    animation: doScale 0.5s ease infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes doScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
