<v-sheet color="transparent" class="d-flex justify-center" :class="{'px-2':!mini}" width="100%">
    <div class="pt-2 px-2 panel-content" :class="{'panel-content-bg':!mini}">
        <v-hover v-slot="{ hover }" v-for="item of options" :key="item.name">
            <template v-if="list[item.id].svga">
                <v-sheet
                    height="40px"
                    class="mb-2 px-2 primary--text d-flex align-center cursor-pointer"
                    :class="[mini? 'gary-bg':list[item.id].color+'-bg',{'item-hover': list[item.id].svga && !mini}]"
                    @click="goCategory(item)"
                    style="border-radius: 2px; position: relative"
                >
                    <SvgaPlayer class="svga-player mr-3" :id="list[item.id].svga" :src="resolveSvgaSrc(list[item.id].svga)"></SvgaPlayer>
                    <span style="min-width: 56px" v-if="!mini" class="svga-tex text-no-wrap"> {{LangUtil(item.name)}} </span>
                    <v-badge
                        v-if="item.id == 105"
                        color="red"
                        dot
                        :content="red_dot_tips.is_ball_award_num.num"
                        :value="red_dot_tips.is_ball_award_num.status==2 && red_dot_tips.is_ball_award_num.num"
                        style="position: absolute; right: 10px; top: 10px"
                    >
                    </v-badge>
                </v-sheet>
            </template>
            <template v-else>
                <v-sheet
                    height="40px"
                    class="mb-2 px-2 primary--text d-flex align-center cursor-pointer gary-bg"
                    :class="hover || isShowActive_menu(item) ? 'navTextHover--text gary-bg-hover font-weight-bold' : 'navText--text'"
                    @click="goCategory(item)"
                    style="border-radius: 2px"
                >
                    <svg-icon :icon="list[item.id].icon" class="text-20" style="margin-left: 5px; margin-right: 17px"></svg-icon>
                    <span class="text-no-wrap" style="min-width: 56px" v-if="!mini"> {{LangUtil(item.name)}} </span>
                </v-sheet>
            </template>
        </v-hover>
    </div>
</v-sheet>
