@import "@/style/input.scss";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder{
  color:#57399b;
}
.input-text input{
  color:#fff;
}
