.box {
    background-image: linear-gradient(180deg, #243a5d 0%, #1f2f4b 100%);
    border-radius: 16px 0 0 16px;
}
::v-deep .v-carousel--hide-delimiter-background .v-carousel__controls {
    display: none;
}
.home-carousel {
    ::v-deep .v-carousel__controls {
        background: none;
        bottom: 90px;
    }
    ::v-deep .v-carousel__controls .v-item-group .v-btn .v-btn__content i {
        font-size: 8px !important;
    }
    ::v-deep .v-carousel__controls .v-item-group .v-btn.v-item--active .v-btn__content i {
        font-size: 8px !important;
    }
}
.box {
    border-radius: 16px;
    ::v-deep .v-image__image {
        background-size: 100% 100%;
    }
}
.listbox {
    .listitem:not(:last-child) {
        border-bottom: 2px solid #1c2b49 !important;
    }
    .listitem:hover {
        background-color: #33415d !important;
    }
}

@media screen and (max-width: 1430px) {
    ::v-deep .v-carousel--hide-delimiter-background .v-carousel__controls {
        display: flex;
    }

    .box {
        border-radius: 16px;
    }

    .listbox {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .box {
        border-radius: 8px;
    }
}

.swiper-sider-content {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: static;
    .swiper-next {
        cursor: pointer;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        z-index: 2;
        width: 30px;
        height: 164px;
        top: 0px;
        outline: none;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.4);
        right: 0px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        img {
            height: 17px;
            width: 10px;
        }
    }
    .swiper-prev {
        cursor: pointer;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        z-index: 2;
        width: 30px;
        height: 164px;
        top: 0px;
        outline: none;
        position: absolute;
        background-color: rgb(0, 0, 0, 0.4);
        left: 0px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        img {
            height: 17px;
            width: 10px;
        }
    }
    .swiper-content {
        display: flex;
        position: relative;
        align-items: center;
        width: 1370px;
        .button-prev {
            margin-right: 13px;
        }
        i {
            &:focus {
                border: 0px;
                outline: 0px;
            }
        }
        .iconfont {
            font-size: 28px;
            color: #747a7e;
            outline: none;
            cursor: pointer;
            border: 0px;
        }
        .swiper-container {
            width: 1370px;
            height: 164px;
            position: relative;
            border-radius: 6px;
            .swiper-wrapper {
                text-align: center !important;
            }
            .swiper-img {
                width: 100%;
                height: 164px;
                border-radius: 6px;
                cursor: pointer;
            }
            .swiper-slide {
                margin-left: 0px !important;
            }
        }
    }
}
