<v-dialog v-if="!pageData.bHidden" width="730" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$xsOnly" persistent>
    <v-card class="rounded10 overflow-hidden" :color="!$xsOnly ? 'bgBanner' : 'bgColor'">
        <!-- pc显示方式 -->
        <template v-if="!$xsOnly">
            <com-dialog-title title="质押记录" @onClose="onClose" />
            <v-divider class="mb-2" />
            <v-card-text class="px-5" v-if="!$xsOnly">
                <div>
                    <v-btn-toggle mandatory group v-model="typechange" @change="onTimeChange">
                        <v-btn class="rounded-pill mr-2" height="42" min-width="120">
                            <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-chart-line</v-icon>
                            <span class="text-16"> {{LangUtil("质押")}} </span>
                        </v-btn>
                        <v-btn class="rounded-pill mr-2" height="42" min-width="120">
                            <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-chart-tree</v-icon>
                            <span class="text-16"> {{LangUtil("解除质押")}} </span>
                        </v-btn>
                    </v-btn-toggle>
                </div>
                <v-divider class="my-3" />

                <div v-if="listQuery.cate == 1 && !$xsOnly" class="scroll_box">
                    <template v-if="pageData.list.length>0">
                        <v-sheet color="transparent" class="d-flex flex-wrap justify-space-start mb-2 mx-2">
                            <v-sheet color="transparent" min-width="200" class="text-16 primary--text">{{LangUtil("时间")}}</v-sheet>
                            <v-sheet color="transparent" min-width="200" class="text-16 primary--text d-flex justify-center"
                                >{{LangUtil("数量")}}</v-sheet
                            >
                        </v-sheet>

                        <v-sheet color="transparent" height="450" class="scroll-y">
                            <v-sheet
                                class="d-flex rounded-lg mb-2"
                                outlined
                                width="100%"
                                min-height="40"
                                v-for="(item, key) of pageData.list"
                                :key="key"
                                style="background-color: transparent !important"
                            >
                                <v-sheet color="transparent" class="d-flex flex-wrap align-center justify-space-start mx-2" width="100%">
                                    <v-sheet
                                        color="transparent"
                                        min-width="200"
                                        class="text-16 textGray--text text-truncate font-weight-bold"
                                        >{{getDateTime(item.created_at)}}</v-sheet
                                    >

                                    <v-sheet
                                        color="transparent"
                                        min-width="200"
                                        class="text-16 textGray--text text-truncate d-flex justify-center font-weight-bold"
                                    >
                                        <v-img
                                            class="mr-2"
                                            max-width="25"
                                            height="25"
                                            :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                        ></v-img>
                                        {{ item.gold }}
                                    </v-sheet>
                                </v-sheet>
                            </v-sheet>
                            <ListNodata v-if="pageData.list.length == 0" height="445" />
                        </v-sheet>
                    </template>
                </div>

                <div v-if="listQuery.cate == 2 && !$xsOnly" class="scroll_box">
                    <template v-if="pageData.list.length>0">
                        <v-sheet color="transparent" class="d-flex flex-wrap justify-space-start mb-2 mx-2">
                            <v-sheet color="transparent" min-width="200" class="text-16 primary--text">{{LangUtil("时间")}}</v-sheet>
                            <v-sheet color="transparent" min-width="200" class="text-16 primary--text d-flex justify-center"
                                >{{LangUtil("类型")}}</v-sheet
                            >
                            <v-sheet color="transparent" min-width="200" class="text-16 primary--text d-flex justify-center"
                                >{{LangUtil("到账数量")}}</v-sheet
                            >
                        </v-sheet>

                        <v-sheet color="transparent" height="450" class="scroll-y">
                            <v-sheet
                                class="d-flex sheetOutlined mb-2"
                                color="transparent"
                                width="100%"
                                min-height="40"
                                v-for="(item, key) of pageData.list"
                                :key="key"
                            >
                                <v-sheet color="transparent" class="d-flex flex-wrap align-center justify-space-start mx-2" width="100%">
                                    <v-sheet
                                        color="transparent"
                                        min-width="200"
                                        class="text-16 textGray--text text-truncate font-weight-bold"
                                        >{{getDateTime(item.created_at)}}</v-sheet
                                    >

                                    <v-sheet
                                        color="transparent"
                                        min-width="200"
                                        class="text-16 textGray--text text-truncate d-flex justify-center"
                                    >
                                        <span v-if="item.type == 48">{{LangUtil("质押")}}</span>
                                        <span v-else-if="item.type == 49">{{LangUtil("自动解质押")}}</span>
                                        <span v-else>{{LangUtil("手动解质押")}}</span>
                                    </v-sheet>

                                    <v-sheet
                                        color="transparent"
                                        min-width="200"
                                        class="text-16 textGray--text text-truncate d-flex justify-center font-weight-bold"
                                    >
                                        <v-img
                                            class="mr-2"
                                            max-width="25"
                                            height="25"
                                            :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                        ></v-img>
                                        {{ item.gold }}
                                    </v-sheet>
                                </v-sheet>
                            </v-sheet>
                        </v-sheet>
                    </template>
                </div>
                <ListNodata v-if="pageData.list.length == 0" height="445" />
                <v-spacer />
                <v-pagination
                    v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                    v-model="pageData.pageInfo.pageCurrent"
                    :length="pageData.pageInfo.pageCount"
                    :total-visible="7"
                    @input="onPageChange"
                ></v-pagination>
            </v-card-text>
        </template>
        <template v-else>
            <!-- 手机显示方式 -->
            <v-card-text class="pb-0 px-0">
                <com-dialog-title title="质押记录" @onClose="onClose" />

                <div class="d-flex justify-start py-2 px-2">
                    <v-btn-toggle :lang="core.lang" mandatory group v-model="typechange" @change="onTimeChange">
                        <v-btn class="rounded-pill" height="36" min-width="80">
                            <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-chart-line</v-icon>
                            <span class="text-14"> {{LangUtil("质押")}} </span>
                        </v-btn>
                        <v-btn class="rounded-pill" height="36" min-width="80">
                            <v-icon v-if="$vuetify.breakpoint.width > 600" class="mr-1">mdi-chart-tree</v-icon>
                            <span class="text-14"> {{LangUtil("解除质押")}} </span>
                        </v-btn>
                    </v-btn-toggle>
                </div>
            </v-card-text>
            <!-- <v-card-text class="px-5" v-if="$xsOnly"> -->
            <!-- <v-sheet  color="transparent" class="overflow-y-auto px-2" style="height: calc(100vh - 140px);"> -->
            <div v-if="listQuery.cate == 1 && $xsOnly">
                <LoadMore @onRefresh="onRefresh" @onLoad="onLoad" :listNodata="pageData.list.length == 0" :finished="pageData.finished">
                    <v-sheet
                        class="px-3 py-2 my-3 textGray--text rounded10"
                        v-for="(item, key) of pageData.list"
                        color="bgBanner"
                        :key="key"
                    >
                        <div class="d-flex justify-space-between">
                            <div class="primary--text">{{LangUtil("时间")}}</div>
                            <div>{{ getDateTime(item.created_at) }}</div>
                        </div>
                        <div class="d-flex justify-space-between mt-2">
                            <div class="d-flex align-center primary--text">{{LangUtil("数量")}}</div>
                            <div class="d-flex align-center">
                                <v-img
                                    class="mr-2"
                                    max-width="20"
                                    height="20"
                                    :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                ></v-img>
                                {{ item.gold }}
                            </div>
                        </div>
                    </v-sheet>
                </LoadMore>
            </div>
            <div v-if="listQuery.cate == 2 && $xsOnly">
                <LoadMore @onRefresh="onRefresh" @onLoad="onLoad" :listNodata="pageData.list.length == 0" :finished="pageData.finished">
                    <v-sheet
                        class="px-3 py-2 my-3 textGray--text rounded10"
                        v-for="(item, idx) in pageData.list"
                        color="bgBanner"
                        :key="idx"
                    >
                        <div class="d-flex justify-space-between">
                            <div class="primary--text">{{LangUtil("时间")}}</div>
                            <div>{{ getDateTime(item.created_at) }}</div>
                        </div>
                        <div class="d-flex justify-space-between mt-2 mb-2">
                            <div class="primary--text">{{LangUtil("类型")}}</div>
                            <div>
                                <span v-if="item.type == 48">{{LangUtil("质押")}}</span>
                                <span v-else-if="item.type == 49">{{LangUtil("自动解质押")}}</span>
                                <span v-else>{{LangUtil("手动解质押")}}</span>
                            </div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="ml-sm-8 primary--text">{{LangUtil("到账数量")}}</div>
                            <div class="d-flex align-center">
                                <v-img
                                    class="mr-2"
                                    max-width="20"
                                    height="20"
                                    :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                ></v-img>
                                {{ item.gold }}
                            </div>
                        </div>
                    </v-sheet>
                </LoadMore>
            </div>
            <!-- </v-card-text> -->
            <!-- </v-sheet> -->
        </template>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
