<v-container class="mt-8" :class="$vuetify.breakpoint.mobile ? 'px-3' : ''">

    <!-- 用途 -->
    <v-row no-gutters class="d-flex justify-center flex-wrap mt-4 ml-md-n4">
        <v-col cols="12" md="12" class="font-weight-bold" :class="$vuetify.breakpoint.smAndDown ? 'text-24' : 'text-28'"
            >{{LangUtil("{0}的用途", awardCoin)}}</v-col
        >
    </v-row>
    <v-row no-gutters class="d-flex justify-center ml-md-n4 mt-2">
        <v-col cols="12" md="4">
            <v-hover v-slot="{ hover }">
                <v-card
                    class="pa-2 intro-radius mr-md-4 bg1"
                    :color="hover ? '#283c63' : ''"
                    :class="$vuetify.breakpoint.smAndDown ? 'mb-4' : ''"
                >
                    <v-card-title>
                        <v-img contain max-width="24" max-height="24" :src="pageImage.money"></v-img>
                        <span class="ml-2">{{LangUtil("质押分红")}}</span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("玩家的{0}可在网站参与质押，享受网站收益分红，每日零点自动发放，持有{1}越多分红越多。", awardCoin,
                        awardCoin)}}
                    </v-card-text>
                    <v-layout justify-center :class="$vuetify.breakpoint.mdAndDown ? 'flex-wrap' : ''">
                        <v-card width="100%" class="mx-2 my-2 pa-4" color="rgba(0, 0, 0, 0.2)">
                            <div :class="$vuetify.breakpoint.smAndDown ? 'text-14' : 'text-16'">{{LangUtil("当前分红池")}}</div>
                            <div class="amber--text font-weight-bold" :class="$vuetify.breakpoint.smAndDown ? 'text-24' : 'text-28'">
                                $263,967
                            </div>
                        </v-card>
                        <v-card width="100%" class="mx-2 my-2 pa-4" color="rgba(0, 0, 0, 0.2)">
                            <div :class="$vuetify.breakpoint.smAndDown ? 'text-14' : 'text-16'">{{LangUtil("昨日分红")}}</div>
                            <div class="amber--text font-weight-bold" :class="$vuetify.breakpoint.smAndDown ? 'text-24' : 'text-28'">
                                $28,520.14
                            </div>
                        </v-card>
                    </v-layout>
                    <v-card-actions class="pa-4 d-flex">
                        <v-btn rounded block :class="hover ? 'intro-btn-hover-V2' : 'intro-btn-V2'" color="#f8d129" height="48" class="text-body-1">
                            {{LangUtil("去质押")}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-hover>
        </v-col>
        <v-col cols="12" md="4" class="d-flex flex-column justify-space-between">
            <v-hover v-slot="{ hover }">
                <v-card height="100%" class="mb-4 pa-2 mr-md-4 intro-radius" :color="hover ? '#283c63' : '#13212f'">
                    <v-card-title>
                        <v-img contain max-width="24" max-height="24" :src="pageImage.stuck"></v-img>
                        <span class="ml-2">{{LangUtil("玩家间交易")}}</span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_玩家交易说明", awardCoin, awardCoin, awardCoin)}}
                    </v-card-text>
                </v-card>
            </v-hover>
            <v-hover v-slot="{ hover }">
                <v-card
                    height="100%"
                    class="pa-2 mr-md-4 intro-radius"
                    :color="hover ? '#283c63' : '#13212f'"
                    :class="$vuetify.breakpoint.smAndDown ? 'mb-4' : ''"
                >
                    <v-card-title>
                        <v-img contain max-width="24" max-height="24" :src="pageImage.coin"></v-img>
                        <span class="ml-2">{{LangUtil("{0}投注", awardCoin)}}</span>
                        <v-spacer></v-spacer>
                        <span class="font-weight-bold intro-wait-text" :class="$vuetify.breakpoint.smAndDown ? 'text-14' : 'text-16'">
                            {{LangUtil("敬请期待")}}
                        </span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_投注说明", awardCoin, awardCoin)}}
                    </v-card-text>
                </v-card>
            </v-hover>
        </v-col>
        <v-col cols="12" md="4" class="d-flex flex-column justify-space-between">
            <v-hover v-slot="{ hover }">
                <v-card height="100%" class="mb-4 pa-2 intro-radius" :color="hover ? '#283c63' : '#13212f'">
                    <v-card-title>
                        <v-img contain max-width="24" max-height="24" :src="pageImage.money"></v-img>
                        <span class="ml-2">{{LangUtil("{0}回购", awardCoin)}}</span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_回购说明", awardCoin, awardCoin)}}
                    </v-card-text>
                </v-card>
            </v-hover>
            <v-hover v-slot="{ hover }">
                <v-card height="100%" class="pa-2 intro-radius" :color="hover ? '#283c63' : '#13212f'">
                    <v-card-title>
                        <v-img contain max-width="24" max-height="24" :src="pageImage.joystick"></v-img>
                        <span class="ml-2">{{LangUtil("购买特权NFT")}}</span>
                        <v-spacer></v-spacer>
                        <span class="font-weight-bold intro-wait-text" :class="$vuetify.breakpoint.smAndDown ? 'text-14' : 'text-16'">
                            {{LangUtil("敬请期待")}}
                        </span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_购买特权NFT说明", awardCoin)}}
                    </v-card-text>
                </v-card>
            </v-hover>
        </v-col>
    </v-row>
    <!-- 如何获得 -->
    <v-row no-gutters class="d-flex justify-center flex-wrap ml-md-n4 mt-4">
        <v-col cols="12" md="12" class="font-weight-bold" :class="$vuetify.breakpoint.smAndDown ? 'text-24' : 'text-28'">
            {{LangUtil("如何获得{0}", awardCoin)}}
        </v-col>
    </v-row>
    <v-row no-gutters class="d-flex justify-center flex-wrap ml-md-n4 mt-4">
        <v-col cols="12" md="4" class="mb-4">
            <v-hover v-slot="{ hover }">
                <v-card
                    class="pa-2 intro-radius mr-md-4 d-flex flex-column justify-space-between"
                    :class="$vuetify.breakpoint.mdAndUp ? 'intro-how-01-md' : ''"
                    :color="hover ? '#283c63' : ''"
                    height="100%"
                >
                    <v-card-title>
                        <span class="ml-2">{{LangUtil("游戏投注挖矿")}}</span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_游戏投注挖矿说明", awardCoin)}}
                    </v-card-text>
                    <v-card-actions class="pa-4 d-flex" :class="$vuetify.breakpoint.mdAndUp ? '' : 'justify-end'">
                        <v-btn
                            rounded
                            color="white"
                            height="48"
                            :min-width="$vuetify.breakpoint.mdAndUp ? '170' : '118'"
                            class="text-body-1 px-4 intro-btn"
                        >
                            {{LangUtil("去游戏大厅")}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-hover>
        </v-col>
        <v-col cols="12" md="4" class="mb-4">
            <v-hover v-slot="{ hover }">
                <v-card
                    class="pa-2 intro-radius mr-md-4 d-flex flex-column justify-space-between"
                    :class="$vuetify.breakpoint.mdAndUp ? 'intro-how-02-md' : 'intro-how-02'"
                    :color="hover ? '#283c63' : ''"
                    height="100%"
                >
                    <v-card-title>
                        <span class="ml-2">{{LangUtil("定期空投")}}</span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_定期空投说明", awardCoin)}}
                    </v-card-text>
                    <v-card-actions class="pa-4 d-flex" :class="$vuetify.breakpoint.mdAndUp ? '' : 'justify-end'">
                        <v-btn
                            rounded
                            color="white"
                            height="48"
                            :min-width="$vuetify.breakpoint.mdAndUp ? '170' : '118'"
                            class="text-body-1 px-4 intro-btn"
                        >
                            {{LangUtil("加入TG社群")}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-hover>
        </v-col>
        <v-col cols="12" md="4" class="mb-4">
            <v-hover v-slot="{ hover }">
                <v-card
                    class="pa-2 intro-radius d-flex flex-column justify-space-between"
                    :class="$vuetify.breakpoint.mdAndUp ? 'intro-how-03-md' : 'intro-how-03'"
                    :color="hover ? '#283c63' : ''"
                    height="100%"
                >
                    <v-card-title>
                        <span class="ml-2">{{LangUtil("好友推荐")}}</span>
                    </v-card-title>
                    <v-card-text :class="hover ? 'white--text' : 'intro-text'">
                        {{LangUtil("币种专题页介绍_好友推荐", awardCoin, awardCoin)}}
                    </v-card-text>
                    <v-card-actions class="pa-4 d-flex" :class="$vuetify.breakpoint.mdAndUp ? '' : 'justify-end'">
                        <v-btn
                            disabled
                            rounded
                            color="white"
                            height="48"
                            :min-width="$vuetify.breakpoint.mdAndUp ? '170' : '118'"
                            class="text-body-1 indigo--text text--darken-2 px-4 "
                        >
                            {{LangUtil("敬请期待")}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-hover>
        </v-col>
    </v-row>

</v-container>
