@import "@/_skin005/style/el_data_select_style.scss";

.testdiv {
    width: 150px;

    @media only screen and (max-width: 750px) {
        width: 100%;
    }
}

.listitem {
    div {
        width: 80px;
        margin-top: 2px;
        margin-bottom: 2px;
        // color: #7A95CA;

        // div > a {
        //     color: #9db1d8;
        // }
        @media only screen and (max-width: 750px) {
            width: 100%;
        }
    }

    .listitem-150 {
        width: 150px;

        div {
            width: 150px;
        }
    }

    .listitem-80 {
        width: 80px;

        div {
            width: 80px;
        }
    }

    .listitem-40 {
        width: 40px;

        div {
            width: 40px;
        }
    }
}

.listitem_title {
    div {
        width: 80px;
        margin-top: 2px;
        margin-bottom: 2px;
        //color: #7A95CA;

        // div > a {
        //     color: #7A95CA;
        // }
        @media only screen and (max-width: 750px) {
            width: 100%;
        }
    }

    .listitem-150 {
        width: 150px;

        div {
            width: 150px;
        }
    }

    .listitem-80 {
        width: 80px;

        div {
            width: 80px;
        }
    }

    .listitem-40 {
        width: 40px;

        div {
            width: 40px;
        }
    }
}

.header-mobile {
    position: fixed;
    z-index: 1000;
    background-color: #121e36;
}

.listbox-mobile {
    overflow: hidden;
    padding-top: 0px;
}

// .listbox-mobile_other {
//     overflow: hidden;
//     padding-top: 360px;
//     @media only screen and (max-width: 600px) {
//         padding-top: 360px;
//     }
// }
// .listbox-mobile-nooptions {
//     overflow: hidden;
//     padding-top: 240px;
//     @media only screen and (max-width: 600px) {
//         padding-top: 240px;
//     }
// }
.btn {
    color: transparent;
}

.w-280 {
    width: 280px;
}

.w-120 {
    width: 120px;
}

::v-deep .el-date-editor .el-input__inner {
    width: 100%;
}

// ::v-deep .el-date-editor.el-input, .el-date-editor.el-input__inner{
//     width: 100%;
// }
.input_range {
    width: 380px;
}

.input_range_1 {
    ::v-deep .el-icon-date {
        display: none;
    }
    ::v-deep .el-input__inner {
        padding-left: 10px !important;
    }

    height: 36px !important;
    width: auto;
}
.input_range_2 {
    ::v-deep .el-input__inner {
        padding-left: 31px !important;
    }
    height: 36px !important;
}

.hackhome {
    height: 1px;
    background-image: linear-gradient(to right, #213354 0%, #213354 50%, transparent 50%);
    background-size: 16px 1px;
    background-repeat: repeat-x;
}

.mobile_main {
    height: calc(100vh - 300px);
}

.mobile_main_2 {
    height: calc(100vh - 250px);
}

.mobile_main_3 {
    height: calc(100vh - 250px);
}

.select-text {
    font-size: 14px;
}
.theme--light {
    .timeRange_pc {
        ::v-deep .el-input__inner {
            background-color: #f4f4f4 !important;
        }

        ::v-deep .el-input {
            font-size: 12px !important;
        }
    }
}

.theme--light {
    .timeRange {
        ::v-deep .el-input__inner {
            height: 36px;
            background-color: transparent !important;
            color: var(--btn_disable_text_dark);
        }
        background-color: #fff !important;

        ::v-deep .el-input {
            font-size: 12px !important;
        }
    }
}
.theme--dark {
    .timeRange {
        ::v-deep .el-input__inner {
            color: #8e8f91;
            height: 36px;
            background-color: transparent !important;
        }
        background-color: #2f3030 !important;

        ::v-deep .el-input {
            font-size: 12px !important;
        }
    }
}

::v-deep .el-date-editor {
    position: relative;

    .el-input__prefix {
        display: none;
    }
}

::v-deep .el-range__icon {
    display: none;
}

::v-deep .el-input--prefix .el-input__inner {
    padding-left: 20px;
}

::v-deep .el-icon-date {
    font-size: 16px;
}

.cusSelect {
    height: 36px !important;
    font-size: 12px !important;
    ::v-deep .title_class {
        height: 36px !important;
        width: calc(100vw / 3 - 15px) !important;
    }
    ::v-deep .v-menu__content {
        width: unset !important;
    }
}

.detail {
    background: linear-gradient(to right, var(--yellow_color_1), var(--yellow_color_2));
    width: 100%;
    padding: 5px;
}
.div-block {
    display: inline-block;
}
.pclist-height {
    height: calc(100vh - 450px);
}
.pclist-height-1 {
    height: calc(100vh - 380px);
}
.cancle_btn_line {
    border-bottom: 1px solid #000 !important;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}
.underline:hover {
    font-weight: 700;
}
