<v-dialog
    v-if="!pageData.bHidden"
    width="unset"
    class="regular_text"
    v-model="pageData.bShow"
    overlay-opacity="0.6"
    :fullscreen="$xsOnly"
    persistent
>
    <v-card v-if="!$xsOnly" color="bgBanner" class="d-flex rounded10">
        <AdvertiseInLogin :height="650" :width="300" class="d-none d-md-flex" />
        <v-card color="transparent" width="430" class="">
            <com-dialog-title title="注册" @onClose="onClose" />
            <v-divider class="mb-2" />
            <v-card-text class="px-5">
                <horizontal_scroll v-if="registerTypes.length > 1" class="d-flex mb-5">
                    <template v-slot="{data}">
                        <v-btn-toggle mandatory group v-model="typechange" @change="onTimeChange">
                            <v-btn
                                v-if="registerTypes.includes(1)"
                                class="rounded-pill mr-2"
                                :height="btn_height"
                                :min-width="btn_width"
                                value="1"
                            >
                                <span class="text-14"> {{LangUtil("账号注册")}} </span>
                            </v-btn>
                            <v-btn
                                v-if="registerTypes.includes(4)"
                                class="rounded-pill mr-2"
                                :height="btn_height"
                                :min-width="btn_width"
                                value="4"
                            >
                                <span class="text-14"> {{LangUtil("手机注册")}} </span>
                            </v-btn>
                            <v-btn
                                v-if="registerTypes.includes(2)"
                                class="rounded-pill mr-2"
                                :height="btn_height"
                                :min-width="btn_width"
                                value="2"
                            >
                                <span class="text-14"> {{LangUtil("邮箱注册")}} </span>
                            </v-btn>
                            <v-btn
                                v-if="registerTypes.includes(8)"
                                class="rounded-pill mr-2"
                                :height="btn_height"
                                :min-width="btn_width"
                                value="8"
                            >
                                <span class="text-14"> {{LangUtil("手机账号注册")}} </span>
                            </v-btn>
                        </v-btn-toggle>
                    </template>
                </horizontal_scroll>

                <CustomInput
                    v-if="!IsShow_HideRegisterInvite"
                    class="mb-6"
                    icon="mdi-account"
                    :placeholder="LangUtil('请输入推荐人（选填）')"
                    v-model="form.invite_user_id"
                    :disabled="hasInviteUser()"
                />
                <CustomInput
                    v-if="form.register_type==1"
                    class="mb-6"
                    icon="mdi-account"
                    :placeholder="LangUtil('请输入注册账号（4-20位）')"
                    maxlength="20"
                    v-model="form.username"
                    @blur="onUsernameBlur"
                />
                <v-sheet v-if="form.register_type==2" color="transparent" class="mb-6">
                    <CustomInput
                        icon="mdi-account"
                        :placeholder="LangUtil('请输入邮箱')"
                        maxlength="30"
                        v-model="form.username"
                        @blur="onBlurInput()"
                    >
                        <btn-yellow
                            class="ml-auto text-14"
                            min_width="80"
                            height="36"
                            :btn_type="4"
                            :disabled="!checkMail(form.username) || isdeisable"
                            @click.native="sendVerithMail"
                            >{{verityString}}</btn-yellow
                        >
                    </CustomInput>
                    <v-sheet class="text-12 red--text" color="transparent"> {{email_error_info}} </v-sheet>
                </v-sheet>
                <CustomInput
                    v-if="form.register_type==8"
                    class="mb-6"
                    icon="mdi-account"
                    :placeholder="LangUtil('请输入注册账号（4-20位）')"
                    maxlength="20"
                    v-model="form.mobile_username"
                    @blur="onMobileUsernameBlur"
                />

                <CustomInput
                    v-if="form.register_type==4 || form.register_type==8"
                    class="mb-6"
                    icon="mdi-phone"
                    type="tel"
                    :placeholder="LangUtil('请输入手机号')"
                    maxlength="11"
                    v-model="form.username"
                >
                    <template v-slot:pre>
                        <v-sheet color="transparent" class="codeSelect">
                            <v-autocomplete
                                class="ml-1"
                                v-model="tempSelectCode"
                                :items="areaCodeArr"
                                item-text="area_code"
                                :label="curShowCode"
                                hide-details
                                solo
                                flat
                                background-color="transparent"
                                attach
                                return-object
                                :no-data-text="LangUtil('没有更多数据')"
                                :filter="customFilter"
                            >
                                <template v-slot:item="data">
                                    <v-sheet color="transparent" width="100%" class="d-flex justify-space-between colorText2--text text-14">
                                        <div>{{data.item.area_code}}</div>
                                        <div>{{data.item.name}}</div>
                                    </v-sheet>
                                </template>
                            </v-autocomplete>
                        </v-sheet>
                        <v-menu
                            v-if="false"
                            v-model="areaCodeMenu"
                            offset-y
                            :close-on-content-click="false"
                            nudge-bottom="20"
                            nudge-left="38"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <div class="d-flex" v-bind="attrs" v-on="on">
                                    <div class="textYellow--text mx-2">+{{form.area_code}}</div>
                                    <div
                                        class="icon-box iconfont text-18 mr-2"
                                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                    >
                                        
                                    </div>
                                    <div class="text-20">|</div>
                                </div>
                            </template>
                            <v-sheet class="pa-3 rounded-lg" color="colorPanelTitleBg" width="400">
                                <v-text-field
                                    class="rounded-pill"
                                    outlined
                                    dense
                                    prepend-inner-icon="mdi-database-search-outline"
                                    hide-details
                                    v-model="areaCodeSearch"
                                    @input="onAreaCodeInput"
                                ></v-text-field>

                                <v-list dense color="colorPanelTitleBg">
                                    <v-list-item-group>
                                        <v-list-item
                                            v-for="(item, index) of areaCodeList"
                                            :key="index"
                                            class="colorText2--text"
                                            @click="onItemAreaCode(item)"
                                        >
                                            <div>{{item.name}}</div>
                                            <v-spacer />
                                            <div>+{{item.area_code}}</div>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-sheet>
                        </v-menu>
                    </template>
                    <btn-yellow
                        class="ml-auto text-14"
                        min_width="80"
                        height="36"
                        :btn_type="4"
                        :disabled="!checkPhone(form.username) || isdeisable"
                        @click.native="sendVerithMobile"
                        >{{verityString}}</btn-yellow
                    >
                </CustomInput>

                <CustomInput
                    class="mb-6"
                    v-if="form.register_type != 1"
                    icon="mdi-shield-check"
                    :placeholder="LangUtil('请输入验证码（6位）')"
                    maxlength="6"
                    v-model="form.verify_code"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="form.password"
                    @blur="onPasswordBlur"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('确认密码（6-20位）')"
                    v-model="form.password_confirm"
                    @blur="onPasswordConfirmBlur"
                />
                <v-sheet v-if="form.register_type == 1" color="transparent" width="100%" class="d-flex mb-6 align-center">
                    <CustomInput
                        icon="mdi-shield-check"
                        :placeholder="LangUtil('请输入验证码（4位）')"
                        maxlength="4"
                        v-model="form.verify_code"
                    >
                    </CustomInput>
                    <v-img class="ml-3 rounded" :src="pageData.auth_image" max-width="75" height="30" @click="getImageVerity"></v-img>
                </v-sheet>

                <!-- <v-btn class="rounded-lg" color="#6fa9fa" height="48" :disabled="!isCheck" block @click="onRegister"
                    >{{LangUtil("注册")}}</v-btn > -->

                <btn-yellow class="text-16" width="100%" height="36" :disabled="!isCheck" @click.native="onRegister"
                    >{{LangUtil("注册")}}</btn-yellow
                >

                <v-sheet color="transparent" class="d-flex align-center justify-center flex-column mt-2">
                    <div class="text-14 textGray--text mt-1">
                        {{LangUtil("注册即代表您已阅读并同意")}}
                        <button class="textYellow--text" type="button" @click="goService">{{LangUtil("《服务协议》")}}</button>
                    </div>

                    <div class="textGray--text mt-1">
                        {{LangUtil("已有账户?")}}<button class="textYellow--text" @click="goLogin">{{LangUtil("去登录")}}</button>
                    </div>
                </v-sheet>
            </v-card-text>
        </v-card>
    </v-card>

    <!-- 手机版 -->
    <v-card v-else color="bgColor" class="rounded-0 shadow-0">
        <com-dialog-title title="注册" @onClose="onClose" />
        <horizontal_scroll v-if="registerTypes.length > 1" class="d-flex my-3 px-2">
            <template v-slot="{data}">
                <v-btn-toggle :lang="core.lang" mandatory group v-model="typechange" @change="onTimeChange">
                    <v-btn v-if="registerTypes.includes(1)" class="rounded-pill" :height="btn_height" :min-width="btn_width" value="1">
                        <span :class="typechange=='1'?'font-weight-bold':''" class="text-14"> {{LangUtil("账号注册")}} </span>
                    </v-btn>
                    <v-btn v-if="registerTypes.includes(4)" class="rounded-pill" :height="btn_height" :min-width="btn_width" value="4">
                        <span :class="typechange=='4'?'font-weight-bold':''" class="text-14"> {{LangUtil("手机注册")}} </span>
                    </v-btn>
                    <v-btn v-if="registerTypes.includes(2)" class="rounded-pill" :height="btn_height" :min-width="btn_width" value="2">
                        <span :class="typechange=='2'?'font-weight-bold':''" class="text-14"> {{LangUtil("邮箱注册")}} </span>
                    </v-btn>
                    <v-btn v-if="registerTypes.includes(8)" class="rounded-pill" :height="btn_height" :min-width="btn_width" value="8">
                        <span :class="typechange=='2'?'font-weight-bold':''" class="text-14"> {{LangUtil("手机账号注册")}} </span>
                    </v-btn>
                </v-btn-toggle>
            </template>
        </horizontal_scroll>

        <v-sheet class="px-4 mx-3 py-4 mt-2 rounded10" color="bgBanner">
            <CustomInput
                v-if="!IsShow_HideRegisterInvite"
                class="mb-4"
                icon="mdi-account"
                :placeholder="LangUtil('请输入推荐人（选填）')"
                v-model="form.invite_user_id"
                :disabled="hasInviteUser()"
            />
            <CustomInput
                v-if="form.register_type==1"
                class="mb-4"
                icon="mdi-account"
                :placeholder="LangUtil('请输入注册账号（4-20位）')"
                maxlength="20"
                v-model="form.username"
                @blur="onUsernameBlur"
            />
            <v-sheet v-if="form.register_type==2" color="transparent" class="">
                <CustomInput
                    icon="mdi-account"
                    :placeholder="LangUtil('请输入邮箱')"
                    maxlength="30"
                    v-model="form.username"
                    @blur="onBlurInput()"
                >
                    <btn-yellow
                        class="ml-auto text-14"
                        min_width="80"
                        height="36"
                        :btn_type="4"
                        :disabled="!checkMail(form.username) || isdeisable"
                        @click.native="sendVerithMail"
                        >{{verityString}}</btn-yellow
                    >
                </CustomInput>
                <v-sheet class="text-12 red--text" color="transparent"> {{email_error_info}} </v-sheet>
            </v-sheet>
            <CustomInput
                v-if="form.register_type==8"
                class="mb-4"
                icon="mdi-account"
                :placeholder="LangUtil('请输入注册账号（4-20位）')"
                maxlength="20"
                v-model="form.mobile_username"
                @blur="onMobileUsernameBlur"
            />

            <CustomInput
                v-if="form.register_type==4 || form.register_type==8"
                class="mb-4"
                icon="mdi-phone"
                type="tel"
                :placeholder="LangUtil('请输入手机号')"
                maxlength="11"
                v-model="form.username"
            >
                <template v-slot:pre>
                    <v-sheet color="transparent" class="codeSelect">
                        <v-autocomplete
                            class="ml-1"
                            v-model="tempSelectCode"
                            :items="areaCodeArr"
                            item-text="area_code"
                            :label="curShowCode"
                            hide-details
                            solo
                            flat
                            background-color="transparent"
                            attach
                            return-object
                            :no-data-text="LangUtil('没有更多数据')"
                            :filter="customFilter"
                        >
                            <template v-slot:item="data">
                                <v-sheet color="transparent" width="100%" class="d-flex justify-space-between colorText2--text text-14">
                                    <div>{{data.item.area_code}}</div>
                                    <div>{{data.item.name}}</div>
                                </v-sheet>
                            </template>
                        </v-autocomplete>
                    </v-sheet>
                    <v-menu v-if="false" v-model="areaCodeMenu" offset-y :close-on-content-click="false" nudge-bottom="20" nudge-left="38">
                        <template v-slot:activator="{ on, attrs }">
                            <div class="d-flex" v-bind="attrs" v-on="on">
                                <div class="textYellow--text mx-2">+{{form.area_code}}</div>
                                <div
                                    class="icon-box iconfont text-18 mr-2"
                                    :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                >
                                    
                                </div>
                                <div class="text-20">|</div>
                            </div>
                        </template>
                        <v-sheet class="pa-3 rounded-lg" color="colorPanelTitleBg" width="400">
                            <v-text-field
                                class="rounded-pill"
                                outlined
                                dense
                                prepend-inner-icon="mdi-database-search-outline"
                                hide-details
                                v-model="areaCodeSearch"
                                @input="onAreaCodeInput"
                            ></v-text-field>

                            <v-list dense color="colorPanelTitleBg">
                                <v-list-item-group>
                                    <v-list-item
                                        v-for="(item, index) of areaCodeList"
                                        :key="index"
                                        class="colorText2--text"
                                        @click="onItemAreaCode(item)"
                                    >
                                        <div>{{item.name}}</div>
                                        <v-spacer />
                                        <div>+{{item.area_code}}</div>
                                    </v-list-item>
                                </v-list-item-group>
                            </v-list>
                        </v-sheet>
                    </v-menu>
                </template>
                <btn-yellow
                    class="ml-auto text-14"
                    min_width="80"
                    height="36"
                    :btn_type="4"
                    :disabled="!checkPhone(form.username) || isdeisable"
                    @click.native="sendVerithMobile"
                    >{{verityString}}</btn-yellow
                >
            </CustomInput>

            <CustomInput
                class="mb-4 mt-4"
                v-if="form.register_type != 1"
                icon="mdi-shield-check"
                :placeholder="LangUtil('请输入验证码（6位）')"
                maxlength="6"
                v-model="form.verify_code"
            />
            <CustomPassword
                class="mb-4"
                icon="mdi-lock"
                :placeholder="LangUtil('请输入密码（6-20位）')"
                v-model="form.password"
                @blur="onPasswordBlur"
            />
            <CustomPassword
                class="mb-4"
                icon="mdi-lock"
                :placeholder="LangUtil('确认密码（6-20位）')"
                v-model="form.password_confirm"
                @blur="onPasswordConfirmBlur"
            />
            <v-sheet v-if="form.register_type == 1" color="transparent" width="100%" class="d-flex mb-4 align-center">
                <CustomInput
                    icon="mdi-shield-check"
                    :placeholder="LangUtil('请输入验证码（4位）')"
                    maxlength="4"
                    v-model="form.verify_code"
                >
                </CustomInput>
                <v-img class="ml-3 rounded" :src="pageData.auth_image" max-width="75" height="30" @click="getImageVerity"></v-img>
            </v-sheet>

            <btn-yellow class="text-16" width="100%" height="36" :disabled="!isCheck" @click.native="onRegister"
                >{{LangUtil("注册")}}</btn-yellow
            >

            <v-sheet color="transparent" class="d-flex align-center justify-center flex-column mt-2">
                <div class="text-12 copy_icon--text mt-1">
                    {{LangUtil("注册即代表您已阅读并同意")}}
                    <span class="textYellow--text cursor-pointer" @click="goService">{{LangUtil("《服务协议》")}}</span>
                    <!-- <button class="textYellow--text" type="button" @click="goService">{{LangUtil("《服务协议》")}}</button> -->
                </div>

                <div class="copy_icon--text mt-1 text-12">
                    {{LangUtil("已有账户?")}}<button class="textYellow--text ml-4" @click="goLogin">{{LangUtil("去登录")}}</button>
                </div>
            </v-sheet>
        </v-sheet>
    </v-card>

    <Overlay v-model="pageData.loading" />
</v-dialog>
