.boxdiv {
    margin-left: 10px;
    margin-right: 10px;
    min-height: 40px;
    width: 100%;
    div {
        background-color: transparent;
        color: #8e8f91;
        min-height: 40px;
        width: 100%;
        cursor: pointer;
        // border: solid 1px #c8cad0;
    }
    .btn-left {
        //color: #fff;
        border-radius: 10px 0px 0px 10px;
        border-top: solid 1px #D6DDE3;
        border-bottom: solid 1px #D6DDE3;
        border-left: solid 1px #D6DDE3;

        //pointer-events: none;
        //border: 1px solid transparent !important;
        border-radius: 10px 0px 0px 10px;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
       // background-image: linear-gradient(to right, #202121, #202121), linear-gradient(90deg, #fcb131, #ffe64d);
        //background-image: linear-gradient(to right, #F4F4F4, #F4F4F4), linear-gradient(90deg, #D6DDE3, #D6DDE3);
    }
    .btn-right {
        border-radius: 0px 10px 10px 0px;
        border-top: solid 1px #333435;
        border-bottom: solid 1px #333435;
        border-right: solid 1px #333435;

        //pointer-events: none;
        // border: 1px solid transparent !important;
        // border-radius: 0px 10px 10px 0px;
        // background-clip: padding-box, border-box;
        // background-origin: padding-box, border-box;
        //background-image: linear-gradient(to right, #F4F4F4, #F4F4F4), linear-gradient(90deg, #D6DDE3, #D6DDE3);
        //background: #F4F4F4;
    }
}
// .boxdiv-dark {
//     div {
//         border: solid 1px #5a5a5a;
//     }
// }
.boxdiv-border {
    border-radius: 10px;
    border: solid 1px #D6DDE3;
}

.theme--dark {
    .boxdiv {
        .btn-left{
            pointer-events: none;
            //color: #fff;
            color: #5a5a5a;
            border: 1px solid transparent !important;
            background-image: linear-gradient(to right, #1B1C1C, #1B1C1C), linear-gradient(90deg, #3E3F41, #3E3F41);
        }

        .btn-right {
            //background-image: linear-gradient(to right, #202121, #202121), linear-gradient(90deg, #D6DDE3, #D6DDE3);
            border-top: solid 1px #3E3F41;
            border-bottom: solid 1px #3E3F41;
            border-right: solid 1px #3E3F41;
            //color: #5a5a5a;
            color: #fff;
        }
    }
}

.theme--light {
    .boxdiv {
        .btn-left{
            color: #0f1213;
            background-image: linear-gradient(to right, #fff, #fff), linear-gradient(90deg, #D6DDE3, #D6DDE3);
        }

        .btn-right {
            pointer-events: none;
            border: 1px solid transparent !important;
            border-radius: 0px 10px 10px 0px;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
            background-image: linear-gradient(to right, #F4F4F4, #F4F4F4), linear-gradient(90deg, #D6DDE3, #D6DDE3);
            border-left: none;

        }
    }
}
