<v-dialog
    v-if="!pageData.bHidden"
    width="400"
    v-model="pageData.bShow"
    :fullscreen="$xsOnly"
    :retain-focus="false"
    persistent
    @click:outside="onClose"
>
    <div class="container_daily" @click="onPhoneClose">
        <v-card v-if="!$xsOnly" ref="card_node" class="rounded10" color="transparent" elevation="0" width="100%">
            <!-- <div class="div_bg"></div> -->
            <v-img v-if="!$xsOnly" :src="bg_icon_path" width="100%" class="main_bg"> </v-img>
            <v-img v-else :src="bg_icon_path" max-width="260" class="main_bg"> </v-img>

            <v-card flat color="transparent" class="py-2 px-2" width="100%">
                <!-- 标题 -->
                <v-sheet
                    color="transparent"
                    class="d-flex justify-center align-center font-weight-bold"
                    :class="$xsOnly ? 'title_margin_mob': 'title_margin' "
                >
                    <!-- <div class="gradient_title_shadow_2 mt-2 ml-1 canntSelect">{{LangUtil("每日签到")}}</div> -->
                    <div class="gradient_title_shadow mt-1 canntSelect">{{LangUtil("每日签到")}}</div>
                    <div class="gradient_title canntSelect">{{LangUtil("每日签到")}}</div>
                </v-sheet>
                <!-- 副标题 -->
                <v-sheet
                    color="transparent"
                    class="daily_mini_title--text"
                    :class="$xsOnly ? 'text-14' : 'text-16'"
                    style="line-height: 1.4"
                >
                    <div style="text-align: center" v-html="miniTitle"></div>
                </v-sheet>

                <!-- 下面的内容 -->
                <v-card flat color="transparent" class="d-flex flex-wrap py-5 align-center justify-center">
                    <template
                        v-if="myProxy.daily_data.rules && myProxy.daily_data.rules.length>0"
                        v-for="(item, key) of myProxy.daily_data.rules"
                    >
                        <DailyItem
                            v-if="item"
                            :key="item.rule_num"
                            :item="item"
                            class="mx-1 my-1"
                            width="85"
                            height="110"
                            :isToday="todayData.rule_num == item.rule_num"
                        />
                    </template>
                </v-card>

                <!-- 底部的按钮以及信息 -->
                <v-sheet color="transparent" width="100%" class="d-flex mt-1 px-2">
                    <btn-yellow class="text-18" width="100%" height="50" @click.native="onGetBones" :disabled="isTodaySign"
                        >{{LangUtil("立即签到")}}</btn-yellow
                    >
                </v-sheet>
                <v-sheet color="transparent" width="100%" class="mt-3" style="text-align: center">
                    {{LangUtil("本周已签到第{0}天",isSignedDays)}}
                </v-sheet>
            </v-card>

            <v-sheet color="transparent" width="100%" class="d-flex justify-center mt-2 py-2">
                <v-btn class="mr-2" icon @click="onClose">
                    <svg-icon icon="close_circle" class="text-30 white--text"></svg-icon>
                </v-btn>
            </v-sheet>
        </v-card>

        <div
            v-else
            flat
            ref="card_node"
            color="transparent"
            class="d-flex justify-center align-center"
            @click.stop="onPhoneCardClick"
            :ripple="false"
        >
            <v-card flat class="rounded10 px-2 d-flex flex-column align-center" color="transparent" width="375">
                <v-img :src="bg_icon_path" width="350" class="main_bg_mob"> </v-img>

                <v-card flat color="transparent" class="py-2 px-2 item_main_node" width="360">
                    <!-- 标题 -->
                    <v-sheet color="transparent" class="d-flex justify-center align-center font-weight-bold title_margin_mob">
                        <div class="gradient_title_shadow_2 mt-2 ml-1 canntSelect">{{LangUtil("每日签到")}}</div>
                        <div class="gradient_title_shadow mt-1 canntSelect">{{LangUtil("每日签到")}}</div>
                        <div class="gradient_title canntSelect">{{LangUtil("每日签到")}}</div>
                    </v-sheet>
                    <!-- 副标题 -->
                    <v-sheet color="transparent" class="daily_mini_title--text mt-2" :class="$xsOnly ? 'text-14' : 'text-24'">
                        <div style="text-align: center" v-html="miniTitle"></div>
                    </v-sheet>

                    <!-- 下面的内容 -->
                    <v-card flat color="transparent" class="d-flex flex-wrap py-4 align-center justify-center item_main_node" height="250">
                        <template
                            v-if="myProxy.daily_data.rules && myProxy.daily_data.rules.length>0"
                            v-for="(item, key) of myProxy.daily_data.rules"
                        >
                            <DailyItem
                                v-if="item"
                                :key="item.rule_num"
                                :item="item"
                                class="mx-1 my-1"
                                width="75"
                                height="91.2"
                                :isToday="todayData.rule_num == item.rule_num"
                            />
                        </template>
                    </v-card>

                    <!-- 底部的按钮以及信息 -->
                    <v-sheet color="transparent" width="100%" class="d-flex px-4">
                        <btn-yellow class="text-16" width="100%" height="44" @click.native.stop="onGetBones" :disabled="isTodaySign"
                            >{{LangUtil("立即签到")}}</btn-yellow
                        >
                    </v-sheet>
                    <v-sheet color="transparent" width="100%" class="mt-2" style="text-align: center">
                        {{LangUtil("本周已签到第{0}天",isSignedDays)}}
                    </v-sheet>
                </v-card>

                <v-sheet color="transparent" width="100%" class="d-flex justify-center mt-2 py-2">
                    <v-btn class="mr-2" icon @click.stop="onClose">
                        <svg-icon icon="close_circle" class="text-40 daily_close_btn--text"></svg-icon>
                    </v-btn>
                </v-sheet>
            </v-card>
        </div>
    </div>
</v-dialog>
