@import "@/style/fontsize.scss";
.skin005 {
    .gradient-yellow {
        background-image: linear-gradient(to right, #fcb131, #ffe64d);
    }

    .rounded16 {
        border-radius: 16px !important;
    }
    .rounded10 {
        border-radius: 10px !important;
    }

    pre {
        font-family: "GOTHAM_BOLD", "GOTHAM_BOOK";
    }
    .gradient-bg {
        height: 70px;
        background-color: transparent !important;
        background-image: none !important;
        text-align: center;
        :nth-child(2) {
            position: absolute;
            right: 10px;
        }
    }
    .gradient-bg_mob {
        height: 64px;
        background-color: transparent !important;
        background-image: none !important;
        text-align: center;
        :nth-child(2) {
            position: absolute;
            left: 10px;
        }
    }
    .back_btn_icon {
        transform: rotateZ(180deg);
    }
    // .v-dialog{
    //     border-radius: 20px !important;
    // }
    .theme--dark {
        .v-btn-toggle--group {
            .v-btn {
                border: solid 1px #5a5a5a !important;
                color: #8e8f91 !important;
            }
            .v-btn::before {
                background-color: transparent !important;
            }
            .v-btn.v-btn--active {
                border: solid 1px #ffcd43 !important;
                color: #ffffff !important;
            }
        }
        .sheetOutlined {
            border: solid 1px #333435 !important;
            border-radius: 10px !important;
        }
        .sheetOutlined_bg {
            background-color: #272828;
        }
        .input-text {
            background-color: #2f3030;
        }

        .select-text {
            background-color: #2f3030 !important;
            border-radius: 10px !important;
        }
    }

    .theme--light {
        .v-btn-toggle--group {
            .v-btn {
                border: solid 2px #5a5a5a !important;
                color: #8e8f91 !important;
            }
            .v-btn::before {
                background-color: #fff !important;
                opacity: 1;
            }
            .v-btn.v-btn--active {
                border: solid 2px #ffcd43 !important;
                color: #0f1213 !important;
            }
        }
        .sheetOutlined {
            border: solid 1px #d6dde3 !important;
            border-radius: 10px !important;
        }
        .sheetOutlined_bg {
            background-color: #fff;
        }
        .v-divider {
            border-color: #d6dde3;
        }

        .input-text {
            background-color: #f4f4f4;
        }
        .select-text {
            background-color: #fff !important;
            border-radius: 10px !important;
        }
    }

    .vuejs-loadmore-wrap .vuejs-refresh-track .vuejs-refresh-head {
        .vuejs-loading {
            color: #8e8f91;
            .vuejs-loading-text {
                color: #8e8f91;
            }
        }
        .vuejs-refresh-text {
            color: #8e8f91;
        }
    }
    .vuejs-loadmore .vuejs-loadmore-loading .vuejs-loading {
        .vuejs-loading {
            color: #8e8f91;
            .vuejs-loading-text {
                color: #8e8f91;
            }
        }
        .vuejs-loading-text {
            color: #8e8f91;
        }
    }
    .vuejs-loadmore .vuejs-loadmore-finished-text {
        color: #8e8f91;
    }

    //针对google 自动填充的问题
    :-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus,
    :-webkit-autofill:active {
        -webkit-text-fill-color: #96a9d0 !important;
        transition: background-color 500s ease-in-out 0s;
    }
    .input-text {
        height: 36px !important;
        width: 100%;
        //background-color: #F4F4F4;
    }
    //通用外框设置
}
