@import "@/style/fontsize.scss";
.skin005 {
    --btn-letter-spacing: 0px;
    @-moz-document url-prefix() {
        /* Disable scrollbar Firefox */
        html {
            scrollbar-width: none;
        }
    }
    .scroll-y {
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scroll-x {
        overflow-x: scroll;
    }
    .v-application {
        background-color: transparent !important;
    }

    .gradient-yellow {
        background-image: linear-gradient(to right, #fcb131, #ffe64d);
    }

    .rounded16 {
        border-radius: 16px !important;
    }
    .rounded10 {
        border-radius: 10px !important;
    }
    .canntSelect {
        user-select: none;
    }
    .v-pagination {
        li {
            .v-pagination__item {
                border: none !important;
                width: 32px !important;
                height: 32px !important;
                box-shadow: none !important;
                border-radius: 10px;
            }
            .v-pagination__item--active,
            .v-pagination__navigation {
                box-shadow: none;
                background-color: transparent !important;
                //color: #fff !important;
            }
            // .v-pagination__item--active{
            //     color: #fff !important;
            //     background-color:#febe00 !important;
            // }
        }
    }

    pre {
        font-family: "GOTHAM_BOLD", "GOTHAM_BOOK";
    }
    .gradient-bg {
        height: 70px;
        background-color: transparent !important;
        background-image: none !important;
        text-align: center;
        :nth-child(2) {
            position: absolute;
            right: 10px;
        }
    }
    .gradient-bg_mob {
        min-height: 64px;
        background-color: transparent !important;
        background-image: none !important;
        text-align: center;
        :nth-child(2) {
            position: absolute;
            left: 10px;
        }
    }
    .v-btn__content {
        text-transform: none;
    }
    .v-tab {
        text-transform: none !important;
    }
    .regular_text {
        > * {
            font-family: "GOTHAM_BOOK" !important;
        }
    }
    .bold_text {
        font-family: "GOTHAM_BOLD" !important;
    }
    .back_btn_icon {
        transform: rotateZ(180deg);
    }
    // .v-dialog{
    //     border-radius: 20px !important;
    // }
    .theme--dark {
        .v-btn-toggle--group {
            .v-btn {
                border: solid 1px #5a5a5a !important;
                color: #8e8f91 !important;
            }
            .v-btn::before {
                background-color: transparent !important;
            }
            .v-btn.v-btn--active {
                border: solid 1px #ffcd43 !important;
                color: #ffffff !important;
                font-weight: bold;
                font-family: "GOTHAM_BOLD";
            }
        }
        .sheetOutlined {
            border: solid 1px #333435 !important;
            border-radius: 10px !important;
        }
        .sheetOutlined_bg {
            background-color: #272828;
        }
        .input-text {
            background-color: #2f3030;
        }

        .select-text {
            background-color: #2f3030 !important;
            border-radius: 10px !important;
        }

        .v-pagination {
            li {
                .v-pagination__item {
                    color: #8e8f91 !important;
                    background-color: #2f3030 !important;
                }
                .v-pagination__item--active,
                .v-pagination__navigation {
                    color: #8e8f91 !important;
                }
                .v-pagination__item--active {
                    color: #fff !important;
                    background-color: #febe00 !important;
                }
            }
        }
    }
    .v-dialog {
        box-shadow: none !important;
    }
    .theme--light {
        .v-btn-toggle--group {
            .v-btn {
                border: solid 1px #d6dde3 !important;
                color: #8e8f91 !important;
            }
            .v-btn::before {
                background-color: #ffffff !important;
                opacity: 1;
            }
            .v-btn.v-btn--active {
                border: solid 1px #ffcd43 !important;
                color: #0f1213 !important;
                font-family: "GOTHAM_BOLD";
            }
        }
        .sheetOutlined {
            border: solid 1px #d6dde3 !important;
            border-radius: 10px !important;
        }
        .sheetOutlined_bg {
            background-color: #fff;
        }
        .v-divider {
            border-color: #d6dde3;
        }

        .input-text {
            background-color: #f4f4f4;
        }
        .select-text {
            background-color: #fff !important;
            border-radius: 10px !important;
        }
        .select_bg-text {
            background-color: #f4f4f4 !important;
        }
        .v-pagination {
            li {
                .v-pagination__item {
                    color: #0f1213;
                    background: #f4f4f4;
                }
                .v-pagination__item--active,
                .v-pagination__navigation {
                    color: #8e8f91 !important;
                }
                .v-pagination__item--active {
                    color: #fff !important;
                    background-color: #febe00 !important;
                }
            }
        }
    }
    .theme--dark .line {
        // border-width: 1px;
        // border-style: dashed;
        // border-color: #e8e8e8;
        height: 1px;
        width: 100%;
        background: linear-gradient(to left, transparent 0%, transparent 50%, #3b3c3c 50%, #3b3c3c 100%);
        background-size: 15px 1px;
        background-repeat: repeat-x;
    }
    .theme--light .line {
        // border-width: 1px;
        // border-style: dashed;
        // border-color: #e8e8e8;
        height: 1px;
        width: 100%;
        background: linear-gradient(to left, transparent 0%, transparent 50%, #ececec 50%, #ececec 100%);
        background-size: 15px 1px;
        background-repeat: repeat-x;
    }
    .vuejs-loadmore-wrap .vuejs-refresh-track .vuejs-refresh-head {
        .vuejs-loading {
            color: #8e8f91;
            .vuejs-loading-text {
                color: #8e8f91;
            }
        }
        .vuejs-refresh-text {
            color: #8e8f91;
        }
    }
    .vuejs-loadmore .vuejs-loadmore-loading .vuejs-loading {
        .vuejs-loading {
            color: #8e8f91;
            .vuejs-loading-text {
                color: #8e8f91;
            }
        }
        .vuejs-loading-text {
            color: #8e8f91;
        }
    }
    .vuejs-loadmore .vuejs-loadmore-finished-text {
        color: #8e8f91;
    }
    .theme--dark {
        //针对google 自动填充的问题
        :-webkit-autofill,
        :-webkit-autofill:hover,
        :-webkit-autofill:focus,
        :-webkit-autofill:active {
            -webkit-text-fill-color: #fff !important;
            transition: background-color 500s ease-in-out 0s;
        }
    }
    .theme--light {
        //针对google 自动填充的问题
        :-webkit-autofill,
        :-webkit-autofill:hover,
        :-webkit-autofill:focus,
        :-webkit-autofill:active {
            -webkit-text-fill-color: #0F1213 !important;
            transition: background-color 500s ease-in-out 0s;
        }
    }

    .input-text {
        height: 36px !important;
        width: 100%;
        //background-color: #F4F4F4;
    }

    input {
        border: none;
        outline: medium;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .font-weight-bold {
        font-family: "GOTHAM_BOLD";
        letter-spacing: 0px;
    }
    .v-navigation-drawer--bottom.v-navigation-drawer--is-mobile {
        max-height: 80% !important;
    }
    .v-input--switch .v-input--switch__track {
        color: transparent !important;
        border: solid 1px #d6dce3 !important;
    }
    .v-input--switch .v-input--switch__thumb {
        color: #a4a4a4;
    }
    .v-input--switch--inset .v-input--switch__track {
        opacity: 1;
    }

    .element::-webkit-scrollbar {
        width: 0 !important;
    }
    .element {
        -ms-overflow-style: none;
    }
    .element {
        overflow: -moz-scrollbars-none;
    }

    body {
        font-size: 14px;
        color: #fff;
        color: var(--app-color);
        background-color: #121e36ff;
        background-color: var(--app-background-color);
    }
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    ::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
}

body {
    font-size: 14px;
}

.ozcw-widget-container {
    margin: 30px 6px 80px 0px !important;
}

@media screen and (max-width: 1260px) {
    .ozcw-widget-container {
        margin: 30px 6px 80px 0px !important;
        left: 20px;
        right: unset !important;
    }
}
