.skin005 {
    .theme--light {
        .input-text {
            border-radius: 10px;
            height: 50px;

            //border: solid 1px #8E8F91;
            input {
                vertical-align: middle;
                height: 50px;
                width: 100%;
                color: #0f1213;
                //font-weight: bold;
            }
        }

        input::placeholder {
            color: #8e8f91;
        }
    }

    .theme--dark {
        .input-text {
            border-radius: 10px;
            height: 50px;

            input {
                vertical-align: middle;
                height: 50px;
                width: 100%;
                color: #fff;
                //font-weight: bold;
            }
        }

        input::placeholder {
            color: var(--btn_disable_text_dark);
        }

        .v-icon {
            color: var(--btn_disable_text_dark);
        }
    }
}
