.item-selection{
    width: 95px;
    min-width: 95px;
    height: 25px;
    border: 1px solid #607497;
    border-radius: 4px;
}
.item-selection-pc{
    width: 100%;
    min-width: 120px;
    height: 39px;
    border: 1px solid #607497;
    border-radius: 4px;
}
.odds-img{
    margin-left:2px;
    margin-right:2px;
}
.opacity-0{
    opacity: 0;
}