<v-container :class="$vuetify.breakpoint.mobile?'pa-0':''">
    <v-sheet class="rounded-lg" :class="$vuetify.breakpoint.mobile ? 'box-mobile' : '' " color="color_red_2">
        <div class="d-flex justify-end my-2 mr-3" v-if="!$vuetify.breakpoint.mobile">
            <v-btn class="my-2 ml-3" icon @click="onFullScreen">
                <v-icon>mdi-fullscreen</v-icon>
            </v-btn>
            <v-btn class="my-2 ml-3" icon @click="onBack">
                <v-icon>mdi-keyboard-backspace</v-icon>
            </v-btn>
        </div>
        <!-- <div v-if="$vuetify.breakpoint.mobile">
            <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        <div style="font-size:150px">123</div>
        </div> -->

        <iframe id="gameFrame" ref="gameFrame" :class="gameFrameClass " :src="pageData.url" allowfullscreen="true"></iframe>
    </v-sheet>
    <!-- <RecentBetting class="mt-4" v-if="!$vuetify.breakpoint.mobile" /> -->
    <!-- <div class="flow-btn" ref="btnFlow" @click="onBack" v-if="$vuetify.breakpoint.mobile">
        <v-btn fab small color="red" >
            <v-icon>mdi-backup-restore</v-icon>
        </v-btn>
    </div> -->
</v-container>
