.frame {
    border: 0;
    width: 100%;
    height: 901px;
    background: #0d1525;
    overscroll-behavior: contain;
}
.frame-mobile {
    border: 0;
    width: 100vw;
    // height: calc(100vh - 55px);
    background: #0d1525;
    overscroll-behavior: auto;
    position: fixed;
    left: 0px;
    top: 0px;
}
.frame-mobile-standalone {
    border: 0;
    width: 100vw;
    height: calc(100vh - 120px);
    background: #0d1525;
    overscroll-behavior: contain;
}
.flow-btn {
    position: fixed;
    right: 55px;
    top: 60px;
}

.box-mobile {
    min-height: 2000px;
}
