<!-- <v-card-text :class="$vuetify.breakpoint.xsOnly ? 'mt-2 px-4 pt-7 bPanelOpacityBg rounded-t-xl overflow-auto':'mt-2 px30 pt20 bPanelOpacityBg rounded-t-lg overflow-auto'" style="padding-bottom:90px;"> -->
<v-card-text
    :class="$vuetify.breakpoint.xsOnly ? 'mt-2 px30 pt20 bPanelOpacityRechargeBg rounded-t-xl overflow-auto':'mt-2 px30 pt20 bPanelOpacityRechargeBg rounded-t-lg overflow-auto'">
    <div class="opacity4-white text-14" v-html="bindHtml">
        <!-- 为保证您的资金安全，请先在 <a class="text-decoration-underline colorBtnBg--text">安全中心</a> 绑定谷歌两步验证。 -->
        <!-- {{LangUtil("为保证您的资金安全，请先在 {0} 绑定谷歌两步验证。", LangUtil("安全中心"))}} -->
    </div>
    <div class="d-flex mt-3">
        <CustomSelect fontSize="14" iconSize="22" height="40" :background="'rgba(255,255,255,0.06)'" :icons="plat_coins"
            :options="pageData.methodList" v-model="form.coin_name_unique" @change="onChange" />
        <!-- <CustomSelect
            v-if="pageData.methodList[form.coin_name_unique]"
            :options="pageData.methodList[form.coin_name_unique].options"
            v-model="form.block_network_id"
            @change="onChangeSub"
        /> -->
    </div>

    <div v-if="pageData.methodList[form.coin_name_unique]" class="d-flex flex-wrap mt-3 mx-n2">
        <v-btn class="mb-2 mx-1 rounded-pill font-weight-regular" elevation="0" min-width="70" height="30"
            :class="form.block_network_id==item.strkey  ? 'btnBlueBg' : 'btnWhiteBg'"
            v-for="(item, key) of myProxy.exchangeProxy.optionsSort(pageData.methodList[form.coin_name_unique].options)"
            :key="key" @click="onChangeSub(item)">
            {{item.name}}
        </v-btn>
    </div>
    <!-- <div v-if="pageData.methodList[form.coin_name_unique]" class="d-flex flex-wrap mt-3 mx-n2">
        <v-btn class="mb-2 mx-2" min-width="100" height="30"
            :color="form.block_network_id==item.strkey ? 'colorBtnBg' : 'colorPanelTitleBg'"
            v-for="(item, key) of myProxy.exchangeProxy.optionsSort(pageData.methodList[form.coin_name_unique].options)"
            :key="key" @click="onChangeSub(item)">
            {{item.name}}
        </v-btn>
    </div> -->
    <div v-if="form.payment_method_type == 4 || form.payment_method_type == 5">
        <div class="opacity4-white mt-1">{{LangUtil("你的钱包地址")}}</div>
        <CustomInput class="mt-1 input_b" :placeholder="LangUtil('输入钱包地址')" v-model="form.account">
            <div class="d-flex align-center mr-n2">
                <v-tooltip top color="colorIcontNormal">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" color="rgba(255,255,255,0.5)" icon small class="mr-0">
                            <v-icon color="colorTextNormal2" small>mdi-help-circle</v-icon>
                        </v-btn>
                    </template>
                    <span>{{LangUtil("兑换成功的地址会自动添加地址簿")}}</span>
                </v-tooltip>

                <!-- <v-btn elevation="0" class="rounded-pill btnWhiteBg " width="62" height="28"
                :class="!$vuetify.breakpoint.mobile? 'mr-2':''" @click="onAddressBook"><span class="text-12"
                    style="color:rgba(255,255,255,0.5);">{{LangUtil("地址薄")}}</span></v-btn> -->
                <v-btn elevation="0" class="rounded-pill btnWhiteBg " height="28"
                    :class="!$vuetify.breakpoint.mobile? 'mr-2':''" @click="onAddressBook"><span class="text-12"
                        style="color:rgba(255,255,255,0.5);">{{LangUtil("地址薄")}}</span></v-btn>
                <v-btn v-if="!$vuetify.breakpoint.mobile" elevation="0" class="rounded-pill btnWhiteBg" width="50"
                    height="28" @click="onPaste"><span class="text-12"
                        style="color:rgba(255,255,255,0.5);">{{LangUtil("粘贴")}}</span></v-btn>
            </div>
        </CustomInput>
    </div>
    <div v-if="form.payment_method_type == 6">
        <template v-if="!$vuetify.breakpoint.xsOnly">
            <div class="opacity4-white mt-3">{{LangUtil("您的银行卡")}}</div>
            <v-sheet color="transparent" height="50" width="100%" class="mt-1 mb-4 d-flex align-center bank_box rounded"
                outlined>
                <v-autocomplete v-model="myProxy.exchangeProxy.curBankinfo" :items="bank_list" item-text="bank_name"
                    :label="LangUtil('银行信息')" hide-details solo flat background-color="transparent" color="" attach
                    menu-props="{class='test_cloas'}" return-object :no-data-text="LangUtil('没有找到数据')"></v-autocomplete>

                <v-sheet color="transparent" min-width="150" class="name_select">
                    <div class="white--text">{{form.account_name}}</div>
                    <v-list v-if="bshowAllNameList && allNames && allNames.length > 0" class="name_list" width="100%">
                        <v-list-item-group color="primary">
                            <v-list-item v-for="(item, i) in allNames" :key="i" @click="onClickNameSelect(item)">
                                <v-list-item-content>
                                    <v-list-item-title v-text="item"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-sheet>
                <v-sheet color="transparent" min-width="250" class="name_select">
                    <CustomInput @blur="onNumberInputBlur" @input="onNumberInputInput" height="40" :isOnlyNumber="true"
                        :placeholder="LangUtil('银行卡号')" v-model="form.account">
                    </CustomInput>

                    <v-list v-if="bshowNumberList && allCardNub && allCardNub.length > 0" class="name_list"
                        width="100%">
                        <v-list-item-group color="primary">
                            <v-list-item v-for="(item, i) in allCardNub" :key="i" @click="onClickNumberSelect(item)">
                                <v-list-item-content>
                                    <v-list-item-title v-text="item"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-sheet>
                <!-- <v-btn elevation="0" class="rounded-pill btnWhiteBg mr-2" x-small width="74" height="28" @click="onWallet"><span
                    class="text-12" style="color: rgba(255, 255, 255, 0.5)">{{LangUtil("平台钱包")}}</span></v-btn> -->
                <v-btn elevation="0" color="rounded-pill btnWhiteBg d-flex justify-end"
                    style="color: rgba(255, 255, 255, 0.5)" x-small height="30" class="mr-2" @click="onBankcardInfo">
                    {{LangUtil("银行卡信息")}}
                </v-btn>
            </v-sheet>
        </template>
        <template v-else>
            <div class="d-flex mt-3 mb-2">
                <div class="opacity4-white">{{LangUtil("您的银行卡")}}</div>
                <v-spacer />
                <v-btn elevation="0" style="color: rgba(255, 255, 255, 0.5)" color="rounded-pill btnWhiteBg" x-small
                    height="30" @click="onBankcardInfo">
                    {{LangUtil("银行卡信息")}}</v-btn>
            </div>
            <v-sheet color="transparent" height="130" width="100%"
                class="mt-1 mb-4 d-flex flex-column bank_box_mob rounded" outlined>
                <v-autocomplete v-model="myProxy.exchangeProxy.curBankinfo" :items="bank_list" item-text="bank_name"
                    :label="LangUtil('银行信息')" hide-details solo flat background-color="transparent"
                    color="colorText1 colorBlue--text" attach menu-props="{class='test_cloas'}" return-object
                    :no-data-text="LangUtil('没有找到数据')"></v-autocomplete>

                <v-sheet color="transparent" min-width="150" class="name_select mb-2">
                    <!-- <CustomInput
                    class="input_mob"
                    @blur="onNameInputBlur"
                    @input="onNameInputInput"
                    :placeholder="LangUtil('姓名')"
                    v-model="form.account_name"
                    :disabled="true"
                ></CustomInput> -->
                    <div class="white--text ml-3">
                        {{form.account_name}}
                    </div>

                    <v-list v-if="bshowAllNameList && allNames && allNames.length > 0" class="name_list" width="100%">
                        <v-list-item-group color="primary">
                            <v-list-item v-for="(item, i) in allNames" :key="i" @click="onClickNameSelect(item)">
                                <v-list-item-content>
                                    <v-list-item-title v-text="item"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-sheet>
                <v-sheet color="transparent" min-width="250" class="name_select mb-2">
                    <CustomInput class="input_mob" @blur="onNumberInputBlur" @input="onNumberInputInput"
                        :isOnlyNumber="true" :placeholder="LangUtil('银行卡号')" v-model="form.account">
                    </CustomInput>

                    <v-list v-if="bshowNumberList && allCardNub && allCardNub.length > 0" class="name_list"
                        width="100%">
                        <v-list-item-group color="primary">
                            <v-list-item v-for="(item, i) in allCardNub" :key="i" @click="onClickNumberSelect(item)">
                                <v-list-item-content>
                                    <v-list-item-title v-text="item"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-sheet>

                <!-- <v-sheet color="transparent" min-width="150" class="mb-2">
                <CustomInput class="input_mob" height="40" :placeholder="LangUtil('姓名')" v-model="form.account_name"></CustomInput>
            </v-sheet>
            <v-sheet color="transparent" min-width="250" class="mb-2">
                <CustomInput class="input_mob" height="40" :isOnlyNumber="true" :placeholder="LangUtil('银行卡号')" v-model="form.account">
                </CustomInput>
            </v-sheet> -->
            </v-sheet>
        </template>

    </div>

    <div class="opacity4-white mt-3">{{LangUtil("平台余额")}}</div>
    <v-sheet class="d-flex align-center pl-4 mt-1 rounded bPanelWhiteOpacityBg" height="40">
        <v-img class="mr-2" :src="plat_coins[form.coin_name_unique] && plat_coins[form.coin_name_unique].icon"
            max-width="22" height="22"></v-img>
        <div>{{ balance }}</div>
        <v-spacer />
        <v-tooltip top color="colorIcontNormal">
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="rgba(255,255,255,0.5)" icon small class="mr-1">
                    <v-icon color="colorTextNormal2" small>mdi-help-circle</v-icon>
                </v-btn>
            </template>
            <span>{{LangUtil("余额可能在厂商资产里，如兑换请先从厂商提取")}}</span>
        </v-tooltip>
        <v-btn elevation="0" class="rounded-pill btnWhiteBg mr-2" x-small width="74" height="28" @click="onWallet"><span
                class="text-12" style="color: rgba(255, 255, 255, 0.5)">{{LangUtil("平台钱包")}}</span></v-btn>
    </v-sheet>

    <v-row class="colorText1--text mt-3 d-flex" dense>
        <v-col cols="6">
            <v-sheet color="transparent" class="mb-2">
                <div class="opacity4-white">{{LangUtil("提取金额")}}</div>
                <CustomInput class="mt-1 input_b" :diglength="8" :isNum="true" :placeholder="LangUtil('输入金额')"
                    v-model="form.amount">
                    <v-btn elevation="0" class="rounded-pill btnWhiteBg mr-n2" x-small width="50" height="28"
                        @click="onAll"><span class="text-12"
                            style="color:rgba(255,255,255,0.5);">{{LangUtil("全部")}}</span></v-btn>
                </CustomInput>
            </v-sheet>
        </v-col>
        <v-col cols="6">
            <div class="opacity4-white">{{LangUtil("交易密码")}}</div>
            <CustomPassword class="mt-1 input_b" :placeholder="LangUtil('输入密码')" v-model="form.password_gold">
                <v-btn elevation="0" class="rounded-pill btnWhiteBg mr-n2" x-small height="30" @click="onSetPassword">
                    <span class="text-12" style="color: rgba(255, 255, 255, 0.5)">{{LangUtil("设置")}}</span></v-btn>
            </CustomPassword>
        </v-col>
    </v-row>

    <v-sheet class="d-flex flex-wrap rounded px-4 py-3 mt-2 text-12" color="rgba(255,255,255,0.06)"
        v-if="pageData.methodList[form.coin_name_unique]">
        <div class="d-flex">
            <!-- <span class="mr-1">⚠️</span> -->
            <div>
                <div style="color: #f04a5a"
                    v-for="item of transformExplain(pageData.methodList[form.coin_name_unique].options[form.block_network_id].explain)">
                    {{item}}
                </div>
            </div>
        </div>
        <v-spacer />
    </v-sheet>
    <!-- <div class="text-12 mb-2 color-blue ml-4">{{LangUtil("2.兑换手续费1%")}}</div> -->
    <div class="d-flex justify-center mt-5">
        <v-btn class="white--text btnBlueBg rounded6" width="315" height="44" :disabled="!isChecked" @click="onSubmit">
            {{LangUtil("确认兑换")}}</v-btn>
    </div>

    <v-card-text class="d-flex justify-start align-center px-3 py-2 mt-5 coins-area">
        <div class="mr-3 opacity4-white text-13" style="font-family: Roboto, sans-serif !important;">
            {{LangUtil("已支持币种")}}</div>
        <div v-for="(item, key) of pageData.methodList" :key="key">
            <v-img class="mr-2" v-if="plat_coins[key]" :src="plat_coins[key].icon" max-width="18" height="18"></v-img>
        </div>
    </v-card-text>
    <Overlay v-model="pageData.loading" />
</v-card-text>