<v-dialog width="unset" height="670" v-model="pageData.bShow" :retain-focus="false" :no-click-animation="true" :transition="$vuetify.breakpoint.xsOnly?'slide-y-reverse-transition':'dialog-transition'" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="d-flex rounded-lg dialog-background" color="colorPanelBg" >
        <!-- <AdvertiseInLogin :height="670" class="d-none d-md-flex" /> -->
        <v-img src="../../../../assets/register/egame.png" :width="380" :height="620"  class="d-none d-md-flex rounded-0" >
            <template v-slot:placeholder>
                <v-row
                  class="fill-height ma-0"
                  align="center"
                  justify="center"
                >
                  <v-progress-circular
                    indeterminate
                    color="colorBtnSeleBg"
                  ></v-progress-circular>
                </v-row>
              </template>
        </v-img>
        <v-card color="transparent" width="494" v-if="!$vuetify.breakpoint.xsOnly">
            <v-card-title class="d-flex justify-end pb-0 pt-6 px-10">
                <div class="font-weight-medium white--text text-20">{{LangUtil("安全中心")}}</div>
                <v-spacer />
                <!-- <v-btn icon width="18" height="18" class="exit-icon" @click="onClose">
                    <v-img src="@/_skin100/assets/del/del.png" max-width="18px" max-height="18px"></v-img>
                </v-btn> -->
                <!-- <v-btn class="" icon @click="onClose">
                    <v-icon color="colorText3">mdi-close</v-icon>
                </v-btn> -->
                <v-btn icon width="18px" height="18px" class="exit-icon" @click="onClose">
                    <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text class="px-5 px-md-10 pb-0 mt-5" >
                <!-- <div class="d-flex mb-10"> -->
                <div class="d-inline-flex pa-1 rounded-pill items-bg">
                    <v-btn
                    height="32"
                    width="93"
                        class="rounded-pill font-weight-medium mr-2"
                        elevation="0"
                        :text="pageData.tabIndex != 0"
                        :color="pageData.tabIndex == 0 ? 'colorBtnSeleBg' : 'white'"
                        @click="onTabClick(0)"
                        v-if="checkValidateType(2)"
                    >
                        {{LangUtil("绑定手机")}}
                    </v-btn>
                    <v-btn
                    height="32"
                    width="93"
                        class="rounded-pill font-weight-medium mr-2"
                        elevation="0"
                        :text="pageData.tabIndex != 1"
                        :color="pageData.tabIndex == 1 ? 'colorBtnSeleBg' : 'white'"
                        @click="onTabClick(1)"
                        v-if="checkValidateType(1)"
                    >
                        {{LangUtil("绑定邮箱")}}
                    </v-btn>
                    <v-btn
                    height="32"
                    width="93"
                        class="rounded-pill font-weight-medium"
                        elevation="0"
                        :text="pageData.tabIndex != 2"
                        :color="pageData.tabIndex == 2 ? 'colorBtnSeleBg' : 'white'"
                        @click="onTabClick(2)"
                    >
                        {{LangUtil('修改密码')}}
                    </v-btn>
                </div>
            </v-card-text>
            <!-- 绑定手机 -->
            <v-card-text v-if="pageData.tabIndex == 0" class="px-5 px-md-10">
                <v-sheet
                    v-if="userInfo.phone"
                    class="d-flex flex-column align-center justify-center text-16 colorText2--text"
                    height="300"
                    color="transparent"
                >
                    <img src="@/_skin100/assets/safe-center/success.png" class="mb15" width="60" height="60"></img>
                    <div class="mb-1 white--text text-17">{{LangUtil("绑定成功")}}</div>
                    <div class="colorBindSuccess--text text-14">{{userInfo.phone}}</div>
                </v-sheet>
                <div v-else>
                    <CustomInput
                        class="mb-3 rounded safety-ip"
                        :icon="icons.sj"
                        :maxlength="15"
                        type="tel"
                        :placeholder="LangUtil('请输入手机号')"
                        v-model="formBindPhone.mobile"
                    >
                        <template v-slot:pre>
                            <!-- <v-menu v-model="areaCodeMenu" offset-y :close-on-content-click="false" nudge-bottom="20" nudge-left="28"> -->
                            <v-menu open-on-hover v-model="areaCodeMenu" offset-y :close-on-content-click="false" nudge-left="28">
                                <template v-slot:activator="{ on, attrs }">
                                    <div class="d-flex colorInfo--text" v-bind="attrs" v-on="on">
                                        <div class="white--text mx-2">+{{formBindPhone.area_code}}</div>
                                    <div
                                        class="icon-box iconfont text-14 mr-2 arrow-color font-weight-bold"
                                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                    >
                                        
                                    </div>
                                    </div>
                                </template>
                                <div class="menu-space-20"></div>
                                <v-sheet class="pa-3 rounded-lg colorPanelBg4" width="400">
                                    <CustomInput
                                        class="mt-3 rounded search-area"
                                        :icon="icons.cx"
                                        :iconSize="18"
                                        :placeholder="LangUtil('请选择国家或地区')"
                                        v-model="areaCodeSearch"
                                        @input="onAreaCodeInput"
                                    ></CustomInput>
    
                                    <v-list dense color="rgba(0,0,0,0)">
                                        <v-list-item-group>
                                            <v-list-item
                                                v-for="(item, index) of areaCodeList"
                                                :key="index"
                                                class="white--text"
                                                @click="onItemAreaCode(item)"
                                            >
                                                <div>{{item.name}}</div>
                                                <v-spacer />
                                                <div>+{{item.area_code}}</div>
                                            </v-list-item>
                                        </v-list-item-group>
                                    </v-list>
                                </v-sheet>
                            </v-menu>
                        </template>
                    </CustomInput>
                    <CustomInput
                        class="mb-5 rounded safety-ip"
                        :icon="icons.yzm"
                        :placeholder="LangUtil('请输入验证码')"
                        :maxlength="10"
                        type="tel"
                        v-model="formBindPhone.code"
                    >
                        <DialogGetVerity :isCheck="checkPhone(formBindPhone.mobile)" :category="1" :type="1" :area_code="formBindPhone.area_code" :mobile="formBindPhone.mobile"/>
                     </CustomInput>
                    <v-btn class="rounded-lg on-safety-bg text-body-1"  height="44" :disabled="!isCheckFormMobile" block @click="onBindMobile">
                        {{LangUtil("绑定")}}
                    </v-btn>
                </div>
            </v-card-text>
            <!-- 绑定邮箱 -->
            <v-card-text v-if="pageData.tabIndex == 1" class="px-5 px-md-10">
                <v-sheet
                    v-if="userInfo.email"
                    class="d-flex flex-column align-center justify-center text-16 colorText2--text"
                    height="300"
                    color="transparent"
                >
                    <img src="@/_skin100/assets/safe-center/success.png" class="mb15" width="60" height="60"></img>
                    <div class="mb-1 white--text text-17">{{LangUtil("绑定成功")}}</div>
                    <div class="colorBindSuccess--text text-14">{{userInfo.email}}</div>
                </v-sheet>
                <div v-else>
                    <CustomInput class="mb-3 rounded safety-ip" :maxlength="50" :icon="icons.yx" :placeholder="LangUtil('请输入邮箱')" v-model="formBindEmail.email">
                    </CustomInput>
                    <CustomInput
                        class="mb-5 rounded safety-ip"
                        :icon="icons.yzm"
                        :maxlength="10"
                        :placeholder="LangUtil('请输入验证码')"
                        type="tel"
                        v-model="formBindEmail.code"
                    >
                    <DialogGetVerity :isCheck="checkMail(formBindEmail.email)" :category="0" :type="7" :email="formBindEmail.email"/>
                    </CustomInput>
                    <v-btn class="rounded-lg on-safety-bg text-body-1"  height="44" :disabled="!isChckFormEmail" block @click="onBindEmail">
                        {{LangUtil("绑定")}}
                    </v-btn>
                </div>
            </v-card-text>
            <!-- 修改密码 -->
            <v-card-text v-if="pageData.tabIndex == 2" class="px-5 px-md-10">
                <CustomPassword
                    class="mb-3 rounded safety-ip"
                    :icon="icons.mm"
                    :maxlength="20"
                    :placeholder="LangUtil('请输入原始密码')"
                    v-model="formChangePassword.password_old"
                />
                <CustomPassword
                    class="mb-3 rounded safety-ip"
                    :icon="icons.mm"
                    :maxlength="20"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="formChangePassword.password"
                />
                <CustomPassword
                    class="mb-5 rounded safety-ip"
                    :icon="icons.mm"
                    :maxlength="20"
                    :placeholder="LangUtil('确认密码（6-20位）')"
                    v-model="formChangePassword.password_confirm"
                />
                <v-btn class="rounded-lg on-safety-bg text-body-1"  height="44" :disabled="!isCheckFormPassword" block @click="onChangePassword">
                    {{LangUtil("确定修改")}}
                </v-btn>
            </v-card-text>
        </v-card>

        <v-card color="transparent" width="494" v-if="$vuetify.breakpoint.xsOnly">
            <v-card-title class="d-flex justify-end pb-0 pt-5 px-5">
                <div class="font-weight-medium white--text text-17">{{LangUtil("安全中心")}}</div>
                <v-spacer />
                <v-btn icon width="18px" height="18px" class="exit-icon" @click="onClose">
                    <v-img src="@/_skin100/assets/del/del.png" max-width="18px" max-height="18px"></v-img>
                </v-btn>
            </v-card-title>
            <v-card-text class="px-4 pb-0 mt-2" >
                <!-- <div class="d-flex mb-10"> -->
                <div class="d-inline-flex pa-1 rounded-pill items-bg">
                    <v-btn
                    height="32"
                    width="93"
                        class="rounded-pill font-weight-medium mr-2"
                        elevation="0"
                        :text="pageData.tabIndex != 0"
                        :color="pageData.tabIndex == 0 ? 'colorBtnSeleBg' : 'white'"
                        @click="onTabClick(0)"
                        v-if="checkValidateType(2)"
                    >
                        {{LangUtil("绑定手机")}}
                    </v-btn>
                    <v-btn
                    height="32"
                    width="93"
                        class="rounded-pill font-weight-medium mr-2"
                        elevation="0"
                        :text="pageData.tabIndex != 1"
                        :color="pageData.tabIndex == 1 ? 'colorBtnSeleBg' : 'white'"
                        @click="onTabClick(1)"
                        v-if="checkValidateType(1)"
                    >
                        {{LangUtil("绑定邮箱")}}
                    </v-btn>
                    <v-btn
                    height="32"
                    width="93"
                        class="rounded-pill font-weight-medium"
                        elevation="0"
                        :text="pageData.tabIndex != 2"
                        :color="pageData.tabIndex == 2 ? 'colorBtnSeleBg' : 'white'"
                        @click="onTabClick(2)"
                    >
                        {{LangUtil('修改密码')}}
                    </v-btn>
                </div>
            </v-card-text>
            <!-- 绑定手机 -->
            <v-card-text v-if="pageData.tabIndex == 0" class="px-4 pt-3">
                <v-sheet
                    v-if="userInfo.phone"
                    class="d-flex flex-column align-center justify-center text-16 colorText2--text"
                    height="300"
                    color="transparent"
                >
                    <img src="@/_skin100/assets/safe-center/success.png" class="mb15" width="60" height="60"></img>
                    <div class="mb-1 white--text text-17">{{LangUtil("绑定成功")}}</div>
                    <div class="colorBindSuccess--text text-14">{{userInfo.phone}}</div>
                </v-sheet>
                <div v-else>
                    <CustomInput
                        class="mb-3 rounded safety-ip"
                        :icon="icons.sj"
                        :maxlength="15"
                        type="tel"
                        :placeholder="LangUtil('请输入手机号')"
                        v-model="formBindPhone.mobile"
                    >
                    <template v-slot:pre>
                        <!-- <v-menu v-model="areaCodeMenu" offset-y :close-on-content-click="false" content-class="shadow-clear" nudge-bottom="20" nudge-left="28"> -->
                        <v-menu v-model="areaCodeMenu" offset-y :close-on-content-click="false" content-class="shadow-clear menu-full" nudge-bottom="20" nudge-left="28">
                            <template v-slot:activator="{ on, attrs }">
                                <div class="d-flex colorInfo--text" v-bind="attrs" v-on="on">
                                    <div class="white--text mx-2">+{{formBindPhone.area_code}}</div>
                                    <div
                                    class="icon-box iconfont text-14 mr-2 arrow-color font-weight-bold"
                                    :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                >
                                    
                                </div>
                                </div>
                            </template>
                            <v-sheet class="pa-3 rounded-lg colorPanelBg4" >
                                <CustomInput
                                    class="mt-3 rounded search-area"
                                    :icon="icons.cx"
                                    :iconSize="18"
                                    :placeholder="LangUtil('请选择国家或地区')"
                                    v-model="areaCodeSearch"
                                    @input="onAreaCodeInput"
                                ></CustomInput>

                                <v-list dense color="rgba(0,0,0,0)">
                                    <v-list-item-group>
                                        <v-list-item
                                            v-for="(item, index) of areaCodeList"
                                            :key="index"
                                            class="white--text"
                                            @click="onItemAreaCode(item)"
                                        >
                                            <div>{{item.name}}</div>
                                            <v-spacer />
                                            <div>+{{item.area_code}}</div>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-sheet>
                        </v-menu>
                    </template>

                    </CustomInput>
                    <CustomInput
                        class="mb-5 rounded safety-ip"
                        :icon="icons.yzm"
                        :maxlength="10"
                        :placeholder="LangUtil('请输入验证码')"
                        type="tel"
                        v-model="formBindPhone.code"
                    >
                        <DialogGetVerity :isCheck="checkPhone(formBindPhone.mobile)" :category="1" :type="1" :area_code="formBindPhone.area_code" :mobile="formBindPhone.mobile"/>
                     </CustomInput>
                    <v-btn class="rounded6 on-safety-bg text-body-1"  height="44" :disabled="!isCheckFormMobile" block @click="onBindMobile">
                        <span class="text-16">{{LangUtil("绑定")}}</span>
                    </v-btn>
                </div>
            </v-card-text>
            <!-- 绑定邮箱 -->
            <v-card-text v-if="pageData.tabIndex == 1" class="px-4 pt-3">
                <v-sheet
                    v-if="userInfo.email"
                    class="d-flex flex-column align-center justify-center text-16 colorText2--text"
                    height="300"
                    color="transparent"
                >
                    <img src="@/_skin100/assets/safe-center/success.png" class="mb15" width="60" height="60"></img>
                    <div class="mb-1 white--text text-17">{{LangUtil("绑定成功")}}</div>
                    <div class="colorBindSuccess--text text-14">{{userInfo.email}}</div>
                </v-sheet>
                <div v-else>
                    <CustomInput class="mb-3 rounded safety-ip" :maxlength="50" :icon="icons.yx" :placeholder="LangUtil('请输入邮箱')" v-model="formBindEmail.email">
                    </CustomInput>
                    <CustomInput
                        class="mb-5 rounded safety-ip"
                        :icon="icons.yzm"
                        :maxlength="10"
                        :placeholder="LangUtil('请输入验证码')"
                        type="tel"
                        v-model="formBindEmail.code"
                    >
                    <DialogGetVerity :isCheck="checkMail(formBindEmail.email)" :category="0" :type="7" :email="formBindEmail.email"/>
                    </CustomInput>
                    <v-btn class="rounded6 on-safety-bg text-body-1"  height="44" :disabled="!isChckFormEmail" block @click="onBindEmail">
                        <span class="text-16">{{LangUtil("绑定")}}</span>
                    </v-btn>
                </div>
            </v-card-text>
            <!-- 修改密码 -->
            <v-card-text v-if="pageData.tabIndex == 2" class="px-4 pt-3">
                <CustomPassword
                    class="mb-3 rounded safety-ip"
                    :icon="icons.mm"
                    :maxlength="20"
                    :placeholder="LangUtil('请输入原始密码')"
                    v-model="formChangePassword.password_old"
                />
                <CustomPassword
                    class="mb-3 rounded safety-ip"
                    :icon="icons.mm"
                    :maxlength="20"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="formChangePassword.password"
                />
                <CustomPassword
                    class="mb-5 rounded safety-ip"
                    :icon="icons.mm"
                    :maxlength="20"
                    :placeholder="LangUtil('确认密码（6-20位）')"
                    v-model="formChangePassword.password_confirm"
                />
                <v-btn class="rounded6 on-safety-bg text-body-1"  height="44" :disabled="!isCheckFormPassword" block @click="onChangePassword">
                    <span class="text-16">{{LangUtil("确定修改")}}</span>
                </v-btn>
            </v-card-text>
        </v-card>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
