
.rounded_img{
    border-radius: 0px 0px 10px 10px !important;
}
.pad_height{
    min-height: calc(100vh - 600px);
}

::v-deep .loader_class{
    .img_loader{
        height: 230px !important;
    }
    .v-skeleton-loader__image{
        height: 230px;
    }
}

.loader_class_mob{
    ::v-deep .loader_class{
        .img_loader{
            height: 120px !important;
        }
        .v-skeleton-loader__image{
            height: 120px;
        }
    }
}