<v-sheet width="100%" color="transparent" class="px-4 pad_height">
    <template v-if="!pageData.isLoadData">
        <template v-if="myProxy.pageData.list && myProxy.pageData.list.length > 0">
            <v-card flat class="d-flex mt-5 align-center rounded10 px-4" min-height="68" color="bgBanner" width="100%">
                <v-btn-toggle
                    v-if="$mobile"
                    :lang="core.lang"
                    mandatory
                    group
                    v-model="myProxy.pageData.tabIndex"
                    @change="onTimeChange"
                    width="100%"
                    class="overflow-x-auto"
                >
                    <v-btn
                        v-for="(item, key) of myProxy.pageData.categoryData"
                        :key="key"
                        class="rounded-pill text-14"
                        height="36"
                        :min-width="$mobile ? 72 : 90"
                    >
                        <span> {{LangUtil(item.title)}} </span>
                    </v-btn>
                </v-btn-toggle>
                <v-btn-toggle
                    v-else
                    mandatory
                    group
                    v-model="myProxy.pageData.tabIndex"
                    @change="onTimeChange"
                    width="100%"
                    class="overflow-x-auto"
                >
                    <v-btn
                        v-for="(item, key) of myProxy.pageData.categoryData"
                        :key="key"
                        class="rounded-pill mr-2 text-14"
                        height="36"
                        :min-width="$mobile ? 72 : 90"
                    >
                        <span> {{LangUtil(item.title)}} </span>
                    </v-btn>
                </v-btn-toggle>
            </v-card>

            <v-card v-if="curActivityData" flat class="mt-4 mb-4" color="transparent" width="100%">
                <v-row>
                    <template v-for="(item, key) of curActivityData.data">
                        <v-col :cols="$mobile ? 12 : 6" :key="item.id">
                            <v-card flat class="rounded10 cursor-pointer" color="bgBanner" @click.native="onItemClick(item)">
                                <v-sheet
                                    color="transparent"
                                    width="100%"
                                    class="font-weight-bold px-4 py-4 bold_text"
                                    :class="$mobile ? 'text-14' : 'text-16'"
                                >
                                    {{item.activity_name}}
                                </v-sheet>

                                <v-sheet
                                    color="transparent"
                                    width="100%"
                                    :class="$mobile ? 'loader_class_mob' : ''"
                                    :height="viewWidth"
                                >
                                    <!-- <v-img class="rounded_img" :height="$mobile ? 120 : 230"
                                        :src="item.icon"></v-img> -->
                                    <ImgLoader class="rounded_img" :height="viewWidth" :src="item.icon"></ImgLoader>
                                </v-sheet>
                            </v-card>
                        </v-col>
                    </template>
                </v-row>
            </v-card>
        </template>

        <!-- <ListNodata v-else height="500" /> -->
    </template>
    <v-skeleton-loader v-if="pageData.isLoadData" class="mx-auto my-auto mt-4" type="image"></v-skeleton-loader>
</v-sheet>
