::v-deep .input-text input::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.input-text {
    height: 41px !important;
}

.theme--light .mobel_input {
    .input-text {
        height: 36px !important;
        background-color: white !important;
    }

    ::v-deep .input-text input {
        margin-left: 12px !important;
        margin-top: -3px;
    }
    ::v-deep .input-text button {
        right: -77px;
    }

    ::v-deep .input-text input::placeholder {
        font-size: 12px;
        font-weight: 400;
    }
}

.theme--dark .mobel_input {
    .input-text {
        height: 36px !important;
        background-color: #2f3030 !important;
    }

    ::v-deep .input-text input {
        margin-left: 12px !important;
        margin-top: -3px;
    }

    ::v-deep .input-text input::placeholder {
        font-size: 12px;
        font-weight: 400;
    }
}

.px-2-5 {
    padding-left: 10px;
    padding-right: 10px;
}

.fix_head_mob {
    position: fixed;
    z-index: 2;
    top: 50px;
}
.theme--light {
    .fix_head_mob {
        background-color: #f4f4f4;
    }
}
.theme--dark {
    .fix_head_mob {
        background-color: #202121;
    }
}
.v-btn-toggle .v-btn .text-14:not(:lang(zh_CN)) {
    letter-spacing: var(--btn-letter-spacing); /* 自定义的字母间距 */
}

.tab-btn {
    border: unset !important;
    border-radius: 10px 10px 0 0 !important;
    min-width: 90px !important;
    margin: 0 !important;
    font-weight: bold;
}
.tab-btn::before {
    background-color: transparent !important;
}

.theme--light {
    .tab-btn {
        color: #5d5d5d !important;
    }
    .tab-btn-active {
        color: #0f1213 !important;
        background-color: #ffffff !important;
    }
}

.theme--dark {
    .tab-btn {
        color: #8e8f91 !important;
    }
    .tab-btn-active {
        color: #ffffff !important;
        background-color: #272828 !important;
    }
}
