<v-dialog v-model="pageData.bShow" width="596" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg pb-5" color="colorPanelBg">
        <v-sheet class="d-flex text-18 font-weight-medium align-center px-4 mb-5" color="colorPanelTitleBg" height="60">
            <div>{{LangUtil("关于我们")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-sheet>
        <v-sheet class="overflow-y-auto mx-4 text-wrapper" color="transparent" height="300">{{LangUtil("联系我们内容")}}</v-sheet>
    </v-card>
</v-dialog>
