.text_height {
    height: calc(100% - 190px);
}

::v-deep .v-input--selection-controls__input .v-icon {
    color: #6a83b4;
}
.v-btn-toggle .v-btn .text-14:not(:lang(zh_CN)) {
    letter-spacing: var(--btn-letter-spacing); /* 自定义的字母间距 */
  }