.frame {
    border: 0;
    width: 100%;
    height: calc(100vh - 142px);
    background: #272828;
}
.frame-mobile {
    border: 0;
    width: 100vw;
    height: 100vh;
    background: #272828;
}
.frame-mobile-standalone{
    border: 0;
    width: 100vw;
    height: 100vh;
    background: #0d1525;
}
.flow-btn {
    position: fixed;
    right: 55px;
    top: 60px;
}
