<!-- 弹框出来，非全屏的 小标题 针对超小型的 弹窗 -->
<v-card-title v-if="isDialog && !isMoble" class="gradient-bg d-flex justify-start">
    <div class="text-20 font-weight-bold title">{{LangUtil(title)}}</div>
    <v-btn v-if="isNeedClose" class="mr-2" icon @click="onClose">
        <v-icon color="navIcon">mdi-close</v-icon>
    </v-btn>
</v-card-title>
<!-- 超小弹窗 手机版 -->
<v-card-title v-else-if="isDialog && isMoble" class="gradient-bg d-flex justify-start">
    <div class="text-18 font-weight-bold title">{{LangUtil(title)}}</div>
    <v-btn v-if="isNeedClose" class="mr-2" icon @click="onClose" :ripple="false">
        <v-icon color="navIcon">mdi-close</v-icon>
    </v-btn>
</v-card-title>

<!-- 正常弹窗 手机版 -->
<v-sheet v-else-if="isMoble" class="gradient-bg_mob d-flex align-center justify-center" color="bgNavigation">
    <div class="text-18 primary--text font-weight-bold title">{{LangUtil(title)}}</div>
    <v-btn v-if="isNeedClose" icon @click="onClose" :ripple="false">
        <svg-icon icon="arrow_right" class="text-16 back_btn_icon navIcon--text"></svg-icon>
    </v-btn>
</v-sheet>
<!-- 正常弹窗 pc 版 -->
<v-card-title v-else class="gradient-bg relative grid">
    <div class="text-20 font-weight-bold title">{{LangUtil(title)}}</div>
    <slot></slot>
    <v-btn v-if="isNeedClose" class="ml-auto close" icon @click="onClose">
        <v-icon color="navIcon" large>mdi-close</v-icon>
    </v-btn>
</v-card-title>
