<v-dialog v-if="!pageData.bHidden" width="420" v-model="pageData.bShow" :retain-focus="false" >
    <v-card class="rounded-lg" color="bgBanner">
        <!-- <v-card-title class="gradient-bg d-flex justify-start ">
            <div class="text-20">{{LangUtil("绑定上级ID")}}</div>
            <v-btn class="ml-auto" icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title> -->
        <com-dialog-title title="绑定上级ID" @onClose="onClose" :isDialog="true"/>

        <v-divider class="mb-2 " />
        <v-card-text v-if="pageData.bShow" class="px-10 mt-5 d-flex flex-column align-center">
            <CustomInput class="mb-3" :placeholder="LangUtil('请输入绑定上级ID')" v-model="pageData.inviteId" />
            <div class="ml-5 mb-9 textGray--text">{{LangUtil("确定绑定后无法更改")}}</div>
            <!-- <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedId" @click="onSubmit" block
                >{{LangUtil("确定绑定")}}</v-btn > -->

                <btn-yellow class="text-14 " min_width="104" height="36" :disabled="!isCheckedId"
                @click.native="onSubmit">{{LangUtil("确定绑定")}}</btn-yellow>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
