<v-dialog
    v-if="!pageData.bHidden"
    width="400"
    v-model="pageData.bShow"
    :retain-focus="false"
    :fullscreen="$mobile"
    persistent
    :transition="$mobile ? 'mobile-slide-x-transition' :''"
>
    <v-card :class="!$mobile ? 'rounded10' : ''" color="bgColor">
        <com-dialog-title title="注单记录" @onClose="onClose" />

        <v-card-text v-if="pageData.url || !pageData.isHaveData" class="px-5 mt-2">
            <iframe height="275" width="100%" frameborder="0" :src="pageData.url"> </iframe>
        </v-card-text>
        <v-card-text v-if="!pageData.url && pageData.isHaveData && pageData.itemData">
            <ExchangeOrder v-if="isExchangeVendor" />
            <FootballOrder v-else />
        </v-card-text>
    </v-card>
</v-dialog>
