.testdiv {
    width: 150px;
    @media only screen and (max-width: 750px) {
        width: 100%;
    }
}

.listitem {
    div {
        width: 80px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #fff;

        div > a {
            color: #fff;
        }
        @media only screen and (max-width: 750px) {
            width: 100%;
        }
    }
    .listitem-150 {
        width: 150px;
        div {
            width: 150px;
        }
    }
    .listitem-80 {
        width: 80px;
        div {
            width: 80px;
        }
    }
    .listitem-40 {
        width: 40px;
        div {
            width: 40px;
        }
    }
}
.listitem_title {
    div {
        width: 80px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #fff;

        div > a {
            color: #fff;
        }
        @media only screen and (max-width: 750px) {
            width: 100%;
        }
    }
    .listitem-150 {
        width: 150px;
        div {
            width: 150px;
        }
    }
    .listitem-80 {
        width: 80px;
        div {
            width: 80px;
        }
    }
    .listitem-40 {
        width: 40px;
        div {
            width: 40px;
        }
    }
}
.header-mobile {
    position: fixed;
    z-index: 1000;
    //background-color: #101010;
}
.listbox-mobile {
    overflow: hidden;
    padding-top: 325px;
    @media only screen and (max-width: 600px) {
        padding-top: 325px;
    }
}
.listbox-mobile_other {
    overflow: hidden;
    padding-top: 360px;
    @media only screen and (max-width: 600px) {
        padding-top: 360px;
    }
}
.listbox-mobile-nooptions {
    overflow: hidden;
    padding-top: 240px;
    @media only screen and (max-width: 600px) {
        padding-top: 240px;
    }
}
.btn {
    color: #9db1d8;
}
.w-280 {
    width: 280px;
}
.w-120 {
    width: 120px;
}

::v-deep .el-input__inner {
    background-color: #272424 !important;
    border-radius: 4px !important;
    border: none;
    color: #fff;
}
::v-deep .el-input__inner::placeholder {
    color: #606266;
}
::v-deep .el-range-input {
    color: #fff;
    width: auto;
}
::v-deep .el-range__icon {
    margin-top: 3px;
}
::v-deep .el-range__close-icon {
    margin-top: 3px;
}
::v-deep .el-range-input::placeholder {
    color: #606266;
}
::v-deep .el-date-editor .el-input__inner {
    width: 100%;
}
::v-deep .el-input--suffix .el-input__inner {
    padding-right: 0px;
}

// ::v-deep .el-date-editor.el-input, .el-date-editor.el-input__inner{
//     width: 100%;
// }
.input_range {
    width: 380px;
}
.input_range_2 {
    width: 100%;
}
.hackhome {
    height: 1px;
    background-image: linear-gradient(to right, #fff 0%, #fff 50%, transparent 50%);
    background-size: 16px 1px;
    background-repeat: repeat-x;
}
