<div :class="$vuetify.breakpoint.mobile ? 'mt-3' : 'mt-8'" ref="box">
    <div class="text-16 ml-2 mr-4 d-flex align-center" :class="$vuetify.breakpoint.mobile?'':'mb-2'">
        <img class="mr-1" src="@/_skin001/assets/icon/icon_fire.png" :width="$vuetify.breakpoint.mobile?14:20" />
        <div :class="$vuetify.breakpoint.mobile?'text-14 colorTextBlack1--text':''">{{ data.category_name }}</div>
        <v-spacer />
        <div ref="viewBtn">
            <v-btn
                v-if="bShowAll && !$vuetify.breakpoint.mobile"
                class="text-12 rounded-pill"
                style="padding: 8px"
                color="rgba(243, 231, 231, 0.098)"
                height="24"
                @click="onShowAll"
            >
                {{LangUtil("查看全部")}}
            </v-btn>
        </div>
    </div>
    <v-sheet v-if="$vuetify.breakpoint.mobile" color="transparent" class="d-flex scroll-x">
        <GameItem v-for="item of data.list" :key="item.vendor_prodcut_id" :item="item" />
    </v-sheet>
    <v-sheet v-else max-width="1430" class="mx-auto" color="transparent">
        <v-slide-group :show-arrows="!$vuetify.breakpoint.mobile">
            <v-slide-item v-for="item of data.list" :key="item.vendor_prodcut_id">
                <GameItem :item="item" />
            </v-slide-item>
        </v-slide-group>
    </v-sheet>
</div>
