<v-dialog width="420" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly">
    <v-card class="rounded-lg" color="colorPanelBg">
        <v-card-title class="gradient-bg">
            <div class="text-18">{{LangUtil("设置交易密码")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text v-if="pageData.bShow" class="px-10 mt-5">
            <CustomPassword
                class="mb-5"
                icon="mdi-shield-lock"
                :placeholder="LangUtil('设置交易密码(6-20位)')"
                v-model="form.password"
            />
            <CustomPassword 
                class="mb-5"
                icon="mdi-shield-lock"
                :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm"
            />
            <CustomInput
                class="mb-14"
                icon="mdi-shield-check"
                type="tel"
                :placeholder="LangUtil('输入验证码')"
                v-model="form.verify_code"
            >
                <v-btn class="text-12" color="colorBtnBg" small @click="getCode">
                    {{LangUtil("获取验证")}}
                </v-btn>
            </CustomInput>
            <v-btn class="rounded-lg mb-5" color="colorBtnBg" height="48" :disabled="!isCheck" @click="onSubmit" block
                ><span class="text-18">{{LangUtil("保存设置")}}</span></v-btn
            >
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
