.intro-radius {
    border-radius: 10px;
}
.intro-intro-md {
    background-image: url("~@/_skin030/assets/introduce/1.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 240px 214px;
}
