<v-dialog v-if="!pageData.bHidden" width="730" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded10" color="bgBanner">
        <!-- <v-card-title v-if="!$vuetify.breakpoint.xsOnly"  class="gradient-bg d-flex justify-center">
            <div class="text-20 font-weight-regular ">{{LangUtil("每日分红排行榜")}}</div>
            <v-btn icon @click="onClose">
                <v-icon >mdi-close</v-icon>
            </v-btn>
        </v-card-title> -->
        <com-dialog-title title="每日分红排行榜" @onClose="onClose"/>

        <!-- <div v-else class="gradient-bg_mob d-flex align-center  justify-center">
            <div class="text-16 primary--text">{{LangUtil("每日分红排行榜")}}</div>
            <v-btn icon @click="onClose">
                <svg-icon icon="arrow_right" class="text-14 back_btn_icon textGray--text"></svg-icon>
            </v-btn>
        </div> -->

        <v-divider class="mb-2 " />
        <v-card-text class="px-5">
            <v-sheet v-if="dataList.length>0" color="transparent" class="scroll-y content">
                <div class="mx-1 mb-1 primary--text  font-weight-bold">
                    <span v-if="dataRank == 0">{{LangUtil("您当日分红没有进入排名")}}</span>
                    <span v-else>{{LangUtil("您当前排名第{0}名", dataRank)}}</span>
                </div>
                <v-card height="40" class="d-flex align-center mb-2" flat color="transparent">
                    <v-row no-gutters class="primary--text text-16 rank-height mobile font-weight-bold">
                        <v-col cols="2" class="d-flex justify-center align-center"> {{LangUtil("排行")}} </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center"> {{LangUtil("用户")}} </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center">
                            {{LangUtil("质押{0}数量", plat_stake_info.coin_name_unique)}}
                        </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center"> {{LangUtil("获得分红")}} </v-col>
                    </v-row>
                </v-card>
                <v-divider class="mb-2 " />
                <v-card flat outlined
                height="50"
                class=" rounded-lg rounded-card d-flex align-center mb-1"
                v-for="(item, index) of dataList"
                :key="index"
                style="background-color: transparent !important"
                >
                    <v-row no-gutters class="textGray--text text-16">
                        <v-col cols="2" class="d-flex justify-center align-center">
                            <div v-if="index < 3">
                                <v-img :max-width="$vuetify.breakpoint.xsOnly? 45 :50" contain :src="iconsPrize[index]"> </v-img>
                            </div>
                            <div v-else class="d-flex justify-center align-center textGray--text text-16 ">{{ index + 1 }}</div>
                        </v-col>
                        <v-col cols="3" class="text-truncate d-flex justify-center align-center">
                            <span class="text-truncate">{{ item.username }}</span>
                        </v-col>
                        <v-col cols="4" class="d-flex justify-center align-center"> {{ item.stake_amount }} </v-col>
                        <v-col cols="3" class="d-flex justify-center align-center"> {{ item.bonus_amount }} </v-col>
                    </v-row>
                </v-card>
            </v-sheet>
            <ListNodata v-if="dataList.length == 0" height="411" />
        </v-card-text>
    </v-card>
</v-dialog>