<v-dialog width="860" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <!-- <v-card class="rounded-lg" color="colorPanelBg"> -->
    <v-card class="rounded-lg bPanelBg">
        <v-card-title class="px-5 px-sm-8 pb-2 pb-sm-auto">
            <div class="text-18">{{LangUtil("数字货币")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon color="colorCloseBtn">mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="d-flex align-center px-4 px-sm-8 pb-0" >
            <div class="d-inline-flex align-center justify-center pa-1 rounded-pill bPanelOpacityBg">
            <v-btn
                width="115"
                height="32"
                class="rounded-pill font-weight-bold mr-2 white--text"
                elevation="0"
                :text="pageData.tabIndex != 0"
                :color="pageData.tabIndex == 0 ? 'colorBtnSeleBg' : 'white--text'"
                @click="onTabClick(0)"
            >
                <v-icon size="18" class="mr-1">mdi-arrow-down-bold-circle</v-icon>{{LangUtil("充值")}}
            </v-btn>
            <v-btn
                width="115"
                height="32"
                class="rounded-pill font-weight-bold white--text"
                elevation="0"
                :text="pageData.tabIndex != 1"
                :color="pageData.tabIndex == 1 ? 'colorBtnSeleBg' : 'white--text'"
                @click="onTabClick(1)"
            >
                <v-icon size="18" class="mr-1">mdi-arrow-up-bold-circle</v-icon>{{LangUtil("兑换")}}
            </v-btn>
             </div>
            <v-spacer />
            <!-- <v-btn small color="colorText1 colorBlue--text" @click="goRecord">
                <span>{{ pageData.tabIndex == 0 ? LangUtil("充值记录") : LangUtil("兑换记录") }} </span>
            </v-btn> -->
            <v-img contain  class="mr-2 cur-img" :max-height="$vuetify.breakpoint.xsOnly?23:24" :max-width="$vuetify.breakpoint.xsOnly?23:24" @click="goRecord" src="@/assets/recharge/history.png"> </v-img>
        </v-card-text>
        <!-- <v-divider class="mx-5" /> -->
        <TabRecharge v-show="pageData.tabIndex == 0" />
        <TabExchange v-show="pageData.tabIndex == 1" />
    </v-card>
</v-dialog>
