<v-dialog width="420" v-model="pageData.bShow" :retain-focus="false"  persistent>
    <v-card class="rounded-lg bPanelBg">
        <v-card-title class="px20 pt15 pb15">
            <div class="text-18">{{LangUtil("个人名片")}}</div>
            <v-spacer />
            <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <!-- <v-card-text class="mt-3"> -->
        <v-card-text class="px20 mt-0 pb30">
            <div class="input-text py-2 pa-3 mb-5">
                <textarea class="text-16" :disabled="!pageData.canEdit" maxlength="300" :autofocus="false" :placeholder="pageData.canEdit?LangUtil('请输入您的个人名片（300个字符）'):''" v-model="pageData.personalCard" />
            </div>
            <v-btn v-if="pageData.canEdit" class="rounded btnRedBg"  height="40" :disabled="!pageData.personalCard" @click="onSubmit" block>
                <span class="text-16">{{LangUtil("保存设置")}}</span>
            </v-btn>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>