<div>
    <v-card-text class="mt-5">
        <div class="white--text mb-2">{{LangUtil("想使用人民币充值？")}}</div>
        <div class="colorText1--text">
            {{LangUtil("主流交易所均支持人民币购买数字货币，点击教程了解如何使用人民币充值。")}}
            <a class="text-decoration-underline colorBtnBg--text" @click="onLink(LangUtil('法币教程链接'))" href="#">
                {{LangUtil("人民币充值教程")}}
            </a>
        </div>
        <div class="d-flex mt-3">
            <CustomSelect
                class="mr-3"
                :icons="plat_coins"
                :options="pageData.methodList"
                v-model="form.coin_name_unique"
                @change="onChange1"
            />
            <CustomSelect
                v-if="pageData.methodList[form.coin_name_unique]"
                :options="pageData.methodList[form.coin_name_unique].options"
                v-model="form.block_network_id"
                @change="onChange2"
            />
        </div>
        <v-card color="transparent">
            <div class="colorText1--text mt-3" v-if="pageData.methodList[form.coin_name_unique]">
                <!-- 你的{{form.coin_name_unique}} {{pageData.methodList[form.coin_name_unique].options[form.block_network_id].name}}充值地址 -->
                {{LangUtil("你的{0} {1}充值地址", form.coin_name_unique,
                pageData.methodList[form.coin_name_unique].options[form.block_network_id].name)}}
            </div>
            <div class="d-flex align-center address-box pa-2 mt-1">
                <div class="info-text ml-1">{{ pageData.address }}</div>
                <v-spacer />
                <v-btn color="#6FA9FA" small width="24" min-width="0" height="24" @click="onCopy">
                    <v-img src="@/assets/icon/icon_copy.png" width="24" height="24"></v-img>
                </v-btn>
            </div>
            <v-sheet class="d-flex rounded-lg pa-4 mt-4 text-14" color="colorPanelTitleBg">
                <div class="info-text">
                    ⚠️ {{pageData.methodList[form.coin_name_unique] &&
                    pageData.methodList[form.coin_name_unique].options[form.block_network_id].explain}}
                </div>
                <v-spacer />
                <v-sheet class="rounded-lg ml-3" width="100" min-width="100" height="100" color="white">
                    <div ref="qrcode" class="qrcode" @click="showPreview">
                        <v-img :src="pageData.qrcode"></v-img>
                    </div>
                </v-sheet>
            </v-sheet>
        </v-card>
    </v-card-text>
    <v-divider class="mx-5" />
    <v-card-text class="d-flex justify-end mt-3">
        <div class="mr-2 info-text">{{LangUtil("已支持币种")}}</div>
        <div v-for="(item, key) of pageData.methodList" :key="key">
            <v-img class="mr-2" v-if="plat_coins[key]" :src="plat_coins[key].icon" max-width="20" height="20"></v-img>
        </div>
    </v-card-text>
    <Overlay v-model="pageData.loading" />
</div>
