.address-box {
    border-radius: 10px;
    border: 2px solid #24314a;
    height: 44px;
    div {
        width: 90%;
        line-height: 18px;
    }
}
.info-text {
    color: #97abd1;
}
.qrcode {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 8px;
    width: 100px;
    height: 100px;
    canvas {
        display: none;
    }
    ::v-deep img {
        width: 100%;
    }
}
.third-fee{
    color:#FFAE0A;
}