.input_range_1, .input_range_2 {
    ::v-deep .el-icon-date {
        display: none;
    }
    ::v-deep .el-input__inner {
        padding-left: 0px !important;
        width: 115px;
        text-align: center;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px !important;
    width: auto;
    flex: 1;
}

.theme--light {
    .time-range {
        ::v-deep .el-input__inner {
            height: 36px;
            background-color: transparent !important;
            color: var(--btn_disable_text_dark);
        }
        // background-color: #fff !important;

        ::v-deep .el-input {
            font-size: 12px !important;
        }
    }
}
.theme--dark {
    .time-range {
        ::v-deep .el-input__inner {
            color: #8e8f91;
            height: 36px;
            background-color: transparent !important;
        }
        // background-color: #2f3030 !important;

        ::v-deep .el-input {
            font-size: 12px !important;
        }
    }
}

::v-deep .el-date-editor {
    position: relative;

    .el-input__prefix {
        display: none;
    }
}

::v-deep .el-range__icon {
    display: none;
}

::v-deep .el-input--prefix .el-input__inner {
    padding-left: 20px;
}

::v-deep .el-icon-date {
    font-size: 16px;
}