<v-sheet v-bind="$attrs" color="transparent" width="95%" class="rounded-lg mt-2 mx-auto d-flex timeRange textGray--text">
    <el-date-picker
        ref="startDate"
        class="input_range_1"
        v-model="startTime"
        type="datetime"
        :placeholder="LangUtil('开始日期')"
        default-time="00:00"
        format="yyyy-MM-dd HH:mm"
        :clearable="false"
        @blur="startBlur"
        :picker-options="pickerOptionsStart"
    >
    </el-date-picker>
    <div style="display: grid; align-items: center">-</div>
    <el-date-picker
        ref="endDate"
        v-model="endTime"
        class="input_range_2"
        type="datetime"
        :placeholder="LangUtil('结束日期')"
        default-time="23:59"
        format="yyyy-MM-dd HH:mm"
        :clearable="false"
        @blur="endBlur"
        :picker-options="pickerOptionsEnd"
    >
    </el-date-picker>
</v-sheet>
