.horizontal-gradient-left{
    background-image: linear-gradient(to right, #1E2C47, #384F72 );
    &.down{
        background-image: url("~@/assets/extension/commission.png"),linear-gradient(to right, #1E2C47, #384F72 );
        background-position: left bottom;
    }
}
.horizontal-gradient-right{
    background: linear-gradient(to right, #1E2C47, #123564 );
}
// 等级
.level_col {
    position: relative;
    .level_icon {
        position: absolute;
        left: 5px;
        top: 0px;
        max-width: 20px;
        @media (min-width: 600px){
            left: 15px;
            top: -5px;
            max-width: 30px;
        }
    }
}
.qrcode {
    width: 120px;
    height: 120px;
    ::v-deep img {
        width: 100%;
    }
}
.new{
    @media (min-width: 1264px) and (max-width: 1426px){
        width: 113px;
    }
}