.horizontal-gradient-left{
    background-image: linear-gradient(to right, #1E2C47, #384F72 );
    &.down{
        background-image: url("~@/assets/extension/commission.png"),linear-gradient(to right, #1E2C47, #384F72 );
        background-position: left bottom;
    }
}
.horizontal-gradient-right{
    background: linear-gradient(to right, #1E2C47, #123564 );
}
::v-deep .container {

    @media (min-width: 1264px){
        max-width: 1250px;
    }
    @media (min-width: 1904px){
        max-width: 1785px;
    }
}