<v-sheet class="rounded-lg pa-3 pt-4" elevation="0" color="bgBanner" width="260">
    <div class="d-flex align-center justify-start">
        <v-img class="rounded-pill" :src="commonIcon.avatar_default" max-width="56" max-height="56"></v-img>
        <div class="ml-4 primary--text text-16 font-weight-bold text-decoration-underline cursor-pointer" @click="onCopy(userInfo.user_id)">
            ID:{{userInfo.user_id}}
        </div>
    </div>
    <!-- <div class="mx-auto mt-2 text-16 font-weight-medium text-decoration-underline cursor-pointer">
        VIP {{userInfo.vip_info && userInfo.vip_info.vip_level}}
    </div> -->

    <v-sheet class="rounded-lg mt-3 py-1" color="transparent">
        <div class="d-flex align-center ml-2 item text-16" v-for="item of menuList" :key="item.id" @click="onMenuItem(item)">

            <svg-icon :icon="item.icon" class="text-22"></svg-icon>
            <div class="ml-2">{{ item.name }}</div>
            <div class="d-flex align-center ml-1" v-if="item.id == '16' || item.id == '17'">
                <v-icon :color="getCertificationStatus(item).color" v-if="getCertificationStatus(item).icon" small>
                    {{getCertificationStatus(item).icon}}
                </v-icon>
                <!-- <span class="disable_text_2--text">{{certificationStatus.name}}</span> -->
            </div>
            <v-spacer />
            <v-badge
                color="red"
                class="mr-4"
                offset-y="10"
                :content="red_dot_tips.is_user_mail_num.num"
                :value="item.id == '4' && red_dot_tips.is_user_mail_num.status==2 && red_dot_tips.is_user_mail_num.num"
            ></v-badge>
            <div class="icon-box iconfont mx-3 mr-4 text-14" style="transform: rotate(-90deg)"></div>
        </div>
    </v-sheet>

    <!-- <v-sheet v-if="$mobile" color="transparent" width="80%">
        <LightDark :mini="false" />
    </v-sheet > -->
    <btn-yellow
        v-if="GlobalVar.instance.isShowLogout"
        class="text-16 mt-3 mb-1 font-weight-bold"
        width="100%"
        height="36"
        @click.native="onLoginOut"
        >{{LangUtil("退出登录")}}</btn-yellow
    >

    <!-- <div class="d-flex colorBlue--text mt-3 ml-1 cursor-pointer" @click="onLoginOut">
        <div>{{LangUtil("退出登录")}}</div>
        <v-spacer />
    </div> -->
</v-sheet>
