.input-text {
    border-radius: 12px;
    // height: 150px;
    border: solid 1px #4c5d7f;
    textarea {
        vertical-align: middle;
        height: 150px;
        width: 100%;
        color: #96a9d0;
        resize: none;
        border: none;
        outline: none;
    }
}
textarea::placeholder, textarea[disabled] {
    color: #4c5d7f;
}