.codeSelect {
    ::v-deep .v-input input {
        color: #96a9d0;
        font-size: 14px;
        font-weight: inherit !important;
        width: auto !important;
    }

    ::v-deep .theme--dark.v-icon {
        color: #4c5d7f;
    }

    ::v-deep .v-label {
        color: #4c5d7f;
        font-size: 14px;
        font-weight: 600;
    }

    ::v-deep .v-list {
        background: #25324b;
        border-radius: 10px !important;
        //color:#96AAD0;
    }

    .mytest {
        min-width: 200px !important;
    }
}
.my-autocomplete {
    ::v-deep .v-input__slot {
        padding: 0px !important;
    }

    ::v-deep .v-list-item {
        padding: 0px !important;
    }
    ::v-deep .v-menu__content {
        min-width: 110px !important;
    }
    ::v-deep .v-input__icon {
        position: absolute !important;
        top: 5px !important;
        left: 23px !important;
    }
}
