.marqueeIcon {
    font-size: 24px;
    @media (max-width: 700px) {
        font-size: 20px;
    }
}
.all-rights-reserved {
    font-size: 12px;
    color: #5f6888;
    text-align: center;
    font-weight: 500;
}
