@import "@/style/params.scss";

.password-operate {
    margin: 8px 0 40px;
    display: flex;
    justify-content: space-between;
    color: $color-info;
    font-size: 12px;
    line-height: 16px;
}

.tips-box {
    margin-top: 16px;
    font-size: 12px;
    color: $color-info;
    font-size: 14px;
}

.tips-box_org {
    color: #6fa9fa;
    font-size: 13px;
}
.border-radius{
    border-radius:12px !important;
}
.loginWrap {
    display: flex;
    justify-content: center;

    .loginBtn {
        display: block;
        width: 124px;
        height: 44px;
        margin: 24px auto 0;
        border-radius: 8px;
        font-size: 14px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

.loginTip {
    font-size: 12px;
    color: $color-info;
}

.tips-box_blue {
    color: #1b9fff;
}

.arrow {
    transform: rotate(0deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-show {
    transform: rotate(180deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

::v-deep.v-text-field--outlined fieldset {
    color: #314361 !important;
}

.codeSelect {
    ::v-deep .v-input input {
        color: #96a9d0;
        font-size: 14px;
        font-weight: 600;
    }

    ::v-deep .theme--dark.v-icon {
        color: #4c5d7f;
    }

    ::v-deep .v-label {
        color: #4c5d7f;
        font-size: 14px;
        font-weight: 600;
    }

    ::v-deep .v-list {
        background: #25324b;
        border-radius: 10px !important;
        //color:#96AAD0;
    }

    .mytest {
        min-width: 200px !important;
    }
}

.bank_box {
    border-color: #4c5d7f !important;
    ::v-deep .input-text {
        border: none !important;
    }
    ::v-deep.v-autocomplete__content.v-menu__content,
    .v-autocomplete__content.v-menu__content .v-card {
        border-radius: 8px;
    }
    ::v-deep .theme--dark.v-list {
        background: #25324b !important;
        border-radius: 8px;
    }
    ::v-deep .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
        color: #96aad0;
    }
    ::v-deep .v-application .primary--text {
        color: #fff !important;
    }
    ::v-deep .theme--dark.v-label {
        color: #96aad0;
        font-size: 14px;
        font-weight: bold;
    }
    ::v-deep .theme--dark.v-icon {
        color: #4c5d7f;
    }
    ::v-deep .theme--dark.v-input input {
        color: #4c5d7f;
        font-size: 14px;
        font-weight: bold;
    }

    .name_select {
        position: relative;

        .name_list {
            position: absolute;
            z-index: 5;
        }
    }
}

.bank_box_mob {
    border-color: #4c5d7f !important;

    ::v-deep .input-text {
        border: none !important;
        height: 35px;
        input {
            height: 35px;
        }
    }
    ::v-deep.v-autocomplete__content.v-menu__content,
    .v-autocomplete__content.v-menu__content .v-card {
        border-radius: 8px;
    }
    ::v-deep .theme--dark.v-list {
        background: #97abd1 !important;
        border-radius: 8px;
    }
    ::v-deep .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
        color: #314361;
    }
    ::v-deep .v-application .primary--text {
        color: #fff !important;
    }
    ::v-deep .theme--dark.v-label {
        color: #4c5d7f;
        font-size: 14px;
        font-weight: 600;
    }
    ::v-deep .theme--dark.v-icon {
        color: #4c5d7f;
    }
    ::v-deep .theme--dark.v-input input {
        color: #96a9d0;
        font-size: 14px;
        font-weight: 600;
    }
    .name_select {
        position: relative;

        .name_list {
            position: absolute;
            z-index: 5;
        }
    }
}
::v-deep .custom-autocomplete {
    &.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot {
        padding-right: 0;
    }
    .v-list-item__title {
        font-size: 14px;
    }
}