@import "@/_skin030/style/input_nomal.scss";

::v-deep .v-btn__content {
    color: #8e8f91;
    font-size: 16px;
    font-weight: 400;
}

.placeholder-12 {
    input::placeholder {
        font-size: 12px !important;
        font-weight: bold;
    }
}