$nov_width: 188px;

.box {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 42px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
.active {
    background-image: linear-gradient(to right, var(--yellow_color_1), var(--yellow_color_2));
}

.lang {
    margin-left: 10px;
    margin-right: 10px;

    .boxdiv {
        padding-left: 9px;
        border-radius: 10px;
        border: solid 1px #d6dde3;
    }
    .boxdiv-dark {
        padding-left: 9px;
        border-radius: 10px;
        border: solid 1px #3e3f41;
    }
}

.navbox {
    min-width: $nov_width;
    height: 100vh;
}
.navscroll {
    position: fixed;
    width: $nov_width;
    height: 100vh;
    //overflow-y: scroll;
    z-index: 10;
}

.main_list {
    height: calc(100vh - 90px);
}

.all-rights-reserved {
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
.arrow {
    transform: rotate(90deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(-90deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

::v-deep .v-expansion-panel-content__wrap {
    padding: 0;
}