<div class="container-b">
<v-container class="page_mine" :class="$vuetify.breakpoint.xsOnly ? '':'px-0'">
    <v-row no-gutters>
        <v-col cols="12" md="6" lg="6" class="mt-3 mt-md-1 pr-md-2 order-2 order-md-1">
            <v-card  class="pt10 pt-sm-5 pb-2  left_bg" width="100%" height="100%">
                <span class="text-15 font-weight-medium px15  pl-md-5 d-inline-flex align-center"
                :class="$vuetify.breakpoint.xsOnly?'text-15':'text-16'" 
                >
                    <v-img v-if="!$vuetify.breakpoint.xsOnly" width="24" height="24"  contain src="~@/_skin100/assets/crown.png"  class="mr-2 d-inline-flex align-center"></v-img>
                    <v-img v-else width="27" height="27"  contain src="~@/_skin100/assets/crown.png"  class="mr-2 d-inline-flex align-center"></v-img>
                    <!-- <v-img width="25" height="25"  contain src="~@/_skin100/assets/crown.png" class="mr-2 d-inline-flex align-center"></v-img> -->
                    {{LangUtil('挖矿等级')}}</span>
                    <span class="float-right pr-5 tc text-14 pt-0 pt-sm-1 mr-n3 mr-md-0 cursop_pointer d-inline-flex align-center" @click="jumpTo('#vipLevel')">
                        <v-img width="18" height="18"  contain src="~@/_skin100/assets/question.png" class="mx-md-1 d-inline-flex align-center"></v-img>
                        {{LangUtil('查看所有等级')}}</span>
                <span></span>    
                <v-row no-gutters class="mt-3 mt-md-4">
                    <v-col cols="4" md="4" lg="3" class="pl-md-2  mt-n9 mt-md-n0 pl-5 ml-0 ml-sm-n4 ml-md-n0 pl-md-5 d-flex justify-center">
                        <!-- <v-img :max-width="mobileChange('leftBgVipIcon').w"  contain :src="vipMap[pageData.vipLevel]"></v-img> -->
                    </v-col>
                    <v-col cols="12" md="8" lg="9" :class="$vuetify.breakpoint.xsOnly?'px15':''" class="ml-0 ml-sm-n10 ml-md-n0 d-flex flex-column align-start justify-center text-caption text-sm-body-2 text-lg-body-1">
                        <v-sheet width="100%" class="text-16 text-body-5 text-md-16 d-flex align-center justify-space-start" color="transparent">
                            <img v-if="!$vuetify.breakpoint.xsOnly" width="48" height="52" contain :src="vipMap[pageData.vipLevel]"   class="d-inline-flex mr10"></img>
                            <img v-else width="24" height="27" contain :src="vipMap[pageData.vipLevel]"   class="d-inline-flex mr10"></img>
                            <span class="pt-1">
                                VIP {{ pageData.vipLevel }}
                            </span>
                        </v-sheet>
                        <v-sheet width="100%" color="transparent">
                            <!-- <v-progress-linear :value="pageData.vipProgress"  color="colorYellowBg2" :height="progressLinear" class="rounded-sm"></v-progress-linear> -->
                            <v-progress-linear :value="pageData.vipProgress"  color="colorYellowBg2" :height="6" class="rounded-sm mt7-5"></v-progress-linear>
                            <div class="text-14 ma-0 ml-2 mt-2 mt-md-3 text-align-center">
                                <p class="white--text" v-if="pageData.vipLevel ==  pageData.vipMaxLevel">{{LangUtil('您已经升级早最高等级')}} </p>
                                <span v-if="pageData.vipLevel !=  pageData.vipMaxLevel && (pageData.nextExp > 0 || pageData.nextUSDT > 0)">{{LangUtil('距离下一个等级还差')}} </span>
                                <span class="white--text" v-if="pageData.nextExp > 0">
                                    <span class="colorYellowBg2--text">{{ pageData.nextExp }}</span>{{LangUtil('有效流水')}} </span>
                                </span>
                                <span class="white--text" v-if="pageData.nextUSDT > 0">
                                    <span class="colorYellowBg2--text">{{ pageData.nextUSDT }}</span> USDT{{LangUtil('充值')}}</span>
                                </span>
                            </div>
                        </v-sheet>
                    </v-col>
                  
                    <v-col class="d-flex mb-1 mb-md-0 mt-md-3 down_box px15">
                        <v-row no-gutters class="mt-3 px-md-0">
                            <!-- 主币 -->
                            <!-- <v-col cols="6" md="12" lg="6" class="pl-1 pt-md-2 pl-md-0 pl-lg-1 pt-lg-0" v-if="pageData.backwaterConfigMain.now > 0">
                                <v-sheet color="colorBorderBlue" outlined class="rounded-lg px-2 px-md-4 pt-2 pb-1 next_group">
                                    <div class="d-flex align-center align-md-start">
                                        <v-img max-width="25" height="26" contain :src="pageData.platCoins.mainCoin.icon"></v-img>
                                        <span class="colorTextBlueLight--text text-body-2 text-md-body-1 ml-2 next_title">{{ pageData.platCoins.mainCoin.name }}{{LangUtil('返水')}}</span>
                                    </div>
                                    <div class="d-flex align-center justify-space-between mt-1 mt-md-3">
                                        <span class="colorTextGreen--text text-h6 text-md-h5">{{ pageData.backwaterConfigMain.now }}%</span>
                                        <v-img max-width="40" height="22" contain src="~@/assets/mine/arrow_icon.png"></v-img>
                                        <span class="colorTextNext--text text-h6 text-md-h5">{{ pageData.backwaterConfigMain.next }}%</span>
                                    </div>
                                </v-sheet>
                            </v-col> -->
                            <!-- 奖励币 -->
                            <v-col cols="12"  v-if="pageData.backwaterConfigReward.now > 0">
                                <v-sheet color="colorBorder" outlined class="rounded-lg  next_group  align-center py-4 pb-3 px-5">
                                    <div class="ml-3">
                                        <div class="d-flex align-center align-md-start">
                                            <v-img max-width="22" height="22" contain :src="pageData.platCoins.rewardCoin.icon"></v-img>
                                            <span class="colorTextBlueLight--text ml-2 text-body-2 text-md-body-1 next_title">{{ pageData.platCoins.rewardCoin.name }}{{LangUtil('挖矿')}} ({{pageData.platCoins.rewardCoin.name}}/{{LangUtil('万')}}$)</span>
                                        </div>
                                        <div class="d-flex align-center justify-space-between  mt15 ">
                                            <span class="white--text text-14 ">{{ pageData.backwaterConfigReward.now }}{{ pageData.platCoins.rewardCoin.name }}</span>
                                            <v-img max-width="25" height="10" contain src="~@/assets/mine/arrow_icon.png" class="mx-md-5"></v-img>
                                            <span class="textColor1 text-14">{{ pageData.backwaterConfigReward.next }}{{ pageData.platCoins.rewardCoin.name }}</span>
                                        </div>
                                    </div>
                                </v-sheet>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card>
        </v-col>
        <v-col cols="12" md="6" lg="6" class="d-flex mt-1  order-1 order-md-2">
            <v-card class="right_banner px15 pr-md-0 pt10 pt-sm-5 pb-0" width="100%" height="100%"
            :class="$vuetify.breakpoint.mobile?'right-banner-h5':''"
            >
                <v-card-text class="pa-0">
                    <v-row no-gutters>
                        <v-col cols="4" class="d-inline-flex "   :class="$vuetify.breakpoint.mobile ? 'align-center' : ''">
                            <v-img v-if="!$vuetify.breakpoint.xsOnly" max-width="24" height="24"  contain src="~@/_skin100/assets/icon-title-13.png" style="padding-bottom:10px"  class="mx-md-1 d-inline-flex align-center"></v-img>
                            <v-img v-else max-width="27" min-height="27"  contain src="~@/_skin100/assets/icon-title-13.png" style="padding-bottom:10px"  class="mx-md-1 mr-2 d-inline-flex align-center"></v-img>
                            <span class="white--text pt-0  pl-1  font-weight-medium"
                            :class="$vuetify.breakpoint.xsOnly?'text-15':'text-16'" 
                            >
                                {{LangUtil('游戏挖矿')}}</span>
                            <v-img v-if="!$vuetify.breakpoint.mobile" class="cat_icon mt-4 ml-n3 ml-sm-0" max-width="270" height="224" contain src="~@/_skin100/assets/mine/cat_icon.png"></v-img>
                        </v-col>
                        <v-col :cols="$vuetify.breakpoint.mobile?'12':'8'" class="text-body-2 text-align-center ml-0 ml-sm-n4 pl-0 pl-md-7 pl-md-0 text-md-body-1 game_mine_info">
                            <div class="mt-4 mt-sm-11 mt-md-8">
                                <p class="ma-0 text-17 font-weight-bold colorTextYellow--text"> {{LangUtil('今日挖矿待领取收益')}}</p>
                                <p class="ma-0 text-body-2 text-md-body-1 bTextColor5">{{ pageData.trial.date }} 00:00:00～23:59:59</p>
                            </div>
                        
                            <div class="d-flex justify-center align-center mt-3 mt-md-3 coins_group elevation='2'">
                                <!-- 主币 -->
                                <v-img v-if="pageData.trial.main" :max-width="mobileChange('coinIcon')" :height="mobileChange('coinIcon')" contain :src="pageData.trial.mainIconSrc"></v-img>
                                <span v-if="pageData.trial.main" class="white--text text-h5 text-md-h4 ml-2 ml-md-4 mr-4 mr-md-8 font-weight-medium">{{ pageData.trial.main }}</span>
                                <!-- 奖励币 -->
                                <v-img v-if="pageData.trial.reward" :max-width="mobileChange('coinIcon')" :height="mobileChange('coinIcon')" contain :src="pageData.trial.rewardIconSrc"></v-img>
                                <span v-if="pageData.trial.reward" class="white--text text-h5 text-md-h4 ml-2 ml-md-4 font-weight-medium">{{ pageData.trial.reward }}</span>
                            </div>

                            <v-btn :min-width="mobileChange('minRewardBtn').w" :height="mobileChange('minRewardBtn').h" color="colorYellowBg2" plain class="rounded-pill text-body-2 text-md-body-1 get_award mt-2 mt-md-6 font-weight-bolder black--text"   @click="handlerAward">{{LangUtil('领取奖励')}}</v-btn>
                            <div class="d-none d-md-flex  justify-md-center btn_group mt-4 mb-6 right_btn_group">
                                <v-btn  height="38" min-width="85" class="rounded-pill bPanelWhiteOpacityBg text-14" @click="jumpTo('#howMine')">
                                    {{LangUtil('说明')}}
                                </v-btn>
                                <v-btn  height="38" min-width="127" class="rounded-pill bPanelWhiteOpacityBg text-14 mx-2" @click="handlerMineRecord">{{LangUtil('奖励记录')}} </v-btn>
                                <v-btn  height="38" min-width="127" class="rounded-pill bPanelWhiteOpacityBg text-14" @click="handlerBetRecord">{{LangUtil('投注记录')}}</v-btn>
                            </div>
                        </v-col>
                        <v-col cols="12" class="d-flex d-md-none justify-space-around btn_group mb-md-6 right_btn_group mt-5  mt-sm-9">
                            <!-- 手机显示 -->
                            <v-btn  height="35" min-width="90" class="rounded-pill bPanelWhiteOpacityBg text-14" @click="jumpTo('#howMine')">
                                {{LangUtil('说明')}}
                            </v-btn>
                            <v-btn  height="35" min-width="90" class="rounded-pill bPanelWhiteOpacityBg text-14" @click="handlerMineRecord">{{LangUtil('奖励记录')}}</v-btn>
                            <v-btn  height="35" min-width="90" class="rounded-pill bPanelWhiteOpacityBg text-14" @click="handlerBetRecord">{{LangUtil('投注记录')}}</v-btn>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
    <!-- vip 等级 -->
    <v-sheet color="transparent" class="mt5 mx-auto" :class="$vuetify.breakpoint.xsOnly?'mobile-vip':''" max-width="1430" id="vipLevel" >
        <span class="d-flex align-center"
        ><v-img v-if="$vuetify.breakpoint.xsOnly" max-width="27" min-height="27"  contain src="~@/_skin100/assets/crown.png"  class="mx-md-1 mr-2 d-inline-flex align-center"></v-img>
        <span class=" text-md-h7"
        :class="$vuetify.breakpoint.xsOnly?'text-15':'text-h6 mt12'"
        >{{LangUtil('VIP等级')}} </span></span>
        <p class="ma-0 mt-1 text-md-body-3 bTextColor5 tips" :class="$vuetify.breakpoint.xsOnly ? 'text-12':'text-14'">
            {{LangUtil('个人投注额和好友投注额增加时会提高洗码等级，业绩与洗码等级的关系如下图所示，最高级可达0.9%洗码。')}}
        </p>
        
        <v-slide-group class="mt-6" show-arrows v-if="!$vuetify.breakpoint.xsOnly">
            <v-slide-item v-for="(item, level) of pageData.vipConfig" :key="level">
                <v-card color="transparent">
                    <v-sheet color="transparent" height="220">
                        <div style="width:160px;height:220px;" class="mr-2 vip-card-bg">
                        <!-- <v-img max-width="160" width="160" height="100%" class="mr-2" contain src="~@/_skin100/assets/mine/item_bg.png"> -->
                            <img v-if="!$vuetify.breakpoint.xsOnly" width="80" height="80" contain class="ml-10 vip-icon" :src="vipMap[level+1]"></img>
                            <v-img v-else max-width="28" width="32" contain class="ml-15 vip-ico" :src="vipMap[level+1]"></v-img>
                            <div class="d-flex flex-column  justify-center align-center pt-2 text-body-1">
                                <div class="mt-1 mb-2">VIP {{ myProxy.getVipLevel(level) }}</div>
                                <div class="d-flex flex-column mt-n3 justify-start align-center vip_config_box">
                                    <!-- 主币 -->
                                    <div class="mt-1 font-weight-medium textColor1" v-if="item.backwater_config[2].backwater_rate > 0">{{ pageData.platCoins.mainCoin.name }}{{LangUtil('返水')}}</div>
                                    <div class="mt-1 font-weight-medium colorYellowBg2--text text-h5" v-if="item.backwater_config[2].backwater_rate > 0">{{(item.backwater_config[2].backwater_rate * 100).toFixed(2)}}%</div>
                                    <!-- 奖励币 -->
                                    <div class="mt-4 font-weight-medium textColor1" v-if="item.backwater_config[3].backwater_rate > 0">{{ pageData.platCoins.rewardCoin.name }}{{LangUtil('挖矿')}}</div>
                                    <div class="font-weight-medium textColor1">( {{pageData.platCoins.rewardCoin.name}}/{{LangUtil('万')}}$ )</div>
                                    <div class="mt-2 font-weight-medium colorYellowBg2--text text-h5" v-if="item.backwater_config[3].backwater_rate > 0">{{(item.backwater_config[3].backwater_rate * 10000).toFixed(0)}}{{ pageData.platCoins.rewardCoin.name }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- </v-img> -->
                    </v-sheet>
                </v-card>
            </v-slide-item>
        </v-slide-group>
        <div v-else class="mt-3">
            <!-- 手机 -->
            <div class="rounded_customized py-2 d-flex justify-space-between mb-1 colorTextGreey--text">
                <span>{{LangUtil("等级")}}</span>
                <span class="ml-10">{{LangUtil("USDT返水")}}</span>
                <span>{{LangUtil("LCC挖矿")}}</span>
            </div>
            <v-sheet v-for="(item, level) of pageData.vipConfig" :key="level" color="transparent" class="rounded_customized py-2 d-flex justify-space-between">
                <div class="d-flex align-center">
                    <v-img max-width="14" width="16" contain :src="vipMap[level+1]" class="mobile_level_icon"></v-img>
                    <span class="text-13 font-weight-medium ml-2">VIP {{ myProxy.getVipLevel(level) }}</span>
                </div>
                <!-- 主币 -->
                <div class="d-flex align-center" v-if="item.backwater_config[2].backwater_rate > 0">
                    <span class="text-13 colorYellowBg2--text">{{ pageData.platCoins.mainCoin.name }} {{LangUtil('返水')}}  </span>
                </div>
                <div class="d-flex align-center" v-if="item.backwater_config[2].backwater_rate > 0">
                    <span class="text-13 colorYellowBg2--text">{{(item.backwater_config[2].backwater_rate * 10000).toFixed(0)}}%</span>
                </div>
                <!-- 奖励币 -->
                <div class="d-flex justify-center align-center" v-if="item.backwater_config[3].backwater_rate > 0">
                    <span class="text-13 colorYellowBg2--text">{{ pageData.platCoins.rewardCoin.name }}挖矿</span>
                    <span class="text-13 colorYellowBg2--text">({{pageData.platCoins.rewardCoin.name}}/{{LangUtil('万')}}$)</span>
                </div>
                <div class="d-flex align-center" v-if="item.backwater_config[3].backwater_rate > 0">
                    <span class="text-13 colorYellowBg2--text">{{(item.backwater_config[3].backwater_rate * 10000).toFixed(0)}}{{ pageData.platCoins.rewardCoin.name }}</span>
                </div>
            </v-sheet>
        </div>
    </v-sheet>
    <!-- 如何挖矿 -->
    <v-sheet color="transparent" class="mt20" id="howMine">
        <span class="text-md-h7"
        :class="$vuetify.breakpoint.xsOnly?'text-15':'text-h6'"
        >{{LangUtil('如何挖矿')}} </span>
        <p class="ma-0 mt-1 ml-0 colorText3--text" :class="$vuetify.breakpoint.xsOnly ? 'text-12':'text-14'">
            {{LangUtil('您的有效投注额及被推荐好友投注都会产生收益，投注越多个人洗码越高，好友越多洗码收益越丰厚。')}}
        </p>
        <v-row class="mt-4" no-gutters>
            <!-- 01 -->
            <v-col cols="12" md="4" class="how_item mb-2 mb-md-0">
                <v-card width="100%"  class="linear_bg rounded-lg py-2 px-4 pa-md-5 pa-md-4 px-md-4  d-flex flex-wrap flex-column justify-space-between" height="100%" >
                    <v-card-title class="pa-0 order-1" style="width: 100%;" >
                        <v-img :max-width="mobileChange('howIcon')" :height="mobileChange('howIcon')" contain class="mr-1 mr-md-4 how_icon" src="~@/_skin100/assets/mine/about_01_icon.png"></v-img>
                        <div class="d-flex flex-column how_title_box">
                            <span class="fz-16 colorText3--text font-weight-bold">01</span>
                            <span class="how_title font-weight-medium">{{LangUtil('享受游戏之旅')}}</span>
                        </div>
                        <v-btn :min-width="mobileChange('howBtn').w" :height="mobileChange('howBtn').h" color="btnRedBg" @click="onGoBet" class="rounded-pill ml-auto">{{LangUtil('去投注')}}</v-btn>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2 ">
                        <span class="text-caption text-md-body-2 sub-title-color font-weight-bolder"
                            >{{LangUtil('参与你最喜欢的游戏，并不断累计有效投注额，推荐的好友以及他的好友产生的投注额都会增加你的洗码等级。')}}</span
                        >
                    </v-card-text>
                    <!-- <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3 mt-2 mt-mb-0 how_btn">
                        <v-btn :min-width="mobileChange('howBtn').w" :height="mobileChange('howBtn').h" color="colorHowBtn" @click="onGoBet" class="rounded-pill">{{LangUtil('去投注')}}</v-btn>
                    </v-card-actions> -->
                </v-card>
            </v-col>
            <!-- 02 -->
            
            <v-col cols="12" md="4" class="how_item px-md-2 mb-2 mb-md-0">
                <v-card width="100%"  class="linear_bg rounded-sm py-2 px-4 pa-md-5 pa-md-4 px-md-4 d-flex flex-wrap flex-column justify-space-between" height="100%" >
                    <v-card-title class="pa-0 order-1" style="width: 100%;" >
                        <v-img :max-width="mobileChange('howIcon')" :height="mobileChange('howIcon')" contain class="mr-1 mr-md-4 how_icon" src="~@/_skin100/assets/mine/about_02_icon.png"></v-img>
                        <div class="d-flex flex-column how_title_box">
                            <span class="fz-16  colorText3--text font-weight-bold">02</span>
                            <span class="how_title font-weight-medium">{{LangUtil('领取个人洗码')}}</span>
                        </div>
                        <v-btn :min-width="mobileChange('howBtn').w" :height="mobileChange('howBtn').h" color="btnRedBg" @click="onGoBet" class="rounded-pill ml-auto">{{LangUtil('去领取')}}</v-btn>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2 ">
                        <span class="text-caption text-md-body-2 sub-title-color font-weight-bolder"
                            >{{LangUtil('个人有效投注额乘以洗码比例，即为个人洗码，该收益将自动发放到洗码页面，可随时领取到USDT钱包。')}}</span
                        >
                    </v-card-text>
                    <!-- <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3 mt-2 mt-mb-0 how_btn">
                        <v-btn :min-width="mobileChange('howBtn').w" :height="mobileChange('howBtn').h" color="colorHowBtn" @click="onGoBet" class="rounded-pill">{{LangUtil('去领取')}}</v-btn>
                    </v-card-actions> -->
                </v-card>
            </v-col>
           
            <!-- 03 -->
            <v-col cols="12" md="4"  class="how_item mb-0 mb-md-0">
                <v-card width="100%"  class="linear_bg rounded-sm py-2 px-4  pa-md-4 px-md-4  d-flex flex-wrap flex-column justify-start" height="100%" >
                    <v-card-title class="pa-0 order-1 mb-2" style="width: 100%;" >
                        <v-img :max-width="mobileChange('howIcon')" :height="mobileChange('howIcon')" contain class="mr-1 mr-md-4" src="~@/_skin100/assets/mine/about_03_icon.png"></v-img>
                        <div class="d-flex flex-column liheight">
                            <span class="fz-16   colorText3--text font-weight-bold">03</span>
                            <span class="how_title fz-16 font-weight-medium">{{LangUtil('自动结算')}}</span>
                        </div>
                    </v-card-title>
                    <v-card-text class="px-0 mt-1 mt-mb-4 order-3 order-md-2 ">
                        <span class="text-caption text-md-body-2 sub-title-color font-weight-bolder"
                            >{{LangUtil('次日上午6点-9点平台系统自动结算前一天的返水余额，系统自动发放后可至返水历史中查看记录。')}}</span
                        >
                    </v-card-text>
                    <v-card-actions class="pa-0 mt-md-4 order-2 order-md-3">
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-sheet>
    <Question :questions="fagProxy.qData.type2" class="mt-md-5"></Question>
</v-container>
</div>