<v-dialog v-if="!pageData.bHidden" width="838" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$xsOnly" persistent>
    <!-- pc显示方式 -->
    <template v-if="!$xsOnly">
        <v-card class="rounded10 pb-3" color="bgBanner">
            <com-dialog-title title="充币记录" @onClose="onClose" />

            <v-divider class="mb-2" />
            <v-card-text class="px-5" v-if="!$xsOnly">
                <v-sheet
                    color="transparent"
                    class="d-flex justify-space-between align-center justify-center px-2 text_center"
                    width="100%"
                    min-height="40"
                >
                    <v-sheet color="transparent" class="textGray--text" width="180">{{LangUtil("订单号")}}</v-sheet>
                    <v-sheet color="transparent" class="textGray--text" min-width="120">{{LangUtil("创建时间")}}</v-sheet>
                    <v-sheet color="transparent" class="textGray--text" min-width="100">{{LangUtil("币种")}}</v-sheet>
                    <v-sheet color="transparent" class="textGray--text" min-width="100">{{LangUtil("数量")}}</v-sheet>
                    <v-sheet color="transparent" class="textGray--text" min-width="100">{{LangUtil("状态")}}</v-sheet>
                </v-sheet>

                <v-sheet v-if="pageData.list.length>0 && !$xsOnly" color="transparent" height="450" class="scroll-y">
                    <v-sheet
                        class="px-2 py-2 rounded10 my-2 sheetOutlined"
                        v-for="(item, key) of pageData.list"
                        :key="key"
                        color="transparent"
                    >
                        <v-sheet color="transparent" class="d-flex justify-space-between align-center text_center" width="100%">
                            <v-sheet
                                color="transparent"
                                class="primary--text text-truncate text-decoration-underline cursor-pointer"
                                width="180"
                                @click="onCopy(item.order_no)"
                                >{{item.order_no}}</v-sheet
                            >
                            <v-sheet color="transparent" class="primary--text" min-width="120">{{getDate(item.created_at)}}</v-sheet>
                            <v-sheet color="transparent" class="primary--text" min-width="100">{{item.coin_name_unique}}</v-sheet>
                            <v-sheet color="transparent" class="primary--text" min-width="100">{{item.gold}}</v-sheet>
                            <v-sheet color="transparent" :class="getStateColor(item.status)" min-width="100"
                                >{{statusOptions[item.status]}}</v-sheet
                            >
                        </v-sheet>
                    </v-sheet>
                </v-sheet>
                <ListNodata v-if="pageData.list.length == 0" height="445" />
                <v-spacer />
                <v-pagination
                    v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                    v-model="pageData.pageInfo.pageCurrent"
                    :length="pageData.pageInfo.pageCount"
                    :total-visible="7"
                    @input="onPageChange"
                ></v-pagination>
            </v-card-text>
        </v-card>
    </template>
    <template v-else>
        <v-card class="pb-3" color="bgBanner">
            <com-dialog-title title="充币记录" @onClose="onClose" />

            <v-sheet id="mobile_main" color="transparent" class="overflow-y-auto px-5" style="height: calc(100vh - 100px)">
                <LoadMore @onRefresh="onRefresh" @onLoad="onLoad" :finished="pageData.finished" :listNodata="pageData.list.length == 0">
                    <v-sheet
                        class="px-3 py-2 my-3 primary--text sheetOutlined rounded10"
                        color="transparent"
                        v-for="(item, key) of pageData.list"
                        :key="key"
                    >
                        <v-sheet color="transparent" class="d-flex flex-column" width="100%">
                            <v-sheet color="transparent" class="d-flex justify-space-between align-center">
                                <div class="my-0 textGray--text">{{LangUtil("订单号")}}</div>
                                <div class="text-truncate text-decoration-underline cursor-pointer my-0" @click="onCopy(item.order_no)">
                                    {{item.order_no}}
                                </div>
                            </v-sheet>

                            <v-sheet color="transparent" class="d-flex justify-space-between align-center">
                                <div class="my-0 textGray--text">{{LangUtil("创建时间")}}</div>
                                <div class="my-0">{{getDate(item.created_at)}}</div>
                            </v-sheet>

                            <v-sheet color="transparent" class="d-flex justify-space-between align-center">
                                <div class="my-0 textGray--text">{{LangUtil("币种")}}</div>
                                <div class="my-0">{{item.coin_name_unique}}</div>
                            </v-sheet>

                            <v-sheet color="transparent" class="d-flex justify-space-between align-center">
                                <div class="my-0 textGray--text">{{LangUtil("数量")}}</div>
                                <div class="my-0">{{item.gold}}</div>
                            </v-sheet>

                            <v-sheet color="transparent" class="d-flex justify-space-between align-center">
                                <div class="my-0 textGray--text">{{LangUtil("状态")}}</div>
                                <div class="my-0" :class="getStateColor(item.status)">{{statusOptions[item.status]}}</div>
                            </v-sheet>
                        </v-sheet>
                    </v-sheet>
                </LoadMore>
            </v-sheet>
        </v-card>
    </template>

    <Overlay v-model="pageData.loading" />
</v-dialog>
