<v-dialog v-if="!pageData.bHidden" width="420" v-model="pageData.bShow" :retain-focus="false" persistent>
    <v-card class="rounded-lg" color="colorPanelBg">
        <!-- <v-card-title class="gradient-bg">
            <div class="text-20">{{LangUtil("个人名片")}}</div>
            <v-spacer />
            <v-btn class="ml-auto" icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title> -->
        <com-dialog-title title="个人名片" @onClose="onClose" :isDialog="true" />
        <v-divider class="mb-2" />
        <v-card-text class="mt-3">
            <div class="input-text py-2 pa-3 mb-5">
                <textarea
                    class="text-16"
                    :disabled="!pageData.canEdit"
                    maxlength="300"
                    :autofocus="false"
                    :placeholder="pageData.canEdit?LangUtil('请输入您的个人名片（300个字符）'):''"
                    v-model="pageData.personalCard"
                />
            </div>
            <v-btn
                v-if="pageData.canEdit"
                class="rounded-lg"
                color="colorBtnBg"
                height="48"
                :disabled="!pageData.personalCard"
                @click="onSubmit"
                block
            >
                {{LangUtil("保存设置")}}
            </v-btn>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
