// .mobile{
//     padding-top: 135px !important;
// }
.assetsBg{
    background-color: rgba(0,0,0,0.1);
}
.item-select:hover{
    background-color: rgba(0,0,0,0.1) !important;
}
.item-select-m:hover{
    background-color: rgba(255,255,255,0.06) !important;
}