@import "@/style/input.scss";
input::placeholder {
    // color:#57399b;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 400;
}
.input-text input {
    color: #fff;
    caret-color: #fff;
}
.mdi-eye-off::before{
	transform: rotateY(180deg);
}
