<v-footer class="justify-space-around pa-0" height="75" color="colorTitleBg" app>
    <v-sheet
        class="d-flex flex-column align-center cursor-pointer pt-3 rounded-b"
        width="70"
        height="75"
        v-for="(item, index) of menuList"
        :key="index"
        @click="onItemClick(item)"
        :class="routerPath == item.path ? 'active':''"
        color="transparent"
    >
        <v-icon size="26" :color="routerPath == item.path ? 'color_red_1' : 'colorText1'">{{item.icon}}</v-icon>
        <div class="text-12" :class="routerPath == item.path ? 'color_red_1--text': 'colorText1--text'">{{item.name}}</div>
    </v-sheet>
</v-footer>
