<div>
    <div class="text-16 mb-2 ml-2 mr-4 d-flex">
        <v-icon class="mr-1" color="colorYellow" :size="$vuetify.breakpoint.xsOnly?15:24">mdi-chess-queen</v-icon>
        <div :class="$vuetify.breakpoint.xsOnly?'text-12':''">{{LangUtil("近期投注")}}</div>
    </div>

    <v-sheet color="#192B4E" rounded :height="$vuetify.breakpoint.xsOnly?30:60" class="mb-2 d-flex align-center">
        <v-sheet
            v-if="!$vuetify.breakpoint.xsOnly || (key == 0 || key ==1 || key==4)"
            class="colorText7--text d-flex justify-center"
            :class="$vuetify.breakpoint.xsOnly?'text-12':'text-18'"
            width="300"
            color="transparent"
            v-for="(item, key) of titles"
            :key="key"
            >{{item}}</v-sheet
        >
    </v-sheet>
    <v-sheet
        color="#192B4E"
        rounded
        :height="$vuetify.breakpoint.xsOnly?30:60"
        class="mb-2 d-flex align-center"
        v-for="(item, key) of listData"
        :key="key"
    >
        <v-sheet
            v-if="!$vuetify.breakpoint.xsOnly || (key1 == 0 || key1 ==1 || key1==4)"
            class="colorText2--text d-flex justify-center"
            :class="$vuetify.breakpoint.xsOnly?'text-12':'text-18'"
            width="300"
            color="transparent"
            v-for="(item1, key1) of item"
            :key="key1"
            >{{item1}}</v-sheet
        >
    </v-sheet>
</div>
