<v-dialog width="420" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg" color="colorPanelBg">
        <v-card-title class="gradient-bg">
            <div class="text-18 font-weight-regular">{{LangUtil("设置保底")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon large>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text v-if="pageData.bShow" class="px-10 mt-5">
            <CustomInput class="mb-3 text-18" v-model="pageData.amount" key="promotion_floor"/>
            <div class="ml-5 mb-9 colorDialogInfo--text text-16 font-weight-regular">{{LangUtil("每万保底金额")}}{{pageData.amount > pageData.range.min ? pageData.origin_amount : pageData.range.min}}-{{pageData.range.max}}</div>
            <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedAmount" block @click="setFloor"
                >{{LangUtil("保存设置")}}</v-btn
            >
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
