<v-dialog width="730" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg overflow-hidden" color="colorPanelBg">
        <!-- pc显示方式 -->
        <v-card-title class="gradient-bg" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="text-18 font-weight-regular">{{LangUtil("质押记录")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon large>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5" v-if="!$vuetify.breakpoint.xsOnly">
            <div>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 1"
                    :color="listQuery.cate == 1 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(1)"
                >
                    <v-icon class="mr-1">mdi-chart-line</v-icon>
                    {{LangUtil("质押")}}
                </v-btn>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 2"
                    :color="listQuery.cate == 2 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(2)"
                >
                    <v-icon class="mr-1">mdi-chart-tree</v-icon>
                    {{LangUtil("解除质押")}}
                </v-btn>
            </div>
            <v-divider class="my-3"/>
            <div v-if="listQuery.cate == 1 && !$vuetify.breakpoint.xsOnly" class="scroll_box">
                <v-sheet v-if="pageData.list.length>0" color="transparent" height="450" class="scroll-y">
                    <v-sheet class="mt-2 px-6 py-2 rounded-lg my-3" color="#16233F" v-for="(item, key) of pageData.list" :key="key">
                        <div class="d-flex flex-wrap listitem">
                            <div>
                                <div>{{LangUtil("时间")}}</div>
                                <div class="text-truncate text-16 font-weight-regular">{{ getDateTime(item.created_at) }}</div>
                            </div>
                            <div>
                                <div class="ml-sm-8">{{LangUtil("数量")}}</div>
                                <div class="d-flex align-center text-16 font-weight-regular">
                                    <v-img
                                        class="mr-2"
                                        max-width="25"
                                        height="25"
                                        :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                    ></v-img>
                                    {{ item.gold }}
                                </div>
                            </div>
                        </div>
                    </v-sheet>
                    <ListNodata v-if="pageData.list.length == 0" height="445"/>
                </v-sheet>
            </div>
            <div v-if="listQuery.cate == 2 && !$vuetify.breakpoint.xsOnly" class="scroll_box">
                <v-sheet v-if="pageData.list.length>0" color="transparent" height="450" class="scroll-y">
                    <v-sheet class="mt-2 px-7 py-2 rounded-lg my-3" color="#16233F" v-for="(item, idx) in pageData.list" :key="idx">
                        <div class="d-flex flex-wrap listitem-de">
                            <div>
                                <div>{{LangUtil("时间")}}</div>
                                <div class="text-truncate text-16 font-weight-regular">{{ getDateTime(item.created_at) }}</div>
                            </div>
                            <div class="listitem-180">
                                <div>{{LangUtil("类型")}}</div>
                                <div class="text-truncate text-16 font-weight-regular">
                                    <span v-if="item.type == 48">{{LangUtil("质押")}}</span>
                                    <span v-else-if="item.type == 49">{{LangUtil("自动解质押")}}</span>
                                    <span v-else>{{LangUtil("手动解质押")}}</span>
                                </div>
                            </div>
                            <div class="listitem-150">
                                <div class="ml-sm-8">{{LangUtil("到账数量")}}</div>
                                <div class="d-flex align-center text-16 font-weight-regular">
                                    <v-img
                                        class="mr-2"
                                        max-width="25"
                                        height="25"
                                        :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                    ></v-img>
                                    {{ item.gold }}
                                </div>
                            </div>
                        </div>
                    </v-sheet>
                </v-sheet>
            </div>
            <ListNodata v-if="pageData.list.length == 0" height="445"/>
            <v-spacer />
            <v-pagination
                v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                v-model="pageData.pageInfo.pageCurrent"
                :length="pageData.pageInfo.pageCount"
                :total-visible="7"
                @input="onPageChange"
            ></v-pagination>
        </v-card-text>
        <!-- 手机显示方式 -->
        <v-card-text class="pb-3 px-0 header-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="gradient-bg d-flex align-center px-5">
                <div class="text-18">{{LangUtil("质押记录")}}</div>
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </div>
            <div class="d-flex justify-start pl-5">
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 1"
                    :color="listQuery.cate == 1 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(1)"
                >
                    <v-icon class="mr-1">mdi-chart-line</v-icon>
                    {{LangUtil("质押")}}
                </v-btn>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 2"
                    :color="listQuery.cate == 2 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(2)"
                >
                    <v-icon class="mr-1">mdi-chart-tree</v-icon>
                    {{LangUtil("解除质押")}}
                </v-btn>
            </div>
            <v-divider class="my-2 mx-5"/>
        </v-card-text>
        <v-card-text class="px-5" v-if="$vuetify.breakpoint.xsOnly">
            <div v-if="listQuery.cate == 1 && $vuetify.breakpoint.xsOnly">
                <vue-loadmore :on-refresh="onRefresh" :on-loadmore="onLoad" :finished="pageData.finished" class="listbox-mobile">
                    <ListNodata v-if="pageData.list.length == 0" />
                    <v-sheet class="px-3 py-2 rounded-lg my-3 colorText2--text" color="#16233F" v-for="(item, key) of pageData.list" :key="key">
                        <div class="d-flex justify-space-between">
                            <div class="colorText1--text">{{LangUtil("时间")}}</div>
                            <div>{{ getDateTime(item.created_at) }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="ml-sm-8 d-flex align-center colorText1--text">{{LangUtil("数量")}}</div>
                            <div class="d-flex align-center">
                                <v-img
                                    class="mr-2"
                                    max-width="20"
                                    height="20"
                                    :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                ></v-img>
                                {{ item.gold }}
                            </div>
                        </div>
                    </v-sheet>
                </vue-loadmore>
            </div>
            <div v-if="listQuery.cate == 2 && $vuetify.breakpoint.xsOnly">
                <vue-loadmore :on-refresh="onRefresh" :on-loadmore="onLoad" :finished="pageData.finished" class="listbox-mobile">
                    <ListNodata v-if="pageData.list.length == 0"/>
                    <v-sheet class="px-3 py-2 rounded-lg my-3 colorText2--text" color="#16233F" v-for="(item, idx) in pageData.list" :key="idx">
                        <div class="d-flex justify-space-between">
                            <div class="colorText1--text">{{LangUtil("时间")}}</div>
                            <div>{{ getDateTime(item.created_at) }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorText1--text">{{LangUtil("类型")}}</div>
                            <div>
                                <span v-if="item.type == 48">{{LangUtil("质押")}}</span>
                                <span v-else-if="item.type == 49">{{LangUtil("自动解质押")}}</span>
                                <span v-else>{{LangUtil("手动解质押")}}</span>
                            </div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="ml-sm-8 colorText1--text">{{LangUtil("到账数量")}}</div>
                            <div class="d-flex align-center">
                                <v-img
                                    class="mr-2"
                                    max-width="20"
                                    height="20"
                                    :src="GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique] && GamePlatConfig.config.plat_coins[plat_stake_info.coin_name_unique].icon"
                                ></v-img>
                                {{ item.gold }}
                            </div>
                        </div>
                    </v-sheet>
                </vue-loadmore>
            </div>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
