.frame {
    border: 0;
    width: 100%;
    height: calc(100vh - 142px);
    overscroll-behavior: contain;
}
.frame-mobile {
    border: 0;
    width: 100vw;
    // height: calc(100vh - 55px);
    overscroll-behavior: auto;
    position: fixed;
    left:0px;
    top:0px;
}
.frame-mobile_cricket{
    border: 0;
    width: 100vw;
    // height: calc(100vh - 55px);
    overscroll-behavior: auto;
    position: fixed;
    left:0px;
    top:45px ;
}

.theme--dark {
    .frame {
        background: #202121;
    }
    .frame-mobile {
        background: #202121;
    }
}
.theme--light {
    .frame {
        background: #fff;
    }
    .frame-mobile {
        background: #fff;
    }
}

.frame-mobile-standalone{
    border: 0;
    width: 100vw;
    height: calc(100vh - 120px);
    background: #0d1525;
    overscroll-behavior: contain;
}
.flow-btn {
    position: fixed;
    right: 55px;
    top: 60px;
}

.box-mobile{
    min-height: 2000px;
}