<v-app-bar
    class="app-bar header_sk100"
    :height="$vuetify.breakpoint.xsOnly?100:80"
    elevation="0"
    :app="routerPath != '/page_game_play'"
>
    <v-container class="py-0 mx18" v-if="!$vuetify.breakpoint.xsOnly">
        <div class="d-flex align-center ">
            <img src="@/_skin100/assets/logo.png" height="40" class="mt-4 mb-2 mr-8 cursor-pointer" @click="goHome" alt="" />
            <span class="nav-button" @click="goHome">
                 <span class="button-text">{{LangUtil("首页")}}</span>
                 <div :class="routerPath == '/' ? 'button-bar-active' : 'button-bar'" ></div>
            </span>
            <span class="nav-button" @click="goToMyPage">
                 <span class="button-text">{{LangUtil("挖矿")}}</span>
                 <div :class="routerPath == '/page_mine' ? 'button-bar-active' : 'button-bar'" ></div>
            </span>
            <span class="nav-button" @click="goToMyBonus">
                 <span class="button-text">{{LangUtil("分红")}}</span>
                 <div :class="routerPath == '/page_bonus' ? 'button-bar-active' : 'button-bar'" ></div>
            </span>
            <span class="nav-button" @click="goToMySwap">
                 <span class="button-text">{{LangUtil("交易")}}</span>
                 <div :class="routerPath == '/page_swap' ? 'button-bar-active' : 'button-bar'" ></div>
            </span>
            <!-- <button
            v-if="!$vuetify.breakpoint.mobile"
            class="nav-button d-none d-md-flex"
            v-for="item of pageData.lobbyIndex"
            :key="item.category"
            @click="goAnchor(item.category)"
        >
            <v-icon class="mr-1">{{ CategoryIcon[item.category] }}</v-icon>
            <div>{{ item.category_name }}</div>
        </button> -->
            <v-spacer />
            <span v-if="core.user_id == 0" class="login-btn px-2 mt2" @click="handlerLogin">{{LangUtil("登录")}}</span>
        <v-btn
            v-if="core.user_id == 0"
            height="40"
            min-width="100"
            :small="$vuetify.breakpoint.mobile"
            class="text-26 mx-4 white--text regin-btn"
            @click="handlerRegister"
        >
            <span class="px-2">{{LangUtil("注册")}}</span>
        </v-btn>
        

       
            <Wallet v-if="core.user_id" />
            <div v-if="LangConfig.language">
                <CustomSelect
                    v-model="core.lang"
                    :options="LangConfig.language"
                    :icons="LangConfig.language"
                    :width="140"
                    :height="40"
                    :iconSize="20"
                    :fontSize="16"
                    :isPill="true"
                    @change="onLangChange"
                />
            </div>
            <User v-if="core.user_id && !$vuetify.breakpoint.mobile" />
        </div>

      <!--   <div class="d-flex mt-5">
            <User v-if="core.user_id && $vuetify.breakpoint.mobile" />
            <button v-if="!$vuetify.breakpoint.mobile" class="nav-button" :class="routerPath == '/' ? 'active' : ''" @click="goHome">
                <v-icon>mdi-home</v-icon>
                <div>{{LangUtil("首页")}}</div>
            </button>

            <button
                v-if="!$vuetify.breakpoint.mobile"
                class="nav-button d-none d-md-flex"
                v-for="item of pageData.lobbyIndex"
                :key="item.category"
                @click="goAnchor(item.category)"
            >
                <v-icon class="mr-1">{{ CategoryIcon[item.category] }}</v-icon>
                <div>{{ item.category_name }}</div>
            </button> 

            <v-spacer />
        </div>-->
    </v-container>
     <!-- 手机 -->
    <v-container v-else class="pt-0 pb-0 px-0">
        <div class="d-flex align-center hei50 px15">
            <img src="@/_skin100/assets/logo.png" height="32" alt="" />
            <v-spacer />
            <!-- <v-btn height="20" x-small class="rounded-pill common-btn white--text mr-2" @click="onService" elevation="0">
                <div>{{LangUtil("客服")}}</div>
            </v-btn> -->
            <div v-if="GamePlatConfig.config.language" class="language">
                <CustomSelect
                v-model="core.lang"
                :options="LangConfig.language"
                :icons="LangConfig.language"
                :iconSize="18"
                :width="122"
                :height="30"
                :isPill="true"
                class="mr-0 pointer"
                @change="onLangChange"
            />
            </div>
        </div>
        <div class="d-flex align-center hei50 second-head-bar-bg px15" >
            <v-btn v-if="core.user_id == 0" small  class="text-14 white--text common-btn" @click="handlerLogin">
                <span class="px-2">{{LangUtil("登录")}}</span>
            </v-btn>
            <v-btn v-if="core.user_id == 0" small color="white" style="border-radius: 23px;" class="text-14 ml-2 mx-4 black--text" @click="handlerRegister">
                <span class="px-2">{{LangUtil("注册")}}</span>
            </v-btn>
            <User v-if="core.user_id" />
            <Wallet v-if="core.user_id" />
            <v-spacer />
            <!-- <v-btn class="mt-1 rounded-pill" small plain @click="goIntroduce">
                <img src="../../../assets/32-2.png" width="20" alt="">
                <div class="ml-1 text-14">{{LangUtil("{0}币介绍", GamePlatConfig.getAwardCoin())}}</div>
            </v-btn> -->
        </div>
    </v-container>
</v-app-bar>
