<div>
    <div class="mt-5 mt-sm-3 pa-2 pa-sm-4 rounded-lg panel-bg" v-if="!$vuetify.breakpoint.xsOnly">
        <div class="text-subtitle-1 text-sm-16 font-weight-medium mb-md-5 d-flex align-center">
            <v-img contain class="mr-2" max-height="24" max-width="24" src="@/assets/question/question.png"> </v-img>
            {{LangUtil("常见问题解答")}}
        </div>
        <v-row no-gutters class="d-flex flex-row text-body-1 mt-2">
            <v-col cols="12" md="6" class="mb-2 pr-sm-2" v-for="(item, index) of questions" :key="index">
                <v-expansion-panels elevation="0">
                    <v-expansion-panel>
                        <v-expansion-panel-header class="text-body-2 text-md-body-1 bPanelOpacityBg">
                            {{ item.name }}
                        </v-expansion-panel-header>
                        <v-expansion-panel-content class="text-caption text-md-body-2 bPanelOpacityBg bTextColor5">
                            {{ item.content }}
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </div>
    <div class="mt10 px15 py-3 rounded-lg panel-bg-h5" v-if="$vuetify.breakpoint.xsOnly">
        <div class="text-15 text-sm-16 font-weight-medium mb-md-5 d-flex align-center">
            <v-img contain class="mr-2" max-height="24" max-width="24" src="@/assets/question/question.png"> </v-img>
            {{LangUtil("常见问题解答")}}
        </div>
        <v-row no-gutters class="d-flex flex-row text-body-1 mt-2" v-if="questions && questions.length > 0">
            <v-col cols="12" class="pr-sm-2" v-for="(item, index) of questions" :key="index">
                <v-expansion-panels elevation="0">
                    <v-expansion-panel>
                        <v-expansion-panel-header class="header-h5 text-body-2 text-md-body-1"> {{ item.name }}
                        </v-expansion-panel-header>

                        <v-expansion-panel-content class="content-h5 text-caption text-md-body-2 bTextColor5">
                            {{ item.content }}
                        </v-expansion-panel-content>
                        <v-divider></v-divider>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-col>
        </v-row>
    </div>
</div>