@import "@/scss/mixin.scss";

.v-list-item {
    background: linear-gradient(#24385a, #121e36);
}

.text-rwd-18 {
    font-size: 12px;

    @include xxs {
        font-size: 14px;
    }
    @include sm {
        font-size: 16px;
    }
    @include md {
        font-size: 18px;
    }
}

.text-rwd-16 {
    font-size: 12px;

    @include xxs {
        font-size: 14px;
    }
    @include sm {
        font-size: 16px;
    }
}

.tabs-active {
    width: 90px !important;
    height: 30px !important;
    font-weight: 400;
    @include sm {
        width: 120px !important;
        height: 36px !important;
    }
    @include md {
        width: 142px !important;
        height: 40px !important;
    }
}

.tabs-deactive {
    color: #4c5d7f !important;
    cursor: pointer;
    width: 90px !important;
    height: 30px !important;
    font-weight: 400;
    @include sm {
        width: 120px !important;
        height: 36px !important;
    }
    @include md {
        width: 142px !important;
        height: 40px !important;
    }
}

.v-tab {
    padding: 0;
}

.v-tabs-items {
    background-color: transparent !important;
}

.playgame-btn {
    border-radius: 10px;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.search-nodata {
    margin-top: 170px;
}

.search-nodata-text {
    color: #4c5d7f;
}

::v-deep .v-input__prepend-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

::v-deep .v-input__append-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

::v-deep .v-text-field__slot {
    input::placeholder {
        font-size: 14px;
        color: #4c5d7f;
    }
}
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
    color: transparent !important;
}
.theme--dark.v-tabs .v-tab--active:hover::before,
.theme--dark.v-tabs .v-tab--active::before {
    opacity: 0;
}
::v-deep .v-ripple__container {
    display: none;
}
