.theme--light {
    .foot_bg {
        background: linear-gradient(to left, var(--line_primary), var(--line_primary));
    }
    .active {
        color: #0f1213;
    }
    .nomal {
        color: #cb8700;
    }
}

.theme--dark {
    .foot_bg {
        background: linear-gradient(to right, #202121, #202121);
    }
    .active {
        color: var(--line_primary);
    }
    .nomal {
        color: #8e8f91;
    }
}
