<v-card-text class="mt-5">
    <div class="colorText1--text">
        为保证您的资金安全，请先在 <a class="text-decoration-underline colorBtnBg--text">安全中心</a> 绑定谷歌两步验证。
    </div>
    <div class="d-flex mt-3">
        <CustomSelect
            class="mr-3"
            :icons="CoinIcon"
            :options="pageData.methodList"
            v-model="form.coin_name_unique"
            @change="onChange"
        />
        <CustomSelect
            v-if="pageData.methodList[form.coin_name_unique]"
            :options="pageData.methodList[form.coin_name_unique].options"
            v-model="form.block_network_id"
        />
    </div>
    <div class="colorText1--text mt-3">你的钱包地址</div>
    <v-text-field
        class="rounded-lg mt-1 color-blue"
        height="44"
        placeholder="输入钱包地址"
        outlined
        dense
        hide-details
        v-model="form.account"
    ></v-text-field>
    <v-row class="colorText1--text mt-3" dense>
        <v-col class="mr-1">
            <div>提取金额</div>
            <v-text-field
                class="rounded-lg mt-1"
                height="44"
                placeholder="输入金额"
                outlined
                dense
                hide-details
                v-model="form.amount"
            ></v-text-field>
            <div class="d-flex justify-end">
                <v-btn class="colorBlue--text btn-all" x-small height="22" color="#33415D" @click="onAll">全部</v-btn>
            </div>
        </v-col>
        <v-col>
            <div>余额</div>
            <v-sheet class="d-flex align-center pl-4 mt-1 rounded-lg" color="colorPanelTitleBg" height="44">
                <v-img class="mr-2" src="@/assets/icon/coin/icon_usdt.png" max-width="20" height="20"></v-img>
                <div>{{ balance }}</div>
            </v-sheet>
        </v-col>
    </v-row>
    <div class="text-12 mt-3 color-blue">⚠️ 1.最小提现金额为$50，请确保您收款的协议与币种和系统显示一致。</div>
    <div class="text-12 mb-2 color-blue ml-4">2.兑换手续费1%</div>
    <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isChecked" block @click="onSubmit">提交</v-btn>
    <Overlay v-model="pageData.loading"/>
</v-card-text>