<div class="input-text d-flex align-center regular_text px-2">
    <v-icon v-if="icon" color="bgColor" class="mr-2">{{ icon }}</v-icon>
    <div v-if="$slots.pre">
        <slot name="pre"></slot>
    </div>
    <input
        :id="generateComponentId"
        class="fontweight"
        :class="[disabled?'text-disabled':'',inputColor]"
        :type="type"
        :placeholder="placeholder"
        @blur="onBlur"
        @on="$listeners"
        @input="onInput"
        @focus="onFocus"
        v-model="inputValue"
        :maxlength="maxlength"
        :disabled="disabled"
        @keydown.enter="endInput"
    />
    <v-btn v-if="inputValue && !disabled && isNeedCloseBtn" class="" icon width="20" height="20" @click="onClear">
        <v-icon color="bgColor" class="mx-3" size="20">mdi-close-circle</v-icon>
    </v-btn>
    <div v-if="$slots.default" class="">
        <slot></slot>
    </div>
</div>
