.text_height {
    height: calc(100% - 190px);
}

.empty_height {
    height: 34px;
}

.empty_space {
    //color: #97ABD1;
    white-space: nowrap;
}

.hackhome {
    height: 1px;
    background-image: linear-gradient(to right, #213354 0%, #213354 50%, transparent 50%);
    background-size: 16px 1px;
    background-repeat: repeat-x;
}
.empty_width_2 {
    width: 80px;
}
.input-text {
    height: 40px;
    ::v-deep input {
        height: 40px;
        font-weight: normal !important;
    }
}
.input_light-text {
    ::v-deep input {
        vertical-align: middle;
        height: 50px;
        width: 100%;
        color: #074ccb;
        font-weight: bold;
    }

    ::v-deep input::placeholder {
        color: #6c6c6c;
    }
}
.text-field_input {
    ::v-deep .v-input__control {
        .v-input__slot {
            .v-text-field__slot {
                input {
                    color: #0533ad !important;
                }
            }
        }
        .v-input__prepend-inner {
            .v-input__icon {
                .v-icon.v-icon {
                    color: #0533ad;
                }
            }
        }
    }
}

::v-deep .v-slider--horizontal .v-slider__track-container {
    border-radius: 2px;
    height: 4px;
    background: linear-gradient(to right, #fcb131, #ffe64d);
}
