<v-dialog width="854" v-model="pageData.bShow" overlay-opacity="0.6" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card color="colorPanelBg" class="d-flex">
        <AdvertiseInLogin :height="610" class="d-none d-md-flex" />
        <v-card color="transparent" width="488">
            <v-card-title class="d-flex justify-end pb-0 gradient-bg">
                <div class=" ml-2 font-weight-medium white--text text-18">{{forgetData.bShow ? '找回密码' : '登陆'}} </div>
                <v-spacer/>
                <v-btn class="mr-2" icon @click="onClose">
                    <v-icon>{{ forgetData.bShow ? "mdi-keyboard-backspace" : "mdi-close" }}</v-icon>
                </v-btn>
            </v-card-title>
            <!-- 找回密码 -->
            <v-card-text v-if="forgetData.bShow" class="px-10 mt-5">
                <!-- <div class="mt-n12 mb-8 ml-2 font-weight-medium white--text text-18">找回密码</div> -->

                <div class="d-flex mb-10">
                    <v-btn
                        width="110"
                        height="40"
                        class="rounded-pill font-weight-bold mr-2"
                        elevation="0"
                        :text="forgetData.form.type != 2"
                        :color="forgetData.form.type == 2 ? 'colorBtnBg' : 'colorText1'"
                        @click="onTabClick(2)"
                    >
                        邮箱找回
                    </v-btn>
                    <v-btn
                        width="110"
                        height="40"
                        class="rounded-pill font-weight-bold"
                        elevation="0"
                        :text="forgetData.form.type != 4"
                        :color="forgetData.form.type == 4 ? 'colorBtnBg' : 'colorText1'"
                        @click="onTabClick(4)"
                    >
                        手机找回
                    </v-btn>
                </div>

                <CustomInput
                    v-if="forgetData.form.type == 2"
                    class="mb-6"
                    icon="mdi-email"
                    placeholder="请输入邮箱"
                    v-model="forgetData.form.username"
                >
                    <v-btn class="text-12" color="colorBtnBg" small :disabled="!checkMail(forgetData.form.username)" @click="getCode"
                        >获取验证码</v-btn
                    >
                </CustomInput>

                <CustomInput v-else class="mb-6" icon="mdi-phone" type="tel" placeholder="请输入手机号" v-model="forgetData.form.username">
                    <template v-slot:pre>
                        <v-menu v-model="areaCodeMenu" offset-y :close-on-content-click="false" nudge-bottom="20" nudge-left="38">
                            <template v-slot:activator="{ on, attrs }">
                                <div class="d-flex colorInfo--text" v-bind="attrs" v-on="on">
                                    <div class="colorBtnBg--text mx-2">+{{forgetData.form.area_code}}</div>
                                    <div
                                        class="icon-box iconfont text-18 mr-2"
                                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                    >
                                        
                                    </div>
                                    <div class="text-20">|</div>
                                </div>
                            </template>
                            <v-sheet class="pa-3 rounded-lg" color="colorPanelTitleBg" width="400">
                                <v-text-field
                                    class="rounded-pill"
                                    outlined
                                    dense
                                    prepend-inner-icon="mdi-database-search-outline"
                                    hide-details
                                    v-model="areaCodeSearch"
                                    @input="onAreaCodeInput"
                                ></v-text-field>

                                <v-list dense color="colorPanelTitleBg">
                                    <v-list-item-group>
                                        <v-list-item v-for="(item, index) of areaCodeList" :key="index" class="colorText2--text" @click="onItemAreaCode(item)">
                                            <div>{{item.name}}</div>
                                            <v-spacer />
                                            <div>+{{item.area_code}}</div>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-sheet>
                        </v-menu>
                    </template>
                    <v-btn class="text-12" color="colorBtnBg" small :disabled="!checkPhone(forgetData.form.username)" @click="getCode"
                        >获取验证码</v-btn
                    >
                </CustomInput>

                <CustomInput
                    class="mb-6"
                    icon="mdi-shield-check"
                    placeholder="请输入验证码"
                    type="tel"
                    v-model="forgetData.form.verify_code"
                />
                <CustomInput class="mb-6" icon="mdi-lock" placeholder="请输入密码" type="password" v-model="forgetData.form.password" />
                <CustomInput
                    class="mb-6"
                    icon="mdi-lock"
                    placeholder="密码确认"
                    type="password"
                    v-model="forgetData.form.password_confirm"
                />
                <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedForget" block @click="onSubmitForget"
                    >提交</v-btn
                >
            </v-card-text>
            <!-- 登录 -->
            <v-card-text v-else class="px-10 mt-5">
                <!-- <div class="mt-n12 mb-8 font-weight-medium white--text text-18">登录</div> -->
                <CustomInput class="mb-6" icon="mdi-account" placeholder="请输入账号/手机号/邮箱" v-model="pageData.form.username" />
                <CustomInput icon="mdi-lock" placeholder="请输入密码(6~12位)" type="password" v-model="pageData.form.password" />
                <div class="password-operate">

                    <button type="button"><i class="iconfont"></i>记住密码</button>
                    <button type="button" class="user-action-login-forgetpass" @click="goForget">忘记密码?</button>
                </div>
                <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedLogin" block @click="onSubmitLogin"
                    >登录</v-btn
                >
                <div class="tips-box">还没有账户?<button class="tips-box_org" @click="goRegister">去注册</button></div>
            </v-card-text>
        </v-card>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
