<v-dialog width="730" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg overflow-hidden" color="colorPanelBg">
        <v-card-title class="gradient-bg">
            <div class="text-18 font-weight-regular">业绩详情</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon large>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5">
            <div>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 0"
                    :color="listQuery.cate == 0 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(0)"
                >
                    <v-icon class="mr-1">mdi-chart-line</v-icon>
                    业绩概况
                </v-btn>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 1"
                    :color="listQuery.cate == 1 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(1)"
                >
                    <v-icon class="mr-1">mdi-chart-tree</v-icon>
                    直属明细
                </v-btn>
            </div>
            <v-divider class="my-3" />
            <div v-if="listQuery.cate == 0">
                <div class="colorText1--text text-16 ml-3 d-flex mb-4">
                    <div>{{ parameter.date }}</div>
                    <div class="ml-3">团队人数(新增){{ pageData.group_users }} ({{ pageData.today_group_users }})</div>
                    <div class="ml-3">直属用户(新增){{ pageData.directly_users }} ({{ pageData.today_directly_users }})</div>
                    <div class="ml-3">总业绩. {{ pageData.statistics_data.total_water_summary }}</div>
                    <div class="ml-3">拥金总额 {{ pageData.statistics_data.total_commission.USDT }}</div>
                </div>
                <v-sheet v-if="pageData.list.length>0" color="#121E36" :height="listHeight" class="scroll-y">
                    <v-sheet class="mt-5 px-6 py-2 rounded-lg my-3" color="#16233F" v-for="(item, key) of pageData.list" :key="key">
                        <div class="d-flex flex-wrap listitem">
                            <div>
                                <div>业绩类型</div>
                                <div class="text-truncate text-16 font-weight-regular">{{ categoryType[item.type].label }}业绩</div>
                            </div>
                            <div>
                                <div>总业绩</div>
                                <div class="text-16 font-weight-regular">{{ item.total_water }}</div>
                            </div>
                            <div>
                                <div>自营业绩</div>
                                <div class="text-16 font-weight-regular">{{ item.self_water }}</div>
                            </div>
                            <div>
                                <div>直属业绩</div>
                                <div class="text-16 font-weight-regular">{{ item.direct_water }}</div>
                            </div>
                            <div>
                                <div>团队业绩</div>
                                <div class="text-16 font-weight-regular">{{ item.group_water }}</div>
                            </div>
                            <div>
                                <div>每万返佣1</div>
                                <div class="text-16 font-weight-regular">{{ item.commission_num }}</div>
                            </div>
                            <div>
                                <div>佣金</div>
                                <div class="text-16 font-weight-regular">{{ item.total_commission }}</div>
                            </div>
                        </div>
                    </v-sheet>
                </v-sheet>
                <v-sheet v-else class="d-flex justify-center align-center" color="transparent" min-height="450">
                    <div>
                        <v-img :src="commonIcon.nodata" max-width="113" height="100"></v-img>
                        <div class="text-14 colorText1--text mt-2 ml-8">暂无记录</div>
                    </div>
                </v-sheet>
            </div>
            <v-sheet v-if="listQuery.cate == 1" color="#121E36" :height="directListHeight" class="scroll-y">
                <template v-for="(item, idx) in pageData.directList">
                    <div class="colorText1--text text-16 ml-3 d-flex align-center" :key="'u' + idx">
                        <v-icon class="colorText1--text">mdi-account-circle</v-icon>
                        <div class="ml-2 text-subtitle-2">用户昵称</div>
                        <div class="ml-3 colorBlue--text">{{ item.nick_name }}</div>
                        <div class="ml-3 text-subtitle-2">用户ID</div>
                        <div class="ml-3 colorBlue--text">{{ item.user_id }}</div>
                    </div>
                    <v-sheet class="mt-5 px-7 py-2 rounded-lg my-3" color="#16233F" v-for="(val, name) in item.water_info" :key="'s' + name + idx">
                        <div class="d-flex flex-wrap listitem-direct">
                            <div>
                                <div>业绩类型</div>
                                <div class="text-truncate text-16 font-weight-regular">{{ categoryType[name].label }}业绩</div>
                            </div>
                            <div>
                                <div>团队人数</div>
                                <div class="text-16 font-weight-regular">{{ item.group_users }}</div>
                            </div>
                            <div>
                                <div>团队业绩</div>
                                <div class="text-16 font-weight-regular">{{ val.group_water }}</div>
                            </div>
                            <div>
                                <div>自营业绩</div>
                                <div class="text-16 font-weight-regular">{{ val.self_water }}</div>
                            </div>
                            <div>
                                <div>每万返佣</div>
                                <div class="text-16 font-weight-regular">{{ val.commission_num.USDT }}{{ val.is_promotion_floor > 0 ? "(保底)" : "" }}</div>
                            </div>
                        </div>
                    </v-sheet>
                </template>
                <v-sheet v-if="pageData.directList.length === 0" class="d-flex justify-center align-center" color="transparent" min-height="450">
                    <div>
                        <v-img :src="commonIcon.nodata" max-width="113" height="100"></v-img>
                        <div class="text-14 colorText1--text mt-2 ml-8">暂无记录</div>
                    </div>
                </v-sheet>
            </v-sheet>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>