<div :class="{'phonebg':$vuetify.breakpoint.xsOnly}" >
    <v-container>
        <v-sheet v-if="!$vuetify.breakpoint.xsOnly" width="100%" color="transparent" class="px-4 pad_height">
            <template v-if="!pageData.isLoadData">
                <template v-if="myProxy.pageData.list && myProxy.pageData.list.length > 0">
                    <v-card flat class="d-flex mt-5 align-center sheet-bg rounded10 px-4" min-height="68" color="bgBanner" width="100%">
                        <v-btn-toggle
                            mandatory
                            group
                            v-model="myProxy.pageData.tabIndex"
                            @change="onTimeChange"
                            width="100%"
                            class="overflow-x-auto"
                        >
                            <v-btn
                                v-for="(item, key) of myProxy.pageData.categoryData"
                                :key="key"
                                class="rounded-pill mr-2 "
                                height="36"
                                min-width="90"
                            >
                                <span class="text-14"> {{LangUtil(item.title)}} </span>
                            </v-btn>
                        </v-btn-toggle>
                    </v-card>

                    <v-card v-if="curActivityData" flat class="mt-4 mb-4" color="transparent" width="100%">
                        <v-row>
                            <template v-for="(item, key) of curActivityData.data">
                                <v-col cols="6" :key="item.id">
                                    <v-card flat class="rounded10 cursor-pointer sheet-bg" color="bgBanner" @click.native="onItemClick(item)">
                                        <v-sheet
                                            color="transparent"
                                            width="100%"
                                            class="font-weight-bold px-4 py-4 bold_text text-16"
                                        >
                                            {{item.activity_name}}
                                        </v-sheet>

                                        <v-sheet color="transparent" width="100%" height="230">
                                            <v-img
                                                class="rounded_img"
                                                height="230"
                                                :src="item.icon"
                                            ></v-img>
                                        </v-sheet>
                                    </v-card>
                                </v-col>
                            </template>
                        </v-row>
                    </v-card>
                </template>

                <ListNodata v-else height="500" />
            </template>
            <v-skeleton-loader v-if="pageData.isLoadData" class="mx-auto my-auto mt-4" type="image"></v-skeleton-loader>
        </v-sheet>
        <v-sheet v-else="$vuetify.breakpoint.xsOnly" width="100%" color="transparent" class="px-4 pad_height">
            <template v-if="!pageData.isLoadData">
                <template v-if="myProxy.pageData.list && myProxy.pageData.list.length > 0">
                    <v-card flat class="d-flex mt-5 align-center sheet-bg rounded10 px-4" min-height="68" color="bgBanner" width="100%">
                        <v-btn-toggle
                            mandatory
                            group
                            v-model="myProxy.pageData.tabIndex"
                            @change="onTimeChange"
                            width="100%"
                            class="overflow-x-auto"
                        >
                            <v-btn
                                v-for="(item, key) of myProxy.pageData.categoryData"
                                :key="key"
                                class="rounded-pill mr-2 "
                                height="36"
                                min-width="72"
                            >
                                <span class="text-12"> {{LangUtil(item.title)}} </span>
                            </v-btn>
                        </v-btn-toggle>
                    </v-card>

                    <v-card v-if="curActivityData" flat class="mt-4 mb-4" color="transparent" width="100%">
                        <v-row>
                            <template v-for="(item, key) of curActivityData.data">
                                <v-col cols="12" :key="item.id">
                                    <v-card flat class="rounded10 cursor-pointer sheet-bg" color="bgBanner" @click.native="onItemClick(item)">
                                        <v-sheet
                                            color="transparent"
                                            width="100%"
                                            class="font-weight-bold px-4 py-4 bold_text text-14"
                                
                                        >
                                            {{item.activity_name}}
                                        </v-sheet>

                                        <v-sheet color="transparent" width="100%" height="190">
                                            <v-img
                                                class="rounded_img"
                                                height="190"
                                                :src="item.icon"
                                            ></v-img>
                                        </v-sheet>
                                    </v-card>
                                </v-col>
                            </template>
                        </v-row>
                    </v-card>
                </template>

                <ListNodata v-else height="500" />
            </template>
            <v-skeleton-loader v-if="pageData.isLoadData" class="mx-auto my-auto mt-4" type="image"></v-skeleton-loader>
        </v-sheet>
    </v-container>
</div>
