<v-card v-if="!$mobile" flat color="#0e0f0f" class="pa-4 rounded10" width="100%">
    <!-- 标题的选项框 -->
    <v-sheet color="transparent" class="d-flex">
        <v-sheet
            color="transparent"
            class="mx-2 rounded16 pa-2 font-weight-bold text-16 d-flex justify-center align-center"
            v-for="(item ,index) of tabArr"
            :key="index"
            min-width="100"
            @click="onTabChange(index)"
            :class="tabIndex == index ? 'tab_active' : 'tab_nomal'"
            style="position: relative"
        >
            <v-badge color="red" dot :value="index == 2 && isHaveRecord"> {{LangUtil(item)}} </v-badge>
        </v-sheet>
    </v-sheet>
    <!-- 下方的数据 -->
    <v-card flat color="transparent" class="d-flex flex-column justify-center" width="100%">
        <!-- 排名 -->
        <v-card v-if="tabIndex == 0 || tabIndex == 1" flat color="transparent" class="d-flex flex-column justify-center">
            <!-- 表头 -->
            <v-sheet color="#f4c43d" class="d-flex align-center my-2 pa-2 rounded-pill justify-space-between" height="35" width="100%">
                <v-sheet min-width="70" color="transparent" class="text-16 black--text font-weight-bold d-flex justify-center">
                    {{LangUtil("排名")}}
                </v-sheet>
                <v-sheet min-width="100" color="transparent" class="text-16 black--text font-weight-bold d-flex justify-center">
                    {{LangUtil("ID")}}
                </v-sheet>
                <v-sheet min-width="150" color="transparent" class="text-16 black--text font-weight-bold d-flex justify-center">
                    {{LangUtil("号码")}}
                </v-sheet>
                <v-sheet min-width="100" color="transparent" class="text-16 black--text font-weight-bold d-flex justify-center">
                    {{LangUtil("奖励")}}
                </v-sheet>
            </v-sheet>
            <!-- 表格 -->
            <v-sheet color="#242422" class="d-flex flex-column rounded10 overflow-y-auto" height="500">
                <v-sheet
                    v-if="rankDataList && rankDataList.length >0"
                    v-for="(data,index) of rankDataList"
                    :key="index"
                    color="transparent"
                    class="d-flex flex-column px-2 py-1"
                    :class="data.is_my ? 'tab_active' : ''"
                >
                    <v-sheet color="transparent" class="d-flex align-center my-1 justify-space-between" width="100%">
                        <v-sheet color="transparent" class="text-16 font-weight-bold d-flex justify-center" width="70">
                            <div v-if="getRankImg( index +1)">
                                <v-img :src="getRankImg(index+1)" width="30"></v-img>
                            </div>
                            <span v-else :class="data.is_my ? '' : 'white--text'">{{index+1}}</span>
                        </v-sheet>
                        <v-sheet
                            color="transparent"
                            class="d-flex justify-center font-weight-bold text-16"
                            :class="{
                                'rank_text_color_other' : !data.is_my && !getRankImg(index+1),
                                'rank_text_color_3' : !data.is_my && getRankImg(index+1),
                            }"
                            width="100"
                        >
                            {{data.user_id}}
                        </v-sheet>

                        <v-sheet color="transparent" class="d-flex align-center justify-center" width="150">
                            <SingleBall
                                v-for="(value , key) of getBallData(data.lottery_code)"
                                :data="value"
                                :img_index="key"
                                :key="key"
                                class=""
                            />
                        </v-sheet>

                        <v-sheet
                            color="transparent"
                            width="100"
                            class="d-flex justify-center font-weight-bold text-16"
                            :class="data.is_my ? '' : 'reward_text_color'"
                        >
                            <div v-html="getAwardValue(data)"></div>
                        </v-sheet>
                    </v-sheet>
                    <v-sheet color="#8d9590" width="100%" height="1"></v-sheet>
                </v-sheet>
                <ListNodata v-if="rankDataList.length==0" height="411" />
            </v-sheet>

            <!-- 我的排名 -->
            <v-sheet color="transparent" class="d-flex align-center my-2">
                <!-- 本次排名 -->
                <template v-if="tabIndex == 0">
                    <v-sheet color="transparent" class="white--text text-16 font-weight-bold"> {{LangUtil("我的排名：")}} </v-sheet>
                    <v-sheet color="transparent" class="white--text text-16 font-weight-bold" min-width="80"> {{myRankText}} </v-sheet>
                    <v-sheet class="d-flex align-center justify-center px-4 py-1 test_my" min-width="150" height="35">
                        <SingleBall v-for="(value , key) of myBallStr" :data="value" :img_index="key" :key="key" class="" />
                    </v-sheet>
                    <v-sheet color="transparent" class="white--text text-16 font-weight-bold ml-2">
                        <!-- 期號處理 start -->
                        {{LangUtil("期号：No.")}}{{cycleNum}}
                        <!-- 期號處理 end -->
                    </v-sheet>
                </template>
                <!-- 上次排名 -->
                <template v-else>
                    <v-sheet color="transparent" class="white--text text-16 font-weight-bold"> {{LangUtil("我的排名：")}} </v-sheet>
                    <v-sheet color="transparent" class="white--text text-16 font-weight-bold" min-width="80"> {{myPreRankText}} </v-sheet>
                    <v-sheet class="d-flex align-center justify-center px-4 py-1 test_my" min-width="150" height="35">
                        <SingleBall v-for="(value , key) of myPreBallStr" :data="value" :img_index="key" :key="key" class="" />
                    </v-sheet>
                    <v-sheet color="transparent" class="white--text text-16 font-weight-bold ml-2">
                        <!-- 期號處理 start -->
                        {{cyclePreNum}}
                        <!-- 期號處理 end -->
                    </v-sheet>
                </template>
            </v-sheet>
            <!-- 僅在上次排名出現 -->
            <v-sheet
                v-if="tabIndex == 1"
                color="transparent"
                class="d-flex justify-center align-center text-14 font-weight-bold white--text"
                width="100%"
            >
                <span>{{LangUtil("上次排名结束时间：")}}</span>
                <span>{{timeStr}}</span>
            </v-sheet>
        </v-card>
        <!-- 奖励记录 -->
        <v-card v-else-if="tabIndex == 2" flat color="transparent" class="d-flex justify-center flex-column" width="100%">
            <!-- 左侧的页签 -->
            <v-sheet color="transparent" class="d-flex align-center justify-center mt-2" width="100%">
                <v-sheet
                    color="transparent"
                    class="mx-2 pa-2 font-weight-bold text-16 d-flex justify-center"
                    v-for="(item ,index) of recordTabArr"
                    min-width="213"
                    :key="index"
                    @click="onRecordTabChange(index)"
                    :class="recordTabIndex == index ? 'record_tab_active' : 'record_tab_nomal'"
                >
                    {{LangUtil(item)}}
                </v-sheet>
            </v-sheet>
            <!-- 右侧的页面 -->
            <v-sheet color="transparent" class="d-flex align-center flex-column" width="100%">
                <!-- 表头 -->
                <v-sheet color="#f4c43d" class="d-flex align-center my-2 pa-2 rounded-pill justify-space-between" height="35" width="100%">
                    <v-sheet min-width="120" color="transparent" class="text-16 black--text font-weight-bold d-flex justify-center">
                        {{LangUtil("时间")}}
                    </v-sheet>
                    <v-sheet min-width="200" color="transparent" class="text-16 black--text font-weight-bold d-flex justify-center">
                        {{LangUtil("彩球")}}
                    </v-sheet>
                    <v-sheet
                        v-if="recordTabIndex == 0"
                        min-width="100"
                        color="transparent"
                        class="text-16 black--text font-weight-bold d-flex justify-center"
                    >
                        {{LangUtil("操作")}}
                    </v-sheet>
                </v-sheet>
                <!-- 表格 -->
                <v-sheet color="#242422" class="d-flex flex-column rounded10 overflow-y-auto test" height="500" width="100%">
                    <v-sheet
                        v-if="rankDataList && rankDataList.length >0"
                        v-for="(data,index) of rankDataList"
                        :key="index"
                        color="transparent"
                        class="d-flex flex-column px-2 py-1"
                    >
                        <v-sheet color="transparent" class="d-flex align-center my-1 justify-space-between" width="100%">
                            <v-sheet color="transparent" class="text-16 font-weight-bold d-flex justify-center white--text" width="120">
                                <span>{{getDate(data.award_time)}}</span>
                            </v-sheet>

                            <v-sheet color="transparent" width="200" class="d-flex align-center justify-center flex-column">
                                <v-sheet color="transparent" class="d-flex align-center justify-center" width="150">
                                    <SingleBall
                                        v-for="(value , key) of getBallData(data.ball_code)"
                                        :data="value"
                                        :img_index="key"
                                        :key="key"
                                        class=""
                                    />
                                </v-sheet>

                                <v-sheet color="transparent" class="d-flex align-center justify-center mt-1">
                                    <span v-if="data.award_rank" class="reward_text_color text-14 font-weight-bold"
                                        >{{LangUtil('第{0}名',data.award_rank)}}</span
                                    >
                                    <div v-for="(coin,key) of data.award_num" class="reward_text_color text-14 font-weight-bold">
                                        <span>{{key}}</span>
                                        <span class="ml-1">{{coin}}</span>
                                    </div>
                                </v-sheet>
                            </v-sheet>

                            <v-sheet
                                v-if="recordTabIndex == 0"
                                color="transparent"
                                width="100"
                                class="d-flex justify-center font-weight-bold text-14 px-2 py-2 getBtn_nomal rounded10 cursor-pointer"
                                :class="getBtnState(data) ? '' : 'getBtn_nomal_disabled'"
                                @click="onBtnGetAward(data)"
                            >
                                {{LangUtil("领取奖励")}}
                            </v-sheet>
                        </v-sheet>
                        <v-sheet color="#8d9590" width="100%" height="1"></v-sheet>
                    </v-sheet>
                    <ListNodata v-if="rankDataList.length==0" height="411" />
                </v-sheet>
            </v-sheet>
        </v-card>
    </v-card>
</v-card>
<!-- 手機版 -->
<v-card v-else flat color="#0e0f0f" class="px-4 pt-4 py-10 rounded10" width="100%">
    <!-- 标题的选项框 -->
    <v-sheet color="transparent" class="d-flex">
        <v-sheet
            color="transparent"
            class="mx-2 rounded16 pa-1 font-weight-bold text-14 d-flex justify-center align-center text-center"
            v-for="(item ,index) of tabArr"
            :key="index"
            min-width="90"
            @click="onTabChange(index)"
            :class="tabIndex == index ? 'tab_active' : 'tab_nomal'"
        >
            <v-badge color="red" dot :value="index == 2 && isHaveRecord"> {{LangUtil(item)}} </v-badge>
        </v-sheet>
    </v-sheet>
    <!-- 下方的数据 -->
    <v-card flat color="transparent" class="d-flex flex-column justify-center mb-8" width="100%">
        <!-- 排名 -->
        <v-card v-if="tabIndex == 0 || tabIndex == 1" flat color="transparent" class="d-flex flex-column justify-center">
            <!-- 我的排名 -->
            <v-sheet color="transparent" class="d-flex align-center my-2 flex-column">
                <v-sheet class="d-flex align-center justify-space-between" color="transparent" width="100%">
                    <!-- 手機本次期數 -->
                    <template v-if="tabIndex == 0">
                        <v-sheet color="transparent" class="white--text text-14 font-weight-bold"> {{LangUtil("本期：")}} </v-sheet>
                        <v-sheet color="transparent" class="white--text text-14 font-weight-bold ml-2">
                            <!-- 手機期號處理 start -->
                            {{LangUtil("No.") + cycleNum}}
                            <!-- 手機期號處理 end -->
                        </v-sheet>
                    </template>
                    <!-- 手機上次期數 -->
                    <template v-else>
                        <v-sheet color="transparent" class="white--text text-14 font-weight-bold"> {{LangUtil("上期：")}} </v-sheet>
                        <v-sheet color="transparent" class="white--text text-14 font-weight-bold ml-2">
                            <!-- 手機期號處理 start -->
                            {{mobileCyclePreNum}}
                            <!-- 手機期號處理 end -->
                            <!-- {{LangUtil("第{0}期",pageData.ball_award_detail.current_cycle)}} -->
                        </v-sheet>
                    </template>
                </v-sheet>
                <v-sheet class="d-flex align-center justify-space-between" color="transparent" width="100%">
                    <v-sheet color="transparent" class="white--text text-14 font-weight-bold"> {{LangUtil("我的排名：")}} </v-sheet>
                    <!-- 手機本次排名 -->
                    <template v-if="tabIndex == 0">
                        <v-sheet color="transparent" class="white--text text-14 font-weight-bold"> {{myRankText}} </v-sheet>
                    </template>
                    <!-- 手機上次排名 -->
                    <template v-else>
                        <v-sheet color="transparent" class="white--text text-14 font-weight-bold"> {{myPreRankText}} </v-sheet>
                    </template>
                </v-sheet>
                <v-sheet class="d-flex align-center justify-space-between" color="transparent" width="100%">
                    <v-sheet color="transparent" class="white--text text-14 font-weight-bold"> {{LangUtil("我的彩球：")}} </v-sheet>
                    <v-sheet class="d-flex align-center justify-center px-4 py-1 test_my" min-width="150" height="30">
                        <!-- 手機本次球號 -->
                        <template v-if="tabIndex == 0">
                            <SingleBall
                                v-for="(value , key) of myBallStr"
                                :data="value"
                                :img_index="key"
                                :item_width="20"
                                :text_font="12"
                                :key="key"
                                class=""
                            />
                        </template>
                        <!-- 手機上次球號 -->
                        <template v-else>
                            <SingleBall
                                v-for="(value , key) of myPreBallStr"
                                :data="value"
                                :img_index="key"
                                :item_width="20"
                                :text_font="12"
                                :key="key"
                                class=""
                            />
                        </template>
                    </v-sheet>
                </v-sheet>
            </v-sheet>

            <!-- 表格 -->
            <v-sheet color="#242422" class="d-flex flex-column rounded10 overflow-y-auto mt-2" height="500">
                <v-sheet
                    v-if="rankDataList && rankDataList.length >0"
                    v-for="(data,index) of rankDataList"
                    :key="index"
                    color="transparent"
                    class="d-flex flex-column px-2 py-1"
                    :class="data.is_my ? 'tab_active' : ''"
                >
                    <v-sheet color="transparent" class="d-flex justify-center flex-column my-1 justify-space-between" width="100%">
                        <v-sheet color="transparent" class="text-14 font-weight-bold d-flex justify-space-between" width="100%">
                            <div class="text-14 font-weight-bold white--text">{{LangUtil("排名")}}</div>
                            <div class="text-14 font-weight-bold">
                                <div v-if="getRankImg( index +1)">
                                    <v-img :src="getRankImg(index+1)" width="25"></v-img>
                                </div>
                                <span v-else :class="data.is_my ? '' : 'white--text'">{{index+1}}</span>
                            </div>
                        </v-sheet>

                        <v-sheet color="transparent" class="text-14 font-weight-bold d-flex justify-space-between" width="100%">
                            <div class="text-14 font-weight-bold white--text">{{LangUtil("ID")}}</div>
                            <div
                                class="text-14 font-weight-bold"
                                :class="{
                                'rank_text_color_other' : !data.is_my && !getRankImg(index+1),
                                'rank_text_color_3' : !data.is_my && getRankImg(index+1),
                            }"
                            >
                                {{data.user_id}}
                            </div>
                        </v-sheet>

                        <v-sheet color="transparent" class="text-14 font-weight-bold d-flex justify-space-between" width="100%">
                            <div class="text-14 font-weight-bold white--text">{{LangUtil("奖励")}}</div>
                            <div class="text-14 font-weight-bold" :class="data.is_my ? '' : 'reward_text_color'">
                                <div v-html="getAwardValue(data)"></div>
                            </div>
                        </v-sheet>

                        <v-sheet color="transparent" class="text-14 font-weight-bold d-flex justify-space-between" width="100%">
                            <div class="text-14 font-weight-bold white--text">{{LangUtil("号码")}}</div>
                            <div class="text-14 font-weight-bold d-flex align-center">
                                <SingleBall
                                    v-for="(value , key) of getBallData(data.lottery_code)"
                                    :data="value"
                                    :img_index="key"
                                    :key="key"
                                    :item_width="20"
                                    :text_font="12"
                                    class=""
                                />
                            </div>
                        </v-sheet>
                    </v-sheet>
                    <v-sheet color="#8d9590" width="100%" height="1"></v-sheet>
                </v-sheet>
                <ListNodata v-if="rankDataList.length==0" height="411" />
            </v-sheet>

            <!-- 僅在上次排名出現 -->
            <v-sheet
                v-if="tabIndex == 1"
                color="transparent"
                class="d-flex justify-center align-center text-12 font-weight-bold white--text mt-2"
                width="100%"
            >
                <span>{{LangUtil("上次排名结束时间：")}}</span>
                <span>{{timeStr}}</span>
            </v-sheet>
        </v-card>
        <!-- 奖励记录 -->
        <v-card v-else-if="tabIndex == 2" flat color="transparent" class="d-flex justify-center flex-column" width="100%">
            <!-- 左侧的页签 -->
            <v-sheet color="transparent" class="d-flex align-center justify-center mt-4" width="100%">
                <v-sheet
                    color="transparent"
                    class="mx-2 pa-1 font-weight-bold text-14 d-flex justify-center"
                    v-for="(item ,index) of recordTabArr"
                    min-width="150"
                    :key="index"
                    @click.native="onRecordTabChange(index)"
                    :class="recordTabIndex == index ? 'record_tab_active' : 'record_tab_nomal'"
                >
                    {{LangUtil(item)}}
                </v-sheet>
            </v-sheet>
            <!-- 右侧的页面 -->
            <v-sheet color="transparent" class="d-flex align-center flex-column mt-2" width="100%">
                <!-- 表格 -->
                <v-sheet color="#242422" class="d-flex flex-column rounded10 overflow-y-auto test" height="500" width="100%">
                    <v-sheet
                        v-if="rankDataList && rankDataList.length >0"
                        v-for="(data,index) of rankDataList"
                        :key="index"
                        color="transparent"
                        class="d-flex flex-column px-2 py-1"
                    >
                        <v-sheet color="transparent" class="d-flex align-center my-1 justify-space-between" width="100%">
                            <v-sheet color="transparent" class="text-12 font-weight-bold d-flex justify-center white--text" width="120">
                                <span>{{getDate(data.award_time)}}</span>
                            </v-sheet>

                            <v-sheet color="transparent" width="150" class="d-flex align-center justify-center flex-column">
                                <v-sheet color="transparent" class="d-flex align-center justify-center" width="150">
                                    <SingleBall
                                        v-for="(value , key) of getBallData(data.ball_code)"
                                        :data="value"
                                        :img_index="key"
                                        :key="key"
                                        :item_width="20"
                                        :text_font="12"
                                        class=""
                                    />
                                </v-sheet>

                                <v-sheet color="transparent" class="d-flex align-center justify-center mt-1">
                                    <span v-if="data.award_rank" class="reward_text_color text-12 font-weight-bold"
                                        >{{LangUtil('第{0}名',data.award_rank)}}</span
                                    >
                                    <div v-for="(coin,key) of data.award_num" class="reward_text_color text-12 font-weight-bold">
                                        <span>{{key}}</span>
                                        <span class="ml-1">{{coin}}</span>
                                    </div>
                                </v-sheet>
                            </v-sheet>

                            <v-sheet
                                v-if="recordTabIndex == 0"
                                color="transparent"
                                width="100"
                                class="d-flex justify-center font-weight-bold text-12 px-1 py-1 getBtn_nomal rounded10 cursor-pointer"
                                :class="getBtnState(data) ? '' : 'getBtn_nomal_disabled'"
                                @click="onBtnGetAward(data)"
                            >
                                {{LangUtil("领取奖励")}}
                            </v-sheet>
                        </v-sheet>
                        <v-sheet color="#8d9590" width="100%" height="1"></v-sheet>
                    </v-sheet>
                    <ListNodata v-if="rankDataList.length==0" height="411" />
                </v-sheet>
            </v-sheet>
        </v-card>
    </v-card>
</v-card>
