::v-deep .v-tabs-slider {
    border-radius: 2px;
}

::v-deep .v-tabs-bar {
    height: 36px;
}
::v-deep .v-tabs-slider-wrapper{
    height: 4px !important;
}
::v-deep .v-tab {
    min-width: 0px;
    padding-left: 0;
    padding-right: 0;
}

::v-deep .v-tab:before,
.v-tabs-slider {
    background-color: transparent;
}

::v-deep .v-tabs>.v-tabs-bar {
    background-color: transparent;
}

.header {
    border-bottom: solid 2px !important;
}

::v-deep .v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active) {
    color: #8E8F91;
}
::v-deep .theme--dark {
    .v-tabs-bar .v-tab--disabled {
        color: #fff !important;
        opacity: 1 !important;
        font-weight: 700;
    }
}
::v-deep .theme--light {
    .v-tabs-bar .v-tab--disabled {
        color: #000 !important;
        opacity: 1 !important;
        font-weight: 700;
    }
}

::v-deep .v-toolbar__content {
    width: 100% !important;
}

::v-deep .v-slide-group__next {
    display: none;
}

::v-deep .v-slide-group__prev {
    display: none;
}

// .btn_regi {
//     .btnclass:before {
//         content: "";
//         background: linear-gradient(to right, #F64D55, #FFB95D);
//     }
// }

.skin005 .theme--light .v-btn-toggle--group {
    .v-btn {
        border: none !important;
        
    }
    .v-btn::before {
        background-color: transparent !important;
        opacity: 1;
    }
    .v-btn.v-btn--active {
        border: none !important;
        border-bottom: 2px solid #ffcd43 !important;
    }
    .v-btn.v-btn--disabled.v-btn--has-bg{
        background-color:transparent !important;
    }
}
.skin005 .theme--dark .v-btn-toggle--group {
    .v-btn {
        border: none !important;
        
    }
    .v-btn::before {
        background-color: transparent !important;
        opacity: 1;
    }
    .v-btn.v-btn--active {
        border: none !important;
        border-bottom: 2px solid #ffcd43 !important;
    }
    .v-btn.v-btn--disabled.v-btn--has-bg{
        background-color:transparent !important;
    }
}