<v-dialog v-if="!pageData.bHidden" width="350" v-model="pageData.bShow" :retain-focus="false" persistent>
    <v-card class="rounded10" color="bgBanner">

        <com-dialog-title title="设置交易密码" @onClose="onClose" :isDialog="true"/>

        <v-divider class="mb-2 " />
        <v-card-text v-if="pageData.bShow" class="px-5 mt-5 d-flex align-center flex-column">
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('设置交易密码(6-20位)')"
                v-model="form.password" />
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />
            <CustomInput class="mb-8" icon="mdi-shield-check" type="tel" :placeholder="LangUtil('输入验证码')"
                v-model="form.verify_code">
                <!-- <DialogGetVerity :isCheck="true" :category="userInfo.phone?1:0" :type="5" /> -->

                <DialogGetVerity :isCheck="true" :category="userInfo.phone?1:0" :type="5"
                    v-if="userInfo.phone || userInfo.email" />
                <!-- <v-btn v-else class="text-12 " color="transparent" elevation="0" plain block min-width="65"  @click="getCode">
                    <span class="textYellow--text"> {{LangUtil("验证码")}}</span>
                </v-btn> -->

                <btn-yellow v-else class="text-12 mr-n4" min_width="61" height="36" :btn_type="4" @click.native="getCode">
                    {{LangUtil("验证码")}}
                </btn-yellow>

                <!-- <v-btn v-else class="text-12" color="colorBtnBg" small @click="getCode">
                    {{LangUtil("验证码")}}
                </v-btn> -->
            </CustomInput>
            <!-- <v-btn class="rounded-lg mb-5" color="colorBtnBg" height="48" :disabled="!isCheck" @click="onSubmit" block
                ><span class="text-18">{{LangUtil("保存设置")}}</span></v-btn> -->

            <btn-yellow :class="$vuetify.breakpoint.xsOnly ? 'text-14' : 'text-16'" width="104" height="36" :disabled="!isCheck"
                @click.native="onSubmit">{{LangUtil("保存设置")}}</btn-yellow>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>