<v-dialog v-if="!pageData.bHidden" width="350" v-model="pageData.bShow" :retain-focus="false" persistent>
    <v-card class="rounded10" color="bgBanner">

        <com-dialog-title title="设置交易密码" @onClose="onClose" :isDialog="true" />

        <v-divider class="mb-2 " />

        <!-- 图形码验证：输入图形验证即修改 -->
        <v-card-text v-if="myProxy.passWordShowType == 1" class="px-5 mt-5 d-flex align-center flex-column">
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('设置交易密码(6-20位)')"
                v-model="form.password" />
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />

            <v-sheet color="transparent" width="100%" class="d-flex align-center mb-5">
                <CustomInput class="" icon="mdi-shield-check" type="tel" :placeholder="LangUtil('输入验证码')"
                    v-model="form.verify_code">
                </CustomInput>
                <v-img class="ml-3 rounded" :src="pageData.auth_image" max-width="75" height="30"
                    @click="getImageVerity"></v-img>
            </v-sheet>

            <btn-yellow :class="$vuetify.breakpoint.xsOnly ? 'text-14' : 'text-16'" width="104" height="36"
                :disabled="!isCheck" @click.native="onSubmit">{{LangUtil("保存设置")}}</btn-yellow>
        </v-card-text>

        <!-- 登陆密码验证 -->
        <v-card-text v-else-if="myProxy.passWordShowType == 2" class="px-5 mt-5 d-flex align-center flex-column">
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('设置交易密码(6-20位)')"
                v-model="form.password" />
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />

            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('输入登录密码')"
                v-model="form.logonPassword" />

            <btn-yellow :class="$vuetify.breakpoint.xsOnly ? 'text-14' : 'text-16'" width="104" height="36"
                :disabled="!isCheck_logon" @click.native="onSubmit">{{LangUtil("保存设置")}}</btn-yellow>
        </v-card-text>

        <v-card-text v-else-if="myProxy.passWordShowType == 3" class="px-5 mt-5 d-flex align-center flex-column">
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('设置交易密码(6-20位)')"
                v-model="form.password" />
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm" />
            <CustomInput class="mb-8" icon="mdi-shield-check" type="tel" :placeholder="LangUtil('输入验证码')"
                v-model="form.verify_code">
                <btn-yellow class="ml-auto mr-n5 text-14" min_width="80" height="36" :btn_type="4"
                    :disabled="isdeisable" @click.native="sendVerith">{{verityString}}</btn-yellow>
            </CustomInput>

            <btn-yellow :class="$vuetify.breakpoint.xsOnly ? 'text-14' : 'text-16'" width="104" height="36"
                :disabled="!isCheck" @click.native="onSubmit">{{LangUtil("保存设置")}}</btn-yellow>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>