<v-sheet v-if="!$mobile" height="60" color="head_color" elevation="0" width="100%" class="header mx-0 d-flex align-center">
    <v-container class="d-flex align-center justify-space-between" width="100%" color="transparent">
        <div @click="goCasionHome" class="cursor-pointer">
            <v-img class="ml-0 mr-n4" width="156" :src="commonIcon.logo"></v-img>
        </div>

        <v-sheet v-if="selfProxy.userInfo.user_id && isSearchGameShow" color="transparent" class="d-flex align-center">
            <Wallet class="ml-5" />
        </v-sheet>
        <v-sheet v-if="!selfProxy.userInfo.user_id" color="transparent" class="d-flex align-center">
            <btn-yellow
                v-if="GlobalVar.instance.isShowLogin"
                class="ml-3 text-16"
                height="46"
                min_width="120"
                :btn_type="11"
                @click.native="handlerLogin"
                >{{LangUtil("登录")}}</btn-yellow
            >
            <btn-yellow
                v-if="GlobalVar.instance.isShowRegiter"
                class="ml-3 text-16"
                height="46"
                min_width="120"
                @click.native="handlerRegister"
                >{{LangUtil("注册")}}</btn-yellow
            >
        </v-sheet>
        <v-sheet v-else color="transparent" class="d-flex align-center">
            <GameSearch v-if="isShowSearch" @gameSearchChange="onchangeGameSearch" class="mr-4" />
            <User></User>
            <v-btn class="ml-4" icon small @click="handlerBets">
                <svg-icon class="text-24" icon="ky_my_bets"></svg-icon>
            </v-btn>
            <!-- <v-badge
                color="red"
                overlap
                :content="red_dot_tips.is_user_mail_num.num"
                :value="red_dot_tips.is_user_mail_num.status==2 && red_dot_tips.is_user_mail_num.num"
            >
                <v-btn class="ml-4" icon small @click="handlerBets">
                    <svg-icon class="text-24" icon="ky_my_bets"></svg-icon>
                </v-btn>
            </v-badge> -->
        </v-sheet>
    </v-container>
</v-sheet>

<!-- v-app-bar  -->
<!-- 手机版的显示 -->
<v-app-bar v-else height="60" color="head_color" elevation="0" width="100%" class="header mx-0 d-flex align-center" :app="isShowHeader">
    <v-sheet class="d-flex align-center" color="transparent" width="100%">
        <v-sheet color="transparent" class="d-flex align-center">
            <v-sheet color="transparent" @click="showNovPanel">
                <svg-icon icon="menu" class="text-28 mr-2"></svg-icon>
            </v-sheet>
            <v-sheet color="transparent" @click="goHome">
                <v-img v-if="!SkinVariable.isShowfullLogo" class="mr-2" height="30" width="57" :src="commonIcon.logo_m"></v-img>
                <v-img v-else class="mx-n4" max-width="94" max-height="26" :src="commonIcon.logo"></v-img>
            </v-sheet>
        </v-sheet>
        <!-- <btn-yellow height="36" min_width="72"
                    @click.native="ontestin">{{LangUtil("钱包")}}</btn-yellow> -->
        <!-- 登录 -->
        <v-sheet color="transparent" class="d-flex justify-end align-center" width="100%">
            <template v-if="isSearchGameShow">
                <template v-if="selfProxy.userInfo.user_id">
                    <v-sheet color="transparent" class="d-flex align-center" width="100%">
                        <v-sheet color="transparent">
                            <Wallet />
                        </v-sheet>
                        <v-spacer />
                        <User />
                        <!-- <v-btn v-if="ModulesHelper.isShow_Kefu() && SkinVariable.systemKefuTop" class="mr-2" icon small @click="onService">
                            <svg-icon class="text-24 head_btn--text" icon="service"></svg-icon>
                        </v-btn> -->
                        <v-badge
                            color="red"
                            overlap
                            :content="red_dot_tips.is_user_mail_num.num"
                            :value="red_dot_tips.is_user_mail_num.status==2 && red_dot_tips.is_user_mail_num.num"
                        >
                            <v-btn icon small @click="handlerMail" class="ml-2">
                                <svg-icon class="text-24 head_btn--text" icon="mail"></svg-icon>
                            </v-btn>
                        </v-badge>
                    </v-sheet>
                </template>
                <!-- 未登录 -->
                <template v-else>
                    <btn-yellow
                        v-if="GlobalVar.instance.isShowLogin"
                        class="ml-3 text-14"
                        height="30"
                        :min_width="60"
                        @click.native="handlerLogin"
                        >{{LangUtil("登录")}}</btn-yellow
                    >
                    <!-- <v-sheet color="transparent" class="btn_regi"> -->
                    <btn-yellow
                        v-if="GlobalVar.instance.isShowRegiter"
                        class="ml-3 text-14"
                        height="30"
                        :min_width="60"
                        :btn_type="2"
                        @click.native="handlerRegister"
                        >{{LangUtil("注册")}}</btn-yellow
                    >
                    <!-- </v-sheet> -->

                    <v-btn v-if="ModulesHelper.isShow_Kefu() && SkinVariable.systemKefuTop" class="ml-3" icon small @click="onService">
                        <svg-icon class="text-24 head_btn--text" icon="service"></svg-icon>
                    </v-btn>
                </template>
            </template>
            <!-- <v-btn class="mr-n4 ml-2" icon small @click="onSearch">
                <svg-icon class="text-24 head_btn--text" icon="search"></svg-icon>
            </v-btn> -->

            <GameSearch v-if="isShowSearch" @gameSearchChange="onchangeGameSearch" class="ml-2 mr-n2" />
        </v-sheet>
    </v-sheet>
</v-app-bar>
