<v-sheet :width="width" color="transparent" :class="inputClass">
    <v-menu offset-y nudge-bottom="5" v-bind="$attrs" :disabled="isDisabled">
        <template v-slot:activator="{ on, attrs }">
            <v-sheet
                class="d-flex align-center rounded-lg px-3 textGray--text title_class"
                :rounded="isPill ? 'pill':''"
                width="100%"
                :height="height"
                color="transparent"
                v-bind="attrs"
                v-on="on"
            >
                <img
                    v-if="icons"
                    class="mr-2"
                    :width="iconSize"
                    :src="(icons[selectValue] && icons[selectValue].icon) || icons[selectValue]"
                />
                <div class="text-truncate" style="width: 100%" :class="'text-'+fontSize">
                    {{ LangUtil((options[selectValue] && options[selectValue].name) || options[selectValue]) }}
                </div>
                <v-spacer />
                <div
                    v-if="!isDisabled"
                    class="icon-box iconfont text-14"
                    :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                >
                    
                </div>
            </v-sheet>
        </template>
        <v-sheet class="rounded-lg py-2 scroll-y" max-height="420" color="bgBanner" v-if="!isDisabled">
            <div class="d-flex align-center listitem px-4 cursor-pointer" v-for="(item, key) of options" :key="key" @click="onChange(key)">
                <v-img v-if="icons" class="mr-2" :src="icons[key].icon || icons[key]" max-width="20" height="20"></v-img>
                <!-- <div>{{ item.name || item }}</div> -->
                <div :class="item_class(key)">{{ LangUtil(item.name || item) }}</div>
            </div>
        </v-sheet>
    </v-menu>
</v-sheet>
