<v-container class="mx-auto pa-0" :class="$vuetify.breakpoint.mobile?'px-2 mt-3':'mt-8'">
    <Advertise />
    <v-card
        :height="$vuetify.breakpoint.xsOnly?30:35"
        width="100%"
        class="d-flex align-center mx-auto mt-1 pr-3"
        ref="marquee_content"
        color="colorMarquee"
        :class="$vuetify.breakpoint.xsOnly?'rounded':'rounded-lg'"
    >
        <v-icon class="mx-2 mx-sm-4 marqueeIcon">mdi-calendar-text</v-icon
        ><marquee
            :class="$vuetify.breakpoint.xsOnly?'text-12':'text-subtitle-1'"
            direction="left"
            scrollamount="10"
            v-html="marqueeTxt"
        ></marquee>
    </v-card>
    <Activity />
    <div v-for="(item, index) of pageData.lobbyIndex" :key="index">
        <GameSlideGroup
            v-if="item.category != 4 && item.category != 32 && item.category != 64"
            :data="item"
            :bShowAll="true"
            :name="item.category"
            :id="item.category"
        />
        <GameSport v-else :data="item" :name="item.category" :id="item.category"></GameSport>
    </div>
    <RecentBetting :class="$vuetify.breakpoint.xsOnly ? 'mt-3' : 'mt-8'" />
</v-container>
