::v-deep .v-snack__content {
    text-align: center;
}
::v-deep .v-snack__wrapper {
    min-height: 40px;
    min-width: 310px;
    background-image: linear-gradient(151deg, #CD30C1 0%, #215ED6 100%) !important;
    border-radius: 4px;
    .v-snack__content{
        color: #FFFFFF;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

