<!-- <div class="d-flex align-center pr-2" :class="isBottomLine ? 'input-text-border-bottom' : 'input-text' "> -->
<div class="regular_text" :class="inputClass">
    <div class="d-flex align-center">
        <v-icon color="disable_text" v-if="icon">{{ icon }}</v-icon>
        <div v-if="$slots.pre">
            <slot name="pre"></slot>
        </div>
        <input
            v-if="!isReadonly"
            class="rounded-0"
            :type="getType()"
            :placeholder="placeholder"
            @input="onInput"
            v-model="inputValue"
            :maxlength="maxlength"
            @blur="onBlur"
            @focus="onFocus"
        />

        <input
            v-else
            class="rounded-0"
            :type="getType()"
            :placeholder="placeholder"
            readonly
            @input="onInput"
            autocomplete="false"
            id="pwd_custom"
            onblur="setAttr('pwd_custom')"
            onfocus="removeAttr('pwd_custom')"
            v-model="inputValue"
            :maxlength="maxlength"
        />

        <template v-if="value.length > 0">
            <div class="position-relative">
                <div class="d-flex password-icon">
                    <v-btn class="" icon width="20" height="20" @click="onClear">
                        <v-icon color="disable_text" class="mx-3" size="20">mdi-close-circle</v-icon>
                    </v-btn>
                    <v-icon color="disable_text" class="mx-3" size="20" @click="onToggle"
                        >{{ !bShowPassword ? "mdi-eye" : "mdi-eye-off" }}</v-icon
                    >
                    <!-- <v-btn class="mr-2" icon width="20" height="20" @click="onToggle">
                        <v-icon color="disable_text" class="mx-3" size="20" @click="onToggle">{{ !bShowPassword ? "mdi-eye" : "mdi-eye-off" }}</v-icon>
                    </v-btn> -->
                </div>
            </div>
        </template>
        <template v-else>
            <div class="position-relative">
                <div class="password-icon">
                    <v-icon color="disable_text" class="mx-3" size="20" @click="onToggle"
                        >{{ !bShowPassword ? "mdi-eye" : "mdi-eye-off" }}</v-icon
                    >
                    <!-- <v-btn class="mr-2" icon width="20" height="20" @click="onToggle">
                        <v-icon color="disable_text" class="mx-3" size="20" @click="onToggle">{{ !bShowPassword ? "mdi-eye" : "mdi-eye-off" }}</v-icon>
                    </v-btn> -->
                </div>
            </div>
        </template>

        <div v-if="$slots.default" class="">
            <slot></slot>
        </div>
    </div>
</div>
