@import "@/_skin030/style/input_nomal.scss";

::v-deep .v-btn__content {
    color: #8e8f91;
    font-size: 16px;
    font-weight: 400;
}
::v-deep .v-ripple__container {
    display: none;
}
.skin030 {
    .login_mobile,
    .login_pc {
        .input-text {
            border-radius: 0;
            margin-bottom: 10px;
            height: 40px !important;
            input {
                height: 100%;
                padding: 10px;
                margin-right: -32px;
                &::placeholder {
                    color: #b7bdc6;
                }
                &:focus {
                    border: 1px solid #f0b90b;
                    background-color: #fffdf8;
                    // margin-right: -64px;
                }
            }
        }
        .myflex {
            display: flex;
            align-items: center;
        }
    }
}
.skin030 {
    .theme--dark {
        .login_mobile,
        .login_pc {
            .input-text {
                background-color: #29313d;
                input {
                    &::placeholder {
                        color: #4f5867;
                    }
                    &:focus {
                        border: 1px solid #f0b90b;
                        background-color: #29313d;
                    }
                }
            }
        }
    }
}
.position-relative {
    position: relative;
}
.password-icon {
    position: absolute;
    top: -10px;
    right: -32px;
}
.theme--light.v-btn:hover:before,
.theme--dark.v-btn:hover:before {
    opacity: 0 !important;
}
.theme--dark.v-icon:focus::after,
.theme--light.v-icon:focus::after {
    opacity: 0 !important;
}
