.listbox {
    border-radius: 10px;
    // padding: 16px 8px;
    // padding: 16px 0px;
    // @media (max-width: 750px) {
    //     padding: 10px 0px;
    // }
    padding: 10px 0px;
    background-image: linear-gradient(155deg, #6432c4 0%, #140673 98%);
}
.listitem {
    // padding: 8px 16px;
    // padding: 8px 24px;
    // @media (max-width: 750px) {
    //     padding: 8px 15px;
    // }
    padding: 8px 15px;
    height: 34.5px;
    color: rgb(157, 177, 216);
}
.listitem:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.listitem-active {
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    .icon {
        color: rgb(111, 169, 250);
    }
}
.arrow {
    transform: rotate(0deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.selectbg {
    background-color: rgba(0, 0, 0, 0.2);
}
.selectbg2 {
    background-color: rgba(255, 255, 255, 0.05);
}
.select-text {
    color: rgba(255, 255, 255, 0.5);
}
