<div style="display: flex; justify-content: center">
    <div
        class="default-color"
        style="
            background-color: #f1f1f1;
            margin-top: 8px;
            margin-bottom: 8px;
            padding-top: 8px;
            padding-bottom: 12px;
            font-size: 12px;
            width: 600px;
            min-width: 350px;
        "
    >
        <div class="d-flex align-center">
            <img src="@/_skin005/assets/order_detail/icon_blue.png" max-height="30" height="30" max-width="10" width="10" />
            <div style="margin-left: 8px; margin-top: 5px">
                <div class="text-14 font-weight-bold">{{itemData.game_info.event_type_name}}</div>
                <div class="text-14 font-weight-bold">{{itemData.game_info.event_name}}</div>
            </div>
        </div>
        <div
            class="rounded order-content"
            style="
                background-color: #fff;
                margin: 12px, 0px;
                padding: 12px;
                margin-left: 12px;
                margin-right: 12px;
                margin-top: 8px;
                line-height: normal;
            "
        >
            <div class="d-flex text-14 top-text">
                <div>
                    <div class="font-weight-bold">{{itemData.bet_code}}</div>
                    <div>{{itemData.game_info.market_name}}</div>
                </div>
                <v-spacer />
                <div class="font-weight-bold" style="margin-right: 8px">@{{TransMarketPrice(itemData.game_info.price)}}</div>
            </div>

            <div style="margin-top: 8px; margin-bottom: 8px" class="custom-hr"></div>
            <div width="100%">
                {{LangUtil("投注金额")}}<span class="font-weight-bold">
                    {{itemData.coin_name_unique}} {{amountFormat(itemData.game_info.virtual_size,true) }}</span
                >
            </div>
            <div width="100%">{{LangUtil("订单编号")}} <span class="font-weight-bold"> {{itemData.order_no}}</span></div>

            <div width="100%" v-if="itemData.settlement_status == 11">
                {{LangUtil("结算时间")}}
                <span class="font-weight-bold"> {{getDate(itemData.game_info.settled_date)}}</span>
            </div>
            <div width="100%" v-else>
                {{LangUtil("投注时间")}}
                <span class="font-weight-bold"> {{getDate(itemData.game_info.creation_date)}}</span>
            </div>
            
            <template v-if="itemData.settlement_status == 11">
                <div style="margin-right: 10px" class="winlostdiv">
                    <span style="margin-right: 4px">{{LangUtil("输赢")}} {{itemData.coin_name_unique}}</span>
                    <span class="font-weight-bold" :class="itemData.game_info.virtual_profit>=0 ? 'success--text' : 'error--text' ">
                        {{itemData.game_info.virtual_profit>=0 ? "+" : ""}}{{amountFormat(itemData.game_info.virtual_profit,true,2)}}
                    </span>
                </div>
                <div class="win-type">
                    <img style="width: 100px; height: 100px" :src="getWinType(itemData)" v-if="itemData.win_type" />
                    <p>{{getWinTypeStr(itemData)}}</p>
                </div>
            </template>
        </div>
    </div>
</div>
