@import "@/style/fontsize.scss";
@import "@/style/params.scss";
.theme--dark {
    &.v-application {
        background-color: #182533ff;
    }
}

@media screen and (min-width: 1430px) {
    .container {
        max-width: 1430px;
    }
    .main-container {
        padding: 0;
        padding-bottom: 130px;
        max-width: 100%;
    }
}
.html {
    // background-color: #131e36;
    background-color: #182533;
}
@-moz-document url-prefix() {
    /* Disable scrollbar Firefox */
    html {
        scrollbar-width: none;
    }
}
body {
    font-size: 14px;
    color: #fff;
    color: var(--app-color);
    background-color: #182533ff;
    background-color: var(--app-background-color);
    font-family: "Montserrat", "Open Sans", "PingFang SC", "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "WenQuanYi Micro Hei",
        Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    ::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }
}
li {
    list-style-type: none;
}
img {
    border-style: none;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: inherit;
    color: inherit;
}
input {
    border: none;
    outline: medium;
}

.common-btn {
    background-image: linear-gradient(151deg, #cd30c1 0%, #215ed6 100%);
    border-radius: 23px;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.scroll-y {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-x {
    overflow-x: scroll;
}

.gradient-bg {
    height: 70px;
    background-color: #16233b;
    background-image: linear-gradient(180deg, #24385a 0%, #121e36 70px);
    text-align: center;
}
.header-b-bg {
    height: 70px;
    background-color: transparent;
    text-align: center;
}
.bPanelBg {
    background-image: linear-gradient(147deg, #6432c4 0%, #10045c 76%);
}
.walletPanelBg {
    background-image: linear-gradient(148deg, #6432C4 10%, #10045C 170%);
}
// .btnRedBg {
//     background-image: linear-gradient(151deg, #cd30c1 0%, #215ed6 100%) !important;
// }
.bPanelLevelBg {
    background-image: linear-gradient(-20deg, rgba(53, 64, 82, 0.3) 0%, rgba(92, 103, 123, 0.3) 97%);
}
.btnRedBg {
    background-image: linear-gradient(151deg, #cd30c1 30%, #215ed6 100%) !important;
}
.btnWhiteBg {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.bPanelOpacityBg {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.bPanelWhiteOpacityBg {
    background-color: rgba(255, 255, 255, 0.06) !important;
}
.bPanelLevelBg {
    background-image: linear-gradient(-20deg, rgba(53, 64, 82, 0.3) 0%, rgba(92, 103, 123, 0.3) 97%);
}
.container-b {
    background-color: #0d1b29;
}
.bTextColor5{
    color:rgba(255,255,255,0.5);
}
.textColor1{
    color:rgba(255,255,255,0.4);
}
// .v-dialog--fullscreen{
//     border-top-left-radius: 24px !important;
//     border-top-right-radius: 24px !important;
//     top: 40px !important;
//     height: calc(100% - 40px) !important;
// }
.v-pagination {
    li {
        .v-pagination__item {
            border: 1px solid #304062 !important;
            color: #304062 !important;
            background: transparent !important;
            width: 32px !important;
            height: 32px !important;
        }
        .v-pagination__item--active,
        .v-pagination__navigation {
            // background-color: #304062 !important;
            background-color: #5d3aae !important;
            color: #fff !important;
        }
    }
}

::v-deep .vuejs-loadmore-wrap .vuejs-refresh-track .vuejs-refresh-head {
    .vuejs-loading {
        color: #4c5d7f;
        .vuejs-loading-text {
            color: #4c5d7f;
        }
    }
    .vuejs-refresh-text {
        color: #4c5d7f;
    }
}
::v-deep .vuejs-loadmore .vuejs-loadmore-loading .vuejs-loading {
    .vuejs-loading {
        color: #4c5d7f;
        .vuejs-loading-text {
            color: #4c5d7f;
        }
    }
    .vuejs-loading-text {
        color: #4c5d7f;
    }
}
::v-deep .vuejs-loadmore .vuejs-loadmore-finished-text {
    color: #4c5d7f;
}
.text-align-center {
    text-align: center;
}

.vuejs-loadmore-error-text, .vuejs-loadmore-finished-text, .vuejs-loadmore-loading, .vuejs-refresh-text, .vuejs-loading-text{
    color: #9989c2 !important;
}