<v-dialog width="420" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg" color="colorPanelBg">
        <v-card-title class="gradient-bg">
            <div class="text-18">{{LangUtil("设置真实姓名")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text v-if="pageData.bShow" class="px-10 mt-5">
            <CustomInput :maxlength="maxTextLength" class="mb-3" :placeholder="LangUtil('昵称为1-10位字符')" v-model="pageData.real_name" />
            <div class="ml-5 mb-9 colorDialogInfo--text">{{LangUtil("请绑定您的真实姓名，玩家姓名与付款姓名相同、否则支付不到账；（绑定后不能修改）")}}</div>
            <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedId" @click="onSubmit" block
                >{{LangUtil("保存设置")}}</v-btn
            >
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>