<v-card-text class="mt-2 px-8 pt-7 bPanelOpacityBg rounded-t-lg overflow-auto" style="padding-bottom:90px;">
    <div class="white--text mb-1 d-flex align-center"><div class="r-before"></div> {{LangUtil("想使用人民币充值？")}}</div>
    <div class="colorTextNormal2--text">
        {{LangUtil("主流交易所均支持人民币购买数字货币，点击教程了解如何使用人民币充值。")}}
        <a class="text-decoration-underline colorBtnSeleBg--text" @click="onLink(LangUtil('法币教程链接'))" href="#">
            {{LangUtil("充值教程")}}
        </a>
    </div>
    <div class="d-flex mt-3">
        <CustomSelect
            fontSize="14"
            iconSize="22"
            :background="'rgba(255,255,255,0.06)'"
            :icons="plat_coins"
            :options="pageData.methodList"
            v-model="form.coin_name_unique"
            @change="onChange1"
        />
        <!-- <CustomSelect
            v-if="pageData.methodList[form.coin_name_unique]"
            :options="pageData.methodList[form.coin_name_unique].options"
            v-model="form.block_network_id"
            @change="onChange2"
        /> -->
        
    </div>

    <div v-if="pageData.methodList[form.coin_name_unique]" class="d-flex flex-wrap mt-3 mx-n2">
        <!-- <v-btn
            class="mb-2 mx-2"
            min-width="100"
            height="30"
            :color="form.block_network_id==key ? 'colorBtnBg' : 'colorPanelTitleBg'"
            v-for="(item, key) of pageData.methodList[form.coin_name_unique].options"
            :key="key"
            @click="onChange2(key)"
        > -->
        <v-btn
            class="mb-2 mx-2 rounded-pill"
            elevation="0"
            min-width="70"
            height="30"
            :class="form.block_network_id==key ? 'btnRedBg' : 'btnWhiteBg'"
            v-for="(item, key) of pageData.methodList[form.coin_name_unique].options"
            :key="key"
            @click="onChange2(key)"
        >
            {{item.name}}
        </v-btn>
    </div>

    <v-card color="transparent" elevation="0">
        <!-- <div v-if="pageData.methodList[form.coin_name_unique] && pageData.methodList[form.coin_name_unique].payemthod_id == 4"> -->
        <div v-if="false">
            <div class="colorTextNormal2--text mt-2" v-if="pageData.methodList[form.coin_name_unique]">
                {{LangUtil("你的{0} {1}充值地址", form.coin_name_unique,
                pageData.methodList[form.coin_name_unique].options[form.block_network_id].name)}}
            </div>
            <div class="d-flex align-center address-box pa-2 mt-1">
                <div class="white--text ml-1">{{ pageData.address }}</div>
                <v-spacer />
                <!-- <v-btn color="#6FA9FA" small width="24" min-width="0" height="24" @click="onCopy">
                    <v-img src="@/assets/icon/icon_copy.png" width="24" height="24"></v-img>
                </v-btn> -->
                <v-btn class="rounded-pill btnRedBg" width="70" min-width="70" height="30" @click="onCopy">
                    <span class="text-13">{{LangUtil("复制")}}</span>
                </v-btn>
            </div>
        </div>
        <!-- 待修改 -->
        <!-- <div v-if="pageData.methodList[form.coin_name_unique] && pageData.methodList[form.coin_name_unique].payemthod_id == 5"> -->
        <div v-if="true">
            <div class="colorText1--text mt-3">{{LangUtil("常用充值金额")}}</div>
            <div class="d-flex flex-wrap my-2 mx-n2">
                <v-btn
                    class="mb-2 mx-2"
                    min-width="100"
                    height="30"
                    :color="pageData.gold_index==index ? 'colorBtnBg' : 'colorPanelTitleBg'"
                    v-for="(item, index) of pageData.methodList[form.coin_name_unique].options[form.block_network_id].fixed_gold_list"
                    :key="index"
                    @click="onGoldClick(index, item)"
                    >{{item}}</v-btn
                >
                <v-spacer />
            </div>
            <CustomInput class="mt-1" :placeholder="LangUtil('输入充值金额')" v-model="form.amount" type="number">
                <div>
                    <v-btn class="mr-n2 white--text" x-small height="30" color="colorBtnBg" @click="onSumbit"
                        >{{LangUtil("提交充值")}}</v-btn
                    >
                </div>
            </CustomInput>
        </div>

        <v-sheet class="d-flex flex-wrap rounded px-4 py-3 mt-2 text-12" color="rgba(255,255,255,0.06)">
            <div class="d-flex">
                <!-- <span class="mr-1">⚠️</span> -->
                <div>
                    <div style="color:#F04A5A"
                        v-for="item of transformExplain(pageData.methodList[form.coin_name_unique] && pageData.methodList[form.coin_name_unique].options[form.block_network_id].explain)"
                    >
                        {{item}}
                    </div>
                </div>
            </div>
            <v-spacer />
            <!-- <v-sheet
                class="rounded-sm ml-3"
                width="70"
                min-width="70"
                height="70"
                color="white"
                v-if="pageData.methodList[form.coin_name_unique] && pageData.methodList[form.coin_name_unique].payemthod_id == 4"
            > -->
            <v-sheet
                class="rounded-sm ml-3"
                width="70"
                min-width="70"
                height="70"
                color="white"
                v-if="false"
            >
                <div ref="qrcode" class="qrcode" @click="showPreview">
                    <v-img :src="pageData.qrcode"></v-img>
                </div>
            </v-sheet>
        </v-sheet>
    </v-card>
    <!-- <v-divider class="mx-5" /> -->
    <!-- <v-card-text class="d-flex justify-end mt-3">
        <div class="mr-2 info-text">{{LangUtil("已支持币种")}}</div>
        <div v-for="(item, key) of pageData.methodList" :key="key">
            <v-img class="mr-2" v-if="plat_coins[key]" :src="plat_coins[key].icon" max-width="20" height="20"></v-img>
        </div>
    </v-card-text> -->

    <v-card-text class="d-flex justify-start align-center px-3 py-2 mt-5 coins-area">
        <div class="mr-3 colorTextNormal2--text text-13">{{LangUtil("已支持币种")}}</div>
        <div v-for="(item, key) of pageData.methodList" :key="key">
            <v-img class="mr-2" v-if="plat_coins[key]" :src="plat_coins[key].icon" max-width="18" height="18"></v-img>
        </div>
    </v-card-text>
    <Overlay v-model="pageData.loading" />
</v-card-text>
