.listitem {
    div {
        width: 120px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #9db1d8;
        div:first-child {
            color: #4c5d7f;
            margin-bottom: 5px;
        }
        div > a {
            color: #9db1d8;
        }
        @media only screen and (max-width: 750px) {
            width: 100%;
        }
    }
    .listitem-150 {
        width: 150px;
        div {
            width: 150px;
        }
    }
}
.header-mobile {
    position: fixed;
    z-index: 1000;
    background-color: #121e36;
}
.listbox-mobile {
    overflow: hidden;
    padding-top: 210px;
    @media only screen and (max-width: 600px) {
        padding-top: 285px;
    }
}
.listbox-mobile-nooptions {
    overflow: hidden;
    padding-top: 110px;
    @media only screen and (max-width: 600px) {
        padding-top: 125px;
    }
}
.btn {
    color: #9db1d8;
}
.w-280 {
    width: 280px;
}
.w-120 {
    width: 120px;
}

::v-deep .el-input__inner {
    background-color: #25324b !important;
    border-radius: 8px !important;
    border: none;
    color: #96aad0;
}
::v-deep .el-input__inner::placeholder {
    color: #96aad0;
}

::v-deep .el-input__inner {
    background-color: #25324b !important;
    border-radius: 8px !important;
    border: none;
    color: #96aad0;
}
::v-deep .el-input__inner::placeholder {
    color: #606266;
}
::v-deep .el-range-input {
    color: #96aad0;
    width: auto;
}
::v-deep .el-range__icon {
    margin-top: 3px;
}
::v-deep .el-range__close-icon {
    margin-top: 3px;
}
::v-deep .el-range-input::placeholder {
    color: #606266;
}
::v-deep .el-input--suffix .el-input__inner {
    padding-right: 0px;
}
.input_range {
    width: 380px;
}