.input-text {
    border-radius: 12px;
    height: 50px;
    border: solid 1px #50607f;
    input {
        vertical-align: middle;
        height: 50px;
        width: 100%;
        color: rgba(157, 177, 216, 0.7);
        font-weight: bold;
    }
}
input::placeholder {
    color: #50607f;
}