.input-text {
    border-radius: 12px;
    height: 50px;
    border: solid 1px #4c5d7f;
    input {
        vertical-align: middle;
        height: 50px;
        width: 100%;
        color: #96a9d0;
        font-weight: bold;
    }
}
input::placeholder {
    color: #4c5d7f;
}
