<v-sheet
    class="d-flex flex-column align-center justify-center pt-16 pb-10 text-16 foot_text_color pb-5 ml-n3 mr-n3"
    color="#0f1213" style="margin-top: 200px !important;">
    <v-img :src="commonIcon.logo" max-width="130" max-height="30"></v-img>
    <div class="d-flex mt-2 mb-5 foot_text_color">
        <v-btn class="foot_text_color" text @click="goContact">{{LangUtil("关于我们")}}</v-btn>
        <v-btn class="foot_text_color mx-5" text @click="goService">{{LangUtil("服务条款")}}</v-btn>
        <v-btn class="foot_text_color" text @click="goMail">{{LangUtil("官方邮箱")}}</v-btn>
    </div>
    <div class="foot_text_color">{{LangUtil("合作商")}}</div>
    
    <v-sheet v-if="imgData.length > 0" class=" d-flex flex-wrap justify-center" width="100%" color="transparent">
        <v-card v-for="(item, key) of imgData" :key="item.vendor_id" class="my-2" height="50" flat color="transparent">
            <!-- <v-img :src="getIcon(item)" width="90" height="40"></v-img> -->
            <!-- <v-img :src="item.vendor_icon" height="50" contain content-class="mx-2"></v-img> -->
            <img :src="item.vendor_icon"  height="40" class="mx-2"  ></img>
        </v-card>
    </v-sheet>
    <template v-if="isShowFootDetail">
        <v-sheet class="d-flex justify-center foot_text_color" max-width="80%" color="transparent">
            <div class="foot_text_color" style="text-align: center;"> {{LangUtil("底部产品描述")}}</div>
        </v-sheet>
        <div class="d-flex align-center my-4">
            <div>
                <div class="d-flex justify-center">
                    <v-img height="40" width="220" contain src="~@/_skin005/assets/footer/ad_1.png"></v-img>
                </div>
                <div class="d-flex justify-sm-center foot_text_color">
                    {{LangUtil("证书描述1")}}
                </div>
            </div>
            <div>
                <div class="d-flex justify-center">
                    <v-img height="40" width="220" contain src="~@/_skin005/assets/footer/ad_2.png"></v-img>
                </div>
                <div class="d-flex justify-sm-center foot_text_color">
                    {{LangUtil("证书描述2")}}
                </div>
            </div>
        </div>
    </template>
    <p class="text-14 foot_text_color">{{LangUtil("网页底部信息说明")}}</p>
    <pre class="text-14 foot_text_color">{{LangUtil("网页底部公司说明")}}</pre>
    <div class="text-14 foot_text_color">version:{{getVersion()}}</div>
    <div class="text-14 foot_text_color">{{getChannelID()}}</div>
    <!-- <div class="text-14 borderGameItem--text">网页底部公司说明 version:{{getVersion()}} {{getChannelID()}} -->
</v-sheet>