<v-dialog width="596" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly">
    <v-card class="rounded-lg pb-5" color="colorPanelBg">
        <v-sheet class="d-flex text-18 font-weight-medium align-center px-4 mb-5" color="colorPanelTitleBg" height="60">
            <div>服务条款</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-sheet>
        <v-sheet class="overflow-y-auto mx-4 text-wrapper" color="transparent" height="500">{{ dialogData.data }}</v-sheet>
    </v-card>
</v-dialog>