<v-sheet color="transparent" width="100%">
    <div class="font-weight-bold" :class="$mobile ? 'text-14' : 'text-20'">{{LangUtil("统计报表")}}</div>
    <div class="textGray--text mb-2 mb-sm-5" :class="$mobile ? 'text-12' : 'text-14'">{{LangUtil("统计直属玩家的数据报表")}}</div>

    <template v-if="!$mobile">
        <v-card flat color="bgBanner" class="px-2 py-4 rounded10">
            <!-- 上面的时间选择 -->
            <v-sheet color="transparent" class="d-flex justify-space-between align-center">
                <v-sheet color="transparent" class="d-flex">
                    {{LangUtil("{0} - {1} 直属统计",pageData.search.dateArr[0],pageData.search.dateArr[1]) }}
                </v-sheet>
                <v-sheet color="transparent" class="d-flex align-center">
                    <v-sheet color="transparent" class="d-flex align-center timeRange_pc text-14" min-height="40">
                        <el-date-picker
                            class="mr-2"
                            v-model="timeRange[0]"
                            type="datetime"
                            :placeholder="LangUtil('开始日期')"
                            default-time="00:00:00"
                            :format="GlobalVar.instance.DateFormatHHMM"
                            :clearable="false"
                            @change="onTimeChange"
                        >
                        </el-date-picker>
                        <div class="textGray--text">{{LangUtil('至')}}</div>
                        <el-date-picker
                            class="ml-2"
                            v-model="timeRange[1]"
                            type="datetime"
                            :placeholder="LangUtil('结束日期')"
                            default-time="23:59:59"
                            :format="GlobalVar.instance.DateFormatHHMM"
                            :clearable="false"
                            @change="onTimeChange"
                        >
                        </el-date-picker>
                    </v-sheet>
                </v-sheet>
            </v-sheet>
            <!-- 下方的直属表格 -->
            <v-card flat color="transparent" class="d-flex align-center justify-center mt-4">
                <template v-if="myProxy.pageData.loading">
                    <v-skeleton-loader class="px-3 my-2 custom-loader" height="450px" width="100%" type="text@6"></v-skeleton-loader>
                </template>
                <template v-else>
                    <v-card flat color="transparent" class="d-flex flex-wrap justify-space-between py-2">
                        <v-sheet
                            v-for="(item, key) in pageData.tableData"
                            :key="key"
                            color="transparent"
                            class="px-2 py-2 d-flex rounded10 sheetOutlined align-center justify-space-between textGray--text my-1"
                            min-width="300"
                        >
                            <div>{{ LangUtil(item.name) }}</div>
                            <div v-if="item.type && item.type=='string'">{{ item.directly }}</div>
                            <div v-else :class="getMoneyColor(item.directly)">{{ transformMoney(item.directly) }}</div>
                        </v-sheet>

                        <template v-for="key of 10">
                            <v-sheet color="transparent" class="px-2 py-2 d-flex align-center justify-space-between" min-width="300">
                            </v-sheet>
                        </template>
                    </v-card>
                    <!-- <ListNodata v-if="pageData.tableData.length == 0" height="411" /> -->
                </template>
            </v-card>
        </v-card>
    </template>

    <template v-else>
        <v-card flat color="bgBanner" class="px-2 py-4 rounded10">
            <!-- 上面的时间选择 -->
            <v-sheet color="transparent" class="d-flex flex-column" width="100%">
                <v-sheet color="transparent" class="d-flex align-center" width="100%">
                    <v-sheet color="transparent" class="d-flex align-center text-14" min-height="40" width="100%">
                        <CustomMobileDatePicker
                            color="bgColor"
                            class=""
                            @change="onTimeChange"
                            :start.sync="timeRange[0]"
                            :end.sync="timeRange[1]"
                        ></CustomMobileDatePicker>
                    </v-sheet>
                </v-sheet>
                <v-sheet color="transparent" class="d-flex mt-2 text-12">
                    {{LangUtil("{0} - {1} 直属统计",pageData.search.dateArr[0],pageData.search.dateArr[1]) }}
                </v-sheet>
            </v-sheet>
            <!-- 下方的直属表格 -->
            <v-card flat color="transparent" class="d-flex justify-center flex-column mt-2">
                <template v-if="myProxy.pageData.loading">
                    <v-skeleton-loader class="px-3 my-2 custom-loader" height="450px" width="100%" type="text@6"></v-skeleton-loader>
                </template>
                <template v-else>
                    <v-card flat color="transparent" class="d-flex flex-column" width="100%">
                        <v-sheet
                            v-for="(item, key) in pageData.tableData"
                            :key="key"
                            color="transparent"
                            class="px-2 py-2 my-1 d-flex rounded10 sheetOutlined align-center justify-space-between textGray--text"
                            width="100%"
                        >
                            <div>{{ LangUtil(item.name) }}</div>
                            <div v-if="key==0">{{ item.directly }}</div>
                            <div v-else :class="getMoneyColor(item.directly)">{{ transformMoney(item.directly) }}</div>
                        </v-sheet>
                    </v-card>
                    <ListNodata v-if="pageData.tableData.length == 0" height="411" />
                </template>
            </v-card>
        </v-card>
    </template>
</v-sheet>
