@import "@/scss/mixin.scss";

.text-rwd-18 {
    font-size: 16px;
    @include sm {
        font-size: 18px;
    }
}

.text-rwd-16 {
    font-size: 14px;
    @include sm {
        font-size: 16px;
    }
}

.listitem {
    color: #9db1d8;
    div:first-child {
        color: #4c5d7f;
    }
    div > a {
        color: #9db1d8;
    }
}

.arrow {
    margin-bottom: -1px !important;
}
.search {
    width: 307px;
    // ::v-deep .v-btn__content {
    //     color: #98acd3;
    //     font-size: 16px;
    //     font-weight: 400;
    // }
}
::v-deep .input-text input::placeholder {
    font-size: 16px;
    font-weight: 400;
}
.search_mobiel {

    ::v-deep .v-btn__content {
        color: #98acd3;
        font-size: 16px;
        font-weight: 400;
    }
}
.header-mobile {
    position: fixed;
    z-index: 1000;
    background-color: #121e36;
}
.listbox-mobile {
    overflow: hidden;
    padding-top: 155px;
}
.listbox_2-mobile {
    overflow: hidden;
    padding-top: 260px;
}

.hackhome{

    height: 1px;
    background-image: linear-gradient(to right, #213354 0%, #213354 50%, transparent 50%);
    background-size: 16px 1px;
    background-repeat: repeat-x;
}
::v-deep .theme--dark.v-icon{
    color: #8E8F91;
}
::v-deep .v-input--selection-controls .v-input__slot>.v-label, .v-input--selection-controls .v-radio>.v-label{
    color: #8E8F91;
}

.input-text{
    height: 41px !important;
}
