@import "@/scss/mixin.scss";

.text-rwd-18 {
    font-size: 16px;
    @include sm {
        font-size: 18px;
    }
}

.text-rwd-16 {
    font-size: 14px;
    @include sm {
        font-size: 16px;
    }
}

.listitem {
    color: #9DB1D8;
    div:first-child {
        color: #4C5D7F;
    }
    div > a {
        color: #9DB1D8;
    }
}

.arrow{
    margin-bottom: -1px !important;
}
.search{
    width: 207px;
}
::v-deep .input-text input::placeholder {
    font-size: 16px;
    font-weight: 400;
}
::v-deep .v-btn__content {
    color: #98ACD3;
    font-size: 16px;
    font-weight: 400;
}