<v-dialog width="730" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly">
    <v-card class="rounded-lg" color="colorPanelBg">
        <v-card-title class="gradient-bg">
            <div class="text-18">我的直属</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5">
            <div class="d-flex justify-space-between">
                <div class="colorText1--text text-16 ml-3 d-flex align-center">
                    <div class="ml-3 colorTextBlueLight2--text">直属玩家数量</div>
                    <div class="ml-3 colorDialogInfo--text">{{ pageData.pageInfo.pageTotal }}</div>
                </div>
                <div class="search">
                    <CustomInputButton height="41" placeholder="输入查询ID" button-name="搜索" v-model="pageData.search" @click="search"/>
                </div>
            </div>
            <div class="listbox">
                <v-sheet class="mt-5 px-7 py-2 rounded-lg my-3" color="#16233F" v-for="(item, key) of pageData.list" :key="key">
                    <div class="d-flex listitem">
                        <div>
                            <div>注册时间</div>
                            <div class="text-truncate">{{ item.binded_at }}</div>
                        </div>
                        <div>
                            <div>用户ID</div>
                            <div>{{ item.user_id }}</div>
                        </div>
                        <div>
                            <div>用户昵称</div>
                            <div>{{ item.nick_name }}</div>
                        </div>
                        <div>
                            <div>直属人数</div>
                            <div>{{ item.directly_users }}</div>
                        </div>
                        <div>
                            <div>团队人数</div>
                            <div>{{ item.group_users }}</div>
                        </div>
                        <div>
                            <div>保底</div>
                            <div><v-btn text height="19" min-width="32" class="text-decoration-underline pa-0 colorBlue--text"
                                @click="handlerSetting(item.promotion_floor)">
                                   设置
                               </v-btn></div>
                        </div>
                    </div>
                </v-sheet>
                <v-sheet v-show="pageData.list.length === 0" class="d-flex justify-center align-center" color="transparent" min-height="450">
                    <div>
                        <v-img :src="commonIcon.nodata" max-width="113" height="100"></v-img>
                        <div class="text-14 colorText1--text mt-2 ml-8">暂无记录</div>
                    </div>
                </v-sheet>
            </div>
            <v-spacer />
            <v-pagination
                v-if="pageData.list.length>0"
                v-model="pageData.pageInfo.pageCurrent"
                :length="pageData.pageInfo.pageCount"
                @input="onPageChange"
            ></v-pagination>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading"/>
</v-dialog>