<v-dialog v-if="!pageData.bHidden" width="350" v-model="pageData.bShow" :retain-focus="false" persistent>
    <v-card class="rounded10" color="dialog_bg">
        <com-dialog-title title="修改密码" @onClose="onClose" :isDialog="true" />

        <v-divider class="mb-2" />
        <v-card-text v-if="pageData.bShow" class="px-5 mt-5 d-flex align-center flex-column">
            <CustomPassword class="mb-5" icon="mdi-shield-lock" :placeholder="LangUtil('请输入密码(6-20位)')" v-model="form.password" />
            <CustomPassword
                class="mb-5"
                icon="mdi-shield-lock"
                :placeholder="LangUtil('确认密码(6-20位)')"
                v-model="form.password_confirm"
            />
            <btn-yellow :class="$mobile ? 'text-14' : 'text-16'" min_width="104" height="36" :disabled="!isCheck" @click.native="onSubmit"
                >{{LangUtil("确定修改")}}</btn-yellow
            >
        </v-card-text>
    </v-card>
</v-dialog>
