<v-dialog width="860" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" :no-click-animation="true">
    <v-card class="rounded-lg d-flex flex-column bPanelBg" color="colorPanelBg">
        <!-- pc显示方式 -->
        <v-card-title class="px-8 pb-3" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="text-18">{{LangUtil("交易记录")}}</div>
            <v-spacer />
            <!-- <v-btn icon @click="onClose">
                <v-icon color="colorCloseBtn">mdi-close</v-icon>
            </v-btn> -->
            <!-- <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                <v-img src="@/_skin100/assets/del/del.png" max-width="18px" max-height="18px"></v-img>
            </v-btn> -->
            <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5" v-if="!$vuetify.breakpoint.xsOnly">
            <v-sheet v-if="pageData.list.length>0" color="transparent" height="450" class="scroll-y">
                <v-sheet class="mb-2 px-4 py-4 rounded-lg" color="rgba(0,0,0,0.1)" v-for="(item, key) of pageData.list" :key="key">
                    <v-row no-gutters class="justify-start fill-height">
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13">{{LangUtil("交易ID")}}</div>
                            <div class="text-truncate text-14 white--text font-weight-regular">{{ item.order_no }}</div>
                        </v-col>
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13">{{LangUtil("兑换币种")}}</div>
                            <div class="text-14 white--text font-weight-regular">{{ item.coin_a }}</div>
                        </v-col>
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13">{{LangUtil("获得币种")}}</div>
                            <div class="text-14 white--text font-weight-regular">{{ item.coin_b }}</div>
                        </v-col>
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            style="width:23%;"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13">{{LangUtil("兑换数量")}}</div>
                            <div class="text-14 white--text font-weight-regular">{{ Number(item.coin_a_amount).toFixed(8) }}</div>
                        </v-col>
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            style="width:23%;"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13">{{LangUtil("获得数量")}}</div>
                            <div v-if="item.trade_status != 1" class="text-14 white--text font-weight-regular">{{ Number(item.coin_b_amount).toFixed(8) }}</div>
                            <div v-else class="text-14 white--text font-weight-regular">--</div>
                        </v-col>
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13 text-right">{{LangUtil("状态")}}</div>
                            <div class="text-14 white--text font-weight-regular text-right">{{ listOptions.statusOptions()[item.trade_status] }}</div>
                            <!-- <div class="text-14 white--text font-weight-regular text-right">{{ item.trade_status }}</div> -->
                        </v-col>
                        <v-col
                            class="l-item d-flex justify-center flex-column"
                            cols="6"
                            :sm="$vuetify.breakpoint.width < 730 ? '4' : 'auto'"
                            md="auto"
                        >
                            <div class="mb-1 text-13">{{LangUtil("时间")}}</div>
                            <div class="text-14 white--text font-weight-regular">{{ item.updated_at.replace(/^\d{4}-/, "") }}</div>
                        </v-col>
                    </v-row>
                </v-sheet>
            </v-sheet>
            <ListNodata v-if="pageData.list.length == 0 && !pageData.loading" height="411"/>
            <div style="width:100%;height:411px;" v-if="pageData.list.length == 0 && pageData.loading"></div>
            <v-spacer />
            <v-pagination
                class="mx-auto mb-2"
                v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                v-model="pageData.pageInfo.pageCurrent"
                :length="pageData.pageInfo.pageCount"
                @input="onPageChange"
            ></v-pagination>
        </v-card-text>
        <!-- 手机显示方式 -->
        <v-card-text class="pb-3 px-0 header-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="d-flex align-center px-4 pt-5">
                <div class="white--text text-18">{{LangUtil("交易记录")}}</div>
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon color="colorCloseBtn">mdi-close</v-icon>
                </v-btn>
            </div>
        </v-card-text>
        <v-card-text class="px-4" v-if="$vuetify.breakpoint.xsOnly">
            <!-- <vue-loadmore :on-refresh="onRefresh" :on-loadmore="onLoad" :finished="pageData.finished" class="listbox-mobile"> -->
            <vue-loadmore :on-refresh="onRefresh" :on-loadmore="onLoad" :finished="pageData.finished">
                <ListNodata v-if="pageData.list.length == 0 && !pageData.loading"/>
                <v-sheet class="px-3 py-2 rounded-lg my-3 colorText2--text" color="rgba(0,0,0,0.1)" v-for="(item, key) of pageData.list" :key="key">
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("交易ID")}}</div>
                        <div class="white--text">{{ item.order_no }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("兑换币种")}}</div>
                        <div class="white--text">{{ item.coin_a }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("获得币种")}}</div>
                        <div class="white--text">{{ item.coin_b }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("兑换数量")}}</div>
                        <div class="white--text">{{ Number(item.coin_a_amount).toFixed(8) }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("获得数量")}}</div>
                        <div v-if="item.trade_status != 1" class="white--text">{{ Number(item.coin_b_amount).toFixed(8) }}</div>
                        <div v-else class="white--text">--</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("状态")}}</div>
                        <div class="white--text">{{ listOptions.statusOptions()[item.trade_status] }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="column-title">{{LangUtil("时间")}}</div>
                        <div class="white--text">{{ item.updated_at.replace(/^\d{4}-/, "") }}</div>
                    </div>
                </v-sheet>
            </vue-loadmore>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading"/>
</v-dialog>