#svga-player-deposit-1,
#svga-player-deposit-2,
#svga-player-deposit-3,
#svga-player-deposit-4 {
    transform: scale(1.5);
}

#svga-player-wallet {
    transform: scale(2.5);
}
#svga-player-coin,
#svga-player-sign,
#svga-player-trumpet {
    transform: scale(3);
}

#svga-player-trumpet {
    margin-top: -5px;
}