<v-dialog
    v-if="!pageData.bHidden"
    width="930"
    v-model="pageData.bShow"
    :retain-focus="false"
    :fullscreen="$mobile"
    :transition="$mobile ? 'mobile-slide-x-transition' :''"
>
    <!-- pc显示方式 -->
    <template v-if="!$mobile">
        <v-card class="rounded10 d-flex flex-column" :color="!$mobile ? 'dialog_bg' : 'dialog_bg'">
            <com-dialog-title title="交易记录" @onClose="onClose" />
            <v-divider class="mb-2" />
            <v-card-text class="px-5" v-if="!$mobile">
                <template v-if="pageData.list.length>0">
                    <v-sheet color="transparent" class="d-flex flex-wrap justify-space-between mx-2 align-center" min-height="40">
                        <v-sheet color="transparent" min-width="100" class="text-16 primary--text">{{LangUtil("交易ID")}}</v-sheet>
                        <v-sheet color="transparent" min-width="100" class="text-16 primary--text">{{LangUtil("兑换币种")}}</v-sheet>
                        <v-sheet color="transparent" min-width="100" class="text-16 primary--text">{{LangUtil("获得币种")}}</v-sheet>
                        <v-sheet color="transparent" min-width="100" class="text-16 primary--text">{{LangUtil("兑换数量")}}</v-sheet>
                        <v-sheet color="transparent" min-width="100" class="text-16 primary--text">{{LangUtil("获得数量")}}</v-sheet>
                        <v-sheet color="transparent" min-width="100" class="text-16 primary--text">{{LangUtil("状态")}}</v-sheet>
                        <v-sheet color="transparent" min-width="130" class="text-16 primary--text">{{LangUtil("时间")}}</v-sheet>
                    </v-sheet>

                    <v-sheet color="transparent" height="450" class="scroll-y">
                        <v-sheet
                            class="d-flex sheetOutlined mb-2"
                            width="100%"
                            min-height="48"
                            v-for="(item, key) of pageData.list"
                            :key="key"
                        >
                            <v-sheet color="transparent" class="d-flex flex-wrap align-center justify-space-between mx-2" width="100%">
                                <v-sheet color="transparent" min-width="100" class="text-16 textGray--text text-truncate"
                                    >{{item.order_no}}</v-sheet
                                >
                                <v-sheet color="transparent" min-width="100" class="text-16 textGray--text text-truncate"
                                    >{{item.coin_a}}</v-sheet
                                >
                                <v-sheet color="transparent" min-width="100" class="text-16 textGray--text text-truncate"
                                    >{{item.coin_b}}</v-sheet
                                >
                                <v-sheet color="transparent" min-width="100" class="text-16 textGray--text text-truncate"
                                    >{{item.coin_a_amount}}</v-sheet
                                >
                                <v-sheet color="transparent" min-width="100" class="text-16 textGray--text text-truncate"
                                    >{{item.coin_b_amount}}</v-sheet
                                >
                                <v-sheet color="transparent" min-width="100" class="text-16 textGray--text text-truncate"
                                    >{{listOptions.statusOptions()[item.trade_status]}}</v-sheet
                                >
                                <v-sheet color="transparent" min-width="130" class="text-16 textGray--text text-truncate"
                                    >{{item.updated_at.replace(/^\d{4}-/, "")}}</v-sheet
                                >
                            </v-sheet>
                        </v-sheet>
                    </v-sheet>
                </template>
                <ListNodata v-if="pageData.list.length == 0" height="411" />
                <v-spacer />
                <v-pagination
                    class="mx-auto mb-2"
                    v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                    v-model="pageData.pageInfo.pageCurrent"
                    :length="pageData.pageInfo.pageCount"
                    @input="onPageChange"
                ></v-pagination>
            </v-card-text>
        </v-card>
    </template>

    <template v-else>
        <v-card class="d-flex flex-column" color="bgColor">
            <!-- 手机显示方式 -->
            <LoadMore1
                @onRefresh="onRefresh"
                @onLoad="onLoad"
                :finished="pageData.finished"
                :is_needfinishedtext="pageData.list.length == 0"
            >
                <template v-slot:top>
                    <com-dialog-title title="交易记录" @onClose="onClose" />
                </template>

                <ListNodata v-if="pageData.list.length == 0" />
                <v-sheet id="mobile_main" color="transparent" class="overflow-y-auto px-2 mt-2">
                    <v-sheet
                        class="px-3 py-2 my-3 textGray--text rounded10"
                        v-for="(item, key) of pageData.list"
                        color="bgBanner"
                        :key="key"
                    >
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("交易ID")}}</div>
                            <div>{{ item.order_no }}</div>
                        </div>
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("兑换币种")}}</div>
                            <div>{{ item.coin_a }}</div>
                        </div>
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("获得币种")}}</div>
                            <div>{{ item.coin_b }}</div>
                        </div>
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("兑换数量")}}</div>
                            <div>{{ item.coin_a_amount }}</div>
                        </div>
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("获得数量")}}</div>
                            <div>{{ item.coin_b_amount }}</div>
                        </div>
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("状态")}}</div>
                            <div>{{ listOptions.statusOptions()[item.trade_status] }}</div>
                        </div>
                        <div class="d-flex justify-space-between moble_height">
                            <div class="primary--text">{{LangUtil("时间")}}</div>
                            <div>{{ item.updated_at.replace(/^\d{4}-/, "") }}</div>
                        </div>
                    </v-sheet>
                </v-sheet>
            </LoadMore1>
        </v-card>
    </template>

    <Overlay v-model="pageData.loading" />
</v-dialog>
