<v-sheet flat color="transparent" width="100%" height="100%">
    <v-menu content-class="menu" offset-y nudge-bottom="4" activator>
        <template v-slot:activator="{ on, attrs }">
            <div v-bind="attrs" v-on="on">
                <v-sheet class="align-center d-flex  rounded10 pr-3 money_class" color="water_bg" 
                    :class="is_center ? 'justify-center' : 'justify-space-between'"
                    :min-height="items_min_height" width="100%" height="100%" v-if="goldInfoData[coin_name_unique]">
                    <v-img class="ml-2" v-if="is_show_coin_icon"
                        :src="GamePlatConfig.config.plat_coins[coin_name_unique] && GamePlatConfig.config.plat_coins[coin_name_unique].icon"
                        :max-width="img_size" :max-height="img_size"></v-img>
                    <div v-if="is_need_coin_name" class="ml-2" :class="coin_class">
                        {{coin_name_unique}}
                    </div>
                    <div v-if="is_show_money" :class="detail_class">
                        <span v-if="inside_str"> {{LangUtil(inside_str)}}</span>
                        {{goldInfoData[coin_name_unique].sum_money}}
                    </div>
                    <svg-icon icon="arrow_down_2" class="textGray--text ml-2 text-14"
                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'" />
                </v-sheet>
                <div class="mask" v-if="attrs['aria-expanded'] == 'true'"></div>
            </div>
        </template>
        <v-sheet color="water_bg" class="rounded10 d-flex flex-column justify-center px-1">
            <template v-for="(item, key) of goldInfoData">
                <v-sheet class="align-center d-flex justify-space-between rounded-lg cursor-pointer py-1 mb-2"
                    :class="coin_name_unique == key ? 'select-shadow' : 'listitem'" :min-height="items_min_height"
                    color="transparent" width="100%" :key="key" @click="onItemClick(key)">

                    <v-img v-if="is_show_coin_icon" class="ml-1 mr-2" :src="GamePlatConfig.config.plat_coins[key].icon" :max-width="img_size"
                        :max-height="img_size">
                    </v-img>

                    <div v-if="is_need_coin_name" class="ml-2" :class="coin_class">
                        {{key}}
                    </div>

                    <div v-if="is_show_money" :class="detail_class">
                        <span v-if="inside_str"> {{LangUtil(inside_str)}}</span>
                        {{item.sum_money }}
                    </div>
                    <svg-icon icon="arrow_down_2" class="textGray--text ml-1 text-14" style="opacity: 0;"></svg-icon>
                </v-sheet>
            </template>
        </v-sheet>
    </v-menu>

</v-sheet>