@import "@/style/params.scss";
.password-operate {
    margin: 8px 0 40px;
    display: flex;
    justify-content: space-between;
    //color: $color-info;
    font-size: 12px;
    line-height: 16px;
}

.arrow {
    transform: rotate(0deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
::v-deep.v-text-field--outlined fieldset {
    color: #314361 !important;
}

::v-deep.v-input--dense {
    margin: 0 !important;
    padding: 0 !important;
}
::v-deep.v-input .v-label {
    font-size: 14px;
    // margin-left: -8px;
    // color: #4c5d7f;
}
// ::v-deep .v-icon.v-icon {
//     color: #4c5d7f;
// }
.codeSelect {
    width: 56px;
    ::v-deep .v-input input {
        color: #FFCD43;
        font-size: 14px;
        font-weight: 600;
        padding: 0 0 !important;
    }
   
    ::v-deep .theme--dark.v-icon {
        color: #8E8F91;
    }

    ::v-deep .v-label {
        color: #FFCD43;
        font-size: 14px;
        font-weight: 600;
    }

    ::v-deep .theme--dark {
        .v-list {
            background: #272828;
            border-radius: 10px !important;
        }
    }
    ::v-deep .theme--light {
        .v-list {
            background: #fff;
            border-radius: 10px !important;
        }
    }
    ::v-deep .v-autocomplete.v-input>.v-input__control>.v-input__slot{
        padding: 0;
    }
    .mytest {
        min-width: 200px !important;
    }
}

.icon_mob{
    ::v-deep .v-icon.v-icon{
        font-size: 20px;
    }
}

