<v-dialog v-if="!pageData.bHidden" width="unset" v-model="pageData.bShow" overlay-opacity="0.6" :fullscreen="$xsOnly" persistent>
    <v-card v-if="!$xsOnly" class="d-flex rounded10" color="bgBanner">
        <AdvertiseInLogin :height="600" :width="300" class="d-none d-md-flex" />
        <v-card color="transparent" width="350">
            <com-dialog-title :title="forgetData.bShow ? '找回密码' : '登录'" @onClose="onClose" />
            <v-divider class="mb-2" />

            <!-- 找回密码 -->
            <v-card-text v-if="forgetData.bShow" class="px-5 mt-2">
                <div class="d-flex mb-5">
                    <v-btn-toggle mandatory group v-model="typechange" @change="onTimeChange">
                        <v-btn v-if="checkValidateType(1)" class="rounded-pill mr-2" height="36" width="110">
                            <span class="text-14"> {{LangUtil("邮箱找回")}} </span>
                        </v-btn>
                        <v-btn v-if="checkValidateType(2)" class="rounded-pill mr-2" height="36" width="110">
                            <span class="text-14"> {{LangUtil("手机找回")}} </span>
                        </v-btn>
                    </v-btn-toggle>
                </div>

                <CustomInput
                    v-if="forgetData.form.type == 2"
                    class="mb-6"
                    icon="mdi-email"
                    :placeholder="LangUtil('请输入邮箱')"
                    v-model="forgetData.form.username"
                >
                    <btn-yellow
                        class="ml-auto text-14"
                        min_width="80"
                        height="36"
                        :btn_type="4"
                        :disabled="((!checkMail(forgetData.form.username)) || isdeisable)"
                        @click.native="sendVerithMail"
                        >{{verityString}}</btn-yellow
                    >
                </CustomInput>

                <CustomInput
                    v-else
                    class="mb-6"
                    icon="mdi-phone"
                    type="tel"
                    :placeholder="LangUtil('请输入手机号')"
                    v-model="forgetData.form.username"
                >
                    <template v-slot:pre>
                        <v-sheet color="transparent" class="codeSelect">
                            <v-autocomplete
                                class="ml-1"
                                v-model="tempSelectCode"
                                :items="areaCodeArr"
                                item-text="area_code"
                                :label="curShowCode"
                                hide-details
                                solo
                                flat
                                background-color="transparent"
                                attach
                                return-object
                                :no-data-text="LangUtil('没有更多数据')"
                                :filter="customFilter"
                            >
                                <template v-slot:item="data">
                                    <v-sheet color="transparent" width="100%" class="d-flex justify-space-between colorText2--text text-14">
                                        <div>{{data.item.area_code}}</div>
                                        <div>{{data.item.name}}</div>
                                    </v-sheet>
                                </template>
                            </v-autocomplete>
                        </v-sheet>
                        <v-menu
                            v-if="false"
                            v-model="areaCodeMenu"
                            offset-y
                            :close-on-content-click="false"
                            nudge-bottom="20"
                            nudge-left="38"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <div class="d-flex colorInfo--text" v-bind="attrs" v-on="on">
                                    <div class="textYellow--text mx-2">+{{forgetData.form.area_code}}</div>
                                    <div
                                        class="icon-box iconfont text-18 mr-2"
                                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                    >
                                        
                                    </div>
                                    <div class="text-20">|</div>
                                </div>
                            </template>
                            <v-sheet class="pa-3 rounded-lg" color="colorPanelTitleBg" width="400">
                                <v-text-field
                                    class="rounded-pill"
                                    outlined
                                    dense
                                    prepend-inner-icon="mdi-database-search-outline"
                                    hide-details
                                    v-model="areaCodeSearch"
                                    @input="onAreaCodeInput"
                                ></v-text-field>

                                <v-list dense color="colorPanelTitleBg">
                                    <v-list-item-group>
                                        <v-list-item
                                            v-for="(item, index) of areaCodeList"
                                            :key="index"
                                            class="textGray--text"
                                            @click="onItemAreaCode(item)"
                                        >
                                            <div>{{item.name}}</div>
                                            <v-spacer />
                                            <div>+{{item.area_code}}</div>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-sheet>
                        </v-menu>
                    </template>
                    <btn-yellow
                        class="ml-auto text-14"
                        min_width="80"
                        height="36"
                        :btn_type="4"
                        :disabled="!checkPhone(forgetData.form.username) || isdeisable"
                        @click.native="sendVerithMobile"
                        >{{verityString}}</btn-yellow
                    >
                </CustomInput>

                <CustomInput
                    class="mb-6"
                    icon="mdi-shield-check"
                    :placeholder="LangUtil('请输入验证码')"
                    type="tel"
                    v-model="forgetData.form.verify_code"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="forgetData.form.password"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('密码确认')"
                    v-model="forgetData.form.password_confirm"
                />
                <!-- <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedForget" block @click="onSubmitForget">
                    {{LangUtil("提交")}}
                </v-btn> -->

                <btn-yellow class="text-16" width="100%" height="36" :disabled="!isCheckedForget" @click.native="onSubmitForget"
                    >{{LangUtil("提交")}}</btn-yellow
                >
            </v-card-text>
            <!-- 登录 -->
            <v-card-text v-else class="px-5 mt-5">
                <CustomInput
                    class="mb-6"
                    icon="mdi-account"
                    :placeholder="LangUtil('请输入账号/手机号/邮箱')"
                    v-model="pageData.form.username"
                />
                <CustomPassword icon="mdi-lock" :placeholder="LangUtil('请输入密码（6-20位）')" v-model="pageData.form.password" />
                <div class="password-operate textGray--text">
                    <v-checkbox
                        v-model="pageData.remember"
                        :label="LangUtil('记住密码')"
                        color="textYellow"
                        dense
                        hide-details
                    ></v-checkbox>
                    <div class="text-14 mt-1 cursor-pointer" @click="goForget">{{LangUtil("忘记密码")}}？</div>
                </div>
                <!-- <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedLogin" block @click="onSubmitLogin"
                    >{{LangUtil("登录")}}</v-btn> -->
                <btn-yellow class="text-16 mt-10" width="100%" height="36" :disabled="!isCheckedLogin" @click.native="onSubmitLogin"
                    >{{LangUtil("登录")}}</btn-yellow
                >

                <div v-if="GlobalVar.instance.isShowRegiter" class="textGray--text mt-4">
                    {{LangUtil("还没有账户？")}}
                    <button class="textYellow--text" @click="goRegister">{{LangUtil("去注册")}}</button>
                </div>
            </v-card-text>
        </v-card>
    </v-card>

    <!-- 手机版 -->
    <v-card v-else color="bgColor" class="rounded-0">
        <com-dialog-title :title="forgetData.bShow ? '找回密码' : '登录'" @onClose="onClose" />

        <!-- 找回密码 -->
        <v-card-text v-if="forgetData.bShow" class="px-2 mt-3">
            <div class="d-flex mb-3">
                <v-btn-toggle mandatory group v-model="typechange" @change="onTimeChange">
                    <v-btn class="rounded-pill mr-2" height="30" width="78">
                        <span class="text-12"> {{LangUtil("邮箱找回")}} </span>
                    </v-btn>
                    <v-btn class="rounded-pill mr-2" height="30" width="78">
                        <span class="text-12"> {{LangUtil("手机找回")}} </span>
                    </v-btn>
                </v-btn-toggle>
            </div>

            <v-sheet color="bgBanner" class="px-4 py-4 rounded10 mx-1 icon_mob">
                <CustomInput
                    v-if="forgetData.form.type == 2"
                    class="mb-4"
                    icon="mdi-email"
                    :placeholder="LangUtil('请输入邮箱')"
                    v-model="forgetData.form.username"
                >
                    <btn-yellow
                        class="ml-auto text-14"
                        min_width="80"
                        height="36"
                        :btn_type="4"
                        :disabled="((!checkMail(forgetData.form.username)) || isdeisable)"
                        @click.native="sendVerithMail"
                        >{{verityString}}</btn-yellow
                    >
                </CustomInput>

                <CustomInput
                    v-else
                    class="mb-4"
                    icon="mdi-phone"
                    type="tel"
                    :placeholder="LangUtil('请输入手机号')"
                    v-model="forgetData.form.username"
                >
                    <template v-slot:pre>
                        <v-sheet color="transparent" class="codeSelect" min-width="60">
                            <v-autocomplete
                                class="ml-1"
                                v-model="tempSelectCode"
                                :items="areaCodeArr"
                                item-text="area_code"
                                :label="curShowCode"
                                hide-details
                                solo
                                flat
                                background-color="transparent"
                                attach
                                return-object
                                :no-data-text="LangUtil('没有更多数据')"
                                :filter="customFilter"
                            >
                                <template v-slot:item="data">
                                    <v-sheet color="transparent" width="100%" class="d-flex justify-space-between colorText2--text text-14">
                                        <div>{{data.item.area_code}}</div>
                                        <div>{{data.item.name}}</div>
                                    </v-sheet>
                                </template>
                            </v-autocomplete>
                        </v-sheet>
                        <v-menu
                            v-if="false"
                            v-model="areaCodeMenu"
                            offset-y
                            :close-on-content-click="false"
                            nudge-bottom="20"
                            nudge-left="200"
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <div class="d-flex colorInfo--text" v-bind="attrs" v-on="on">
                                    <div class="textYellow--text mx-2">+{{forgetData.form.area_code}}</div>
                                    <div
                                        class="icon-box iconfont text-18 mr-2"
                                        :class="attrs['aria-expanded'] == 'true' ? 'arrow-show' : 'arrow'"
                                    ></div>
                                    <div class="text-20">|</div>
                                </div>
                            </template>
                            <v-sheet class="pa-3 rounded-lg" color="colorPanelTitleBg" width="400">
                                <v-text-field
                                    class="rounded-pill"
                                    outlined
                                    dense
                                    prepend-inner-icon="mdi-database-search-outline"
                                    hide-details
                                    v-model="areaCodeSearch"
                                    @input="onAreaCodeInput"
                                ></v-text-field>

                                <v-list dense color="colorPanelTitleBg">
                                    <v-list-item-group>
                                        <v-list-item
                                            v-for="(item, index) of areaCodeList"
                                            :key="index"
                                            class="textGray--text"
                                            @click="onItemAreaCode(item)"
                                        >
                                            <div>{{item.name}}</div>
                                            <v-spacer />
                                            <div>+{{item.area_code}}</div>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-sheet>
                        </v-menu>
                    </template>

                    <btn-yellow
                        class="ml-auto text-14"
                        min_width="80"
                        height="36"
                        :btn_type="4"
                        :disabled="!checkPhone(forgetData.form.username) || isdeisable"
                        @click.native="sendVerithMobile"
                        >{{verityString}}</btn-yellow
                    >
                </CustomInput>

                <CustomInput
                    class="mb-4"
                    icon="mdi-shield-check"
                    :placeholder="LangUtil('请输入验证码')"
                    type="tel"
                    v-model="forgetData.form.verify_code"
                />
                <CustomPassword
                    class="mb-4"
                    icon="mdi-lock"
                    :placeholder="LangUtil('请输入密码（6-20位）')"
                    v-model="forgetData.form.password"
                />
                <CustomPassword
                    class="mb-6"
                    icon="mdi-lock"
                    :placeholder="LangUtil('密码确认')"
                    v-model="forgetData.form.password_confirm"
                />
                <!-- <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedForget" block @click="onSubmitForget">
                    {{LangUtil("提交")}}
                </v-btn> -->

                <btn-yellow class="text-14 my-2" width="100%" height="36" :disabled="!isCheckedForget" @click.native="onSubmitForget"
                    >{{LangUtil("提交")}}</btn-yellow
                >
            </v-sheet>
        </v-card-text>
        <!-- 登录 -->
        <v-sheet v-else class="px-5 mx-2 py-4 mt-2 rounded10 shadow-0" color="bgBanner">
            <CustomInput
                class="mb-5"
                icon="mdi-account"
                :placeholder="LangUtil('请输入账号/手机号/邮箱')"
                v-model="pageData.form.username"
            />
            <CustomPassword icon="mdi-lock" :placeholder="LangUtil('请输入密码（6-20位）')" v-model="pageData.form.password" />
            <div class="password-operate textGray--text">
                <v-checkbox v-model="pageData.remember" :label="LangUtil('记住密码')" color="textYellow" dense hide-details></v-checkbox>
                <div class="text-14 mt-1 cursor-pointer" @click="goForget">{{LangUtil("忘记密码")}}？</div>
            </div>
            <!-- <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isCheckedLogin" block @click="onSubmitLogin"
                    >{{LangUtil("登录")}}</v-btn> -->
            <btn-yellow class="text-14 mt-10" width="100%" height="36" :disabled="!isCheckedLogin" @click.native="onSubmitLogin"
                >{{LangUtil("登录")}}</btn-yellow
            >

            <div v-if="GlobalVar.instance.isShowRegiter" class="arrow_color--text text-center mt-4 text-12">
                {{LangUtil("还没有账户？")}}
                <button class="textYellow--text" @click="goRegister">{{LangUtil("去注册")}}</button>
            </div>
        </v-sheet>
    </v-card>

    <Overlay v-model="pageData.loading" />
</v-dialog>
