<v-dialog width="854" v-model="pageData.bShow" overlay-opacity="0.6" :fullscreen="$vuetify.breakpoint.xsOnly">
    <v-card color="colorPanelBg" class="d-flex">
        <AdvertiseInLogin :height="794" class="d-none d-md-flex" />
        <v-card color="transparent" width="488">
            <v-card-title class="d-flex justify-end pb-0">
                <v-btn icon @click="onClose">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text class="px-10 mt-5">
                <div class="mt-n12 mb-8 ml-2 font-weight-medium colorBlue--text text-16">账号注册</div>
                <CustomInput class="mb-8" icon="mdi-account" placeholder="请输入推存人（选填）" v-model="form.invite_user_id" />
                <CustomInput class="mb-8" icon="mdi-account" placeholder="请输入邮箱" v-model="form.email">
                    <v-btn class="text-12" color="colorBtnBg" small :disabled="!checkMail(form.email)" @click="getCode">获取验证码</v-btn>
                </CustomInput>
                <CustomInput class="mb-8" icon="mdi-lock" placeholder="请输入密码" type="password" v-model="form.password" />
                <CustomInput class="mb-8" icon="mdi-lock" placeholder="确认密码" type="password" v-model="form.password_confirm" />
                <CustomInput icon="mdi-shield-check" placeholder="请输入验证码" v-model="form.email_code" />
                <div class="text-13 tips-box mt-1 mb-8">
                    注册即代表您已阅读并同意
                    <button class="tips-box_blue" type="button" @click="goService">《服务协议》</button>
                </div>
                <v-btn class="rounded-lg" color="#6fa9fa" height="48" :disabled="!isCheck" block @click="onRegister">注册</v-btn>
                <div class="tips-box">已有账户?<button class="tips-box_org" @click="goLogin">去登录</button></div>

                <div class="loginByGoogle mt-5 mb-5">
                    <div class="d-flex align-center">
                        <v-divider />
                        <div class="loginTip">或使用以下方式快速登录</div>
                        <v-divider />
                    </div>
                    <ul class="loginWrap">
                        <li class="mr-4">
                            <button class="loginBtn" disabled="">
                                <img src="https://hx1web.hstax1tic.com/static/media/Google.b3a2db02.svg" alt="" />Google
                            </button>
                        </li>
                        <li>
                            <button class="loginBtn">
                                <img src="https://hx1web.hstax1tic.com/static/media/Metamask.7cc94b04.svg" alt="" />Metamask
                            </button>
                        </li>
                    </ul>
                </div>
            </v-card-text>
        </v-card>
    </v-card>
</v-dialog>
