.colorPanelBgVer{
    background-image: linear-gradient(170deg, #6432C4 0%, #140673 100%);
}

.gradient-bg-tran {
    height: 70px;
    background-color: transparent;
    text-align: center;
}

.verity-ip{
    border-width: 0;
    background-color: rgba(0, 0, 0, 0.15);
}

.on-verity-bg{
    background-image: linear-gradient(270deg, #CD30C1, #215ED6);
}