<v-dialog v-if="!pageData.bHidden" width="596" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$mobile" persistent :transition="$mobile ? 'mobile-slide-x-transition' :''">
    <template v-if="!$mobile">
        <v-card class="rounded10 pb-5" color="bgBanner">
            <!-- <v-card-title class="gradient-bg d-flex justify-center" v-if="!$mobile">
                <div class="text-20">{{LangUtil("服务条款")}}</div>
    
                <v-btn icon @click="onClose">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-card-title> -->
            <com-dialog-title title="服务条款" @onClose="onClose" />

            <v-divider class="mb-2" />
            <v-sheet class="overflow-y-auto mx-4 text-wrapper" color="transparent" height="500">{{LangUtil("服务条款内容")}} </v-sheet>
        </v-card>
    </template>
    <template v-else>
        <v-card class="" color="bgBanner">
            <!-- <v-card-title class="d-flex justify-center pt-5 gradient-bg">
                <div class="ml-5 font-weight-medium  text-18">{{LangUtil("服务条款")}}</div>

                <v-btn class="mr-2" icon @click="onClose">
                    <v-icon >mdi-close</v-icon>
                </v-btn>
            </v-card-title> -->
            <com-dialog-title title="服务条款" @onClose="onClose" />

            <v-card-text>
                <v-sheet class="overflow-auto mx-2 text-wrapper overflow_test" color="transparent"> {{LangUtil("服务条款内容")}}</v-sheet>
            </v-card-text>
        </v-card>
    </template>
</v-dialog>
