<v-dialog width="860" height="670" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg d-flex" color="colorPanelBg">
        <AdvertiseInLogin :height="670" class="d-none d-md-flex" />
        <v-card color="transparent" width="494">
            <v-card-title class="d-flex justify-end pb-0 gradient-bg">
                <div class="text-18">{{LangUtil("个人中心")}}</div>
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon large>mdi-close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text class="px-10 mt-7 text-sm-subtitle-1 text_height">
                <div class="d-flex justify-space-between">
                    <span class="d-flex mb-5 colorBlue--text">
                        <v-icon class="mr-2" color="colorInfo">mdi-account</v-icon>ID
                    </span>
                    <span class="colorText1--text">{{userInfo.user_id}}<v-icon class="mr-2" color="colorInfo">mdi-account</v-icon></span>
                </div>
                <div class="d-flex justify-space-between">
                    <span class="d-flex mb-5 colorBlue--text">
                        <v-icon class="mr-2" color="colorInfo">mdi-account-edit</v-icon>昵称
                    </span>
                    <span class="colorText1--text">{{userInfo.nick_name != userInfo.user_id? userInfo.nick_name : '未设置'}}<v-icon class="mr-2" color="colorInfo">mdi-account</v-icon></span>
                </div>
                <div class="d-flex justify-space-between">
                    <span class="d-flex mb-5 colorBlue--text">
                        <v-icon class="mr-2" color="colorInfo">mdi-account-star</v-icon>VIP等级
                    </span>
                    <span class="colorText1--text">{{userInfo.vip_info.vip_level}}<v-icon class="mr-2" color="colorInfo">mdi-account</v-icon></span>
                </div>
                <div class="d-flex justify-space-between">
                    <span class="d-flex mb-5 colorBlue--text">
                        <v-icon class="mr-2" color="colorInfo">mdi-cellphone</v-icon>手机
                    </span>
                    <span class="colorText1--text">{{userInfo.phone != "" && userInfo.phone != undefined? userInfo.phone : '未设置'}}<v-icon class="mr-2" color="colorInfo">mdi-account</v-icon></span>
                </div>
                <div class="d-flex justify-space-between">
                    <span class="d-flex mb-5 colorBlue--text">
                        <v-icon class="mr-2" color="colorInfo">mdi-email</v-icon>邮箱
                    </span>
                    <span class="colorText1--text">{{userInfo.email != "" && userInfo.email != undefined? userInfo.email : '未设置'}}<v-icon class="mr-2" color="colorInfo">mdi-account</v-icon></span>
                </div>
                <div class="d-flex justify-space-between">
                    <span class="d-flex mb-5 colorBlue--text">
                        <v-icon class="mr-2" color="colorInfo">mdi-lock</v-icon>交易密码
                    </span>
                    <span class="colorText1--text"><v-icon class="mr-2" color="colorInfo">mdi-account</v-icon></span>
                </div>
            </v-card-text>
            <v-card-actions class="px-10 d-flex align-end">
                <v-btn block color="colorBtnBg" @click="onLoginOut" height="50">{{LangUtil('退出登录')}}</v-btn>
            </v-card-actions>
        </v-card>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
