.marqueeIcon {
    font-size: 24px;
    @media (max-width: 700px) {
        font-size: 20px;
    }
}
.all-rights-reserved {
    font-size: 12px;
    color: #C1C1C1;
    text-align: center;
    font-weight: 500;
}
.website-info {
    color: #C1C1C1;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    padding: 24px 0 0 0;
    max-width: 1420px;
    margin: 0 auto;
}