<!-- <v-dialog
    v-model="pageData.bShow"
    width="$vuetify.breakpoint.width/2"
    :retain-focus="false"
    :fullscreen="$vuetify.breakpoint.xsOnly ? true:false"
    content-class="activity-detail"
    persistent
>
    <v-card color="transparent" class="d-flex align-center justify-center">
        <img v-if="$vuetify.breakpoint.xsOnly" width="100%" :src="pageData.data.link_url" />
        <img v-else class="imgage" :src="pageData.data.link_url" style="height:100vh;width:auto;" />
    </v-card>
    <v-btn class="btn-close" icon @click="onClose">
        <v-icon large>mdi-close</v-icon>
    </v-btn>
</v-dialog> -->

<v-dialog width="80%" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly"
    persistent>
    <v-card class="rounded-lg d-flex flex-column sheet-bg">
        <!-- pc显示方式 -->
        <v-card-title class="px-8" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="text-18">{{LangUtil("精彩活动")}}</div>
            <v-spacer />
            <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-8" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="text-16 white--text mt-2 mb-4">{{ pageData.data.activity_name }}</div>
            <v-sheet color="transparent" width="100%" class="px-5 overflow-y-auto" style="height: calc(100% - 90px);">
                <div class="" v-html="pageData.data.link_url"></div>
            </v-sheet>
        </v-card-text>
        <!-- 手机显示方式 -->
        <v-card-text class="pb-0 px-0 header-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="d-flex align-center px-5 pt-5 pb15">
                <div class="font-weight-medium white--text text-17">{{LangUtil("精彩活动")}}</div>
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon color="colorCloseBtn">mdi-close</v-icon>
                </v-btn>
            </div>
        </v-card-text>
        <v-card-text v-if="$vuetify.breakpoint.xsOnly" class="px-5 overflow-auto"
            style="padding-bottom: 90px;height: 90vh;">
            <div class="text-15 white--text mb-4">{{ pageData.data.activity_name }}</div>
            <v-sheet color="transparent" width="100%" class="overflow-y-auto">
                <div class="" v-html="pageData.data.link_url"></div>
            </v-sheet>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>