a {
    text-decoration: none;
}
::v-deep .v-toolbar__content {
    padding: 0px;
}
.nav-button {
    display: flex;
    padding: 0 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    transition: color 0.2s ease-in-out;
    color: #BEBEBE;
    white-space: nowrap;
    height: 48px;
    svg {
        max-height: 22px;
        max-width: 22px;
        transition: all 0.2s ease-in-out;
        margin-right: 4px;
        fill: #BEBEBE;
    }
    i {
        color: #BEBEBE;
    }
}
.nav-button.active {
    //border-radius: 8px;
    color: #D02728;
    background-image: linear-gradient(to bottom,transparent 98%, #D02728 98%, #D02728 100%);

    svg {
        fill: #D02728;
    }
    i {
        color: #D02728;
    }
}
.nav-button:hover {
    //border-radius: 8px;
    color: #D02728;
    //background-image: linear-gradient(to bottom,transparent 99%, #D02728 99%, #D02728 100%);

    svg {
        fill: #D02728;
    }
    i {
        color: #D02728;
    }
}

.app-bar {
    background: url("~@/_skin003/assets/header/wenli.png") no-repeat left top;
}
.language{
    ::v-deep .colorPanelTitleBg {
        background-color: transparent !important;
    }
}
