.v-card--link,
.v-card--link .v-chip {
    cursor: revert;
}
.v-card--outlined:focus,
.v-card--outlined:active,
.v-card--outlined:hover {
    box-shadow: none;
}
.v-card--link:focus:before {
    opacity: 0;
}
::v-deep .v-dialog:not(.v-dialog--fullscreen) {
    // max-height: calc(100% - 200px);
    margin: 24px 0px !important;
}
