<v-dialog width="1200" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.mobile"
    persistent>
    <v-card class="rounded-lg d-flex flex-column" color="colorPanelBg">
        <!-- pc显示方式 -->
        <template v-if="!$vuetify.breakpoint.mobile">
            <v-card-title class="gradient-bg">
                <div class="text-rwd-18 font-weight-regular">{{LangUtil("代理管理")}}</div>
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-card-title>
            <v-card-text class="px-5">
                <div class="d-flex flex-wrap justify-space-between mb-2">
                    <div class="colorText1--text text-rwd-16 ml-3 d-flex align-center">
                        <div v-if="limitinfo.enable_all == 1">
                            <v-btn v-if="limitinfo.is_credit_user == 1" class="btn_font rounded-lg"
                                color="colorTextBlueLight4" width="115" height="30" elevation="0"
                                @click="handlerShowAddUser">
                                {{LangUtil("添加用户") }}</v-btn>
                        </div>
                        <template v-if="invite_user_id!=0">
                            <div class="ml-3 colorTextBlueLight2--text">{{LangUtil("上级ID")}}</div>
                            <div class="ml-3 colorDialogInfo--text">{{ invite_user_id }}</div>
                        </template>
                        <div class="ml-3 colorTextBlueLight2--text">{{LangUtil("直属玩家数量")}}</div>
                        <div class="ml-3 colorDialogInfo--text">{{ pageData.pageInfo.pageTotal }}</div>
                    </div>
                    <div class="d-flex align-center ml-auto mr-4">
                        <v-btn class="rounded-lg btn_font mr-2"
                            color="colorTextBlueLight4" width="115" height="30" elevation="0" @click="opendialog_my">
                            {{LangUtil("推广") }}</v-btn>
                        <template >
                            <v-btn class="rounded-lg btn_font"
                                color="colorTextBlueLight4" width="115" height="30" elevation="0"
                                @click="handlerShowCreditTable">
                                {{LangUtil("信用报表") }}</v-btn>
                        </template>
                    </div>
                    <div class="search">
                        <CustomInput height="41" :placeholder="LangUtil('输入查询ID/备注/账号')" v-model="pageData.search">
                            <v-btn class="rounded-lg"
                                :color="pageData.buttonActive ? 'colorTextBlueLight4' : 'colorExtensionBtn2'"
                                min-width="61" height="30" @click="search">
                                <span :class="pageData.buttonActive ? 'white--text': ''">{{ LangUtil("查询") }}</span>
                            </v-btn>
                        </CustomInput>
                    </div>

                </div>
                <v-sheet class="d-flex align-center justify-space-around rounded-pill px-1 text-14" height="38"
                    color="#16233F">
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="115">
                        {{LangUtil("注册时间")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="80">
                        {{LangUtil("用户ID")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="100">
                        {{LangUtil("用户账号")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="80">
                        {{LangUtil("用户昵称")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="115">
                        {{LangUtil("直属备注")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="80">
                        {{LangUtil("代理占成")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="80">
                        {{LangUtil("状态")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="80">
                        {{LangUtil("直属人数")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="80">
                        {{LangUtil("团队人数")}}</v-sheet>
                    <v-sheet class="d-flex justify-center colorBlue1--text" color="transparent" min-width="270">
                        {{LangUtil("")}}</v-sheet>

                </v-sheet>

                <v-sheet v-if="pageData.list.length>0" color="transparent" height="450" class="scroll-y">
                    <v-sheet class="d-flex align-center justify-space-around rounded-pill px-1 mt-2 text-14" height="38"
                        color="#16233F" v-for="(item, key) in pageData.list" :key="key">

                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="115">
                            {{item.binded_at.replace(/^\d{4}-/,"")}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="80">
                            {{item.user_id}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="100">
                            {{item.username}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="80">
                            {{item.nick_name}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="115">
                            {{item.remark ? item.remark : LangUtil("-")}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorDialogInfo--text" color="transparent" min-width="80">
                            {{ item.credit_rate}}
                            <span v-if="item.credit_rate!='-'">%</span>
                        </v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="80">
                            {{item.status == 1? LangUtil("正常"):LangUtil("关闭")}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="80">
                            {{item.directly_users}}</v-sheet>
                        <v-sheet class="d-flex justify-center colorBlue--text" color="transparent" min-width="80">
                            {{item.group_users}}</v-sheet>

                        <v-sheet id="touzhu_node_parent" class="d-flex justify-center colorBlue--text"
                            color="transparent" min-width="270">
                            <v-btn class="btn_font rounded-lg" color="colorBtnBg" height="30" min-width="100"
                                elevation="0" @click="handlerShowDialogSet(item)">{{LangUtil("设置") }}</v-btn>
                            <v-btn id="touzhu_node" class="btn_font rounded-lg ml-2" color="colorBtnBg" height="30"
                                elevation="0" @click="handlerShowBetRecord(item.user_id)">{{LangUtil("投注记录") }}</v-btn>
                        </v-sheet>

                    </v-sheet>
                </v-sheet>
                <ListNodata v-if="pageData.list.length == 0" height="411" />
                <v-spacer />
                <v-pagination class="mx-auto mb-2" v-if="pageData.pageInfo.pageCount > 1"
                    v-model="pageData.pageInfo.pageCurrent" :length="pageData.pageInfo.pageCount" @input="onPageChange">
                </v-pagination>
            </v-card-text>
        </template>
        <!-- 手机显示方式 -->
        <template v-else>
            <v-card-text class="pb-3 px-0 header-mobile">
                <div class="gradient-bg d-flex align-center px-5">
                    <div class="text-18">{{LangUtil("代理管理")}}</div>
                    <v-spacer />
                    <v-btn icon @click="onClose">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </div>
                <div class="d-flex flex-column mb-2">
                    <div class="colorText1--text text-rwd-16 ml-3 d-flex align-center">
                        <template v-if="invite_user_id!=0">
                            <div class="ml-3 colorTextBlueLight2--text">{{LangUtil("上级ID")}}</div>
                            <div class="ml-3 colorDialogInfo--text">{{ invite_user_id }}</div>
                        </template>
                        <div class="ml-3 colorTextBlueLight2--text">{{LangUtil("直属玩家数量")}}</div>
                        <div class="ml-3 colorDialogInfo--text">{{ pageData.pageInfo.pageTotal }}</div>
                    </div>
                    <div class="search_mobiel px-5 mt-2">
                        <CustomInput height="41" :placeholder="LangUtil('输入查询ID/备注/账号')" v-model="pageData.search">
                            <v-btn class="rounded-lg"
                                :color="pageData.buttonActive ? 'colorTextBlueLight4' : 'colorExtensionBtn2'"
                                min-width="61" height="30" @click="search">
                                <span :class="pageData.buttonActive ? 'white--text': ''">{{ LangUtil("查询") }}</span>
                            </v-btn>
                        </CustomInput>
                    </div>
                </div>
                <div  class="d-flex justify-end pr-8">
                    <v-btn class="text-12 mr-3" color="colorTextBlueLight4" height="30" elevation="0"
                        @click="opendialog_my">
                        {{LangUtil("推广") }}</v-btn> 
                    <v-btn v-if="limitinfo.enable_all == 1" class="text-12 mr-3" color="colorTextBlueLight4" width="115" height="30" elevation="0"
                        @click="handlerShowAddUser">
                        {{LangUtil("添加用户") }}</v-btn>
                        
                    <v-btn  class="text-12" color="colorTextBlueLight4" width="115" height="30" elevation="0"
                        @click="handlerShowCreditTable">
                        {{LangUtil("信用报表") }}</v-btn>
                </div>

            </v-card-text>

            <v-card-text class="px-5">
                <LoadMore @onRefresh="onRefresh" @onLoad="onLoad" :finished="pageData.finished"
                    :class="limitinfo.enable_all == 1 ? 'listbox_2-mobile' :'listbox-mobile'">
                    <ListNodata v-if="pageData.list.length == 0" />
                    <v-sheet class="px-3 py-2 rounded-lg my-3 colorBlue--text" color="#16233F"
                        v-for="(item, key) of pageData.list" :key="key">
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("注册时间")}}</div>
                            <div>{{ item.binded_at.replace(/^\d{4}-/, "") }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("用户ID")}}</div>
                            <div>{{ item.user_id }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("用户账号")}}</div>
                            <div>{{ item.username }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("用户昵称")}}</div>
                            <div>{{ item.nick_name }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("直属备注")}}</div>
                            <div>{{ item.remark ? item.remark : LangUtil("-")}}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("代理占成")}}</div>
                            <div class="colorDialogInfo--text">{{ item.credit_rate }}
                                <span v-if="item.credit_rate!='-'">%</span>
                            </div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("状态")}}</div>
                            <div>{{ item.status == 1? LangUtil("正常"):LangUtil("关闭") }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("直属人数")}}</div>
                            <div>{{ item.directly_users }}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="colorBlue1--text">{{LangUtil("团队人数")}}</div>
                            <div>{{ item.group_users }}</div>
                        </div>

                        <div class="d-flex justify-space-between" v-if="selfProxy.userInfo.is_credit_user == 1">
                            <div class="colorBlue1--text">{{LangUtil("状态")}}</div>
                            <div>{{ item.status == 1? LangUtil("正常"):LangUtil("关闭") }}</div>
                        </div>

                        <div class="d-flex justify-end">
                            <div class="mr-3">
                                <v-btn class="text-12" color="colorTextBlueLight4" width="115" height="30" elevation="0"
                                    v-if="selfProxy.userInfo.is_credit_user == 1" @click="handlerShowDialogSet(item)">
                                    {{LangUtil("设置") }}</v-btn>
                            </div>

                            <v-btn class="text-12" color="colorTextBlueLight4" width="115" height="30" elevation="0"
                                @click="handlerShowBetRecord(item.user_id)"
                                v-if="selfProxy.userInfo.is_show_agent_statistic == 1 || selfProxy.userInfo.is_credit_user == 1">
                                {{LangUtil("投注记录") }}</v-btn>
                        </div>
                    </v-sheet>
                </LoadMore>
            </v-card-text>
        </template>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>