@import "@/style/params.scss";
.bg {
    background-color: #16233b;
    // background-image: linear-gradient(175.8deg, #5199fd42 0%, #5199fd00 100px);
    background-image: linear-gradient(148deg, #6432c4 0%, #10045c 100%);
    text-align: center;
}

::v-deep.v-icon.v-icon {
    // color: #9db1d8 !important;
    color: #6d4fa7 !important;
}

.item {
    cursor: pointer;
    font-weight: 600;
    height: 50px;
    width: 100%;
    // color: $colorBlue;
    color: white;
    .item-img {
        display: block;
    }
    .item-img-white {
        display: none;
    }
}
.item:hover {
    color: white;
    i {
        color: white !important;
    }
    .icon-color {
        color: white !important;
    }
    .item-img {
        display: none;
    }
    .item-img-white {
        display: block;
    }
}
.item-group-title {
    cursor: pointer;
    height: 38px;
    width: 100%;
    color: $colorBlue;
    .arrow {
        font-weight: 600;
    }
}
.item1 {
    cursor: pointer;
    height: 38px;
    width: 100%;
    color: $colorBlue;
}
.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #9db1d8;
    box-sizing: border-box;
    position: relative;
    .img {
        display: none;
    }
}
.circle-active {
    border: 0px solid #9db1d8;
    .img {
        display: block;
    }
}
.vip-level-bg {
    background-color: #f6bb35;
    border-radius: 8px;
}
.ucenter-item-bg {
    user-select: none;
    background-color: rgba(0, 0, 0, 0.25);
}
.icon-color {
    color: #6d4fa7;
}
.login-out {
    width: 100%;
    height: 40px;
    background-image: linear-gradient(151deg, rgba(205, 48, 193, 0.8) 0%, rgba(33, 94, 214, 0.8) 100%);
    border-radius: 6px;
}
.pa15 {
    padding: 15px !important;
}
.pl14 {
    padding-left: 14px !important;
}
.ml085 {
    margin-left: 8.5px !important;
}
