<div style="display: flex; justify-content: center">
    <div
        class="default-color"
        style="
            background-color: #f1f1f1;
            margin-top: 8px;
            margin-bottom: 8px;
            padding-top: 8px;
            padding-bottom: 12px;
            font-size: 12px;
            width: 600px;
            min-width: 350px;
        "
    >
        <div class="d-flex align-center">
            <img src="@/_skin030/assets/order_detail/icon_blue.png" max-height="30" height="30" max-width="10" width="10" />
            <div style="margin-left: 8px; margin-top: 5px" class="text-14 font-weight-bold">{{item.tournament_name}}</div>
        </div>
        <div
            class="rounded order-content"
            style="
                background-color: #fff;
                margin: 12px, 0px;
                padding: 12px;
                margin-left: 12px;
                margin-right: 12px;
                margin-top: 8px;
                line-height: normal;
            "
        >
            <div class="d-flex text-14 top-text">
                <div>
                    <div class="font-weight-bold">{{item.option_name}}</div>
                    <div>{{item.market_name}}</div>
                    <div>
                        <span>{{item.match_name}}</span>
                        <span v-if="item.is_inplay && item.bet_score" style="color: #ff3e3e; margin-right: 8px" class="font-weight-bold">
                            {{LangUtil("足球滚球")}}({{item.bet_score.split(": ")[1]}})</span
                        >
                    </div>
                </div>
                <v-spacer />
                <div class="font-weight-bold" style="margin-right: 8px">@{{TransMarketPrice(item.bet_odds)}}</div>
            </div>

            <div style="margin-top: 8px; margin-bottom: 8px" class="custom-hr"></div>
            <div width="100%">
                {{LangUtil("订单状态")}}
                <!-- <span class="font-weight-bold">{{item.order_status}}</span> -->
                <span class="font-weight-bold" :style="{ 'color': statusMapColor[item.order_status]}"
                    >{{statusMap[item.order_status]}}</span
                >
            </div>
            <!-- <div v-if="item.order_status==3" class="font-weight-bold" :style="{ 'color': statusMapColor[item.order_status]} ">
                {{LangUtil('asdasd')}}</div> -->
            <div width="100%">
                {{LangUtil("投注金额")}}<span class="font-weight-bold"> {{item.currency}} {{amountFormat(item.stake_amount,true) }}</span>
            </div>
            <div width="100%" v-if="item.is_settle == 0">
                {{LangUtil("预计可赢")}}
                <span class="font-weight-bold" style="color: #0325b4">{{item.currency+" "+amountFormat(item.max_win_amount,true,2)}}</span>
            </div>
            <div width="100%">{{LangUtil("订单编号")}} <span class="font-weight-bold"> {{item.order_id}}</span></div>

            <div width="100%">
                {{LangUtil("投注时间")}}
                <span class="font-weight-bold"> {{getDate(item.create_time)}}</span>
            </div>
            <div width="100%" v-if="item.settle_time">
                {{LangUtil("结算时间")}}
                <span class="font-weight-bold"> {{getDate(item.settle_time)}}</span>
            </div>

            <div style="margin-right: 10px" class="winlostdiv" v-if="item.settle_amount && item.is_settle == 1">
                <span style="margin-right: 4px">{{LangUtil("输赢")}} {{item.currency}}</span>
                <span class="font-weight-bold" :class="item.settle_amount>=0 ? 'success--text' : 'error--text' ">
                    {{item.settle_amount>=0 ? "+" : ""}}{{amountFormat(item.settle_amount,true,2)}}
                </span>
            </div>
            <div class="win-type">
                <img style="width: 100px; height: 100px" :src="getWinType(item)" v-if="item.win_type" />
                <p>{{getWinTypeStr(item)}}</p>
            </div>
        </div>
    </div>
</div>
