<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta http-equiv="Cache-control" content="no-cache" />
        <meta http-equiv="Cache" content="no-cache" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover"
        />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico?<%=process.env.version%>" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <script src="libs/puremvc/puremvc.min.js"></script>
        <script src="libs/qrcode/qrcode.min.js"></script>
        <script src="libs/core/core.min.js?<%=process.env.version%>"></script>
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" /> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" /> -->
    </head>
    <script>
        // 禁止ios10+页面缩放
        var lastTouchEnd = 0;
        document.addEventListener("touchstart", function (event) {
            if (event.touches.length > 1) {
                event.preventDefault();
            }
        });
        document.addEventListener(
            "touchend",
            function (event) {
                var now = new Date().getTime();
                if (now - lastTouchEnd <= 300) {
                    event.preventDefault();
                }
                lastTouchEnd = now;
            },
            false
        );

        // 阻止双指放大
        document.addEventListener("gesturestart", function (event) {
            event.preventDefault();
        });
    </script>
    <style>
        html {
            background-color: #182533ff;
            height: 100%;
            overflow-x: auto !important;
        }
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #app {
            height: 100%;
            box-sizing: border-box;
        }
        .loading {
            height: 100%;
            display: flex;
        }
    </style>
    <body>
        <noscript>
            <strong
                >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it
                to continue.</strong
            >
        </noscript>
        <div id="app">
            <div class="loading"><img src="loading_b.gif?<%=process.env.version%>" style="margin: auto; width: 40px" /></div>
        </div>

        <!-- built files will be auto injected -->
    </body>
</html>
