<v-dialog
    width="860"
    v-model="pageData.bShow"
    :retain-focus="false"
    :fullscreen="$vuetify.breakpoint.xsOnly"
    :no-click-animation="true"
    :transition="$vuetify.breakpoint.xsOnly?'slide-y-reverse-transition':'dialog-transition'"
    persistent
>
    <v-card class="rounded-lg d-flex flex-column bPanelBg">
        <!-- pc显示方式 -->
        <v-card-title class="px-8" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="text-18">{{LangUtil("消息中心")}}</div>
            <v-spacer />
            <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-8" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="d-flex mb-3">
                <!-- <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 0"
                    :color="listQuery.cate == 0 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(0)"
                >
                    {{LangUtil("全部消息")}}
                </v-btn>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 1"
                    :color="listQuery.cate == 1 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(1)"
                >
                    {{LangUtil("平台消息")}}
                </v-btn>
                <v-btn
                    height="40"
                    class="rounded-pill font-weight-bold mr-2"
                    elevation="0"
                    :text="listQuery.cate != 11"
                    :color="listQuery.cate == 11 ? 'colorBtnBg' : 'colorText1'"
                    @click="onTabClick(11)"
                >
                    {{LangUtil("活动消息")}}
                </v-btn> -->
                <CustomSelect
                    class="mr-2"
                    :isPill="true"
                    v-model="curValue"
                    :options="selectArr"
                    width="108"
                    height="35"
                    fontSize="14"
                    @change="onTabClick"
                />
                <v-spacer />
                <v-btn class="mr-3 text-14" rounded color="colorBtnSeleBg" width="90" height="35" @click="onReceiveQuick" elevation="0"
                    >{{LangUtil("一键领取")}}</v-btn
                >
                <v-btn class="text-14" rounded color="colorBtnSeleBg" width="90" height="35" @click="onDestroyQuick" elevation="0"
                    >{{LangUtil("删除已读")}}</v-btn
                >
            </div>

            <v-sheet v-if="pageData.list.length>0" color="transparent" class="scroll-y" height="450">
                <v-sheet
                    class="px-4 py-4 rounded-lg my-3 d-flex flex-wrap"
                    color="rgba(0,0,0,0.1)"
                    v-for="(item, key) of pageData.list"
                    :key="key"
                >
                    <div style="width: 100%" class="d-flex mb-2">
                        <!-- <v-badge color="red" dot offset-y="8" offset-x="7"  :value="!item.is_read"><v-icon class="white--text" :style="{opacity: item.is_read ? 0.4 : 1 }" size="22">{{item.is_read ? "mdi-email-open" : "mdi-email"}} </v-icon> </v-badge> -->
                        <v-badge color="red" dot offset-y="8" offset-x="7" :value="!item.is_read"
                            ><v-img v-if="item.cate == 1" src="@/assets/email/system-email.png" width="22" height="22"></v-img
                            ><v-img v-else src="@/assets/email/activity-email.png" width="22" height="22"></v-img>
                        </v-badge>
                        <span class="text-15 ml-2 white--text" :style="{opacity: item.is_read ? 0.4 : 1 }"
                            >{{item.cate == 1 ? LangUtil("平台消息") : LangUtil("活动消息")}}</span
                        >
                        <div v-if="item.attachment_status == 11" class="giftbg rounded-pill text-12 white--text px-3 py-0 ml-2">
                            {{LangUtil("待领奖励")}}
                        </div>
                    </div>
                    <div class="ml-0" style="width: 100%">
                        <div class="d-flex justify-space-between mb-2">
                            <div class="text-14 white--text" :style="{opacity: item.is_read ? 0.4 : 1 }">{{item.title}}</div>
                        </div>
                        <div class="d-flex justify-space-between">
                            <div class="white--text" style="opacity: 0.4">{{item.created_at}}</div>
                            <div class="white--text cursor-pointer d-flex align-center" style="opacity: 0.4" @click="onDetail(item)">
                                {{LangUtil("查看详情")}}
                                <v-icon class="white--text" :style="{opacity: item.is_read ? 0.4 : 1 }" size="22">mdi-chevron-right</v-icon>
                            </div>
                        </div>
                    </div>
                </v-sheet>
            </v-sheet>
            <ListNodata v-if="pageData.list.length == 0 && !pageData.loading" height="445" />
            <div style="width: 100%; height: 445px" v-if="pageData.list.length == 0 && pageData.loading"></div>
            <v-spacer />
            <v-pagination
                class="mt-4"
                v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                v-model="pageData.pageInfo.pageCurrent"
                :length="pageData.pageInfo.pageCount"
                :total-visible="7"
                @input="onPageChange"
            ></v-pagination>
        </v-card-text>
        <!-- 手机显示方式 -->
        <v-card-text class="pb-0 px-0 header-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="d-flex align-center px-5 pt-5 pb15">
                <div class="font-weight-medium white--text text-17">{{LangUtil("消息中心")}}</div>
                <v-spacer />
                <v-btn icon width="26px" height="26px" class="exit-icon" @click="onClose">
                    <v-icon size="26" class="font-weight-bold close-icon">mdi-close</v-icon>
                </v-btn>
            </div>
            <div class="d-flex mb5 mx-5">
                <CustomSelect
                    class="mr-2"
                    :isPill="true"
                    v-model="curValue"
                    :options="selectArr"
                    width="108"
                    height="35"
                    fontSize="14"
                    @change="onTabClick"
                />
                <v-spacer />
                <v-btn class="mr-3 text-14" rounded color="colorBtnSeleBg" width="90" height="35" @click="onReceiveQuick" elevation="0"
                    >{{LangUtil("一键领取")}}</v-btn
                >
                <v-btn class="text-14" rounded color="colorBtnSeleBg" width="90" height="35" @click="onDestroyQuick" elevation="0"
                    >{{LangUtil("删除已读")}}</v-btn
                >
            </div>
        </v-card-text>
        <v-card-text v-if="$vuetify.breakpoint.xsOnly" class="px-4">
            <!-- <v-sheet  color="transparent" height="510"  class="scroll-y"> -->
            <v-sheet color="transparent" :height="isIOSMobile ? '60vh':'70vh'" class="overflow-y-auto">
                <vue-loadmore :on-refresh="onRefresh" :on-loadmore="onLoad" :finished="pageData.finished">
                    <ListNodata v-if="pageData.list.length == 0 && !pageData.loading" />
                    <v-sheet
                        class="px-4 py-4 rounded-lg mt10 d-flex flex-wrap"
                        color="rgba(0,0,0,0.1)"
                        v-for="(item, key) of pageData.list"
                        :key="key"
                    >
                        <div style="width: 100%" class="d-flex mb-2">
                            <!-- <v-badge color="red" dot offset-y="8" offset-x="7"  :value="!item.is_read"><v-icon class="white--text" :style="{opacity: item.is_read ? 0.4 : 1 }" size="22">{{item.is_read ? "mdi-email-open" : "mdi-email"}} </v-icon> </v-badge> -->
                            <v-badge color="red" dot offset-y="8" offset-x="7" :value="!item.is_read"
                                ><v-img v-if="item.cate == 1" src="@/assets/email/system-email.png" width="22" height="22"></v-img
                                ><v-img v-else src="@/assets/email/activity-email.png" width="22" height="22"></v-img>
                            </v-badge>
                            <span class="text-15 ml-2 white--text" :style="{opacity: item.is_read ? 0.4 : 1 }"
                                >{{item.cate == 1 ? LangUtil("平台消息") : LangUtil("活动消息")}}</span
                            >
                            <div v-if="item.attachment_status == 11" class="giftbg rounded-pill text-12 white--text px-3 py-0 ml-2">
                                {{LangUtil("待领奖励")}}
                            </div>
                        </div>
                        <div class="ml-0" style="width: 100%">
                            <div class="d-flex justify-space-between mb-2">
                                <div class="text-14 white--text" :style="{opacity: item.is_read ? 0.4 : 1 }">{{item.title}}</div>
                            </div>
                            <div class="d-flex justify-space-between">
                                <div class="white--text" style="opacity: 0.4">{{item.created_at}}</div>
                                <div class="white--text cursor-pointer d-flex align-center" style="opacity: 0.4" @click="onDetail(item)">
                                    {{LangUtil("查看详情")}}
                                    <v-icon class="white--text" :style="{opacity: item.is_read ? 0.4 : 1 }" size="22"
                                        >mdi-chevron-right</v-icon
                                    >
                                </div>
                            </div>
                        </div>
                    </v-sheet>
                    <!-- <v-sheet class="px-3 py-2 rounded-lg my-3 d-flex" color="#16233F" v-for="(item, key) of pageData.list" :key="key">
                        <v-icon class="colorText2--text" size="50">{{item.is_read ? "mdi-email-open" : "mdi-email"}} </v-icon>
                        <div class="ml-4" style="width: 100%">
                            <div class="d-flex justify-space-between mb-2">
                                <div class="text-16 colorText2--text">{{item.title}}</div>
                                <v-icon v-if="item.attachment_status != 1" class="colorText2--text" size="25">
                                    {{item.attachment_status == 11 ? 'mdi-gift' : 'mdi-gift-open'}}
                                </v-icon>
                            </div>
                            <div class="d-flex justify-space-between">
                                <div class="text-decoration-underline colorText1--text cursor-pointer" @click="onDetail(item)">
                                    {{LangUtil("点击阅读详情")}}
                                </div>
                                <div class="colorText1--text">{{item.created_at}}</div>
                            </div>
                        </div>
                    </v-sheet> -->
                </vue-loadmore>
            </v-sheet>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
