.title_{
    @media only screen and (max-width: 750px) {
        p {
            > span{
                display: block;
            }
        }
    }
}
.listitem {
    width: 634px;
    @media only screen and (max-width: 750px) {
        width: 100%;
    }
    .item {
        width: calc(100% / 5);
        margin-top: 2px;
        margin-bottom: 2px;
        color: #9db1d8;
        @media only screen and (max-width: 750px) {
            width: calc(100% / 2);
        }
        div:first-child {
            color: #4c5d7f;
            margin-bottom: 5px;
        }
        div > a {
            color: #9db1d8;
        }
    }
}
.listbox {
    height: 450px;
    overflow-y: auto;
}
.arrow{
    margin-bottom: -1px !important;
}
