<v-dialog width="730"  v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg" color="colorPanelBg" v-if="!pageData.loading">
        <v-card-title class="gradient-bg">
            <div class="text-18">奖励详情</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon large>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5">
            <div class="d-flex">
                <p class="mb-0 text-body-1 colorText1--text">
                    结算时间 <span class="colorTextBlueLight2--text mx-2">{{ pageData.data.title.endTime }}</span>结算有效流水
                    <span class="colorTextBlueLight2--text mx-2">{{ pageData.data.title.endWater }} </span>奖励
                    <span class="colorTextBlueLight2--text mx-2">{{ pageData.data.title.award }}</span>
                </p>
            </div>
            <div class="listbox">
               
                <!-- <v-sheet class="mt-5 px-7 py-2 rounded-lg my-3" color="colorPanelBg2" v-for="(item, key) of pageData.data.list" :key="key"> -->
                <v-sheet class="mt-5 px-7 py-2 rounded-lg my-3" color="colorPanelBg2">
                    <div class="d-flex listitem">
                       
                        <div>
                            <div>棋牌有效流水</div>
                            <div>1234</div>
                        </div>
                        <div>
                            <div>{{ pageData.data.list.col_2_title }}返水比例</div>
                            <div>{{ pageData.data.list.col_2 }}%</div>
                        </div>                                                       
                        <div>
                            <div>奖励{{ pageData.data.list.col_3_title }}</div>
                            <div>{{ pageData.data.list.col_3 }}</div>
                        </div>
                        <div>
                            <div>{{ pageData.data.list.col_4_title }}返水比例</div>
                            <div>{{ pageData.data.list.col_4 }}%</div>
                        </div>
                        <div>
                            <div>奖励{{  pageData.data.list.col_5_title }}</div>
                            <div>{{  pageData.data.list.col_5 }}</div>
                        </div>
                    </div>
                </v-sheet>
            </div>

            <v-spacer />
            <!-- <v-pagination
                v-model="pageData.pageInfo.pageCurrent"
                :length="pageData.pageInfo.pageCount"
                @input="onPageChange"
            ></v-pagination> -->
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>