<!-- <div class="d-flex align-center pr-2" :class="isBottomLine ? 'input-text-border-bottom' : 'input-text' "> -->
    <div class="d-flex align-center pr-2 regular_text" :class="inputClass">
        <v-icon color="disable_text" v-if="icon" class="ml-2" >{{ icon }}</v-icon>
        <div v-if="$slots.pre">
            <slot name="pre"></slot>
        </div>
        <input class="ml-2" :type="getType()" :placeholder="placeholder"  @input="onInput" v-model="inputValue" :maxlength="maxlength" />
        <v-btn v-if="value.length > 0" class="mr-2" icon width="20" height="20" @click="onClear">
            <v-icon color="disable_text" class="mx-3" size="20" >mdi-close-circle</v-icon>
        </v-btn>
        <v-btn class="mr-2" icon width="20" height="20" @click="onToggle">
            <v-icon color="disable_text" class="mx-3" size="20" >{{ !bShowPassword ? "mdi-eye" : "mdi-eye-off" }}</v-icon>
        </v-btn>
        <div v-if="$slots.default" class="mr-2">
            <slot></slot>
        </div>
    </div>
    