.listbox {
    overflow: hidden;
}

.hackhome {
    height: 1px;
    background-image: linear-gradient(to right, #333435 0%, #333435 50%);
    background-size: 16px 1px;
    background-repeat: repeat-x;
}
