.padding_bottom {
    padding-bottom: 12px !important;
}
.header-mobile {
    position: fixed;
    z-index: 1000;
    background-color: #121e36;
}
.listbox-mobile {
    overflow: hidden;
    padding-top: 100px;
}
.select-text{
    font-size: 14px;
    height: 40px;
}

.fix_head_mob{
    position: fixed;
    z-index: 2;
    top: 0px;
}
.theme--light{
    .fix_head_mob{
        background-color: #f4f4f4;
    }
}
.theme--dark{
    .fix_head_mob{
        background-color: #202121;
    }
}
.pad_top_mob{
    padding-top: 145px;
}