<v-footer v-if="!$vuetify.breakpoint.mobile" color="#131e36">
    <v-container v-if="!$vuetify.breakpoint.mobile" class="font-weight-bold">
        <div class="d-flex justify-space-between">
            <div class="d-flex mr-7">
                <div>
                    <div class="text-16 mb-3">{{LangUtil("底部品牌文字")}}</div>
                    <div class="d-flex nowrap">
                        <div class="mr-4 nowrap" @click="goContact"><a class="info--text">{{LangUtil("关于我们")}}</a></div>
                        <div class="mr-4" @click="goService"><a class="info--text">{{LangUtil("服务条款")}}</a></div>
                        <div class="mr-4" @click="goMail">
                            <a class="info--text">{{LangUtil("官方邮箱")}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-16 line-height-50">{{LangUtil('游戏合作商')}}</div>
                <div class="mt-1">
                    <img v-for="url of cooperationImgs" :key="url" height="40" class="mr-7 mt-2" :src="url" alt="" />
                </div>
            </div>
        </div>
        <div class="hackhome"></div>
        <v-sheet color="transparent" class="d-flex flex-column mt-8">
            <!-- 说明文字 -->
            <div class="d-flex justify-center">
                <div class="text-14 project_info info--text">{{LangUtil('底部产品描述')}}</div>
            </div>

            <!-- 证书图片 -->
            <div class="d-flex justify-center text-10 mt-4 mb-6 info--text">
                <div class="project_ad">
                    <div class="d-flex justify-center">
                        <v-img height="40" width="220" contain src="~@/_skin004/assets/footer/ad_1.png"></v-img>
                    </div>
                    {{LangUtil("Maltese license (MGA) certification")}}
                </div>

                <div class="project_ad ml-6 mr-6">
                    <div class="d-flex justify-center">
                        <v-img height="40" width="174" contain src="~@/_skin004/assets/footer/ad_2.png"></v-img>
                    </div>
                    {{LangUtil("British Virgin Islands (BVI) certification")}}
                </div>

                <div class="project_ad">
                    <div class="d-flex justify-center">
                        <v-img height="40" width="174" contain src="~@/_skin004/assets/footer/ad_3.png"></v-img>
                    </div>
                    {{LangUtil("The Philippines (PAGCOR) license")}}
                </div>
            </div>
        </v-sheet>
        <div class="hackhome"></div>

        <p class="website-info">{{LangUtil("网页底部信息说明")}}</p>
        <div class="all-rights-reserved">{{LangUtil("网页底部公司说明")}}</div>
        <div class="all-rights-reserved">version:{{getVersion()}}</div>
        <div class="all-rights-reserved">{{getChannelID()}}</div>
    </v-container>

    <v-container v-if="false" class="font-weight-bold d-flex flex-column align-center mt-5">
        <div class="text-16 mb-2">{{LangUtil("底部品牌文字")}}</div>
        <v-row style="width: 100%" justify="center" align="center">
            <!-- <v-col cols="4" md="3" sm="3" class="text-center" @click="goContact"><a class="info--text nowrap">{{LangUtil("关于我们")}}</a></v-col>
            <v-col cols="4" md="3" sm="3" class="text-center" @click="goService"><a class="info--text nowrap">{{LangUtil("服务条款")}}</a></v-col>
            <v-col cols="4" md="3" sm="3" class="text-center" @click="goMail">
                <a class="info--text nowrap">{{LangUtil("Official mailbox")}}</a>
            </v-col> -->
            <v-col cols="12" sm="7" md="5" class="d-flex justify-space-between">
                <a class="info--text nowrap" @click="goContact">{{LangUtil("关于我们")}}</a>
                <a class="info--text nowrap" @click="goService">{{LangUtil("服务条款")}}</a>
                <a class="info--text nowrap" @click="goMail">{{LangUtil("官方邮箱")}}</a>
            </v-col>
        </v-row>
        <div class="text-16 line-height-50 mt-8">{{LangUtil('游戏合作商')}}</div>
        <v-row class="mt-2" dense>
            <v-col cols="6" md="4" v-for="url of cooperationImgs" :key="url" class="d-flex justify-center my-2">
                <img height="25" :src="url" alt="" />
            </v-col>
        </v-row>

        <p class="website-info">{{LangUtil("网页底部信息说明")}}</p>
        <div class="all-rights-reserved">{{LangUtil("网页底部公司说明")}}</div>
        <div class="all-rights-reserved">version:{{getVersion()}}</div>
        <div class="all-rights-reserved">{{getChannelID()}}</div>
    </v-container>
</v-footer>
