.svga-player {
    display: none;
    width: 400px;
    height: 400px;
}

.is-show {
    display: block !important;
}
.is_notshow{
    display: none !important;
}
::v-deep .v-dialog {
    box-shadow: none !important;
    // transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}