<v-dialog width="430" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg" color="colorPanelBg">
        <v-card-title class="gradient-bg">
            <div class="text-18">{{LangUtil("备注")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5 mt-1">
            <v-textarea class="text-14 " background-color="colorPanelBg" outlined solo :label="LangUtil('输入备注信息(0-100)')"></v-textarea>
            <v-btn color="colorBtnBg" height="44" block>{{LangUtil("保存设置")}}</v-btn>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
