<v-card-text class="mt-5 overflow-auto">
    <div class="colorText1--text" v-html="bindHtml"></div>
    <div class="d-flex mt-3">
        <CustomSelect class="mr-3" :icons="plat_coins" :options="pageData.methodList" v-model="form.coin_name_unique" @change="onChange" />
    </div>

    <template v-if="!$vuetify.breakpoint.xsOnly">
        <div class="colorText1--text mt-3">{{LangUtil("您的银行卡")}}</div>
        <v-sheet color="transparent" height="50" width="100%" class="mt-1 mb-4 d-flex align-center bank_box rounded-lg" outlined>
            <v-autocomplete
                v-model="myProxy.exchangeProxy.curBankinfo"
                :items="bank_list"
                item-text="bank_name"
                :label="LangUtil('银行信息')"
                hide-details
                solo
                flat
                background-color="transparent"
                color="colorText1 colorBlue--text"
                attach
                menu-props="{class='test_cloas'}"
                return-object
                :no-data-text="LangUtil('没有找到数据')"
            ></v-autocomplete>

            <v-sheet color="transparent" min-width="150" class="name_select">
                <CustomInput
                    @blur="onNameInputBlur"
                    @input="onNameInputInput"
                    height="40"
                    :placeholder="LangUtil('姓名')"
                    v-model="form.account_name"
                ></CustomInput>

                <v-list v-if="bshowAllNameList && allNames && allNames.length > 0" class="name_list" width="100%">
                    <v-list-item-group color="primary">
                        <v-list-item v-for="(item, i) in allNames" :key="i" @click="onClickNameSelect(item)">
                            <v-list-item-content>
                                <v-list-item-title v-text="item"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-sheet>
            <v-sheet color="transparent" min-width="250" class="name_select">
                <CustomInput
                    @blur="onNumberInputBlur"
                    @input="onNumberInputInput"
                    height="40"
                    :isOnlyNumber="true"
                    :placeholder="LangUtil('银行卡号')"
                    v-model="form.account"
                >
                </CustomInput>

                <v-list v-if="bshowNumberList && allCardNub && allCardNub.length > 0" class="name_list" width="100%">
                    <v-list-item-group color="primary">
                        <v-list-item v-for="(item, i) in allCardNub" :key="i" @click="onClickNumberSelect(item)">
                            <v-list-item-content>
                                <v-list-item-title v-text="item"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-sheet>
            <v-btn color="colorText1 colorBlue--text d-flex justify-end" x-small height="30" class="mr-2" @click="onBankcardInfo"
                >{{LangUtil("银行卡信息")}}</v-btn
            >
        </v-sheet>
    </template>
    <template v-else>
        <div class="d-flex mt-3 mb-2">
            <div class="colorText1--text">{{LangUtil("您的银行卡")}}</div>
            <v-spacer />
            <v-btn color="colorText1 colorBlue--text" x-small height="30" @click="onBankcardInfo">{{LangUtil("银行卡信息")}}</v-btn>
        </div>
        <v-sheet color="transparent" height="130" width="100%" class="mt-1 mb-4 d-flex flex-column bank_box_mob rounded-lg" outlined>
            <v-autocomplete
                v-model="myProxy.exchangeProxy.curBankinfo"
                :items="bank_list"
                item-text="bank_name"
                :label="LangUtil('银行信息')"
                hide-details
                solo
                flat
                background-color="transparent"
                color="colorText1 colorBlue--text"
                attach
                menu-props="{class='test_cloas'}"
                return-object
                :no-data-text="LangUtil('没有找到数据')"
            ></v-autocomplete>

            <v-sheet color="transparent" min-width="150" class="name_select mb-2">
                <CustomInput
                    class="input_mob"
                    @blur="onNameInputBlur"
                    @input="onNameInputInput"
                    :placeholder="LangUtil('姓名')"
                    v-model="form.account_name"
                ></CustomInput>

                <v-list v-if="bshowAllNameList && allNames && allNames.length > 0" class="name_list" width="100%">
                    <v-list-item-group color="primary">
                        <v-list-item v-for="(item, i) in allNames" :key="i" @click="onClickNameSelect(item)">
                            <v-list-item-content>
                                <v-list-item-title v-text="item"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-sheet>
            <v-sheet color="transparent" min-width="250" class="name_select mb-2">
                <CustomInput
                    class="input_mob"
                    @blur="onNumberInputBlur"
                    @input="onNumberInputInput"
                    :isOnlyNumber="true"
                    :placeholder="LangUtil('银行卡号')"
                    v-model="form.account"
                >
                </CustomInput>

                <v-list v-if="bshowNumberList && allCardNub && allCardNub.length > 0" class="name_list" width="100%">
                    <v-list-item-group color="primary">
                        <v-list-item v-for="(item, i) in allCardNub" :key="i" @click="onClickNumberSelect(item)">
                            <v-list-item-content>
                                <v-list-item-title v-text="item"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-sheet>

            <!-- <v-sheet color="transparent" min-width="150" class="mb-2">
                <CustomInput class="input_mob" height="40" :placeholder="LangUtil('姓名')" v-model="form.account_name"></CustomInput>
            </v-sheet>
            <v-sheet color="transparent" min-width="250" class="mb-2">
                <CustomInput class="input_mob" height="40" :isOnlyNumber="true" :placeholder="LangUtil('银行卡号')" v-model="form.account">
                </CustomInput>
            </v-sheet> -->
        </v-sheet>
    </template>
    <div class="colorText1--text mt-3">{{LangUtil("平台余额")}}</div>
    <v-sheet class="d-flex align-center pl-4 mt-1 rounded-lg" color="colorPanelTitleBg" height="44">
        <v-img
            class="mr-2"
            :src="plat_coins[form.coin_name_unique] && plat_coins[form.coin_name_unique].icon"
            max-width="20"
            height="20"
        ></v-img>
        <div>{{ balance }}</div>
        <v-spacer />
        <v-tooltip top color="colorText1">
            <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="colorText1" icon small class="mr-1"><v-icon>mdi-help-circle</v-icon></v-btn>
            </template>
            <span>{{LangUtil("余额可能在厂商资产里，如兑换请先从厂商提取")}}</span>
        </v-tooltip>
        <v-btn color="colorText1 colorBlue--text" x-small height="30" class="mr-2" @click="onWallet">{{LangUtil("平台钱包")}}</v-btn>
    </v-sheet>

    <v-row class="colorText1--text mt-3" dense>
        <v-col class="mr-1">
            <v-sheet color="transparent" min-width="300" class="mb-2">
                <div class="colorText1--text">{{LangUtil("提取金额")}}</div>
                <CustomInput class="mt-1" :placeholder="LangUtil('输入金额')" v-model="form.amount">
                    <v-btn class="colorBlue--text mr-n2" x-small height="30" color="colorText1" @click="onAll">{{LangUtil("全部")}}</v-btn>
                </CustomInput>
            </v-sheet>
        </v-col>
        <v-col>
            <div>{{LangUtil("交易密码")}}</div>
            <CustomPassword class="mt-1" :placeholder="LangUtil('输入密码')" v-model="form.password_gold">
                <v-btn class="colorBlue--text mr-n2" x-small height="30" color="colorText1" @click="onSetPassword"
                    >{{LangUtil("设置")}}</v-btn
                >
            </CustomPassword>
        </v-col>
    </v-row>
    <div class="text-14 mt-3 color-blue mb-2 d-flex" v-if="pageData.methodList[form.coin_name_unique]">
        <span class="mr-1">⚠️</span>
        <div>
            <div v-for="item of transformExplain(pageData.methodList[form.coin_name_unique].options[form.block_network_id].explain)">
                {{item}}
            </div>
        </div>
    </div>
    <!-- <div class="text-12 mb-2 color-blue ml-4">{{LangUtil("2.兑换手续费1%")}}</div> -->
    <v-btn class="rounded-lg" color="colorBtnBg" height="48" :disabled="!isChecked" block @click="onSubmit">{{LangUtil("提交")}}</v-btn>
    <v-divider class="mx-5" />
    <v-card-text class="d-flex justify-end mt-3">
        <div class="mr-2 info-text">{{LangUtil("已支持币种")}}</div>
        <v-img
            class="mr-2"
            :src="plat_coins[key].icon"
            max-width="20"
            height="20"
            v-for="(item, key) of pageData.methodList"
            :key="key"
        ></v-img>
    </v-card-text>
    <Overlay v-model="pageData.loading" />
</v-card-text>
