.theme--dark.custom-btn.v-btn.v-btn--disabled.v-btn--has-bg {
    background-color: #eaeaea !important;
    color: #d0d0d0 !important;
}
.skin004-black-text {
    color: #000000 !important;
}
#custom-btn.theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
    background-color: #eaeaea !important;
    color: #d0d0d0 !important;
}