<v-card flat color="bgBanner" class="mt-5 px-4 py-4 mx-2 mb-5 rounded10">
    <v-sheet color="transparent" width="100%" height="40" class="text-16 primary--text bold_text" style="text-align: center">
        {{LangUtil("96in.com Rules ")}}
    </v-sheet>

    <v-sheet color="transparent" width="100%" class="text-14 primary--text">
        <div class="mt-2">
            {{LangUtil("96in.com brand is owned by Archana Agro Enterprise. Following are some important points to note for the players
            playing on the platform 96in.com")}}
        </div>
        <div class="mt-4">
            {{LangUtil("1. In limited overs matches, bets will be void if it has not been possible to complete at least 90% of the scheduled
            overs in either inning due to external factors, including bad weather, unless settlement of the bet has already been determined.
            In drawn First Class matches, bets will be void if fewer than 200 overs have been bowled, unless settlement of the bet has
            already been determined. This rule applies to all markets except match winner/odds where the official result stands or to
            markets that have already been determined.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("2. If a match is abandoned due to outside interference, then bets will be voided unless a winner is declared based
            on the official competition rules. In the event of a change of opponent from the one advertised then all bets for that match are
            voided. If a match is cancelled, then all bets will be voided if it is not replayed within 48 hours of its advertised start
            time.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("3. In a market where the final winner was never listed as a selection, we will void all bets on this market and
            return stakes to the customer as it will have been impossible for them to place bets on the final winning selection.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("4. Exchange Match Odds and Match Winner markets are settled differently in the event of a tied match. Exchange Match
            Odds bets will be voided if a match is tied whilst Match Winner bets are settled as per the result of the subsequent Super
            Over.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("5. Bets placed using multiple logins, duplicated IP's or on prices that are palpably latent, will all be voided at
            the discretion of the operator. Consistent trading activity in line with these patterns will result in account closures.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("6. Bonus abuse will not be tolerated by 96in.com and repeat offenders will have their account closed with immediate
            effect at the sole discretion of the operator.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("7. Bets that appear to use manipulation or are suspected of doing or fund passing will result in the closure of
            accounts. The operator employs a zero tolerance policy towards these practices and accounts will be closed at the operators
            discretion without warning.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("8. Bets placed at odds which fall within the 'palpable error' ruling will be voided and winnings retried from
            players balances. Players will have the bet resettled at the correct odds. Palpable error covers any pricing mistake that means
            a bet is struck at odds which are demonstrably not correct. The operator has sole discretion regarding the deployment of this
            ruling.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("9. Outright markets will be settled as per the official result of the competition related to the market. In the
            event that a competition is abandoned then all bets will be declared void and stakes will be returned to players.")}}
        </div>
        <div class="mt-2">
            {{LangUtil("10. Where any information displayed on the site in respect of score, team news or location of the fixture is deemed
            to be false, bets will stand regardless. All information displayed by the operator is done so in good faith and the operator
            accepts no responsibility for display errors of this nature. All effort will be made to ensure data display is always 100%
            accurate but players must accept responsibility for their own bet management.")}}
        </div>
    </v-sheet>
</v-card>
