<v-dialog width="400" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly">
    <v-card class="rounded-lg d-flex flex-column" color="colorPanelBg" min-width="400">

        <!-- 标题 和 关闭按钮 -->
        <v-card-title class="gradient-bg" >
            <div class="text-rwd-18 font-weight-regular">{{LangUtil("返水设置")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>

        <!-- 页面内容 -->
        <v-card-text class=" text-sm-subtitle-1 text_height" >
   
                <!-- 用户id -->
                <div class="d-flex justify-space-between align-center nico_height my-3 text-16">
                    <span class="d-flex colorText1--text">
                        {{LangUtil("用户ID")}}
                    </span>
                    <span class="d-flex  colorBlue--text">
                        {{playerInfo.user_id}}
                   
                    </span>
                </div>
                <div class="hackhome"></div>
                <!-- 用户昵称 -->
                <div class="d-flex justify-space-between align-center nico_height my-3 text-16">
                    <span class="d-flex colorText1--text">
                        {{LangUtil("用户昵称")}}
                    </span>
                    <span class="d-flex align-center colorBlue--text">
                        {{playerInfo.nick_name}}
                    </span>
                </div>
                <div class="hackhome"></div>
            
                <template v-for="(item, key) of playerInfo.water_config" >
                    <div class="d-flex justify-space-between align-center nico_height my-3" :key="key" v-if="key!=0">
                        <div class="d-flex colorText1--text nico_sssss text-16" >
                            {{getConfigName(key) }}
                        </div>
                        
                        <div class="d-flex justify-space-between align-center text-16">
                            <div class="colorBlue--text pl-5 nico_sssss">
                                0-{{playerInfo.plat_water_config[key] * 100}} %
                            </div>
                                <CustomInput class="test_1 ml-4" height="40" :placeholder="item*100" :isNeedCloseBtn="false" type="number" v-model="myProxy.inputWaterData[key]">
                                </CustomInput>
                            <div class="colorBlue--text ml-2 nico_sssss">
                                %
                            </div>
                        </div>
                    </div>
                    <div class="hackhome"></div>
                </template>

            <div class=" text-sm-subtitle-1 text_height pb-0">
                <!-- 确定按钮 -->
                <v-btn class="rounded-lg" color="colorBtnBg" height="40" block @click="onClickSure">
                    {{LangUtil("确定")}}</v-btn>
            </div>
                 
                    
        </v-card-text>

    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>