::v-deep .v-slide-group__prev {
    position: absolute;
    top: -33px;
    right: 135px;
    min-width: 0;
    border-radius: 12pt 0pt 0pt 12pt;
    width: 32px;
    height: 24px;
    i {
        font-size: 30px;
    }
}
::v-deep .v-slide-group__next {
    position: absolute;
    top: -33px;
    right: 100px;
    min-width: 0;
    border-radius: 0pt 12pt 12pt 0pt;
    width: 32px;
    height: 24px;
    i {
        font-size: 30px;
    }
}
::v-deep .theme--dark {
    .v-slide-group__prev,
    .v-slide-group__next {
        background: rgba(243, 231, 231, 0.098);
    }
}
::v-deep .theme--light {
    .v-slide-group__prev,
    .v-slide-group__next {
        background: rgba(243, 231, 231, 0.098);
    }
}