<v-dialog width="430" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg" color="colorPanelBg">
        <!-- pc显示方式 -->
        <v-card-title class="gradient-bg" v-if="!$vuetify.breakpoint.xsOnly">
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon large>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5 text-subtitle-1" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="mx-1 mb-5 colorText2--text">
                {{LangUtil("Coinfans为数字货币娱乐平台。进入游戏使用当前选中的币种，不同币种进入游戏时可以兑换的筹码数量不同，但都是币本位游戏结算。详细兑换比例如下表：")}}
            </div>
            <v-card
                height="40"
                class="rounded-lg rounded-card my-2 d-flex align-center"
                color="colorPanelTitleBg"
                v-for="(item, index) of pageData.list"
                :key="index"
                v-if="GamePlatConfig.config.plat_coins[item.coin_name_unique].is_display == 1"
            >
                <v-row no-gutters class="colorText4--text">
                    <v-col cols="6" class="d-flex justify-left align-center">
                        <v-img
                            :src="GamePlatConfig.config.plat_coins[item.coin_name_unique].icon"
                            max-width="25"
                            max-height="25"
                            class="ml-5 mr-2"
                        ></v-img>
                        {{item.coin_name_unique}}
                    </v-col>
                    <v-col v-if="item.coin_name_unique == 'VND'" cols="6" class="d-flex justify-end align-center pr-5">
                        {{vndCount(item)}} {{item.coin_name_unique}} = 1<v-img
                            class="ml-1"
                            src="@/assets/icon/cm.png"
                            max-width="22"
                            max-height="22"
                        ></v-img>
                    </v-col>
                    <v-col v-else-if="item.coin_name_unique == 'VNDK'" cols="6" class="d-flex justify-end align-center pr-5">
                        {{vndkCount(item)}} {{item.coin_name_unique}} = 1<v-img
                            class="ml-1"
                            src="@/assets/icon/cm.png"
                            max-width="22"
                            max-height="22"
                        ></v-img>
                    </v-col>
                    <v-col v-else cols="6" class="d-flex justify-end align-center pr-5">
                        1 {{item.coin_name_unique}} = {{item.scale}}<v-img
                            class="ml-1"
                            src="@/assets/icon/cm.png"
                            max-width="22"
                            max-height="22"
                        ></v-img>
                    </v-col>
                </v-row>
            </v-card>
            <div class="d-flex justify-center colorText2--text mt-4">{{LangUtil("首页切换币种对应的币种进入游戏")}}</div>
        </v-card-text>
        <!-- 手机显示方式 -->
        <v-card-text class="pb-3 px-0 header-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="gradient-bg d-flex align-center px-5">
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </div>
        </v-card-text>
        <v-card-text class="px-5 listbox-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="mx-1 mb-5 mt-2 blue-text skin004_2-black-text">
                {{LangUtil("Coinfans为数字货币娱乐平台。进入游戏使用当前选中的币种，不同币种进入游戏时可以兑换的筹码数量不同，但都是币本位游戏结算。详细兑换比例如下表：")}}
            </div>
            <v-card
                height="40"
                class="rounded-lg rounded-card my-2 d-flex align-center"
                color="colorPanelTitleBg"
                v-for="(item, index) of pageData.list"
                :key="index"
                v-if="GamePlatConfig.config.plat_coins[item.coin_name_unique].is_display == 1"
            >
                <v-row no-gutters class="colorText4--text">
                    <v-col cols="6" class="d-flex justify-left align-center">
                        <v-img
                            :src="GamePlatConfig.config.plat_coins[item.coin_name_unique].icon"
                            max-width="25"
                            max-height="25"
                            class="ml-3 mr-2"
                        ></v-img>
                        {{item.coin_name_unique}}
                    </v-col>
                    <v-col v-if="item.coin_name_unique == 'VND'" cols="6" class="d-flex justify-end align-center pr-5">
                        {{vndCount(item)}} {{item.coin_name_unique}} = 1<v-img
                            class="ml-1"
                            src="@/assets/icon/cm.png"
                            max-width="22"
                            max-height="22"
                        ></v-img>
                    </v-col>
                    <v-col v-else-if="item.coin_name_unique == 'VNDK'" cols="6" class="d-flex justify-end align-center pr-5">
                        {{vndkCount(item)}} {{item.coin_name_unique}} = 1<v-img
                            class="ml-1"
                            src="@/assets/icon/cm.png"
                            max-width="22"
                            max-height="22"
                        ></v-img>
                    </v-col>
                    <v-col v-else cols="6" class="d-flex justify-end align-center pr-5">
                        1 {{item.coin_name_unique}} = {{item.scale}}<v-img
                            class="ml-1"
                            src="@/assets/icon/cm.png"
                            max-width="22"
                            max-height="22"
                        ></v-img>
                    </v-col>
                </v-row>
            </v-card>
            <div class="d-flex justify-center blue-text mt-4 skin004_2-black-text">{{LangUtil("首页切换币种对应的币种进入游戏")}}</div>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
