.gradient-text {
    background: linear-gradient(#eef5fe, #89c0fb);
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Arial Black", "PingFang-SC-Medium", "STHeitiTC-Medium";
}
