.icon-color {
    color: #9db1d8;
}
input::placeholder {
    color: #9db1d8;
    font-size: 14px;
    font-weight: 400;
}
input {
    vertical-align: middle;
    height: 54px;
    width: 100%;
    color: rgba(157, 177, 216, 0.7);
    font-weight: bold;
}