.listitem {
    div {
        min-width: 150px;
        max-width: 150px;
        @media only screen and (max-width: 600px) {
            max-width: unset;
        }
        margin-top: 2px;
        margin-bottom: 2px;
        color: #9db1d8;
        div:first-child {
            @media only screen and (max-width: 600px) {
                min-width: 100px;;
            }
            color: #4c5d7f;
            margin-bottom: 5px;
        }
        div > a {
            color: #9db1d8;
        }
    }
}
.header-mobile {
    position: fixed;
    z-index: 1000;
    background-color: #121e36;
}
.listbox-mobile {
    overflow: hidden;
    padding-top: 70px;
}
