.gradient-bg {
    height: 70px;
    background-color: #16233b;
    background-image: linear-gradient(180deg, #24385a 0%, #121e36 70px);
    text-align: center;
}
.listitem {
    div {
        min-width: 150px;
        max-width: 150px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #9db1d8;
        div:first-child {
            color: #4c5d7f;
            margin-bottom: 5px;
        }
        div > a {
            color: #9db1d8;
        }
    }
}
.listbox {
    max-height: 450px;
    min-height: 450px;
    overflow-y: scroll;
}
