<v-app-bar height="155" color="colorTitleBg" elevation="0" :app="routerPath != '/page_game_play'">
    <v-container class="ma-auto px-6 py-0">
        <div class="d-flex align-center">
            <div class="font-weight-bold" :class="$vuetify.breakpoint.mobile?'text-24':'text-48'" style="color: #edcc93">CoinFans.com</div>
            <v-spacer />
            <v-btn
                v-if="core.user_id == 0"
                :small="$vuetify.breakpoint.mobile"
                color="#ffb01b"
                class="text-14 black--text"
                @click="handlerLogin"
            >
                <span class="px-2">登录</span>
            </v-btn>
            <v-btn
                v-if="core.user_id == 0"
                :small="$vuetify.breakpoint.mobile"
                color="white"
                class="text-14 mx-4 black--text"
                @click="handlerRegister"
            >
                <span class="px-2">注册</span>
            </v-btn>
            <Wallet v-if="core.user_id" />
            <User v-if="core.user_id && !$vuetify.breakpoint.mobile" />
        </div>

        <div class="d-flex mt-5">
            <User v-if="core.user_id && $vuetify.breakpoint.mobile" />
            <button v-if="!$vuetify.breakpoint.mobile" class="nav-button" :class="routerPath == '/' ? 'active' : ''" @click="goHome">
                <v-icon>mdi-home</v-icon>
                <div>首页</div>
            </button>
            
            <button
                v-if="!$vuetify.breakpoint.mobile"
                class="nav-button d-none d-md-flex"
                v-for="item of pageData.lobbyIndex"
                :key="item.category"
                @click="goAnchor(item.category)"
            >
                <v-icon class="mr-1">{{ CategoryIcon[item.category] }}</v-icon>
                <div>{{ item.category_name }}</div>
            </button>

            <v-spacer />

            <button class="nav-button" :class="routerPath == '/introduce' ? 'active' : ''" @click="goIntroduce">
                <v-icon>mdi-information</v-icon>
                <div>CF币介绍</div>
            </button>
        </div>
    </v-container>
</v-app-bar>

<!-- <v-app-bar>
    <v-container>
        <v-toolbar-title>CoinFans.com</v-toolbar-title>
    </v-container>
</v-app-bar> -->