.active {
    background-image: linear-gradient(180deg, #1d2a43 0%, #263d63 75px);
}
.item{
    //width: 55px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
}

.gift_icon
{
    font-size: 18px;
    color: #4569d6;
}