.gradient-text {
    background: linear-gradient(#eef5fe, #89c0fb);
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Arial Black";
}
.price {
    font-family: "Arial Black";
}
.skew {
    transform: skewX(-10deg);
    div {
        color: #081e5f;
        transform: skewX(10deg);
    }
}
.box-container {
    display: grid;
    gap: 10px;
}
.btn {
    background-color: white;
    text-align: center;
    color: rgb(50, 68, 102);
    // font-size: 18px;
    // height: 42px;
    // line-height: 42px;
    // min-width: 160px;
}
.activity1 {
    cursor: pointer;
    width: 100%;
    height: 230px;
    background: url("~@/assets/activity/cat.png") no-repeat right 10px center, linear-gradient(90deg, #162f60, #1c6396);
    background-size: contain;
    background-size: 203px 157px, 100% 100%;
}
.activity1:hover,
.activity1-min:hover {
    .btn {
        background-color: #ffaf1a;
        color: white;
    }
}
.activity1-min {
    cursor: pointer;
    width: 100%;
    height: 130px;
    background: linear-gradient(90deg, #162f60, #1c6396);
}
.activity2 {
    cursor: pointer;
    width: 100%;
    height: 230px;
    background: url("~@/assets/activity/swap.png") no-repeat right center, linear-gradient(90deg, #0954d9, #68a5f7);
}
.btn-disabled {
    background-color: #a9a9a9;
    color: #656565;
}
.activity2-min {
    cursor: pointer;
    width: 100%;
    height: 130px;
    background: linear-gradient(90deg, #0954d9, #68a5f7);
}
.activity3 {
    width: 470px;
    height: 230px;
    .item1 {
        cursor: pointer;
        width: 233px;
        height: 146px;
        background: url("~@/assets/activity/hand.png") no-repeat right center, linear-gradient(90deg, #ff5a7e, #ff74b3);
    }
    .item2 {
        cursor: pointer;
        width: 233px;
        height: 146px;
        background: url("~@/assets/activity/coin.png") no-repeat right center, linear-gradient(90deg, #ff7a45, #fdb25a);
    }
    .item3 {
        cursor: pointer;
        width: 470px;
        height: 80px;
        background: linear-gradient(90deg, #6079ff, #34b6fc);
    }
}

@media screen and (max-width: 1460px) {
    .activity3 {
        display: none;
    }
}
@media screen and (max-width: 1153px) {
    .box-container {
        flex-direction: column;
    }
}
