.bg-yellow {
    background-color: #feda7c;
}

.base_class {
    position: absolute;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 10px 5px 0px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
}

.tip_left {
    // right: 210px;
    // top: -22px;
    &:after {
        right: -9px;
        top: 15px;
        transform: rotateY(180deg);
    }
}
.tip_left_mob {
    // right: 175px;
    // top: -22px;
    &:after {
        right: -9px;
        top: 15px;
        transform: rotateY(180deg);
    }
}

.tip_right {
    left: 5px;
    top: -22px;
    &:after {
        left: -10px;
        top: 18px;
    }
}

.tip_test {
    position: absolute;
    left: 0px;
    z-index: 99999;
}
@keyframes shake {
    0%,
    100% {
        transform: translatex(0);
    }

    50% {
        transform: translatex(4px);
    }
}

.theme--dark {
    .tip_color_mob {
        &:after {
            border-right-color: #f4f4f4;
        }
    }
    .tip_color_pc {
        &:after {
            border-right-color: #f4f4f4;
        }
    }
}

.theme--light {
    .tip_color_mob {
        &:after {
            border-right-color: #d6dde3;
        }
    }
    .tip_color_pc {
        &:after {
            border-right-color: #f4f4f4;
        }
    }
}
