.divbox {
    overflow-x: auto;
    /* 隐藏滚动条 */
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: -moz-scrollbars-none;
    button {
        ::v-deep .v-btn__content {
            pointer-events: none;
        }
    }
}
.divbox::-webkit-scrollbar {
    display: none; /* Chrome Safari */
    width: 0 !important;
}
.arrow {
    transform: rotate(0deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-show {
    transform: rotate(180deg);
    font-weight: 600;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
