<!-- <div class="box d-flex align-center justify-center">
    <div>
        <v-icon class="mb-4" size="100">mdi-screen-rotation</v-icon>
        <div>请旋转您的设备</div>
        <div>目前仅支持竖屏模式</div>
    </div>
</div> -->

<v-sheet class="box d-flex flex-column align-center justify-center textGray--text text-14" color="bgColor">
    <v-sheet color="transparent" class="d-flex align-center mb-4">
        <v-img max-width="100" width="100" height="100" class="mr-1" contain src="~@/_skin005/assets/orientation/turn_h.png"> </v-img>
        <svg-icon icon="arrow_next" class="mx-2 text-30 arrow_color--text"></svg-icon>
        <v-img max-width="100" width="100" height="100" class="mr-1" contain src="~@/_skin005/assets/orientation/turn_v.png"> </v-img>
    </v-sheet>

    <div>{{LangUtil("请旋转您的设备")}}</div>
    <div>{{LangUtil("目前仅支持竖屏模式")}}</div>
</v-sheet>
