<!-- <v-dialog v-if="false && !pageData.bHidden" v-model="pageData.bShow" width="$vuetify.breakpoint.width/2" :retain-focus="false" :fullscreen="true" persistent>
    <v-card color="transparent" class="d-flex align-center justify-center">
        <img v-if="$vuetify.breakpoint.xsOnly" width="100%" :src="pageData.data.link_url" />
        <img v-else class="imgage" :src="pageData.data.link_url" />
    </v-card>
    <v-btn class="btn-close" icon @click="onClose">
        <v-icon large>mdi-close</v-icon>
    </v-btn>
</v-dialog> -->

<v-dialog
    v-if="!pageData.bHidden"
    v-model="pageData.bShow"
    width="45%"
    :retain-focus="false"
    :fullscreen="$vuetify.breakpoint.xsOnly"
    persistent
>
    <v-card flat class="rounded-lg sheet-bg" style="height: calc(100vh - 250px)">
        <v-card-title class="d-flex justify-end mb-1 sheet-bg">
            <div class="font-weight-bold white--text text-18">{{LangUtil(pageData.data.activity_name)}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon large>mdi-close</v-icon>
            </v-btn>
        </v-card-title>

        <v-divider class="mb-2" />
        <v-sheet width="100%" class="px-5 overflow-y-auto sheet-bg" style="height: calc(100% - 90px)">
            <!-- <div v-if="pageData.data.show_type == 1" class="textYellow--text" v-html="pageData.data.link_url"></div> -->
            <div class="" v-html="pageData.data.link_url"></div>
        </v-sheet>
    </v-card>
</v-dialog>
