.intro-radius {
    border-radius: 10px;
}
.intro-how-01 {
    background: url("~@/_skin030/assets/introduce/01M.png") no-repeat;
    background-position: right top;
    background-size: contain;
}
.intro-how-02 {
    background: url("~@/_skin030/assets/introduce/02M.png") no-repeat;
    background-position: right top;
    background-size: contain;
}
.intro-how-03 {
    background: url("~@/_skin030/assets/introduce/03M.png") no-repeat;
    background-position: right top;
    background-size: contain;
}
