<div v-if="!$mobile">
    <v-card flat class="rounded10 px-4 py-4" color="bgBanner">
        <!-- 选择币种与金额 -->
        <v-card flat color="transparent">
            <v-row>
                <v-col cols="6">
                    <v-card flat color="transparent">
                        <div class="text-16 primary--text mb-2 bold_text font-weight-bold">{{LangUtil("选择币种")}}</div>
                        <v-sheet color="transparent">
                            <goldinfo_util
                                :class="{'regular_text':false}"
                                balanceStrColor="textGray--text"
                                :is_need_coin_name="true"
                                inside_str="我的余额"
                                :goldInfoData="gold_info"
                                :is_recharge="true"
                                :coin_name_unique="form.coin_name_unique"
                                :items_min_height="36"
                                @onItemClick="onItemClick"
                            >
                            </goldinfo_util>
                        </v-sheet>
                    </v-card>
                </v-col>
                <v-col cols="6">
                    <div class="text-16 primary--text bold_text font-weight-bold mb-2">{{LangUtil("输入金额")}}</div>
                    <v-sheet color="transparent" width="100%" class="d-flex input_pc">
                        <CustomInput :placeholder="LangUtil('输入金额')" v-model="form.amount" :isEnterGold="true"></CustomInput>

                        <btn-yellow class="text-16 ml-2 font-weight-bold" min_width="72" height="36" @click.native="addInputMoney(100)"
                            >{{LangUtil("+100")}}</btn-yellow
                        >

                        <btn-yellow class="text-16 ml-2 font-weight-bold" min_width="72" height="36" @click.native="addInputMoney(500)"
                            >{{LangUtil("+500")}}</btn-yellow
                        >
                    </v-sheet>
                </v-col>
            </v-row>
        </v-card>

        <!-- 选择付款方式 -->
        <v-card flat color="transparent" class="mt-6">
            <div class="text-16 primary--text mb-2 font-weight-bold">{{LangUtil("选择付款方式")}}</div>

            <v-card flat class="d-flex flex-column" color="transparent">
                <v-row>
                    <v-col cols="6" v-for="(item, key) of curShowChannel" :key="key">
                        <v-card flat color="transparent" class="d-flex flex-column justify-center">
                            <v-sheet
                                color="transparent"
                                width="100%"
                                @click.native="onChannelItemClick(item)"
                                class="d-flex justify-space-between rounded10 px-2 py-2 align-center"
                                min-height="45"
                                :class="form.third_id == item.third_id ? 'onItemSelect'  : 'sheetOutlined'"
                            >
                                <v-sheet color="transparent" class="d-flex align-center">
                                    <img v-if="item.icon_url" height="25" :src="item.icon_url" class="mr-2" />
                                    <span v-else class="">{{item.subtitle}}</span>
                                </v-sheet>
                                <v-sheet color="transparent">
                                    {{amountFormat(item.min_gold)}}-{{amountFormat(item.max_gold)}}
                                    <span v-if="form.third_id == item.third_id">
                                        <svg-icon icon="select" class="ml-2 text-14" />
                                    </span>
                                </v-sheet>
                            </v-sheet>
                        </v-card>
                    </v-col>
                </v-row>
            </v-card>

            <v-sheet v-if="!(showRequires &&  showRequires.length > 0)" color="transparent" width="100%" class="d-flex mt-4">
                <v-sheet class="d-flex justify-start rounded10 align-center" color="transparent">
                    <div class="mr-2 primary-text">{{LangUtil("已支持充值币种")}}</div>
                    <div v-for="(item, key) of pageData.methodList" :key="key">
                        <v-img class="mr-2" v-if="plat_coins[key]" :src="plat_coins[key].icon" max-width="20" height="20"></v-img>
                    </div>
                </v-sheet>
                <btn-yellow class="ml-auto text-16" min_width="104" height="36" :disabled="!isChecked" @click.native="onSumbit"
                    >{{LangUtil("提交充值")}}</btn-yellow
                >
            </v-sheet>
        </v-card>
    </v-card>
    <!-- 下面的需要填的选项 -->
    <v-card v-if="showRequires &&  showRequires.length > 0" flat class="rounded10 px-4 py-4 mt-4" color="bgBanner">
        <div class="text-16 primary--text mb-2 bold_text font-weight-bold">{{LangUtil("请输入支付信息")}}</div>
        <div class="text-14 primary--text mb-2">{{LangUtil(curSelectItem.explain)}}</div>
        <v-card flat class="d-flex flex-column mt-6" color="transparent">
            <v-row>
                <v-col cols="6" v-for="(item, key) of showRequires" :key="key">
                    <v-card flat color="transparent" class="d-flex flex-column justify-center">
                        <!-- 标题 -->
                        <v-sheet color="transparent" class="d-flex">
                            {{LangUtil("pay_"+curSelectItem.subtitle + '_' + item.title)}}
                        </v-sheet>
                        <v-sheet color="transparent" class="py-1 input_pc">
                            <CustomInput
                                class=""
                                :placeholder="LangUtil('请输入{0}','') + LangUtil('pay_' +curSelectItem.subtitle + '_'+ item.title)"
                                @blur="onBlurInput(item)"
                                v-model="item.inputValue"
                            >
                            </CustomInput>
                            <v-sheet class="text-12 red--text error_tip" color="transparent"> {{item.errinfo}} </v-sheet>
                        </v-sheet>
                    </v-card>
                </v-col>
            </v-row>
        </v-card>

        <v-sheet color="transparent" width="100%" class="d-flex mt-4">
            <btn-yellow class="ml-auto text-16" min_width="104" height="36" :disabled="!isChecked" @click.native="onSumbit"
                >{{LangUtil("提交充值")}}</btn-yellow
            >
        </v-sheet>
    </v-card>
</div>

<v-card v-else flat color="transparent" width="100%">
    <v-card flat width="100%" color="bgBanner" class="d-flex flex-column px-4 py-4">
        <v-card flat color="transparent" class="">
            <div class="text-14 primary--text font-weight-bold mb-2">{{LangUtil("选择币种")}}</div>
            <v-sheet color="transparent">
                <goldinfo_util
                    :class="{'regular_text':false}"
                    balanceStrColor="textGray--text"
                    :is_need_coin_name="true"
                    inside_str="我的余额"
                    :goldInfoData="gold_info"
                    :img_size="22"
                    :is_recharge="true"
                    :coin_name_unique="form.coin_name_unique"
                    :items_min_height="36"
                    @onItemClick="onItemClick"
                >
                </goldinfo_util>
            </v-sheet>
        </v-card>

        <v-card flat color="transparent" class="mt-4">
            <div class="text-14 primary--text font-weight-bold mb-2">{{LangUtil("输入金额")}}</div>
            <v-sheet color="transparent" width="100%" class="d-flex">
                <CustomInput :placeholder="LangUtil('输入金额')" v-model="form.amount" :isEnterGold="true"> </CustomInput>

                <btn-yellow class="text-14 ml-2" min_width="72" height="36" @click.native="addInputMoney(100)">
                    <span class="bold_text">{{LangUtil("+100")}}</span>
                </btn-yellow>

                <btn-yellow class="text-14 ml-2" min_width="72" height="36" @click.native="addInputMoney(500)"
                    ><span class="bold_text">{{LangUtil("+500")}}</span></btn-yellow
                >
            </v-sheet>
        </v-card>

        <v-sheet v-if="curSelectItem" color="transparent" class="mt-2">
            <span class="rechargeText--text">{{LangUtil("充值金额")}}&nbsp;</span>
            <span class="textYellow--text">{{amountFormat(curSelectItem.min_gold)}}-{{amountFormat(curSelectItem.max_gold)}}</span>
        </v-sheet>

        <v-card flat color="transparent" class="mt-4">
            <div class="text-14 primary--text mb-2 font-weight-bold">{{LangUtil("选择付款方式")}}</div>
            <v-card flat class="d-flex flex-column" color="transparent">
                <v-sheet
                    v-for="(item, key) of curShowChannel"
                    :key="key"
                    color="transparent"
                    class="d-flex flex-column justify-center mb-2"
                >
                    <v-sheet
                        color="transparent"
                        width="100%"
                        @click.native="onChannelItemClick(item)"
                        class="d-flex justify-space-between rounded10 px-2 py-2 align-center"
                        min-height="45"
                        :class="form.third_id == item.third_id ? 'onItemSelect'  : 'sheetOutlined'"
                    >
                        <v-sheet color="transparent" class="d-flex align-center" width="100%" height="25">
                            <img v-if="item.icon_url" :src="item.icon_url" class="mr-2" style="max-width: 100%; max-height: 100%" />
                            <span v-else class="">{{item.subtitle}}</span>
                        </v-sheet>
                        <v-sheet color="transparent">
                            <span v-if="form.third_id == item.third_id">
                                <svg-icon icon="select" class="ml-2 text-14" />
                            </span>
                        </v-sheet>
                    </v-sheet>
                </v-sheet>
            </v-card>
        </v-card>
    </v-card>
    <v-card
        id="requiresNode"
        v-if="showRequires &&  showRequires.length > 0"
        flat
        width="100%"
        color="bgBanner"
        class="d-flex flex-column rounded10 px-4 py-4 mt-4"
    >
        <div class="primary--text mb-2 bold_text font-weight-bold text-14">{{LangUtil("请输入支付信息")}}</div>
        <div class="primary--text mb-2 text-12">{{LangUtil(curSelectItem.explain)}}</div>
        <!-- 下面的需要填的选项 -->
        <v-card flat class="d-flex flex-column" color="transparent">
            <v-row no-gutters>
                <v-col cols="12" v-for="(item, key) of showRequires" :key="key">
                    <v-card flat color="transparent" class="d-flex flex-column justify-center">
                        <!-- 标题 -->
                        <v-sheet color="transparent" class="d-flex">
                            {{LangUtil("pay_"+curSelectItem.subtitle + '_' + item.title)}}
                        </v-sheet>
                        <v-sheet color="transparent" class="py-1 input_pc">
                            <CustomInput
                                class=""
                                :placeholder="LangUtil('请输入{0}','') + LangUtil('pay_' +curSelectItem.subtitle + '_' +  item.title)"
                                @blur="onBlurInput(item)"
                                v-model="item.inputValue"
                            >
                            </CustomInput>
                            <v-sheet class="text-12 red--text" color="transparent"> {{item.errinfo}} </v-sheet>
                        </v-sheet>
                    </v-card>
                </v-col>
            </v-row>
        </v-card>
    </v-card>

    <v-sheet color="transparent" width="100%" class="d-flex mt-4">
        <v-sheet class="d-flex justify-start align-center rounded10" color="transparent">
            <div class="mr-2 primary-text">{{LangUtil("已支持充值币种")}}</div>
            <div v-for="(item, key) of pageData.methodList" :key="key">
                <v-img class="mr-2" v-if="plat_coins[key]" :src="plat_coins[key].icon" max-width="20" height="20"></v-img>
            </div>
        </v-sheet>
    </v-sheet>

    <v-sheet id="animbtn" ref="animbtn" color="transparent" width="100%" class="d-flex mt-4 mb-16">
        <btn-yellow class="ml-auto text-14" min_width="100%" height="36" :disabled="!isChecked" @click.native="onSumbit"
            >{{LangUtil("提交充值")}}</btn-yellow
        >
    </v-sheet>
</v-card>
