
.number_N {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -0px 0px;
    background-size: 800px 60px;
}
.number_O {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -50px 0px;
    background-size: 800px 60px;
}

.number_D {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -100px 0px;
    background-size: 800px 60px;
}
.number_R {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -150px 0px;
    background-size: 800px 60px;
}
.number_F {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -200px 0px;
    background-size: 800px 60px;
}

.number_1 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -250px 0px;
    background-size: 800px 60px;
}
.number_2 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -300px 0px;
    background-size: 800px 60px;
}
.number_3 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -350px 0px;
    background-size: 800px 60px;
}
.number_4 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -400px 0px;
    background-size: 800px 60px;
}
.number_5 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -450px 0px;
    background-size: 800px 60px;
}
.number_6 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -500px 0px;
    background-size: 800px 60px;
}
.number_7 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -550px 0px;
    background-size: 800px 60px;
}
.number_8 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -600px 0px;
    background-size: 800px 60px;
}
.number_9 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -650px 0px;
    background-size: 800px 60px;
}
.number_0 {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -700px 0px;
    background-size: 800px 60px;
}
.number_P {
    background: url("~@/_skin005/assets/ballaward/pool_number.png") -750px 0px;
    background-size: 800px 60px;
}
