<v-dialog width="730" v-model="pageData.bShow" :retain-focus="false" :fullscreen="$vuetify.breakpoint.xsOnly" persistent>
    <v-card class="rounded-lg" color="colorPanelBg">
        <!-- pc显示方式 -->
        <v-card-title class="gradient-bg" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="text-18">{{LangUtil("奖励记录")}}</div>
            <v-spacer />
            <v-btn icon @click="onClose">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-card-title>
        <v-card-text class="px-5" v-if="!$vuetify.breakpoint.xsOnly">
            <div class="listbox" v-if="pageData.list.length > 0">
                <v-sheet
                    class="mt-5 px-6 py-2 rounded-lg mb-3 scroll-y"
                    color="colorPanelBg2"
                    v-for="(item, key) of pageData.list"
                    :key="key"
                >
                    <div class="d-flex flex-wrap listitem">
                        <div class="item" :class="item.total_backwater[Object.keys(item.total_backwater)[1]]?'':'item_4'">
                            <div>{{LangUtil("结算时间")}}</div>
                            <div class="text-body-1">{{ getDateTime(item.created_at) }}</div>
                        </div>
                        <div class="item" :class="item.total_backwater[Object.keys(item.total_backwater)[1]]?'':'item_4'">
                            <div>{{LangUtil("结算有效流水")}}</div>
                            <div class="text-body-1">{{item.total_water}}</div>
                        </div>
                        <div
                            class="item"
                            :class="item.total_backwater[Object.keys(item.total_backwater)[1]]?'':'item_4'"
                            v-if="item.total_backwater[Object.keys(item.total_backwater)[0]]"
                        >
                            <div>{{LangUtil("奖励")}}{{ Object.keys(item.total_backwater)[0]}}</div>
                            <div class="text-body-1">{{item.total_backwater[Object.keys(item.total_backwater)[0]]}}</div>
                        </div>
                        <div
                            class="item"
                            :class="item.total_backwater[Object.keys(item.total_backwater)[1]]?'':'item_4'"
                            v-if="item.total_backwater[Object.keys(item.total_backwater)[1]]"
                        >
                            <div>{{LangUtil("奖励")}}{{ Object.keys(item.total_backwater)[1] }}</div>
                            <div class="text-body-1">{{item.total_backwater[Object.keys(item.total_backwater)[1]]}}</div>
                        </div>
                        <div class="d-flex align-end justify-end listitem-110">
                            <v-btn text height="20" class="text-decoration-underline pa-0 colorBlue--text" @click="handlerDetail(item)">
                                {{LangUtil("查看详情")}}<v-img
                                    class="arrow"
                                    width="24"
                                    height="24"
                                    src="@/assets/extension/chevrons-right.png"
                                ></v-img>
                            </v-btn>
                        </div>
                    </div>
                </v-sheet>
            </div>
            <ListNodata v-if="pageData.list.length == 0" height="411" />
            <v-spacer />
            <v-pagination
                v-if="pageData.pageInfo.pageCount > 1 && $vuetify.breakpoint.width > 600"
                v-model="pageData.pageInfo.pageCurrent"
                :length="pageData.pageInfo.pageCount"
                :total-visible="7"
                @input="onPageChange"
            ></v-pagination>
        </v-card-text>
        <!-- 手机显示方式 -->
        <v-card-text class="pb-3 px-0 header-mobile" v-if="$vuetify.breakpoint.xsOnly">
            <div class="gradient-bg d-flex align-center px-5">
                <div class="text-18">{{LangUtil("奖励记录")}}</div>
                <v-spacer />
                <v-btn icon @click="onClose">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </div>
        </v-card-text>
        <v-card-text class="px-5" v-if="$vuetify.breakpoint.xsOnly">
            <LoadMore @onRefresh="onRefresh" @onLoad="onLoad" :listNodata="pageData.list.length == 0" :finished="pageData.finished">
                <v-sheet
                    class="px-3 py-2 rounded-lg mb-3 colorText2--text"
                    color="colorPanelBg2"
                    v-for="(item, key) of pageData.list"
                    :key="key"
                >
                    <div class="d-flex justify-space-between">
                        <div class="colorText1--text">{{LangUtil("结算时间")}}</div>
                        <div>{{ getDateTime(item.created_at) }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="colorText1--text">{{LangUtil("结算有效流水")}}</div>
                        <div>{{item.total_water}}</div>
                    </div>
                    <div class="d-flex justify-space-between" v-if="item.total_backwater[Object.keys(item.total_backwater)[0]]">
                        <div class="colorText1--text">{{LangUtil("奖励")}}{{ Object.keys(item.total_backwater)[0]}}</div>
                        <div>{{item.total_backwater[Object.keys(item.total_backwater)[0]]}}</div>
                    </div>
                    <div class="d-flex justify-space-between" v-if="item.total_backwater[Object.keys(item.total_backwater)[1]]">
                        <div class="colorText1--text">{{LangUtil("奖励")}}{{ Object.keys(item.total_backwater)[1] }}</div>
                        <div>{{item.total_backwater[Object.keys(item.total_backwater)[1]]}}</div>
                    </div>
                    <div class="d-flex align-end justify-end listitem-110">
                        <v-btn text height="20" class="text-decoration-underline pa-0 colorBlue--text" @click="handlerDetail(item)">
                            {{LangUtil("查看详情")}}<v-img
                                class="arrow"
                                width="24"
                                height="24"
                                src="@/assets/extension/chevrons-right.png"
                            ></v-img>
                        </v-btn>
                    </div>
                </v-sheet>
            </LoadMore>
        </v-card-text>
    </v-card>
    <Overlay v-model="pageData.loading" />
</v-dialog>
